<span class="btn-add">Tambah Alamat</span>
<div class="menu-top">
  <span class="link-top">Ubah</span> <span class="link-top">Hapus</span>
</div>
<div class="contain-box">
  <div class="row">
    <div class="col-9">

      <div class="row row-atur">
        <div class="col-3">
          Nama Alamat
        </div>
        <div class="col-9">
          <label>Komplek</label>
        </div>
      </div>
      <div class="row row-atur">
        <div class="col-3">
          Nama Penerima
        </div>
        <div class="col-9">
          <label>Selamet</label>
        </div>
      </div>
      <div class="row row-atur">
        <div class="col-3">
          No. Handphone
        </div>
        <div class="col-9">
          <label>99999999</label>
        </div>
      </div>
      <div class="row row-atur">
        <div class="col-3">
          Alamat
        </div>
        <div class="col-9">
          <label>Kota Bogor</label>
        </div>
      </div>
      
    </div>
    <div class="col-3 al-center">
      <div class="btn-utama">Jadikan Utama</div>
    </div>
  </div>
</div>