<div class="ui segment header">
  <div class="ui grid">
    <div class="sixteen wide column ">
        <img class="ui image logo" src="/assets/img/logo.png" alt="profile picture"/>
    </div>  
  </div>
</div>
<div class="ui segment">
  <div class="ui grid">
    <div class="fourteen wide column">
      <h3>Selamat datang {{user ? user.name : 'guest'}}</h3> 
    </div>
    <div *ngIf="user" class="two wide column right aligned">
      <button class="ui basic button" (click)="logout()">
        <i class="icon user"></i>
        Logout
      </button>
    </div>  
  </div>
</div>
