.high {
  margin-top: 10px;
  padding-bottom: 5px;
}
.garis {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 15px;
}
.custom-item {
  height: 50px;
  padding: 15px;
}
.small {
    font-size: 10px;
    color: #999999;
}
.image-upload-select {
    margin-top :10px;
    margin-left: 10px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 3px dashed #000000;
}
.image-upload-select img {
    width: 100px;
    margin-top: 10px;
    margin-left: 7px;
}
.result-container {
    position: absolute;
    margin-top: 178px;
    width: 665px;
    height: 320px;
    overflow: auto;
    z-index: 2;
}
.result-container1 {
    position: absolute;
    margin-top: 178px;
    width: 215px;
    height: 320px;
    overflow: auto;
    z-index: 2;
}
.result {
    color: #000000;
    background-color: rgba(255, 255, 255, .9);
    margin-left: 0px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 3;
    cursor: pointer;
}
.result:hover {
    background-color: #999999;
    color: #fff;
}

.product-image {
    height: 300px;
}
