<div class="column">
    <div class="wide column">
        <h1>Tambah Produk </h1>
        <p>
            Sebelum menambahkan product, pastikan produk tersebut sudah sesuai dengan <a href="#">syarat dan ketentuan</a> Belisada.co.id.<br/>Semua produk yang melanggar syarat dan ketentuan akan di non aktifkan oleh kami.
        </p>
        <div class="ui segment">
            <p>Apa yang anda jual?</p>
            <div class="ui form">
                <div class="inline twelve fields">
                    <div class="two wide field">
                        Status
                    </div>
                    <div class="ten wide field">
                        <div class="field">
                            <sui-radio-button value="baru" [(ngModel)]="condition" [isDisabled]="false" (click)="selectCondition()">Baru</sui-radio-button>
                        </div>
                        <div class="field">
                            <sui-radio-button value="second" [(ngModel)]="condition" [isDisabled]="true" (click)="selectCondition()">Second</sui-radio-button>
                        </div>
                        <div class="field">
                            <sui-radio-button value="refurbish" [(ngModel)]="condition" [isDisabled]="true" (click)="selectCondition()">Refurbish</sui-radio-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <div class="inline twelve fields">
                    <div class="two wide field">
                        Nama Product
                    </div>
                    <div class="ten wide field">
                        <input type="text" name="city" #options list="productname" (keyup)="search($event)" [(ngModel)]="selectProd"/>
                        <div class="result-container" *ngIf="[results] != 0">
                            <div class="result" *ngFor="let hasil of results" (click)="productSelected(hasil)">{{ hasil.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="inline twelve fields">
                        <div class="two wide field">
                            Category Product
                        </div>
                        <div class="eleven wide field">
                            <div class="ui five wide field">
                                <sui-select class="selection"
                                    [(ngModel)]="selectedCategory"
                                    labelField="name"
                                    placeholder="Select Category">
                                        <sui-select-option *ngFor="let option of category" [value]="option" value="option.name" (click)="selectCategory(option.mproductCategoryId)"></sui-select-option>
                                </sui-select>
                            </div>

                            <div class="ui five wide field">
                                <sui-select class="selection"
                                    [(ngModel)]="selectedSubCategory"
                                    labelField="name"
                                    placeholder="Select SubCategory">
                                        <sui-select-option *ngFor="let option of subcategory" [value]="option" value="option.name" (click)="selectSubCategory(option.m_product_category_id)"></sui-select-option>
                                </sui-select>
                            </div>

                            <div class="ui five wide field">
                                <sui-select class="selection"
                                    [(ngModel)]="selectedSubCategories"
                                    labelField="name"
                                    placeholder="Select Section">
                                        <sui-select-option *ngFor="let option of subcategories" [value]="option" value="option.name" (click)="selectSubCategories(option.m_product_category_id)"></sui-select-option>
                                </sui-select>
                            </div>
                        </div>
                    </div>

                    <div class="inline twelve fields">
                            <div class="two wide field">
                                Product Name
                            </div>
                            <div class="ten wide field">
                                <div class="ui five wide field">
                                    <input type="text" [(ngModel)]="selectedBrands" (keyup)="searchBrands($event)">
                                    <div class="result-container" *ngIf="[brands] != 0">
                                            <div class="result" *ngFor="let hasil of brands" (click)="productSelected(hasil)">{{ hasil.name }}</div>
                                        </div>
                                    <!-- <sui-select class="selection"
                                        [(ngModel)]="selectedBrands"
                                        labelField="option.name"
                                        [isSearchable]="true"
                                        placeholder="Select Brand"
                                        [optionTemplate]="change" #templated>
                                            <sui-select-option *ngFor="let option of brands | filter: selectedBrands" [value]="option" value="option.name" (click)="selectProduct(option.categoryParentId)"></sui-select-option>
                                    </sui-select> -->
                                    <!-- <sui-select class="selection"
                    [(ngModel)]="selectedOption"
                    [options]="options"
                    labelField="name"
                    [optionTemplate]="optionTemplate"
                    [isSearchable]="true"
                    #templated>
            <sui-select-option *ngFor="let o of brands" [value]="o" value="o.name"></sui-select-option> -->
        <!-- </sui-select> -->
                                </div>
                            </div>
                        </div>
            </div>

            <div class="ui segment">
                <h3>Detail Produk</h3>
                <div class="garis"></div>
                <div class="ui form">
                    <div class="inline twelve fields">
                        <div class="two wide field">
                            Harga
                        </div>
                        <div class="two wide field">
                            <input type="text" placeholder="Harga" value="{{price}}"/>
                        </div>
                        <div class="seven wide field small">
                            Harga Rp tanpa menggunakan koma dan titik. Contoh : 12000 <span *ngIf="price != undefined"> (preview : {{ price | currency:'Rp ' }})</span>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline five fields">
                        <div class="two wide field">
                            Berat
                        </div>
                        <div class="two wide field">
                            <input type="text" placeholder="Berat" value="{{weight}}" [disabled]="true"/>
                        </div>
                        <div class="one wide field">
                            <div class="ui dropdown three wide field" suiDropdown>
                                <div class="text">Kg</div>
                                <i class="dropdown icon"></i>
                                <div class="menu" suiDropdownMenu>
                                    <div class="item">Kg</div>
                                    <div class="item">Gram</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline eight fields">
                        <div class="two wide field">
                            Dimensi
                        </div>
                        <div class="one wide field">
                            <input type="text" placeholder=""/>
                        </div>
                        <div class="one wide field small">
                            Panjang
                        </div>
                        <div class="one wide field">
                            <input type="text" placeholder=""/>
                        </div>
                        <div class="one wide field small">
                            Lebar
                        </div>
                        <div class="one wide field">
                            <input type="text" placeholder=""/>
                        </div>
                        <div class="one wide field small">
                            Tinggi
                        </div>
                    </div>
                </div>

                <h3>Deskripsi Produk</h3>
                <div class="garis"></div>
                <div class="ui form">
                    <div class="twelve fields">
                        <div class="two wide field">
                            Deskripsi
                        </div>
                        <div class="six wide field">
                            <textarea [innerHTML]="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <h3>Gambar Produk</h3>
                <div *ngIf="imageurl == undefined" class="text">Masukan gambar produk minimal satu foto. Gunakan 5 foto terbaik untuk gambar produk</div>
                <div class="ui form">
                    <div class="twelve wide fields">
                        <div class="left floated column">
                            <div class="image-upload-select" *ngIf="imageurl == undefined">
                                <img  class="ui image" src="assets/img/icon-upload.png" alt="icon-upload"/>
                            </div>
                            <img *ngIf="imageurl != undefined" class="ui image product-image" src="{{imageurl}}" alt="icon-upload"/>
                        </div>
                    </div>
                    <div class="twelve wide fields">
                        <div class="right floated column" *ngIf="imageurl == undefined">
                            <button class="ui positive basic button">Upload Foto</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui centered">
                <div class="twelve wide fields">
                    <button *ngIf="editMode == false" class="positive ui button">Tambahkan Produk</button>
                    <button *ngIf="editMode == true" class="positive ui button">Perbarui Produk</button>
                </div>
            </div>
        </div>
    </div>
</div>
