<div class="ui grid">
    <div class="sixteen wide stretched column">
    <p>Untuk melakukan ubah password gunakan form dibawah ini dengan memasukan password lama Anda dan password baru sebagai pengganti password lama.</p>
    </div>
  </div>
  <div class="ui grid">
    <div class="sixteen wide stretched column">
        <div class="ui grid">
            <div class="sixteen wide column">
                <form class="ui form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                  <h4 class="ui dividing header">Ubah Password</h4>
                    <div class="field">
                        <label>Password Lama</label>
                        <div class="ui icon input">
                        <input name="old_password" id="password" placeholder="Masukan password lama" [(ngModel)]="old_password" #_old_password="ngModel" type="password" required/>
                        <i class="circular unhide link icon" (click)="togglePass()"></i>    
                        </div>
                        <div *ngIf="f.submitted && !_old_password.valid" class="ui pointing red basic label">Password lama tidak boleh kosong</div>  
                    </div>
                    <div class="field">
                        <label>Password Baru</label>
                        <div class="ui icon input">
                        <input name="password_baru" id="password2" placeholder="Masukan password baru" [(ngModel)]="password_baru" #_password_baru="ngModel" type="password" required/>
                        <i class="circular unhide link icon" (click)="togglePass2()"></i>  
                        </div>
                        <div *ngIf="f.submitted && !_password_baru.valid" class="ui pointing red basic label">Password baru tidak boleh kosong</div>  
                    </div>
                    <div class="field">
                        <label>Ulangi Password Baru</label>
                        <div class="ui icon input">
                        <input name="password_ulangi" id="password3" placeholder="Ulangi masukan password baru" [(ngModel)]="password_ulangi" #_password_ulangi="ngModel" type="password" required/>
                        <i class="circular unhide link icon" (click)="togglePass3()"></i>  
                        </div>
                        <div *ngIf="f.submitted && !_password_ulangi.valid" class="ui pointing red basic label">Ulangi password baru tidak boleh kosong</div>
                      </div>
                    <button class="ui primary button" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
  </div>  