<div>
    <h2 class="test">Ubah Gambar Produk</h2>
    <p>Geser gambar untuk mengubah susunan. Minimal gambar 2 dan maksimal gambar produk 5, geser untuk menyusun foto</p>

    <div class="add-product-form-wrapper">
        <ul class="add_product_image clearfix" id="image-list">
            <li class="u-inline-list-gap" *ngFor="let item of product.pictures; let i = index">
                <div class="image-preview" [ngStyle]="{'background-image': 'url(' + item + ')'}">
                    <span class="action-button" (click)="removeImage(i)">
                        <fa name="trash"></fa>
                    </span>
                </div>
            </li>
            <li>
                <div class="pikcker-wrapper picker-add-image" *ngIf="(product.pictures.length < 5)">
                    <input type="file" accept="image/jpeg,.jpeg,.jpg,image/png,.png">
                </div>
            </li>
        </ul>
    </div>
    
    <h2>Informasi Produk</h2>
    <div class="add-product-form-wrapper">
        <div class="form-group row">
            <label for="staticEmail" class="col-3">Nama Produk</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Nama Produk">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Merek</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Merek">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Kategori Produk</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Kategori Produk">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Deskripsi</label>
            <div class="col-9">
                <textarea placeholder="Deskripsi" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Spesifikasi Produk</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Spesifikasi Produk">
            </div>
        </div>
    </div>

    <h2>Harga dan Stok</h2>
    <div class="add-product-form-wrapper">
        <div class="form-group row">
            <label for="staticEmail" class="col-3">Kondisi Barang</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Kondisi Barang">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Harga</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Harga">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Stok</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Stok">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3">Garansi</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Garansi">
            </div>
        </div>
    </div>
</div>
