<div align="center" style="margin-top: 30px;" *ngIf="!success">
        <img class="ui middle aligned small image" src="{{userImage}}" (load)="setCanvas($event, 'imageID')" #imgKTP >
        <br>
        <div class="field">
        <input type="file" name="fileNpwp" (change)="setUrl($event, imgKTP)" />
        </div>
        <div class="field" style="margin-top: 20px;">
            <div class="ui green button" (click)="uploadBukti()"><i class="cloud icon"></i> Upload Bukti Tranfer</div>
            <br>
        </div>

    </div>

    <div align="center" style="margin-top: 30px;" *ngIf="success">
            <img class="ui middle aligned small image" src="{{userImage}}" (load)="setCanvas($event, 'imageID')" #imgKTP >
           <p align="center">Terima Kasih telah mengirim bukti transfer</p>

        </div>
