@import 'styles';

.top-header {
    &__banner {
        width: 100%;
        height: 75px;
        text-align: center;

        img {

        }
    }
}


.extras-header {
    padding: 2rem 0;
    border-bottom: 1px solid #d8d8d8;

    &__social-list {
        a {
            color: #565656;
            margin-right: 3rem;
            font-size: 2rem;
            text-decoration: none;
        }
    }

    &__accounts {
        .delimiter {
            height: 100%;
            margin-left: 1rem;
            border-left: 1px solid #a7a7a7;
        }
        a {
            margin-left: 1rem;
            text-decoration: none;

            &.link {
                color: #f59b4d;
            }
        }
    }
}

.main-header {
    padding: 1rem 0;

    .logo {
        padding: 1rem 0;
    }

    .header-extras {
        display: flex;
        align-items: center;
    }

    .search {
        width: 100%;

        &__box {
            display: flex;
            width: 100%;
        }

        &__wrapper {
            width: 100%;
            display: flex;
            position: relative;
        }

        &__input {
            position: relative;
            width: 100%;
            height: 5rem;
            line-height: 5rem;
            font-size: 1.6rem;
            padding: 1.2rem 2rem;
            outline: none;
            border: 1px solid #002d74;
            border-right: 0;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }

        &__icon {
            position: absolute;
            right: 2rem;
            top: .75rem;
            font-size: 2rem;

            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }

        &__button {
            float: right;
            height: 5rem;
            line-height: 5rem;
            padding: 0 3rem;
            border: 0;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            cursor: pointer;

            font-size: 1.6rem;
            font-weight: 400;
            color: #fff;
            background-color: #f6983c;
        }
    }


    .extras-menu {
        margin: 0 0 0 40px;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
    }
}

.navigation-header {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);

    .navigation {
        list-style: none;

        li {
            display: inline-block;
            padding:2rem;
            font-weight: 700;
        }

        &__category {
            position: relative;
            color: #fff;
            background-color: #f6983c;

            &:hover {
                cursor: pointer;
            }
            
            .category {
                &__detail {
                    display: none;
                    list-style: none;
                    position: absolute;
                    left: 0;
                    top: 6.7rem;
                    z-index: 100;
                    width: 100%;

                    background-color: #ffffff;
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.17);

                    &.show {
                        display: block;
                    }

                    &--2 {
                        display: none;
                        position: absolute;
                        left: 100%;
                        top: 0;
                        width: fit-content;
                        background-color: #efefef;
                        cursor: default;
                    }
                }

                &--2 {
                    position: relative;
                    color: #222222;
                    display: block;
                    font-weight: 400;
                    padding: 1rem 2rem;
                    font-size: 1.4rem;

                    &:hover {
                        cursor: pointer;
                        background-color: #efefef;

                        .category__detail--2 {
                            display: block;
                        }
                    }
                }

                &--3 {
                    position: relative;
                    color: #222222;
                    display: inline-block;
                    font-weight: 400;
                    padding: 1rem 2rem;
                    font-size: 1.4rem;

                    a {
                        color: #222222;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            
        }

        &__menus {
            a {
                color: #222222;
                text-decoration: none;
            }
        }

        .shopping-cart {
            color: #222222;
        }
    }
}