@import "styles";

.profile-wrapper {
    max-width: 60px;
    overflow: hidden;
}

.list-suggestion {
    position: absolute;
    z-index: 15;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
    border: solid 1px #ddd;
    border-top: none;
    font-size: 13px;
    color: #333;
    width: 100%;
    top: 37px;
}

.product-suggestion {

    .suggestion-block {
        // display: table;
        width: 100%;
        padding: 7px 20px;

        .suggestion-label {
            // display: table-cell;
            width: 70%;
            vertical-align: middle;
            padding-right: 10px;
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #999;
            text-transform: uppercase;
            font-family: Lato;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 7px 20px;
            cursor: pointer;

            &:hover {
                color: $color--white;
                background-color: $color--belisada;

                .highlight {
                    color: $color--white;
                }
            }
        }
    }

    .highlight {
        font-weight: 700;
        color: $color--belisada;
    }
}

.shopping-cart {

    &:hover {
        cursor: pointer;

        .cart__container {
            display: block;
            cursor: default;
        }
    }
}

.cart {

    &__counter {
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 3.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2rem;
        color: $color--white;
        background-color: $color--belisada;
    }

    &__container {
        display: none;
        position: absolute;
        top: 6rem;
        right: 0;
        width: 30rem;

        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease; /* Firefox 4 */
        -webkit-transition: all 0.5s ease; /* Safari and Chrome */
        -o-transition: all 0.5s ease; /* Opera */
        -ms-transition: all 0.5s ease; /* Explorer 10 */

        .arrow-up {
            position: relative;
            float: right;
            top: 0;
            right: 1.9rem;

            width: 0;
            height: 0;

            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            
            border-bottom: 1rem solid $color--white;
        }
    }

    &__header {
        display: table;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .30);
        padding: 1rem;

        &--left {
            display: table-cell;

            .icon {
                max-height: 2.5rem;
                vertical-align: middle;
            }
            .counter {
                display: inline-block;
                vertical-align: middle;
                height: 2rem;
                width: 2rem;
                font-weight: 700;
                border-radius: 50%;
                text-align: center;
                color: #ffffff;
                background-color: #ED7425;
                font-size: 1.2rem;
                margin-left: .3rem;
            }
        }

        &--right {
            display: table-cell;
            text-align: right;
            font-size: 1.4rem;

            .total-price {
                color: #333;
            }
        }
    }

    &__content {
        padding: 1rem;
        max-height: 33.5rem;
        overflow: auto;
        background-color: #fff;

        ul {
            list-style: none;

            li {
                display: table;
                width: 100%;
                margin-bottom: .75rem;
            }
        }

        &--left-side {
            display: table-cell;
            width: 7.5rem;
            
            .product--image {
                width: 7.5rem;
                vertical-align: middle;
            }
        }

        &--right-side {
            display: table-cell;
            vertical-align: middle;
            padding-left: 1rem;

            .product {
                &--title {
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: $color--dark-grey;
                    
                    &:hover {
                        color: $color--grey;
                    }
                }
                &--price {
                    float: left;
                    font-size: 1.4rem;
                    color: $color--link-blue;
                }
                &--qty {
                    float: right;
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__footer {
        background-color: $color--white;

        .button--goto-cart {
            width: 100%;
            display: block;
            text-align: center;
            border: 0;
            padding: .5rem;
            font-size: 2rem;
            text-decoration: none;
            color: $color--white;
            background-color: $color--belisada;
        }
    }
}

.edited--wahyu {
    width: calc(100% - (42rem * 2));

}

.btn--size--80 {
    width: 100%;
    height: 45px;
}

.bs-header__account-box-edited--wahyu {
    position: absolute;
    left: 70%;
}

.input-wahyu--edited {
    margin-left: 30px !important;
}

.padding__button {
    padding: 4px !important;
}

.colx2 {
    display: grid;
    // color: $color-red;
    grid-template-columns: 67% 25%;
    grid-gap: 1em;
    padding-top: 3px;
}

.right-9px {
    right: 19%;
}
.regSuccess{
    text-align: center;
}

.text-success{
    margin-bottom:10px;
    border: 1px solid #c98941;
    border-radius: 5px;
    padding: 5px;
    background: #fbd0a0;
    color: #111;
}

.w--text--name {
    max-width: 11rem;
    overflow: hidden; 
}

.w--select--box {
    margin-right: 2rem;
}


.w-edit-for-margin {
    margin-right: 34px;
    margin-left: 34px;
}


.dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 200px;
    width: 90%;
    max-width: 520px;
    background-color: #111;
    padding: 12px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  }

  .modal-body{
    background: #f7f5f5;
    padding:10px;
    margin: 10px;
    border-radius:5px;
}

.w--forbutton {
    padding-left: 2%;
    padding-right: 2%;
    width: 161px;
}

.w--forbutto {
    padding-left: 2%;
    padding-right: 2%;
    width: 161px;
}


.w-In-Role2 {
    padding-left: 2%;
    padding-right: 2%;
    width: 161px;
}

.padding--for--text {
    padding-top: 8px;
    text-align: center;
}

/*
    media query 

*/


/*s: Category Menu*/


.category-menu {
    
    &:hover {
        cursor: pointer;

    }
}

.menu__container {
    margin-top:5px;
    width:300px;
    position: absolute;
    left: -150px;
    display: block;
    cursor: pointer;
    background: #fff;
    color: #403f3f;

    &--title{
        padding: 8px;
        color: #403f3f;
    }
}

.menu__container--child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #f8f8f8;
}

.menu_frame_child{
    font-size:12px;
    left: 30rem;
    padding:5px;
    width:900px;
    position: absolute;
    top:0;
    height: 100%;
    background: #f8f8f8;
}

.menu__container--title{
    position: relative;

    &:hover{
        background-color: #f8f8f8;
        // color:#ffffff;

        .menu__value{
            position: absolute;
            display: block;
            cursor: pointer;
            background: #f8f8f8;
            color: #403f3f;
            left: 30rem;
            top: 0;
            width:800px;
            padding:5px;
        }

        .menu__value--tile{
            font-weight: bold;
        }
    }
   
}

.menuColom{

    &__title{
        font-weight: bold;
        margin-bottom:5px;
        margin-top:10px;
        
    }

}




// .category-menu {
    
//     &:hover {
//         cursor: pointer;

//         .menu__container {
//             margin-top:5px;
//             width:300px;
//             position: absolute;
//             left: -150px;
//             display: block;
//             cursor: pointer;
//             background: #fff;
//             color: #403f3f;
        
//             &--title{
//                 padding: 8px;
//                 color: #403f3f;
//             }
//         }

//         // .menu__container--title:hover {
//         //     background: #c98941;
//         // }
//     }

    

//     .menu__container--title{
//         position: relative;

//         &:hover{
//             background-color: #ffaa0a;
//             color:#ffffff;

//             .menu__value{
//                 position: absolute;
//                 display: block;
//                 cursor: pointer;
//                 background: #f8f8f8;
//                 color: #403f3f;
//                 left: 30rem;
//                 top: 0;
//                 width:800px;
//                 padding:5px;
//             }

//             .menu__value--tile{
//                 font-weight: bold;
//             }
//         }
       
//     }



// }

// .menu__value{
//     display: none;
    
// }

// .menu__container {
//     display: none;
// }

//------------

// .menu__container2 {
//     display: none;
// }

// .menu__container2 {
//     margin-top:5px;
//     width:300px;
//     position: absolute;
//     left: -150px;
//     display: block;
//     cursor: pointer;
//     background: #fff;
//     color: #403f3f;

//     &--title{
//         padding: 8px;
//         color: #403f3f;
//     }
// }

// .menu__container--title2{
//     position: relative;

//     &:hover{
//         background-color: #ffaa0a;
//         color:#ffffff;

//         .menu__value2{
//             position: absolute;
//             display: block;
//             cursor: pointer;
//             background: #f8f8f8;
//             color: #403f3f;
//             left: 30rem;
//             top: 0;
//             width:800px;
//             padding:5px;
//         }

//         .menu__value--tile2{
//             font-weight: bold;
//         }
//     }
   
// }

/*e: Category Menu*/