<div class="top-header">
    <div class="top-header__banner">
        <div class="top-header__banner--wrapper container">
            <a [routerLink]="['/search-result/product-list']" [queryParams]="{brand:3,min:0,max:999999999999}">
                <img [src]="bannerTop?.imageUrl" alt="">
            </a>
        </div>
    </div>
</div>

<!-- <div class="extras-header">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</div> -->

<div class="main-header-wrapper">
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <a [routerLink]="['/']">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="header-extras col-md-9 col-sm-3">
                    <div class="col-md-6 search">
                        <div class="search__box">
                            <div class="search__wrapper">
                                <input type="text" [(ngModel)]="keywordSearch" class="search__input"
                                    (keyup.enter)="onSearchSubmit()" (keyup)="searchK($event)"
                                    (focus)="showSearch = true" (focusout)="onSearchFocusOut()" placeholder="Cari produkmu disini">
                                <fa-icon class="search__icon" [icon]="['fas', 'search']"></fa-icon>

                                <div class="list-suggestion" [ngClass]="{'show-element': showSearch === true, 'hide-element': showSearch === false}">
                                    <!-- <div class="product-suggestion">
                                        <ul>
                                            <li (click)="onSearchSubmit()"><span class="highlight">{{ keywordSearch }}</span></li>
                                        </ul>
                                    </div> -->
                
                                    <div class="product-suggestion" *ngIf="searchBarResults.length > 0">
                                        <!-- <div class="suggestion-block">
                                            <span class="suggestion-label">Kategori</span>
                                        </div> -->
                                        <ul>
                                            <li (click)="clickSearch(item.name)" *ngFor="let item of searchBarResults | slice:0:5;"><span class="highlight">{{ item.name }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="search__button" (click)="onSearchSubmit()">Cari</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 extras-menu">
                        <div class="col-md-12 extras-header extras-header__accounts text-right">
                            <a class="link linkJual" href="{{baseUrlSeller}}/auth/sign-in?token={{this.token}}" *ngIf="userData?.role !== 2; else upgradeAccount" target="_blank">
                                <img class="iconJual" src="/assets/img/icon_shopOpen.png">
                                <p>Buka Halaman Seller</p>
                            </a>
        
                            <ng-template #upgradeAccount>
                                <a class="link linkJual" (click)="goToCreateStore()">
                                    <img class="iconJual" src="/assets/img/icon_shopOpen.png">
                                    Mulai menjual
                                </a>
                            </ng-template>
        
                            <span class="delimiter"></span>
                            
                            <ul class="accounts__wrapper" *ngIf="userData">
                                <bs-account-menu [userData]="userData" (logedOut)="logout()"></bs-account-menu>
                            </ul>
    
                            <a *ngIf="!userData" [routerLink]="['/account/sign-in']" class="btn btn--inverted btn--orange btn--bold">Login</a>
                            <a *ngIf="!userData" [routerLink]="['/account/sign-up']" class="btn btn--blue btn--bold">Daftar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navigation-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="navigation">
                    <bs-category-menu [categories]="subMenuCategory"></bs-category-menu>

                    <li class="navigation__menus">
                        <a [routerLink]="['/search-result/product-list']" [queryParams]="{ category: '1125', min:'0',max:'999999999999' }">Smartphone</a>
                    </li>
                    <li class="navigation__menus">
                        <a [routerLink]="['/search-result/product-list']" [queryParams]="{ category: '1132', min:'0',max:'999999999999' }">Smartwatch</a>
                    </li>
                    <li class="navigation__menus">
                        <a [routerLink]="['/search-result/product-list']" [queryParams]="{ category: '1130', min:'0',max:'999999999999' }">Tablet</a>
                    </li>

                    <li class="shopping-cart pull-right" (mouseenter)="globals.isBackdropActive = true" (mouseleave)="globals.isBackdropActive = false">
                        <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
                        <div class="cart__container">
                            <div class="arrow-up"></div>
                            <div class="cart__header">
                                <div class="cart__header--left">
                                    <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
                                    <span class="counter">{{ itemCount }}</span>
                                </div>
                                <div class="cart__header--right">
                                    Total: <span class="total-price">{{itemsTotal | currency:'Rp ':'symbol':'1.0'}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="cart__content">
                                <ul>
                                    <li *ngFor="let item of cartItems">
                                        <div class="cart__content--left-side">
                                            <img class="product--image" [src]="item.product.imageUrl" alt="">
                                        </div>
                                        <div class="cart__content--right-side">
                                            <a [routerLink]="" class="product--title">{{ item.product.name }}</a>
                                            <span class="product--price">{{ item.product.specialPrice > 0 ? (item.product.specialPrice | currency:'Rp ':'symbol':'1.0') : (item.product.pricelist | currency:'Rp ':'symbol':'1.0') }} &nbsp;</span><span class="product--qty">( {{ item.quantity }} )</span>
                                            <!-- <span class="product--price">{{item.product.specialPrice > 0 ? item.product.specialPrice | currency:'Rp ':'symbol':'1.0' : item.product.pricelist | currency:'Rp ':'symbol':'1.0'}} &nbsp;</span><span class="product--qty">( {{ item.quantity }} )</span> -->
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart__footer">
                                <a [routerLink]="['/transaction/checkout']" (click)="globals.isBackdropActive = false" class="button--goto-cart">Lihat Keranjang</a>
                            </div>
                        </div>
                        <span class="cart__counter">{{ itemCount }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>