<div class="top-header">
    <div class="top-header__banner" [ngStyle]="{'background-color': '#064564'}">
        <!-- <img src="/assets/img/header/top-banner.png" alt=""> -->
    </div>
</div>
<div class="extras-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 extras-header__social-list">
                <a href="https://www.facebook.com/BelisadaID/" target="_blank">
                    <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                </a>
                <a href="https://twitter.com/BelisadaID/" target="_blank">
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                </a>
                <a href="https://www.instagram.com/belisada.id/" target="_blank">
                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                </a>
            </div>
            <div class="col-md-9 extras-header__accounts text-right">
                <a class="link" href="https://seller0.belisada.id/auth/sign-in" target="_blank">Mulai menjual di belisada</a>

                <span class="delimiter"></span>

                <a [routerLink]="['/account/sign-in']" class="btn btn--inverted btn--orange btn--bold">Login</a>
                <a [routerLink]="['/account/sign-up']" class="btn btn--blue btn--bold">Daftar</a>
            </div>
        </div>
    </div>
</div>

<div class="main-header-wrapper">
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <a [routerLink]="['/']">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="header-extras col-md-9 col-sm-3">
                    <div class="search">
                        <div class="search__box">
                            <div class="search__wrapper">
                                <input type="text" [(ngModel)]="keywordSearch" class="search__input"
                                    (keyup.enter)="onSearchSubmit()" (keyup)="searchK($event)"
                                    (focus)="showSearch = true" (focusout)="onSearchFocusOut()" placeholder="Cari produkmu disini">
                                <fa-icon class="search__icon" [icon]="['fas', 'search']"></fa-icon>

                                <div class="list-suggestion" [ngClass]="{'show-element': showSearch === true, 'hide-element': showSearch === false}">
                                    <div class="product-suggestion">
                                        <ul>
                                            <li (click)="onSearchSubmit()"><span class="highlight">{{ keywordSearch }}</span></li>
                                        </ul>
                                    </div>
                
                                    <div class="product-suggestion" *ngIf="searchBarResults.length > 0">
                                        <div class="suggestion-block">
                                            <span class="suggestion-label">Kategori</span>
                                        </div>
                                        <ul>
                                            <li (click)="clickSearch(item.categoryId)" *ngFor="let item of searchBarResults; let i = index"><span class="highlight">{{ keywordSearch }}</span> di {{ item.categoryName }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="search__button" (click)="onSearchSubmit()">Cari</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="extras-menu">
                        <div class="extras-menu__banner--1">
                            <img [src]="bannerSearch?.imageUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navigation-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="navigation">
                    <bs-category-menu [categories]="subMenuCategory"></bs-category-menu>

                    <li class="navigation__menus">
                        <a [routerLink]="['/']">Special Offers</a>
                    </li>
                    <li class="navigation__menus">
                        <a [routerLink]="['/']">Computers</a>
                    </li>
                    <li class="navigation__menus">
                        <a [routerLink]="['/']">Cameras</a>
                    </li>
                    <li class="navigation__menus">
                        <a [routerLink]="['/']">Cell Phones</a>
                    </li>

                    <li class="shopping-cart pull-right" (mouseenter)="globals.isBackdropActive = true" (mouseleave)="globals.isBackdropActive = false">
                        <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
                        <div class="cart__container">
                            <div class="arrow-up"></div>
                            <div class="cart__header">
                                <div class="cart__header--left">
                                    <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
                                    <span class="counter">{{ itemCount }}</span>
                                </div>
                                <div class="cart__header--right">
                                    Total: <span class="total-price">Rp {{itemsTotal | number}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="cart__content">
                                <ul>
                                    <li *ngFor="let item of cartItems">
                                        <div class="cart__content--left-side">
                                            <img class="product--image" [src]="item.product.imageUrl" alt="">
                                        </div>
                                        <div class="cart__content--right-side">
                                            <a [routerLink]="" class="product--title">{{ item.product.name }}</a>
                                            <span class="product--price">Rp {{ item.product.specialPrice > 0 ? item.product.specialPrice : item.product.pricelist | number }}</span><span class="product--qty">Qty {{ item.quantity }}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart__footer">
                                <a [routerLink]="['/transaction/checkout']" (click)="globals.isBackdropActive = false" class="button--goto-cart">Lihat Keranjang</a>
                            </div>
                        </div>
                        <span class="cart__counter">{{ itemCount }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>