<div class="bs-header">
    <div class="bs-header__logo-box">
        <a routerLink="/">
            <img src="/assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="bs-header__search-box edited--wahyu">
        <div class="search-by-category-wrapper">
            <div class="select-box-container">
                <div class="select-box select-box-orange" (click)="isSelectBoxActive = !isSelectBoxActive">
                    <span>All Category</span>
                    <fa name="caret-down"></fa>
                    <input type="hidden" name="">
                </div>
                <div class="drick-select-container--toggle" [ngClass]="{'active':isSelectBoxActive}">
                    <!-- <ul class="drick-select-list">
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                        <li>aaaaa</li>
                    </ul> -->
                </div>
            </div>
            <div class="input-group icon-right with-select-box">
                <!-- <div class=""> -->
                <input type="text" (keyup)="searchK($event)" (keyup.enter)="searchEnter($event)"
                    (focus)="showSearch = true" (focusout)="onSearchFocusOut()" class="input input-wahyu--edited" placeholder="Temukan produk idaman anda"/>
                <div class="list-suggestion" [ngClass]="{'show-element': showSearch === true, 'hide-element': showSearch === false}">
                    <div class="product-suggestion">
                        <ul>
                            <li><span class="highlight">{{ keyword }}</span></li>
                        </ul>
                    </div>

                    <div class="product-suggestion" *ngIf="searchBarResults.length > 0">
                        <div class="suggestion-block">
                            <span class="suggestion-label">Kategori</span>
                        </div>
                        <ul>
                            <li (click)="clickSearch(keyword, item.categoryId)" *ngFor="let item of searchBarResults; let i = index"><span class="highlight">{{ keyword }}</span> di {{ item.categoryName }}</li>
                        </ul>
                    </div>
                </div>
                <fa name="search"></fa>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="bs-header__account-box bs-header__account-box-edited--wahyu">
        <ul>
            <li class="shopping-cart right-9px" (mouseenter)="globals.isBackdropActive = true" (mouseleave)="globals.isBackdropActive = false">
                <img src="/assets/img/cart.png" alt="">

                <div class="cart__container">
                    <div class="arrow-up"></div>
                    <div class="cart__header">
                        <div class="cart__header--left">
                            <img class="icon" src="/assets/img/cart.png" alt="">
                            <span class="counter">3</span>
                        </div>
                        <div class="cart__header--right">
                            Total: <span class="total-price">Rp 38.000.000</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="cart__content">
                        <ul>
                            <li>
                                <div class="cart__content--left-side">
                                    <img class="product--image" src="https://cdn.shopify.com/s/files/1/0259/7733/products/adidas_moves_pulse_large.jpg?v=1423689600" alt="">
                                </div>
                                <div class="cart__content--right-side">
                                    <a [routerLink]="" class="product--title">Adidas orange parfum</a>
                                    <span class="product--price">Rp 13.000.000</span><span class="product--qty">Qty 1</span>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cart__content--left-side">
                                    <img class="product--image" src="https://cdn.shopify.com/s/files/1/0259/7733/products/adidas_moves_pulse_large.jpg?v=1423689600" alt="">
                                </div>
                                <div class="cart__content--right-side">
                                    <a [routerLink]="" class="product--title">Adidas orange parfume</a>
                                    <span class="product--price">Rp 13.000.000</span><span class="product--qty">Qty 1</span>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li>
                                <div class="cart__content--left-side">
                                    <img class="product--image" src="https://cdn.shopify.com/s/files/1/0259/7733/products/adidas_moves_pulse_large.jpg?v=1423689600" alt="">
                                </div>
                                <div class="cart__content--right-side">
                                    <a [routerLink]="" class="product--title">Adidas orange parfume 300ml</a>
                                    <span class="product--price">Rp 13.000.000</span><span class="product--qty">Qty 1</span>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cart__footer">
                        <a [routerLink]="" class="button--goto-cart">Lihat Keranjang</a>
                    </div>
                </div>
                <span class="cart__counter">3</span>
            </li>
            <li class="right--12px">
                <a *ngIf="isLogin === false" routerLink="/account/sign-in">
                    <div class="profile-wrapper w-edit-for-margin">
                        <img class="u-display-block centered-block-element img-circle" src="/assets/img/profile.png" alt="">
                        <!-- <span class="u-display-block text-profile">Masuk</span> -->
                    </div>
                </a>
                <a *ngIf="isLogin === true" class="account-menu--trigger" (click)="toggleAccountMenu()" clickOutside (clickOutside)="onClickOutside($event)">
                   
                        <img class="country-flag  img-circle" src="{{avatar}}" alt="">
                        <span class="text-language">
                                {{ userData.name.split(' ')[0]  }}
                            
                        </span>
                   
                    <!-- <div class="profile-wrapper">
                        <img class="u-display-block centered-block-element img-circle" src="{{avatar}}" alt="">
                        <span class="u-display-block text-profile">{{ userData.name.split(' ')[0] }}</span>
                    </div> -->

    
                </a>
                <div [ngClass]="isAccountMenu ? 'show-element' : 'hide-element'" class="account-menu__container">
                    <div (click)="goToProfile()" class="cursor-on-profile">Profile</div>
                    <div>Items</div>
                    <div>Items</div>
                    <div><button class="btn rounded btn--navy" (click)="logout()">Logout</button></div>
                </div>
            </li>
                    <li *ngIf="role === 0" class="padding__button right-14">
                        <div (click)="showDialog = !showDialog" class="colx2 btn btn--orange btn--size--80 w--forbutton">
                            <div>
                                
                                <p class="padding--for--text">Mulai Berjualan</p>
                            <!-- <p>belisada</p> -->
                            </div>
                            <div>
                                <img  class="padding--for--text" src="/assets/img/store_icon.png">
                            </div>
        
                        </div>
                        </li>

                        <li *ngIf="role !== 2 && role != 0" class="padding__button right-14">
                            <div (click)="goToSeller()" class="colx2 btn btn--orange btn--size--80 w--forbutto">

                                <div>
                                        <p class="padding--for--text">Belisada Seller</p>
                                </div>
                                <div>
                                    <img class="padding--for--text" src="/assets/img/store_icon.png">
                                </div>
            
                            </div>
                            </li>

                            <li *ngIf="role === 2" class="padding__button right-14">
                                    <div (click)="navigateToIkutJualan()" class="colx2 btn btn--orange btn--size--80 w-In-Role2">
        
                                        <div>
                                            <p class="padding--for--text">Mulai Berjualan</p>
                                           
                                        </div>
                                        <div>
                                            <img class="padding--for--text" src="/assets/img/store_icon.png">
                                        </div>
                    
                                    </div>
                                    </li>

                                    


<app-models [(visible)]="showDialog" class="frameDialog">
        <div class="modal-body">  

                <div class="title">Buka Toko</div>
                <form [formGroup]="validationOnpopUpCreateStore" class=" center-for-button" (ngSubmit)="onSent()" #fs="ngForm" novalidate>
                    <input type="hidden" class="input-style-text-100" formControlName="storeUrl" placeholder="URL toko mengikuti nama toko anda" />
                    <input type="text" formControlName="nameOwner" class="input-style-text-100" placeholder="Masukan nama pemilik toko">
                    <app-field-error-display [displayError]="isFieldValid('nameOwner')" errorMsg="Nama pemilik toko tidak boleh kosong"></app-field-error-display>
                    <input type="text" formControlName="name" (keypress)="onNameKeydown($event)" class="input-style-text-100" placeholder="Masukan nama toko">
                    <div *ngIf="validationOnpopUpCreateStore.controls.name.errors && validationOnpopUpCreateStore.controls.name.errors.server; else nameCheckingTemplate" class="alert alert-danger toll tooltip">
                        <div class="testing">
                            <span class="tooltiptext">{{serverMessage}}</span>
                        </div>
                    </div>
                    <ng-template #nameCheckingTemplate>
                        <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Nama toko tidak boleh kosong"></app-field-error-display>
                    </ng-template>
                    <div *ngIf="nameChecking" class="alert alert-danger toll tooltip">Memeriksa nama Toko <img src="assets/img/wait.gif"></div>


                    <input type="text" formControlName="email" class="input-style-text-100" placeholder="Masukan email">
                    <div *ngIf="validationOnpopUpCreateStore.controls.email?.invalid && (validationOnpopUpCreateStore.controls.email.dirty && validationOnpopUpCreateStore.controls.email.touched); else emailOn" class="alert alert-danger toll tooltip testing">
                        <span class="tooltiptext">Harap masukan format email dengan benar</span>
                    </div>
                    <ng-template #emailOn>
                        <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Email tidak boleh kosong"></app-field-error-display>
                    </ng-template>

                    <input type="password" formControlName="password" class="input-style-text-100" placeholder="Masukan password">
                    <div *ngIf="validationOnpopUpCreateStore.controls.password.errors && (validationOnpopUpCreateStore.controls.password.dirty || validationOnpopUpCreateStore.controls.password.touched)" class="alert alert-danger toll tooltip-for-password testing">
                        <p *ngIf="validationOnpopUpCreateStore.controls.password.errors.required" class="tooltiptext">Password tidak boleh kosong</p>

                        <p *ngIf="validationOnpopUpCreateStore.controls.password.errors.minlength" class="tooltiptext">Minimal panjang password 7 karakter. </p>
                    </div>

                    <div class="agrements">Dengan klik DAFTAR,Anda telah menyetujui <span class="syarat-and-ketentuan">Syarat & Ketentuan</span> </div>
                    <div class="agrements paddingclass"> Serta <span class="syarat-and-ketentuan"> Kebijakan Privasi</span> belisada.co.id </div>
                    <button class="btn btn--orange btn-size-55 text-btn component-center center-for-button">Daftar</button>
                </form>
        </div>

    </app-models>
            <li class="right-13">
                <img class="country-flag" src="/assets/img/id_flag.png" alt="">
                <span class="text-language">
                    ID<br>
                    <fa name="caret-down"></fa>
                </span>
            </li>
        </ul>

        
    </div>
</div>


