<div class="containPage has-header">
  <div class="row">
    <div class="col-12">
      <div class="title-page">Lupa Password</div>

      <div *ngIf="alert==true" class="alert-error">
        <p>{{msg}}</p>
      </div>

      <div *ngIf="field_form==true">
        <form class="ui form" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <input type="email" class="input-style-text" placeholder="Email" [formControl]="email">
            <div class="form-control-validation" *ngIf="email.errors && email.dirty">
              <p *ngIf="email.errors.required">Email tidak boleh kosong</p>
              <p *ngIf="email.errors.pattern">Format email tidak valid</p>
            </div>
          </div>
          <div class="text-registration">Belum Punya Akun? <a routerLink="/autentication/sign-up" class="link-text">REGISTRASI</a> Disini<br>
            Ingin Login? <a routerLink="/autentication/sign-in" class="link-text">Klik</a> Disini
          </div>
          <!-- <div class="component-center"><button type="submit" class="btn btn-orange btn-size-80 text-btn component-center" [disabled]="!email.valid">KIRIM</button></div> -->
          <div class="component-center"><button type="submit" class="btn btn-orange btn-size-80 text-btn component-center">KIRIM</button></div>
        </form>         
      </div>
      <div *ngIf="result > -1">
        <!-- <div>{{ infoResult }}</div> -->
        <div *ngIf="result == 1">Silakan cek email Anda ( {{email.value}} ) untuk melanjutkan ke tahap selanjutnya.</div>
        
      </div>
      
    </div>
  </div>
</div>
  
  
  