<div class="containPage has-header">
  <div class="row">
    <div class="col-8">
      <div class="welcome">Selamat Datang Di Belisada.co.id</div>
      <img src="assets/img/asset_3.png" border="0" width="100%">
    </div>
    <div class="col-4">
      <div class="title-page">Lupa Password</div>
      <div *ngIf="result == -1">
        <form class="ui form" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <input type="email" class="input-style-text" placeholder="Email" [formControl]="email">
            <div class="form-control-validation" *ngIf="email.errors && email.dirty">
              <p *ngIf="email.errors.required">Email tidak boleh kosong</p>
              <p *ngIf="email.errors.pattern">Format email tidak valid</p>
            </div>
          </div>
          <div class="text-registration">Belum Punya Akun? <a routerLink="/autentication/sign-up" class="link-text">REGISTRASI</a> Disini<br>
            Ingin Login? <a routerLink="/autentication/sign-in" class="link-text">Klik</a> Disini
          </div>
          <div class="component-center"><button type="submit" class="btn btn-orange btn-size-80 text-btn component-center" [disabled]="!email.valid">KIRIM</button></div>
        </form>         
      </div>
      <div *ngIf="result > -1">
        <!-- <div>{{ infoResult }}</div> -->
        <div *ngIf="result == 1">Silakan cek email Anda ( {{email.value}} ) untuk melanjutkan ke tahap selanjutnya.</div>
        <div *ngIf="result == 0">
          Maaf email Anda ( {{email.value}} ) tidak terdaftar. Silakan masukan email Anda yang terdaftar di belisada.co.id.
          <a class="link-text" (click)="reEnter()">ulangi</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
  
  
  