<div class="containPage has-header">
  <div class="row">
    <div class="col-8">
      <div class="welcome">Selamat Datang Di Belisada.co.id</div>
      <img src="assets/img/asset_3.png" border="0" width="100%">
    </div>
    <div class="col-4">
      <div class="title-page">Lupa Password</div>
      <form class="ui form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <input type="email" class="inputInputStyleText" placeholder="Email" formControlName="email">
        </div>
        <div class="text-registration">Belum Punya Akun? <a routerLink="#" class="link-text" (click)="signUp()">REGISTRASI</a> Disini<br>
          Ingin Login? <a routerLink="#" class="link-text" (click)="sigIn()">Klik</a> Disini
        </div>
        <div class="component-center"><button type="submit" class="btn btn-orange btn-size-80 text-btn component-center">KIRIM</button></div>
      </form>         
    </div>
  </div>
</div>
  
  
  