.head-buyer{
    border-bottom: 1px solid #dddddd;
    padding-top:10px;
    padding-bottom:10px;
}

.prompt{
    width:400px;
}

.src-buyer{
    margin-top: 10px;
}

.trs-buyer{
    margin-top: 15px;
}

.simple-nav-buyer{
    margin-top: 15px;
}

.btn-log{
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .head-buyer {
        display: none;
    }
    
    .b-menu-top{
        border: 1px solid #eeeeee;
        padding:3px;
        border-radius:5px;
    }
}