.head-buyer{
    border-bottom: 1px solid #dddddd;
    padding-top:10px;
    padding-bottom:10px;
}

.prompt{
    width:400px;
}

.src-buyer{
    margin-top: 10px;
}

.trs-buyer{
    margin-top: 15px;
}

.account-buyer{
    margin-top: 15px;
}

.btn-log{
    margin-top: 10px;
}