<div class="gap-between-elements"></div>
<div class="header-seller-center">
    <div class="caption">
        <em>Hai, </em>Ingin menghasilkan omset jutaan rupiah?
    </div>
</div>
<!-- <img class="ui image" (click)="daftar()" style="cursor:pointer;" src="/assets/img/baruart.jpg"> -->
<app-headerdiseller></app-headerdiseller>
<hr>
<div class="gap-between-elements"></div>
<body class='bg-buyer-layout'>
    <div class="ui container">
        <div class="ui grid">

            <div class="three wide column">
                <app-sidebar></app-sidebar>
            </div>
            <div class="thirteen wide column">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <router-outlet></router-outlet>
                    </div>
                    <div class="sixteen wide column">
                        <div class="ui grid">
                            <div class="sixteen wide column">

                            </div>
                            <!-- <div class="four wide column">
                                <app-cart-buyer></app-cart-buyer>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <div class="wrapper">
    <div>
      <p class="ik">
        Butuh bantuan lain? Hubungi Customer Care kami
      </p>
      <div class="wrapper2">
          <div>
          </div>
          <div>
              <div class="wrapper3">
                  <div>
                        <i class="volume control phone icon buku"></i>
                  </div>
                  <div style="border-right: 1px solid white">
                      <span class="kamiSia"> Kami Siap Membantu Anda</span>
                      <br/>
                      021 - 34 535 33

                    </div>

              </div>


          </div>
          <div>
                <div class="wrapper3">
                        <div>
                                <i class="mail outline icon buku"></i>
                        </div>
                        <div style="border-right: 1px solid white">
                            <span class="kamiSia"> Kami akan membalas email
                                    Anda sesegera mungkin</span>
                            <br/>
                                cs@belisada.co.id

                          </div>

                    </div>
          </div>
          <div>
                <div class="wrapper3">
                        <div>
                                <i class="talk outline icon buku"></i>
                        </div>
                        <div style="border-right: 1px solid white">
                            <span class="kamiSia">Chat langsung dengan
                                    Customer Care kami</span>
                            <br/>
                            Live Chat

                          </div>

                    </div>
          </div>
      </div>
    </div>
  </div> -->
<div class="need-help-wrapper">
    <div class="need-help-title-wrapper">
        <p class="need-help-title">Butuh bantuan lain? Hubungi Customer Care kami</p>
    </div>

    <div></div>
    <div class="footer-item-container">
        <div><img class="ui image icon-footer" src="/assets/img/icons/phone-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Kami siap membantu Anda</span>
            <a href="tel:+62213453533">021 - 34 535 33</a>
        </div>
    </div>
    <div class="footer-item-container">
        <div><img class="ui image icon-footer" src="/assets/img/icons/envelope-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Kami akan membalas email Anda sesegera mungkin</span>
            <a href="mailto:cs@belisada.co.id">cs@belisada.co.id</a>
        </div>
    </div>
    <div class="footer-item-container remove-border-right">
        <div><img class="ui image icon-footer" src="/assets/img/icons/chatting-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Chat langsung dengan Customer Care kami</span>
            <a href="">Live Chat</a>
        </div>
    </div>
    <div></div>
</div>