<div class="ui grid b-step">
  <div class="sixteen wide center aligned column">

    <div class="ui ordered steps">
      <div class="completed step">
        <div class="content">
          <div class="title">Your Cart</div>
          <div class="description">List keranjang belanja Anda</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Checkout</div>
          <div class="description">Informasi billing, shipping, pembayaran & ongkos kirim</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Finish</div>
          <div class="description">Finish order details</div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="ui raised segment alert-success">
  <h1>Terima Kasih</h1>
  <p>Selamat transaksi Anda berhasil diproses. Jika Anda memilih metode pembayaran menggunakan Transfer Bank lakukan pembayaran sesuai dengan nilai total yang harus Anda bayarkan dan setelah itu lakukan konfirmasi pembayaran. Konfirmasi pembayaran bisa Anda lakukan di Akun Anda.</p>
</div>

<div class="ui grid stackable">
  <div class="eight wide column">
      <h2 id="cs-address">Alamat Penagihan</h2>
      <div class="sixteen wide column">
          <div class="ui segment">
              <strong><p>{{ billingName }}</p></strong>
              <p>{{ billingAddress }}</p>
          </div>
      </div>
  </div>
  <div class="eight wide column">
      <h2 id="cs-address">Alamat Pengiriman</h2>
      <div class="sixteen wide column">
          <div class="ui segment">
              <strong><p>{{ shippingName }}</p></strong>
              <p>{{ shippingAddress }}</p>
          </div>
      </div>
  </div>
</div>

<!-- <div *ngFor="let item of items">
    {{ item.aliasName }}
</div> -->
 
 <h2 id="cs-cart">Keranjang</h2>

<div class="row animated rollIn">
    <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th>Image</th>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Jumlah</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td class="valTd" data-title="Image">
                        <img class="ui tiny image" [src]="item.imageurl" style="margin: 0 auto;">
                    </td>
                    <td class="valTd" data-title="Nama">
                        {{ item.aliasName }}
                    </td>
                    <td class="valTd text-right" data-title="Harga">
                        Rp {{ item.subtotal / item.quantity | number }}
                    </td>
                    <td class="valTd text-right" data-title="Jumlah">
                        {{ item.quantity }}
                    </td>
                    <td class="valTd text-right" data-title="Sub Total"> Rp {{ item.subtotal | number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ui grid b-step">
    <div class="eight wide left aligned column">
        <h4>Total: Rp {{itemsTotal | number}}</h4>
    </div>
</div> 

<h2 id="cs-summary">Rincian</h2>

<div class='bg-rinci'>
    <div class="ui grid stackable">
        <div class="ten wide column">


        <div class="ui grid stackable">
          <div class="four wide column">
            <b>Matode Pembayaran</b><br><br>
            {{ paymentMethod }}
          </div>
          <div class="four wide column">
            <b>Ongkos Kirim</b><br><br>
            Kurir Pengiriman: {{ courierName }}<br>
            Ongkos Kirim: Rp {{ courierAmt | number }}
          </div>
          <div class="four wide column">
            <b>Kode Promo</b><br><br>
            Nilai Potongan Kode Promo: Rp.0
          </div>
        </div>

    </div>
    <div class="six wide column"><b>Rincian</b><br><br>
      Total Belanja: Rp {{ itemsTotal | number }} (+)<br>
      Ongkos Kirim: Rp {{ courierAmt | number }} (+)<br>
      Kode unik: Rp {{ uniqueCode | number }} (+)<br>
      Potongan: Rp.0 (-)<br>
      <div class='b-total'>
        TOTAL PEMBAYARAN: <font color='red'>Rp {{ grandTotal | number }}</font>
      </div>

    </div>
  </div>
</div>
 