<div class="header1 top-bg" (click)="imgTop" style="cursor: pointer;">
    <img src="/assets/img/bg-top-main2.jpg" border="0" />
</div>

<div class="header2 header-top">
    <ul class="header-top-menu">
        <li><a href="#">LACAK PESANAN</a></li>
        <li><a href="#">CUSTOMER CARE</a></li>
        <li><a routerLink="/info-jual-beli" class="link-red">Jual Di Belisada</a></li>
        <li class="hide-on-mobile"><a href="#">DOWNLOAD APP</a></li>
    </ul>
</div>

<div class="header3 header-second">
    <div class="sidebar-icon show-on-mobile">
        <i class="sidebar icon"></i>
    </div>
    <div class="logo-container" (click)="home()" style="cursor: pointer;">
        <img class="ui image" src="/assets/img/logo.png" alt="profile picture"/>
    </div>

    <div class="mid-header-container">
        <div class="mid-header-top-container hide-on-mobile">
            <ul class="header-mid-menu pull-left">
                <li><a routerLink="/register" class="link-red2">Mulai Menjual</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Cara Belanja</a></li>
                <li><a href="#">Produk Terbaru</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

            <div class="pull-right text-right">
                <span class="thin-info-text">Dapatkan Promo Menarik Di</span><br/>
                <strong>Festival Belanja Online</strong>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ui left action right icon input full-width search-by-category">
            <sui-select class="selection category-search hide-on-mobile"
                [(ngModel)]="selectedCategory"
                labelField="name"
                (keyup)="searchK($event)"
                placeholder="Select Category">
                    <sui-select-option *ngFor="let option of categorySearch" [value]="option" value="option.name"></sui-select-option>
            </sui-select>
            <i class="search icon"></i>
            <input type="text" class="search-bar" name="city" #options list="productname" (keyup)="searchK($event)" (keyup.enter)="searchEnter(selectedSearchCategory, selectedCategory)" [(ngModel)]="selectedSearchCategory"/>
            <div class="result-container" *ngIf="[results] != 0">
                <div class="result" *ngFor="let hasil of results" (click)="productSelected(hasil)">{{ hasil.name }}</div>
            </div>
        </div>
    </div>


    <div class="right-header-container">
        <div class="pull-bot-grid">
            <div class="language ">
                <div class='flagdropdown'>
                    <span><img class="ui image" src="/assets/img/id.jpg" alt="image not found"/></span>
                    <div class="flagdropdown-content">
                    <a href="#">Indonesia</a><br>
                    <a href="#">English</a>
                    </div>
                </div>
            </div>
            <div class="menu-header2">

                <div class="icon-user">
                    <img class="ui image avatar" [src]="avatar" alt="avatar"/>
                </div>
                <div class="welcome" *ngIf="loginState === false">
                    Selamat Datang<br/><a (click)="login()" style="cursor: pointer;"><strong>Login</strong></a> / <a (click)="register()"><strong>Daftar</strong></a>
                </div>
                <div class="welcome" *ngIf="loginState === true">
                    <div class='dropdown-profile'>
                        <!-- <span>{{userName}}<br/><a (click)="logout()" style="cursor: pointer;"><strong>Logout</strong></a></span> -->
                        <div style="cursor: pointer; padding-top:10px;">{{userName | words: 1 : ""}}</div>
                        <div class="dropdown-profile-content">

                            <div class="ui grid">
                                <div class="ten wide column"><strong>Selamat datang,<br> {{userName}}</strong></div>
                                <div class="six wide column">
                                        <button class="mini ui right labeled red icon button" (click)="logout()">
                                        <i class="sign out icon"></i>
                                        Logout
                                        </button>

                                    <!-- <a (click)="logout()" style="cursor: pointer;"><strong>Logout</strong></a> -->
                                </div>
                            </div>
                            <div class='dropdown-menu-account'>
                                <a routerLink="/buyer/dashboard">Dashboard</a><br>
                                <a routerLink="/buyer/profile-buyer">Profile</a><br>
                                <a routerLink="/buyer/change-password">Change Password</a><br>
                                <a routerLink="/buyer/change-password">Billing</a><br>
                                <a routerLink="/buyer/shippingAddress">Shipping</a><br>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="cart">
                    <span class="cart-counter">{{ itemCount }}</span>
                    <img class="ui image" src="/assets/img/cart.jpg" alt="image not found"/>

                    <div class="shopping-cart ui segment">
                        <h5>RECENTLY ADDED</h5>
                        <div class="ui divider"></div>

                        <div class="cart-item" *ngFor="let item of cartItems">
                            <div class="item-img">
                                <a routerLink="/Product-detail/{{item.product.productId}}">
                                    <img class="ui image" [src]="item.product.imageurl" alt=""/>
                                </a>
                            </div>
                            <div class="item-detail">
                                <div class="detail-wrapper">
                                    <span class="product-name"><a routerLink="/Product-detail/{{item.product.productId}}">{{ item.product.name }}</a></span>
                                    <span class="product-price">{{ item.quantity }} x <strong>{{ item.product.pricelist | currency:'Rp ' }}</strong></span>
                                </div>
                            </div>
                            <div class="item-action">
                                <a class="remove" title="Remove this item" (click)="removeProductFromCart(item.product.productId, item.quantity)">×</a>
                            </div>
                            <div class="ui divider grid-devider"></div>
                        </div>

                        <div class="subtotal">
                            <div class="subtotal-text pull-left">
                                <strong>Subtotal:</strong>
                            </div>
                            <div class="subtotal-price pull-right">
                                <strong>{{grossTotal | currency:'Rp '}}</strong>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="btn-cart-group">
                            <div class="view-cart">
                                <button (click)="viewCart()">View Cart</button>
                            </div>
                            <div class="checkout">
                                <button>Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
