.header-top {
    background: #f7982d;
    color: #2c4528;
}

.header-top ul {
    margin: 0;
    padding: 0;
}

.header-top ul li {
    display: inline-block;
    list-style: none;
    padding: 6px 10px 5px;
    font-size: 0.75em;
    font-weight: 600;
}

.header-top ul a {
    color: #231f20;
}

.header-top ul a:hover{
    color: #67585c;
}

.header-top ul a.link-red {
    color: #921f15;
}

.header-top ul a.link-red:hover {
    color: #c32316;
}

.header-second {
    background: #002e43;
    color:#ffffff;
    width: 100%;
}

.header-second:after {
    content: "";
    display: table;
    clear: both;
}

.logo-container {
    width: 16.67%;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 5px;
    float: left;
}

.logo-container > * {
    vertical-align: middle
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mid-header-container {
    width: 66.67%;
    box-sizing: border-box;
    padding: 5px 15px;
    float: left;
}

.thin-info-text {
    font-size: 0.75em;
    font-weight: 200;
}

.category-search {
    background-color: #4d4e4e!important;
    color: #ffffff!important;
    position:relative;
    z-index: 9999!important;
}


.right-header-container {
    width: 16.66%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

.menu-header2{
    float: left;
    // margin-right:20px;
    font-size:12px;
    //  width:130px;
}

.menu-header3{
    float: right;
    margin-right:7px;
    margin-top:5px;
}

.header-mid-side{
    text-align:right;
    margin-bottom:10px;
    background: #dddddd;
}

.header-mid-menu a{
    color:#ffffff;
}

.header-mid-menu a:hover{
    color:#dddddd;
}

.header-mid-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:0px;
    margin-top:100px;
}

.header-mid-menu li {
    float: right;
    margin-right: 30px;
    font-size:12px;
    display: block;
    font-weight: bold;
    // width:20%;
    text-decoration: none;
}

.header-mid-menu li .link-red2{
    color:#f51b0a;
}

.header-mid-menu li .link-red2:hover{
    color:#ff594b;
}
.clear-padding-bottom {
    padding-bottom: 0!important;
}
.clear-padding-top-bottom {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.top-bg{
    background-image: url('/assets/img/bg-top-sub.jpg');
    height:50px;
  }

  .text-welcome{
    margin-top:-26px;
  }

  .icon-user{
    float:left;
    padding-top:10px;
  }

  .welcome{
    float:left
  }

  .cart{
    float:left; 
    margin-left:10px;
  }

  

  .logo{
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
  }

  .promo{
    font-size: 12px;
  }


