.ui.selection.dropdown.active, .ui.selection.dropdown.visible {
    z-index: 501!important;
}

.header-top {
    background: #f7982d;
    color: #2c4528;
}

.header-top ul {
    margin: 0;
    padding: 0;
}

.header-top ul li {
    display: inline-block;
    list-style: none;
    padding: 6px 10px 5px;
    font-size: 0.75em;
    font-weight: 600;
}

.header-top ul a {
    color: #231f20;
}

.header-top ul a:hover {
    color: #67585c;
}

.header-top ul a.link-red {
    color: #d20000;
}

.header-top ul a.link-red:hover {
    color: #c32316;
}

.header-second {
    background: #002e43;
    color:#ffffff;
    width: 100%;
    height:100px;
}

.header-second:after {
    content: "";
    display: table;
    clear: both;
}

.logo-container {
    grid-area: logo-container;
    // width: 16.67%;
    box-sizing: border-box;
    white-space: nowrap;
    // padding-bottom: 20px;
    display: grid;
    position: relative;
    bottom: 10px;
    // float: left;
    // margin-top:-100px;
}

.logo-container > img {
    align-self: end;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mid-header-container {
    // width: 66.67%;
    box-sizing: border-box;
    padding: 0px 15px 0;
    grid-area: mid-header-container;
    // float: left;
}

.thin-info-text {
    font-size: 0.75em;
    font-weight: 200;
}

.category-search {
    background-color: #4d4e4e!important;
    color: #ffffff!important;
    position:relative;
}

.cart-icon {
   position: absolute;
   right: 20px;
//    padding-top: 14px;
   cursor: pointer;
}

.cart-counter {
    position: absolute;
    z-index: 1;
    background-color: #F7982D;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    right: 12px;
}

.right-header-container {
    // width: 16.66%;
    // float: left;
    display: grid;
    box-sizing: border-box;
    padding: 5px 5px 0;
    grid-area: right-header-container;
}

search-bar {

}

.pull-bot-grid {
    align-self: end;
}

.menu-header2 {
    float: left;
    // margin-right:20px;
    font-size:12px;
    //  width:130px;
    margin-top: 19px;
}

.menu-header3 {
    float: right;
    margin-right:7px;
    margin-top:5px;
}

.header-mid-side {
    text-align:right;
    margin-bottom:10px;
    background: #dddddd;
}
.header-mid-right-menu {
    padding-top:6px;
    text-align: right;
}
.header-mid-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-mid-menu a {
    color:#ffffff;
}

.header-mid-menu a:hover {
   color: orange;
}


.header-mid-menu li {
    display: inline-block;
    margin: 0 10px;
    font-size:12px;
    font-weight: bold;
}

.header-mid-menu li .link-red2 {
    color:#f51b0a;
    cursor: pointer;
}

.header-mid-menu li .link-red2:hover {
    color:#ff594b;
}

.header-mid-menu li .link-yellow {
    color:#fea414;
    cursor: pointer;
}

.header-mid-menu li .link-yellow:hover {
    color:#f8b446;
}

.clear-padding-bottom {
    padding-bottom: 0!important;
}
.clear-padding-top-bottom {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.top-bg {
    background-image: url('/assets/img/bg-top-sub2.jpg');
    height:50px;
}

.text-welcome {
    margin-top:-26px;
}

.icon-user {
    float:left;
    padding-top:10px;
}

.avatar {
    width: 60px;
}

.welcome {
    float:left;
    padding-left: 7px;
    // padding-bottom: 20px;
}

.welcome a:link {
    color:#f8992e;
}

.welcome a:hover {
    color:#fec380;
}

.welcome a:visited {
    color:#f8992e;
}

.welcome a:active {
    color:#f8992e;
}

.cart {
    float:left;
    margin-left:10px;
}

.logo {
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
}

.promo {
    font-size: 12px;
}


.header1 {
    grid-area: header1;
}
.header2 {
    text-align: right;
    grid-area: header2;
}
.header3 {
    display: grid;
    grid-area: header3;
    grid-template-columns: 240px auto 200px;
    grid-template-areas:
        "logo-container mid-header-container right-header-container";
}

.shopping-cart {
    opacity: 0;
    visibility: hidden;
    background: #fff;
    position: absolute;
    transition: all .3s ease .15s;
    z-index: 999;
    // width: 200px;
    right: 10px;
    color: #333;
    margin-top: 40px;
}
.cart:hover > .shopping-cart {
    opacity: 1;
    overflow: visible;
    visibility: visible;
}
.cart-item {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 60px 200px 15px;

    .item-detail {
        display: grid;
        .detail-wrapper {
            align-self: center;
            overflow: hidden;
            span {
                display: block;
            }
            .product-name {
                font-size: 0.85em;
            }
            .product-name a {
                color: #6d6c6c;
            }
            .product-name a:hover {
                color: #ba1707;
                cursor: pointer;
            }
            .product-price {
                font-size: 0.85em;
            }
        }
    }

    .item-action {
        display: grid;
        a.remove {
            align-self: center;
            text-align: center;
            padding: 2px 4px 3px;
            font-size: 8px;
            line-height: 8px;
            border: 1px solid;
            opacity: 0.4;
            font-weight: 700;
            border-radius: 1px;
            color: #6d6c6c;
        }
        a.remove:hover {
            color: #ba1707;
            cursor: pointer;
        }
    }

    .grid-devider {
        grid-column: 1/4;
    }
}

.btn-cart-group {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);

    button {
        width: 100%;
        border: 0;
        padding: 0.75em 1em;
        border-radius: 0.25rem;
        transition-duration: 500ms;
        color: #fff;
        cursor: pointer;
    }

    .view-cart button {
        background-color: #002E43;}

    .view-cart button:hover {
        background-color: #F8992E;}

    .checkout button {
        background-color: #F8992E;}

    .checkout button:hover {
        background-color: #002E43;}
}

.btn-src{
    padding:0px; padding-left:15px; padding-top:8px;  padding-right:8px; border-radius:0px 5px 5px 0px; background: #f2711c;
    cursor: pointer;
}

.btn-src:hover{
    background: #f59759;
    color:#fefdcd;
}

@media screen and (max-width: 425px) {
    .search-by-category{
        margin-top:60px;
        background: #dddddd;
    }

    .btn-src{
        padding:0px; padding-left:15px; padding-bottom:15px; padding-right:5px; border-radius:0px 5px 5px 0px; background: #f2711c;
        cursor: pointer;
    }

    .helper {
        display: none;
    }
    .header1 {
        display: none;
    }
    .header2 {
        text-align: left;
        grid-area: header2;
        background-color: #fff;
    }
    .header-top ul li {
        display: inline-block;
        list-style: none;
        padding: 5px 8px;
        font-size: 0.70em;
        font-weight: 600;
    }
    .icon-user {
        padding-top: 5px;
    }
    .icon-user > img {
        width: 20px;
    }
    .logo-container {
        align-self: center;
    }
    .logo-container > img {
        max-width: 100px;
    }
    .welcome {
        float: left;
        font-size: 0.85em;
        line-height: 1rem;
        padding: 1px 5px 0px;
        // padding-right: 34px;
    }
    .language > img {
        width: 30px;
    }
    .cart {
        margin-left: 0;
    }
    .cart > img {
        width: 30px;
        padding-top: 5px;
    }
    .sidebar-icon {
        font-size: 2em;
        grid-area: sidebar-icon;
    }
    .sidebar-icon {
        align-self: center;
    }
    .header3 {
        display: grid;
        grid-area: header3;
        grid-template-columns: 40px auto 142px;
        grid-template-areas:
            "sidebar-icon logo-container right-header-container";
    }
}


// ini nih
.custom-item {
    height: 50px;
    padding: 15px;
}
.small {
    font-size: 10px;
    color: #999999;
}

.image-upload-select img {
    width: 100px;
    margin-top: 10px;
    margin-left: 7px;
}
.result-container {
    position: absolute;
    margin-left: 196px;
    margin-top: 38px;
    width: 80%;
    height: 520px;
    overflow: auto;
    z-index: 1000;
}
.result-container1 {
    position: absolute;
    margin-top: 178px;
    width: 215px;
    height: 320px;
    overflow: auto;
    z-index: 2;
}
.result {
    color: #000000;
    background-color: rgba(255, 255, 255, .9);
    margin-left: 0px;
    min-height: 30px;
    padding: 10px;
    border: 0px solid #f1f1f1;
    z-index: 3;
    cursor: pointer;
}
.result:hover {
    background-color: #f1f1f1;
    color: #000000;
}
.result-popular {

}


.popular-list {
    min-height: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .9);
    color: #000000;
    cursor: pointer;
}

.popular-list:hover {
    min-height: 30px;
    padding: 10px;
    background-color: #f1f1f1;
    color: #000000;
    cursor: pointer;
}

.result img{
    height: 32px;
    margin-right: 10px;
}

.cates {
    font-size: 12px;
    font-weight: bold;
    float: right;
    color: darkblue;
}
.product-image {
    height: 300px;
}
 // akhir

//flag
.flagdropdown {
     position: relative;
     display: inline-block;
    //  bottom: 7px;
}

.flagdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 502;
    border-radius:5px;
    border: 1px solid #dddddd;
}

.flagdropdown:hover .flagdropdown-content {
     display: block;
}


.profiledropdown {
    position: relative;
    display: inline-block;
}

.profiledropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 200px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 5px 5px;
   z-index: 502;
   border-radius:5px;
   border: 1px solid #dddddd;
}

.profiledropdown:hover .profiledropdown-content {
    display: block;
}





  /*Drop profile*/

  .dropdown-profile {
    position: relative;
    display: inline-block;
    right: 0; left: auto;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    border-top:1px solid #002e43;
    border-left:1px solid #002e43;
    border-right:1px solid #002e43;
    top:-15px;
  }

.dropdown-profile:hover{
    border-top:1px solid #024766;
    border-left:1px solid #024766;
    border-right:1px solid #024766;
}

  .dropdown-profile-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:10px;
    z-index: 999999;
    right: 0; left: auto;
    font-size: 13px;
    color:#111111;
    border-radius:5px;
    margin-top:0px;
    text-align: center;
  }

  .dropdown-profile-content:after, .arrow_box:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .dropdown-profile-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
  }
  .dropdown-profile-content:before {
  border-color: rgba(153, 178, 194, 0);
  border-bottom-color: #99b2c2;
  border-width: 11px;
  margin-left: -11px;

  }


  .dropdown-profile-content a {
    color: #111111;
    padding: 0px;
    text-decoration: none;
    right: 0; left: auto;

  }

  .dropdown-profile-content a:hover {
    color:#dddddd;
  }

  .dropdown-profile:hover .dropdown-profile-content {
    display: block;
  }

  .dropdown-profile:hover .dropbtn-profile {
    background-color: #ffffff;
  }

  .dropdown-menu-account{
    margin-top:10px;
    border-top: 1px solid #dddddd;
    padding-top:10px;
    text-align: left;
  }

  .dropdown-menu-account a:link {
    color: #111111;
    text-decoration: none;

  }

  .dropdown-menu-account a:visited {
    color:#111111;
  }

  .dropdown-menu-account a:active {
    color:#111111;
  }

  .dropdown-menu-account a:hover {
    color:#dddddd;
  }


.go-link  {
    color:#f8992e;
    cursor: pointer;
}

.go-link:hover {
    color:#fec380;
}

.go-link:visited {
    color:#f8992e;
}

.go-link:active {
    color:#f8992e;
}



.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*e: sidebar menu mobile*/
