<div class="header1 top-bg" (click)="imgTop" style="cursor: pointer;">
    <img src="/assets/img/bg-top-main.jpg" border="0" />
</div>

<div class="header2 header-top">
    <ul class="header-top-menu">
        <li><a href="#">LACAK PESANAN</a></li>
        <li><a href="#">CUSTOMER CARE</a></li>
        <li> <a routerLink="/info-jual-beli" class="link-red">Jual Di Belisada</a></li>
        <li class="hide-on-mobile"><a href="#">DOWNLOAD APP</a></li>
    </ul>
</div>

<div class="header3 header-second">
    <div class="sidebar-icon show-on-mobile">
        <i class="sidebar icon"></i>
    </div>
    <div class="logo-container">
        <span class="helper"></span>
        <img class="ui image" src="/assets/img/logo.png" alt="profile picture"/>
    </div>
    
    <div class="mid-header-container">
        <div class="mid-header-top-container hide-on-mobile">
            <ul class="header-mid-menu pull-left">
                <li><a routerLink="/register" class="link-red2">Mulai Menjual</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Cara Belanja</a></li>
                <li><a href="#">Produk Terbaru</a></li>    
                <li><a href="#">Blog</a></li>
            </ul>

            <div class="pull-right text-right">
                <span class="thin-info-text">Dapatkan Promo Menarik Di</span><br/>
                <strong>Festifal Belanja Online</strong>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ui left action right icon input full-width search-by-category">
            <sui-select class="selection category-search hide-on-mobile"
                [(ngModel)]="selectedSearchCategory"
                labelField="name"
                placeholder="Select Category">
                    <sui-select-option *ngFor="let option of categorySearch" [value]="option" value="option.name"></sui-select-option>
            </sui-select>
            <i class="search icon"></i>
            <input type="text" class="search-bar" placeholder="Search"/>
        </div>
    </div>

    <div class="right-header-container">
        <div class="language">
            <img class="ui image" src="/assets/img/id.jpg" alt="image not found"/>
        </div> 
        <div class="menu-header">
            <div class="menu-header2">

                <div class="icon-user">
                    <img class="ui image" src="/assets/img/user.jpg" alt="image not found"/>
                </div>
                <div class="welcome">
                    Selamat Datang<br/><a href="/login"><strong>Login</strong></a> / <a href="/register"><strong>Daftar</strong></a>
                </div>
                <div class="cart">
                    <img class="ui image" src="/assets/img/cart.jpg" alt="image not found"/>
                </div>
            </div>
        </div>
    </div>
</div>