<div class="menu-wrapper" role="navigation">
    <ul class="nav" role="menubar">
        <li role="menuitem" *ngFor="let item of navigationObjects"><a>{{ item.name }}</a>
            <div class="category2 mega-menu" aria-hidden="true" role="menu">
                <div class="left-image">
                    <img class="ui image" src="/assets/img/demo/C1-1.jpg" alt="Image not found"/>
                </div>
                <div class="right-nav-column">
                    <div class="nav-column text-center" [ngClass]="{'border-nav': ix <= 4}"
                        *ngFor="let i of item.c2; let ix = index" [attr.data-index]="ix">

                        <div class="top-categories" *ngIf="ix <= 4">
                            <div (click)="toList(i.m_product_category_id)" style="cursor: pointer;">
                                <img class="ui image logo" [src]="i.imageurl" alt="Image not found"/>
                                <h3>{{ i.name }}</h3>
                            </div>
                        </div>
                        <div *ngIf="ix > 4">
                            <div (click)="toList(i.m_product_category_id)" class="item" style="cursor: pointer;">
                                <span>{{ i.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
