.hr {
    position: absolute;
    bottom: 0;
}

.header-second{
    background: #002e43;
    color:#ffffff;
    // float:right;

}

.menu-wrapper{
    // margin-top:15px;
    // float:right;
    // background: #dddddd;
    width:100%;
    padding: 0!important;
}
/* mini reset */

.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0;
}

.nav ul {
  // width: 2000px;
}

.nav a {
  text-decoration: none;
}
.nav li {
  list-style: none;
}

/* menu container */
.nav,
input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
.nav {
  cursor: default;
  display: table;
  width: 100%;
  z-index: 480;
  position: relative;
}

/* menu list */
.nav > li {
  display: table-cell;
  background: #01344c;
  vertical-align: middle;
  border-left: 1px solid #002f43;
  border-right: 1px solid #002f43;
  transition: all .3s ease;
  padding: 1em;
}

/* menu links */
.nav > li > a {
  // background: #01344c;
  // border-left: 1px solid #002f43;
  // border-right: 1px solid #002f43;
  color: #fcfcfc;
  display: block;
//   font-weight: bold;
  line-height: 1.5;
  position: relative;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  transition: all .3s ease;
  // width:175px;
  font-size:12px;
  text-align:center;
  // z-index: 0;
}
.nav > li:focus,
.nav > li:hover {
  background: #012333;
  transition:all .5s ease;
  // border-top:1px solid #f7982d;
}
.nav > li:first-child > a {
  border-left: none;
  // border-radius: 3px 0 0 3px;
}

/* search form */
.nav-search > form {
  border-left: 1px solid #4b4441;
  height: 3.5em;
  position: relative;
  width: inherit;
  z-index: 510;
}
.nav-search input[type="text"] {
  background: #372f2b;
  color: #999;
  display: block;
  float: left;
//   font-weight: bold;
  line-height: 1.5;
  padding: 1em 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  transition: all .3s ease 1s;
  width: 0;
}
.nav-search input[type="text"]:focus {
  color: #fcfcfc;
}
.nav-search input[type="text"]:focus,
.nav-search:hover input[type="text"] {
  padding: 1em 1.25em;
  transition: all .3s ease .1s;
  width: 6.875em;
}
.nav-search input[type="submit"] {
//   background: #372f2b url(../img/search-icon.png) no-repeat center center; /* IE8 fallback */
//   background: #372f2b url(../img/search-icon.svg) no-repeat center center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: block;
  float: left;
  height: 3.5em;
  padding: 0 1.25em;
  transition: all .3s ease;
}
.nav-search input:focus,
.nav-search input[type="submit"]:hover {
  background-color: #4b4441;
}

/* menu dropdown */
.mega-menu {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease .15s;
  visibility: hidden;
  padding: 1.5%;
  width: 100%;
  top: 44px;
  left: 0;
}
li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* menu content */
.border-nav {
  border-bottom: 1px solid rgba(153,153,153, 0.5);
}
.nav-column {
  // float: left;
  // padding: 0 1.5%;
  // width: 20%;
}
.nav-column a {
  color: #888;
  display: block;
  font-weight: bold;
  line-height: 1.75;
}
.nav-column a:hover {
  color: #2196f3;
}
h3 {
  color: #372f2b;
  font-size: .95em;
  font-weight: bold;
  text-transform: uppercase;
}
.highlight {
  color: #2196f3;
}

.header-second2{
  background:#002e43;
  margin-bottom:10px;
  // margin-top:-35px;
  padding-top:0px;
}


@media screen and (max-width: 425px) {
  .nav {
    display: block;
  }

  /* menu list */
  .nav > li {
    display: block;
  }

  .mega-menu {
    top: 0;
    z-index: 99;
  }
}
