<div class="row">
    <div class="col-4">
        <h2>Informasi Toko</h2>
        <div class="border-foto-toko">
            <p><img src="assets/img/store_profile.png"></p>
            <button type="button" class="btn btn--yellow component-center btn-size-100">Ubah Foto Toko</button>
        </div>
        <div class="border-ket-toko">
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
            <p>Menjual berbagai macam peralatan olahraga</p>
        </div>
        <div class="edit-ket-toko">
            <button class="btn btn--yellow"><fa name="edit"></fa> Edit</button>
        </div>
        
    </div>
    <div class="col-8">
        <div class="row view-line">
            <div class="open-close-left">
                <label class="switch">
                    <input type="checkbox"/>
                    <div class="slider round">
                        <span class="true">OPEN</span>
                        <span class="false">CLOSE</span>
                    </div>
                </label>
            </div>
            <div class="open-close-right">
                <p>Fiture Buka / Tutup Toko<br>Baca selengkapnya.</p>
            </div>
        </div>    
        <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate [ngClass]="{'on-edit-store':!isEdit}">
            <div class="row view-line">
                <div class="col-3 title-line">URL Toko</div> 
                <div class="col-9 title-line">www.belisada.id/makmur</div> 
            </div>
            <div class="row view-line">
                <div class="col-3 title-line">Nama Toko</div> 
                <div class="col-9 title-line">Makmur</div> 
            </div>
            <div class="row view-line">
                <div class="col-3 title-line">Alamat Toko</div> 
                <div class="col-9 title-line"><input type="text" (keypress)="keyLa($event)" class="input-style-text" formControlName="address"></div> 
            </div>
            <div class="row view-line">
                <div class="col-3 title-line">Provinsi</div> 
                <div class="col-9 title-line"><input type="text" (keypress)="keyLa($event)" class="input-style-text" formControlName="province"></div> 
            </div>
            <div class="row view-line">
                <div class="col-3 title-line">Kota/ Kabupaten</div> 
                <div class="col-9 title-line"><input type="text" (keypress)="keyLa($event)" class="input-style-text" formControlName="city"></div> 
            </div>
            <div class="row view-line">
                <div class="col-3 title-line">Kecamatan</div> 
                <div class="col-9 title-line"><input type="text" (keypress)="keyLa($event)" class="input-style-text" formControlName="district"></div> 
            </div>
            <div class="row view-line">
                <div class="col-3 title-line">Kelurahan</div> 
                <div class="col-9 title-line"><input type="text" (keypress)="keyLa($event)" class="input-style-text" formControlName="villageId"></div> 
            </div>
            <div class="edit-profile-toko">
                <button class="btn btn--yellow" *ngIf="!isEdit" (click)="editStore()"><fa name="edit"></fa> Edit</button>
                <button type="submit" class="btn btn--yellow" *ngIf="isEdit" [disabled]="createComForm.invalid || status === 1"><fa name="edit"></fa> Save</button>
            </div>
        </form>    
    </div>
</div>
