<table class="ui striped table">
    <thead>
      <tr>
        <th>Tanggal Order</th>
        <th>Total Pembayaran</th>
        <th>Metode Pembayaran</th>
        <th>Order Number</th>
        <th>Status</th>
        <th>Detail</th>
        <th>Konfirmasi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>09 Januari 2018 13:29:12 WIB</td>
        <td>Rp.229.500</td>
        <td>Bank Transfer</td>
        <td>ORD/09012018/22</td>
        <td>PENDING</td>
        <td>
          <button class="ui basic button">Detail</button>
        </td>
        <td><button class="ui basic button">Konfirmasi</button></td>
      </tr>
      <tr>
          <td>09 Januari 2018 13:29:12 WIB</td>
          <td>Rp.229.500</td>
          <td>Bank Transfer</td>
          <td>ORD/09012018/22</td>
          <td>SHIPPING</td>
          <td>
            <button class="ui basic button">Detail</button>
          </td>
          <td><button class="ui basic button">Konfirmasi</button></td>
        </tr>
     
    </tbody>
  </table>