<div class="footer">
  <div class="row">
  <div class="col-3">
    <ul class="menuList">
      <li>About US</li>
      <li>Contact</li>
      <li>Term & Conditions</li>
    </ul>
  </div>
  <div class="col-3">
    <ul class="menuList">
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </div>
  <div class="col-3">
  <form class="form-inline" action="/action_page.php">

    <label for="email">Subscribe to our newsletter:</label>
    <div class="input-group">
      <div class="input-group-area"><input type="text" placeholder="Email Address"></div>
      <!-- <div class="input-group-icon">@</div> -->
      <div class="input-group-icon">OK</div>
    </div>

    <!-- <div class="form-group">
      <label for="email">Subscribe to our newsletter:</label>
      <div class="row">
        <div class="col-3">
          <input type="email" class="form-control" placeholder="Email Address" id="email">
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-default">OK</button>
        </div>
      </div>  
      

    </div> -->
    

      <!-- <div class="btn-group" style="width:100%">
        <button style="width:50%">OK</button>
        <input type="email" placeholder="Email Address" id="email" tyle="width:50%">
        
      </div> -->

  </form> 
  </div>
  <div class="col-3">Jalan Kesehatan No.60 O-P,<br>RT.2 RW.4 Petojo Selatan, Gambir,<br>Jakarta Pusat 10160.<br><br>cs@belisada.co.id</div>
  </div>
  <div class="center">
    Copyright © 2017 belisada.co.id. All Rights Reserved.
  </div>




  


</div>