<div class="footer">

  <div class="row">
  <div class="col-3">
    <ul class="menuList">
      <li><a href="">bout US</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Term & Conditions</a></li>
    </ul>
  </div>
  <div class="col-3">
    <ul class="menuList">
      <li><a href=""><fa name="facebook"></fa> Facebook</a></li>
      <li><a href=""><fa name="twitter"></fa> Twitter</a></li>
      <li><a href=""><fa name="instagram"></fa> Instagram</a></li>
    </ul>
  </div>
  <div class="col-3">
  <form class="form-inline" action="/action_page.php">

    <label for="email">Subscribe to our newsletter:</label>
    <div class="input-group">
      <div class="input-group-area"><input type="text" placeholder="Email Address"></div>
      <div class="input-group-icon cursor">OK</div>
    </div>

  </form> 
  </div>
  <div class="col-3">Jalan Kesehatan No.60 O-P,<br>RT.2 RW.4 Petojo Selatan, Gambir,<br>Jakarta Pusat 10160.<br><br>cs@belisada.co.id</div>
  </div>
  <div class="center">
    Copyright © 2017 belisada.co.id. All Rights Reserved.
  </div>
  

</div>