<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">
  
      <div class="ui ordered steps">
        <div class="completed step s-cart" (click)="prev()">
          <div class="content">
            <div class="title">Your Cart</div>
            <div class="description">List keranjang belanja Anda</div>
          </div>
        </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Checkout</div>
            <div class="description">Informasi billing, shipping, pembayaran & ongkos kirim</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Finish</div>
            <div class="description">Finish order details</div>
          </div>
        </div>
      </div>
  
    </div>
</div>
<div class='conten-checkout'>
    <div class="ui two column grid">
        <div class="column"><h2>Alamat Penagihan</h2><p>Jika Alamat penagihan belum ada, lakukan tambah alamat penagihan.</p></div>
        <div class="column"><h2>Alamat Pengiriman</h2><p>Jika Alamat pengiriman belum ada, lakukan tambah alamat pengiriman.</p></div>
    </div>

    <div class="ui grid">
        <div class="two column row">
            <div class="column">
                <sui-tabset>
                    <div class="ui top attached tabular menu">
                        <a class="item" suiTabHeader="1">Penagihan</a>
                        <a class="item" suiTabHeader="2">Tambah Alamat Penagihan</a>
                    </div>
                    <div class="ui bottom attached segment" suiTabContent="1">
                    
                        <div class="sixten wide column right aligned">
                            <div class="ui labeled action input">

                                <div class="ui label">
                                    Pilih alamat penagihan:
                                </div>

                                <select class="ui compact selection dropdown" [(ngModel)]="selBillingAddress" (change)="getBillingAddress(selBillingAddress)">
                                    <option value="">-Pilih-</option>
                                    <option *ngFor="let item of billingAddressList" [value]="item.addressId">{{ item.addressName }}</option>
                                </select>
                            </div>  
                        </div>


                        <div class="ui segment" *ngIf="billingAddress">
                            <div class="ui grid">
                            <div class="ten wide column">
                                <p><strong>{{ billingAddress.name }} - {{ billingAddress.phone }}</strong><br>
                                    {{ billingAddress.address }}<br>
                                    {{ billingAddress.districtName }}, {{ billingAddress.cityName }}, {{ billingAddress.postal }}<br>
                                    {{ billingAddress.regionName }} - {{ billingAddress.countryName }}<br>
                                </p>
                            </div>
                            <div class="six wide column right aligned">
                                <!-- [ <a (click)="addBilling('add')">Tambah Alamat Penagihan</a> ] -->
                            </div>
                            
                            </div>
                        </div>
                        
                    </div>
                    <div class="ui bottom attached segment" suiTabContent="2">
                        <app-add-shipping></app-add-shipping>
                    </div>
                </sui-tabset>
            </div>

            <div class="column">
                <sui-tabset>
                    <div class="ui top attached tabular menu">
                        <a class="item" suiTabHeader="1">Pengiriman</a>
                        <a class="item" suiTabHeader="2">Tambah Alamat Pengiriman</a>
                    </div>
                    <div class="ui bottom attached segment" suiTabContent="1"> 
                        <div class="sixten wide column right aligned">
                            <div class="ui labeled action input">
        
                                <div class="ui label">
                                    Pilih alamat pengiriman:
                                </div>
        
                                <select class="ui compact selection dropdown" [(ngModel)]="selShippingAddress" (change)="getShippingAddress(selShippingAddress)">
                                    <option value="">-Pilih-</option>
                                    <option *ngFor="let item of shippingAddressList" [value]="item.addressId">{{ item.addressName }}</option>
                                </select>
                                <!-- <div type="submit" class="ui instagram button">Tambah Shipping</div> -->
                            </div>  
                            <!-- <div style="margin-top:10px;">[ <a (click)="addShipping('add')">Tambah Alamat Pengiriman</a> ]</div> -->
                        </div>

                        <div class="ui segment" *ngIf="shippingAddress">
                            <div class="ui grid">
                
                                <div class="sexten wide column">
                                    <p><strong>{{ shippingAddress.name }} - {{ shippingAddress.phone }}</strong><br>
                                    {{ shippingAddress.address }}<br>
                                    {{ shippingAddress.districtName }}, {{ shippingAddress.cityName }}, {{ shippingAddress.postal }}<br>
                                    {{ shippingAddress.regionName }} - {{ shippingAddress.countryName }}<br>
                                </p>
                                </div>  
                                
                            </div>  
                        </div>

                    </div>
                    <div class="ui bottom attached segment" suiTabContent="2"> 
                        <app-add-shipping></app-add-shipping>
                    </div>
                </sui-tabset>
            </div>
        </div>
    </div>




    <!-- app-cart -->
    <div class="ui one column grid">
        <div class="column"><h2>Keranjang</h2></div>
    </div>

    <div class="row animated rollIn">
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>Image</th>
                        <th>Nama</th>
                        <th>Harga</th>
                        <th>Jumlah</th>
                        <th>Sub Total</th>
                        <th>Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartItems">
                        <td class="valTd" data-title="Image">
                            <img class="ui tiny image" [src]="item.product.imageurl" style="margin: 0 auto;">
                        </td>
                        <td class="valTd" data-title="Nama">
                            {{ item.product.name }}
                        </td>
                        <td class="valTd text-right" data-title="Harga">
                            Rp {{ item.product.pricelist | number }}
                        </td>
                        <td class="valTd text-right" data-title="Jumlah">
                            <input class="quantity-text" type="text" [value]="item.quantity" (change)="updateQuantity($event, item)" #quantity/>
                        </td>
                        <td class="valTd text-right" data-title="Sub Total"> Rp {{ item.totalCost | number }}</td>
                        <td class="valTd" data-title="Hapus">
                            <button class="circular ui icon button" (click)="removeProductFromCart()">
                                <i class="trash outline icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    
    <div class="ui grid b-step">
        <div class="eight wide left aligned column">
            <h4>Total: Rp {{itemsTotal | number}}</h4>
        </div>  
        <!-- <div class="eight wide right aligned column">  
            <button class="ui right labeled icon button green" (click)="next()">
            Next
            <i class="right chevron icon"></i>
            </button>
            <div class="ui buttons"></div>
        </div> -->
    </div>
    <!--/ app-cart -->


    <!-- app-payment-method -->
    <div class="ui one column grid">
        <div class="column"><h2>Pembayaran</h2></div>
    </div>

    <p>Silakan pilih metode pembayaran dan ongkos kirim yang ingin Anda gunakan. Dan apa bila Anda memiliki Kode Promo maka gunakan Kode Promo tersebut untuk mendapatkan potongan harga.</p>
    <div class="ui grid">
        <div class="two column row">
            <div class="eight wide column">
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="ui three column grid">
                            <div class="row">
                                <div class="column" *ngFor="let item of paymentMethodDtos">

                                    <div class="ui form">
                                        <div class="grouped fields">
                                            <label>{{ item.paymentMethod.name }}</label>
                                            <div class="ui field segment" *ngFor="let detail of item.paymentMethodDetails">
                                                <div class="ui radio checkbox" style="margin-left: 5px; margin-top: 5px;">
                                                    <input name="example2" checked="checked" type="radio"
                                                        [(ngModel)]="paymentMethodId"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (change)="selectPaymentMethod(paymentMethodId)"
                                                        value="{{ detail.mBankAccountId }}~{{ item.paymentMethod.code }}"/>
                                                    <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_03.png'/></label>
                                                </div>
                                                <div class="padding-box">
                                                    <p>{{ detail.bankName }}<br>{{ detail.accountNo }}<br>{{ detail.accountName }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <div class="ui segment">

                    <div class="ui form">
                        <div class="grouped fields">
                            <p><b>ONGKOS KIRIM</b></p>
                            <div class="field">

                                <form class="ui form">
                                    <div class="field">
                                        <label>Kurir Pengiriman</label>
                                        <select class="ui compact selection dropdown" [(ngModel)]="shippingMethod" [ngModelOptions]="{standalone: true}" (change)="selectShippingMethod(shippingMethod)">
                                            <option value="">-Pilih-</option>
                                            <option *ngFor="let item of freightRates" [value]="item.shipperId">{{ item.shipperName }}</option>
                                            <!-- <option value="Ninja">Ninja</option> -->
                                        </select>
                                    </div>
                                    <!-- <div class="field">
                                        <label>Paket Pengiriman</label>
                                        <select class="ui compact selection dropdown">
                                            <option value="">-Pilih-</option>
                                            <option selected="" value="Regular">Regular</option>
                                        </select>
                                    </div> -->
                                    <div class="field">
                                        Ongkos kirim: <b>Rp {{ deliveryTotal | number }}</b>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="four wide column">
                <div class="ui segment">
                    <p><b>KODE PROMO</b></p>
                    <p>Jika anda memiliki kode promo masukan pada kolom dibawah ini untuk mendapatkan potongan harga.</p>


                    <form class="ui form">
                        <div class="field">
                            <label>Punya Kode Promo?</label>
                            <input name="last-name" placeholder="Masukan kode promo..." type="text">
                        </div>
                        <button class="ui button" type="submit">Gunakan Kode</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <!-- <app-payment-method></app-payment-method> -->
    <!--/ app-payment-method -->

    <div class="ui one column grid">
        <div class="column"><h2>Rincian</h2></div>
    </div>

  <div class='bg-rinci'>
      <div class="ui grid">
          <div class="ten wide column">
            
      
          <div class="ui grid">
            <div class="four wide column">
              <b>Matode Pembayaran</b><br><br>
              {{ paymentMethod.name }}: {{ paymentMethodDetail.bankName }}
            </div>
            <div class="four wide column">
              <b>Ongkos Kirim</b><br><br>
              Kurir Pengiriman: {{ freightRate.shipperName }}<br>
              Ongkos Kirim: Rp {{ deliveryTotal | number }}
            </div>
            <div class="four wide column">
              <b>Kode Promo</b><br><br>
              Nilai Potongan Kode Promo: Rp.0
            </div>
          </div>  
  
      </div>
      <div class="six wide column"><b>Rincian</b><br><br>
        Total Belanja: Rp {{ itemsTotal | number }} (+)<br>
        Ongkos Kirim: Rp {{ deliveryTotal | number }} (+)<br>
        Potongan: Rp.0 (-)<br>
        <div class='b-total'>
          TOTAL PEMBAYARAN: <font color='red'>Rp {{ grossTotal | number }}</font>
        </div>
      
      </div>
    </div>
  </div>




  <!-- <div class="row animated rollIn">
      <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
          <thead class="cf">
            <tr>
              <th>Image</th>
              <th>Nama</th>
              <th>Harga</th>
              <th>Jumlah</th>
              <th>Sub Total</th>
              <th>Hapus</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td class="valTd" data-title="Image">
              <img class="ui tiny image" [src]="item.product.imageurl" style="margin: 0 auto;">
            </td>
            <td class="valTd" data-title="Nama">
              {{ item.product.name }}
            </td>
            <td class="valTd text-right" data-title="Harga">
              {{ item.product.pricelist | currency:'Rp ' }}
            </td>
            <td class="valTd text-right" data-title="Jumlah">
              <input class="quantity-text" type="text" [value]="item.quantity" (change)="updateQuantity($event, item)" #quantity/>
            </td>
            <td class="valTd text-right" data-title="Sub Total">{{ item.totalCost | currency:'Rp ' }}</td>
            <td class="valTd" data-title="Hapus">
                <button class="circular ui icon button" (click)="removeProductFromCart()">
                  <i class="trash outline icon"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>    

  <div class="ui grid b-step">
    <div class="eight wide left aligned column">
      <h4>Total: {{(cart | async).grossTotal | currency:'Rp '}}</h4>
    </div>  
  </div> -->
<!-- 
  <div class="ui one column grid">
    <div class="column"><h2>Pembayaran</h2></div>
  </div>

  <p>Silakan pilih metode pembayaran dan ongkos kirim yang ingin Anda gunakan. Dan apa bila Anda memiliki Kode Promo maka gunakan Kode Promo tersebut untuk mendapatkan potongan harga.</p>
  <div class="ui grid">
    <div class="two column row">
        <div class="eight wide column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="ui three column grid">
                        <div class="row">
                            <div class="column" *ngFor="let item of paymentMethodDtos">

                                <div class="ui form">
                                    <div class="grouped fields">
                                        <label>{{ item.paymentMethod.name }}</label>
                                        <div class="ui field segment" *ngFor="let detail of item.paymentMethodDetails">
                                            <div class="ui radio checkbox" style="margin-left: 5px; margin-top: 5px;">
                                                <input name="example2" checked="checked" type="radio"
                                                    [(ngModel)]="paymentMethodId"
                                                    [ngModelOptions]="{standalone: true}" value="{{ detail.mBankAccountId }}~{{ item.paymentMethod.code }}"/>
                                                <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_03.png'/></label>
                                            </div>
                                            <div class="padding-box">
                                                <p>{{ detail.bankName }}<br>{{ detail.accountNo }}<br>{{ detail.accountName }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="three wide column">
            <div class="ui segment">

                <div class="ui form">
                    <div class="grouped fields">
                        <p><b>ONGKOS KIRIM</b></p>
                        <div class="field">

                            <form class="ui form">
                                <div class="field">
                                    <label>Kurir Pengiriman</label>
                                    <select class="ui compact selection dropdown" [(ngModel)]="shippingMethod" [ngModelOptions]="{standalone: true}" (change)="selectShippingMethod(shippingMethod)">
                                        <option value="">-Pilih-</option>
                                        <option *ngFor="let item of freightRates" [value]="item.shipperId">{{ item.shipperName }}</option>
                                    </select>
                                </div>
                                <div class="field">
                                    Ongkos kirim: <b>Rp {{ deliveryTotal | number }}</b>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="four wide column">
            <div class="ui segment">
                <p><b>KODE PROMO</b></p>
                <p>Jika anda memiliki kode promo masukan pada kolom dibawah ini untuk mendapatkan potongan harga.</p>
                <strong>Punya Kode Promo?</strong>
                <div class="ui action input">
                    <input placeholder="Masukan kode promo..." type="text" width='100'>
                    <button class="ui grey button">Gunakan Kode</button>
                </div>
            </div>
        </div>

      </div>
  </div>

  <div class="ui one column grid">
    <div class="column"><h2>Rincian</h2></div>
  </div>

  <div class='bg-rinci'>
      <div class="ui grid">
          <div class="ten wide column">
            
      
          <div class="ui grid">
            <div class="four wide column">
              <b>Matode Pembayaran</b><br><br>
              Transfer Bank: BCA
            </div>
            <div class="four wide column">
              <b>Ongkos Kirim</b><br><br>
              Kurir Pengiriman: {{ freightRate.shipperName }}<br>
              Ongkos Kirim: Rp {{ deliveryTotal | number }}
            </div>
            <div class="four wide column">
              <b>Kode Promo</b><br><br>
              Nilai Potongan Kode Promo: Rp.0
            </div>
          </div>  
  
      </div>
      <div class="six wide column"><b>Rincian</b><br><br>
        Total Belanja: Rp {{ itemsTotal | number }} (+)<br>
        Ongkos Kirim: Rp {{ deliveryTotal | number }} (+)<br>
        Potongan: Rp.0 (-)<br>
        <div class='b-total'>
          TOTAL PEMBAYARAN: <font color='red'>Rp {{ grossTotal | number }}</font>
        </div>
      
      </div>
  </div> -->


</div>

<!-- <div class="ui grid center aligned">
  <div class="sixteen wide column">
    <button class="positive ui button" (click)="finishOrder()">Finish Order</button>
  </div>
</div> -->


<div class="ui grid">
    <div class="left floated left aligned eight wide column">
        <button class="ui left labeled icon button green" (click)="prev()">
            <i class="chevron left icon"></i>
            Previous
        </button>
    </div>
    <div class="right floated right aligned eight wide column">
        <button class="ui right labeled icon button facebook" (click)="finishOrder()">
            Finish Order
            <i class="right chevron icon"></i>
        </button>
    </div>
</div>