<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">
      <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
              <div class="title">Your Cart</div>
              <div class="description">List keranjang belanja Anda</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Shipping & Billing</div>
            <div class="description">Masukan informasi shipping & billing</div>
          </div>
        </div>
        <div class="completed step">
            <div class="content">
              <div class="title">Payment Method</div>
              <div class="description">Metode pembayaran & ongkos kirim</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Finish Order</div>
            <div class="description">Finish & show order details</div>
          </div>
        </div>
      </div>

  </div>
</div>
<p>Dibawah ini adalah detail order Anda. Pastikan data dibawah ini sudah benar sebelum Anda lakukan Finish Order. Jika detail order sudah dianggap benar klik tombol <b>Finish Order</b> untuk menyelesaikan order Anda.</p>
<div class="ui two column grid">
  <div class="column"><h2>Shipping</h2></div>
  <div class="column"><h2>Billing</h2></div>
</div>

<div class="ui grid">
  <div class="two column row">
    <div class="column">
      <div class="ui segment">
        <p><strong>Nama:</strong> Dewa Awan</p>
        <p><strong>Email:</strong> dewa@yahoo.com</p>
        <p><strong>Alamat:</strong> Jalan Ahmad Dahlan, Jakarta Selatan.</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p><strong>Nama:</strong> Dewa Awan</p>
        <p><strong>Email:</strong> dewa@yahoo.com</p>
        <p><strong>Alamat:</strong> Jalan Ahmad Dahlan, Jakarta Selatan.</p>
      </div>
      
    </div>
    
  </div>
</div>



<div class='b-cart'>
<div class="row animated rollIn">
    <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
          <tr>
            <th>Image</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Sub Total</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td class="valTd" data-title="Image">
            <img class="ui tiny image" src='/assets/img/noimage.png'>
          </td>
          <td class="valTd" data-title="Nama">
            Komputer
          </td>
          <td class="valTd text-right" data-title="Harga">
            Rp.10.000.000
          </td>
          <td class="valTd text-right" data-title="Jumlah">
            1
          </td>
          <td class="valTd text-right" data-title="Sub Total">Rp.10.000.000</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>  
<div class='b-tot-cart'>TOTAL: Rp.10.000.000</div>
</div>

<div class='bg-rinci'>
<div class="ui grid">
    <div class="ten wide column">
      

        <div class="ui grid">
          <div class="four wide column">
            <b>Matode Pembayaran</b><br><br>
            Transfer Bank: BCA
          </div>
          <div class="four wide column">
            <b>Ongkos Kirim</b><br><br>
            Kurir Pengiriman: JNE<br>
            Paket Pengiriman: Regular<br>
            Ongkos Kirim: Rp.20.000

          </div>
          <div class="four wide column">
            <b>Kode Promo</b><br><br>
            Nilai Potongan Kode Promo: Rp.0
          </div>
        </div>  

  



    </div>
    <div class="six wide column"><b>Rincian</b><br><br>
      Total Belanja: Rp.10.000.000 (+)<br>
      Ongkos Kirim: Rp.20.000 (+)<br>
      Potongan: Rp.0 (-)<br>
      <div class='b-total'>
        TOTAL PEMBAYARAN: <font color='red'>Rp.10.020.000</font>
      </div>
    
    </div>
</div>

</div>

<div class="ui grid">
  <div class="left floated left aligned eight wide column">
      <button class="ui left labeled icon button green" (click)="prev()">
        <i class="chevron left icon"></i>
        Previous
      </button>
  </div>
  <div class="right floated right aligned eight wide column">
      <button class="ui right labeled icon button green" (click)="finish()">
        Finish
        <i class="right chevron icon"></i>
      </button>
  </div>
</div>  