<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">
      <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
              <div class="title">Your Cart</div>
              <div class="description">List keranjang belanja Anda</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Shipping & Billing</div>
            <div class="description">Masukan informasi shipping & billing</div>
          </div>
        </div>
        <div class="completed step">
            <div class="content">
              <div class="title">Payment Method</div>
              <div class="description">Metode pembayaran & ongkos kirim</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Finish Order</div>
            <div class="description">Finish & show order details</div>
          </div>
        </div>
      </div>

  </div>
</div>
<p>Dibawah ini adalah detail order Anda. Pastikan data dibawah ini sudah benar sebelum Anda lakukan Finish Order. Jika detail order sudah dianggap benar klik tombol <b>Finish Order</b> untuk menyelesaikan order Anda.</p>
<div class="ui two column grid">
  <div class="column"><h2>Shipping</h2></div>
  <div class="column"><h2>Billing</h2></div>
</div>

<div class="ui grid">
  <div class="two column row">
    <div class="column">
      <div class="ui segment">
        <p><strong>{{ shippingAddress.name }} - {{ shippingAddress.phone }}</strong><br>
          {{ shippingAddress.address }}<br>
          {{ shippingAddress.districtName }}, {{ shippingAddress.cityName }}, {{ shippingAddress.postal }}<br>
          {{ shippingAddress.regionName }} - {{ shippingAddress.countryName }}<br>
        </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p><strong>{{ billingAddress.name }} - {{ billingAddress.phone }}</strong><br>
          {{ billingAddress.address }}<br>
          {{ billingAddress.districtName }}, {{ billingAddress.cityName }}, {{ billingAddress.postal }}<br>
          {{ billingAddress.regionName }} - {{ billingAddress.countryName }}<br>
        </p>
      </div>
      
    </div>
    
  </div>
</div>



<div class='b-cart'>
<div class="row animated rollIn">
    <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
          <tr>
            <th>Image</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Sub Total</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td class="valTd" data-title="Image">
            <img class="ui tiny image" [src]="item.product.imageurl" style="margin: 0 auto;">
          </td>
          <td class="valTd" data-title="Nama">
              {{ item.product.name }}
          </td>
          <td class="valTd text-right" data-title="Harga">
            Rp {{ item.product.pricelist | number }}
          </td>
          <td class="valTd text-right" data-title="Jumlah">
            {{ item.quantity }}
          </td>
          <td class="valTd text-right" data-title="Sub Total">Rp {{ item.totalCost | number }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>  
<div class='b-tot-cart'>TOTAL: Rp {{ itemsTotal | number }}</div>
</div>

<div class='bg-rinci'>
<div class="ui grid">
    <div class="ten wide column">
      

        <div class="ui grid">
          <div class="four wide column">
            <b>Matode Pembayaran</b><br><br>
            Transfer Bank: BCA
          </div>
          <div class="four wide column">
            <b>Ongkos Kirim</b><br><br>
            Kurir Pengiriman: {{ freightRate.shipperName }}<br>
            Ongkos Kirim: Rp {{ deliveryTotal | number }}
          </div>
          <div class="four wide column">
            <b>Kode Promo</b><br><br>
            Nilai Potongan Kode Promo: Rp.0
          </div>
        </div>  

    </div>
    <div class="six wide column"><b>Rincian</b><br><br>
      Total Belanja: Rp {{ itemsTotal | number }} (+)<br>
      Ongkos Kirim: Rp {{ deliveryTotal | number }} (+)<br>
      Potongan: Rp.0 (-)<br>
      <div class='b-total'>
        TOTAL PEMBAYARAN: <font color='red'>Rp {{ grossTotal | number }}</font>
      </div>
    
    </div>
</div>

</div>

<div class="ui grid">
  <div class="left floated left aligned eight wide column">
      <button class="ui left labeled icon button green" (click)="prev()">
        <i class="chevron left icon"></i>
        Previous
      </button>
  </div>
  <div class="right floated right aligned eight wide column">
      <button class="ui right labeled icon button green" (click)="finish()">
        Finish
        <i class="right chevron icon"></i>
      </button>
  </div>
</div>  