<div class="ui breadcrumb">
        <a class="section">Beranda</a>
        <i class="right angle icon divider"></i>
        <a class="section">Layanan Purna Jual</a>
      </div>
      <hr>
      <div class="gap-between-elements"></div>
      <h3>Layanan Purna Jual Belisada.co.id</h3>
      <div class="wrapper">
            <div>
             <strong>I. Bentuk Layanan Purna Jual</strong>
             <div class="gap-between-elements"></div>
             <span>B    erikut ini merupakan bentuk ketersedian layanan purna jual
                 yang dilakukan Belisada.co.id
             </span>
             <div class="gap-between-elements"></div>
             <table border=0>
                 <tr>
                     <td>  <img src="/assets/img/xz.jpg" class="vp" border="0"/></td>
                     <td>Dukungan Teknis</td>
                 </tr>
                 <tr>
                    <td><img src="/assets/img/xck.jpg" class="vp" border="0"/></td>
                    <td>Informasi suku cadang/spare part</td>
                 </tr>
                 <tr>
                        <td><img src="/assets/img/xxl.jpg" class="vp" border="0"/></td>
                        <td>Dukungan garansi resmi</td>
                     </tr>
             </table>
             <div class="gap-between-elements"></div>
             <strong>II. Jam Operasional Layanan Purna Jual</strong>
             <span>Belisada.co.id melakukan kegiatan layanan purna-jual pada hari
                 dan jam operasional sebagai berikut:
                 <table>
                     <tr>
                         <td>Senin-Jumat</td>
                         <td>: 08.00 WIB - 17.00 WIB</td>
                     </tr>
                     <tr>
                         <td>Sabtu, Minggu dan hari libur nasional</td>
                         <td>: libur</td>
                     </tr>
                 </table>
                 <div class="gap-between-elements"></div>
                 <strong>III. Infromasi Lokasi Layanan Purna Jual</strong>
                 <table>
                     <tr>
                         <td>Belisada.co.id</td>
                     </tr>
                     <tr>
                         <td>Jl. Kesehatan Raya 60 O-P</td>
                     </tr>
                     <tr>
                         <td>021-3502099</td>
                     </tr>
                     <tr>
                         cs@belisada.co.id
                     </tr>
                 </table>
                 <div class="gap-between-elements"></div>
                <strong>IV. Ketentuan Layanan Purna Jual</strong>
                <div class="gap-between-elements"></div>
                <span>Produk akan mengalami pembatalan garansi atau tidak mendapatkan layanan
                    purna-jual dengan kondisi sebagai berikut :
                </span>
                <div class="gap-between-elements"></div>
                <span>1. Produk sudah habis terpakai seperti tinta, baterai dan produk sejenis</span>
                <div class="gap-between-elements"></div>
                <span>2. Segel garansi sudah copot atau rusak</span>
                <div class="gap-between-elements"></div>
                <span>3. Tidak dapat menyertakan buktu pembelian di belisada.co.id atau nomor
                    serial produk tidak terdaftar pada data transaksi di belisada.co.id
                    Pembelian produk diluar website belisada.co.id
                </span>
                <div class="gap-between-elements"></div>
                <span>
                   4. kelalaian pelanggan baik secara sengaja maupun tidak sengaja yang mengakibatkan
                    kerusakan seperti modifikasi, kerusakan akibat pemakaian (terjatuh,terkena cairan,hilang
                    dll), ketidakstabilan aliran listrik, serangan virus,kerusakan pemakaian perangkat tambahan,
                    kesalahan instalasi perangkat lunak/software, dan telah diperbaiki ditempat lain
                </span>
             </span>
             <div class="gap-between-elementsiiii"></div>
            </div>
            <div style="height:432px;">
                <img src="/assets/img/vv.jpg" class="vp1" border="0"/>
                <div class="wrapper777">
                        <div  style="width:600px;">
                            <img src="/assets/img/x.jpg" class="vp9" border="0"/>
                        </div>

                      </div>
            </div>
            <div style="height:300px;">
            <div class="gap-between-elementsiii"></div>
             <span>Hubungi Layanan Purna Jual Kami. Gratis</span>
             <form class="ui form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
             <table>
                 <tr>
                     <td> <input type="text" placeholder="subjek..." [(ngModel)]="issue" #_issue="ngModel" [ngModelOptions]="{standalone: true}" required min="0" max="16">
                        <!-- <div *ngIf="!_issue.valid" class="ui pointing red basic label">No Rek Is Required</div> -->
                    </td>
                     <td> <input type="email" placeholder="alamat email..." [(ngModel)]="email" #_email="ngModel" [ngModelOptions]="{standalone: true}" required min="0" max="16"></td>
                     <!-- <div *ngIf="!_email.valid" class="ui pointing red basic label">kamrp</div> -->
                    </tr>
                 <tr>
                        <td> <input type="text" placeholder="nama..." [(ngModel)]="name" #_name="ngModel" [ngModelOptions]="{standalone: true}" required></td>
                        <!-- <div *ngIf="!_name.valid" class="ui pointing red basic label">kamrp</div> -->
                        <td> <input type="text" placeholder="no telpon..." [(ngModel)]="phone" #_phone="ngModel" [ngModelOptions]="{standalone: true}" required></td>
                        <!-- <div *ngIf="!_phone.valid" class="ui pointing red basic label">kamrp</div> -->
                    </tr>
                    <tr>
                            <td> <input type="text" placeholder="order id..." [(ngModel)]="orderNumber" #_orderNumber="ngModel" [ngModelOptions]="{standalone: true}" required></td>
                            <!-- <div *ngIf="!_orderNumber.valid" class="ui pointing red basic label">kamrp</div> -->
                            <td> <input type="text" placeholder="perusahaan..." [(ngModel)]="company" [ngModelOptions]="{standalone: true}" required></td>
                        </tr>
                        <tr>
                            <td colspan=2><textarea class="textA" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" required></textarea></td>
                        </tr>

             </table>

            </form>
             <button class="fluid ui button textB" (click)="poerna()"
             [disabled]="!f.valid"
             >Kirim</button>
             <div class="gap-between-elementsiii"></div>


            </div>

          </div>


