@import 'rwd/gridtools';

.navigation {
    grid-area: navigation;
}

.left-image {
    grid-area: left-image;
}

.main {
    grid-area: main;
}
.see-all-footer {
    grid-area: see-all-footer;
}
.agreement {
    grid-area: agreement;
}
.copyright {
    grid-area: copyright;
}

.bs.container.home {
    display: grid;
    background-color: #fff;
}

@media screen and (min-width: 426px) {
    .bs.container.home {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            "navigation navigation navigation"
            ". main ."
            "footer footer footer"
    }

    .header {
        grid-area: header;

        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header1 header1 header1"
            "header2 header2 header2"
            "header3 header3 header3"
    }

    .right-nav-column {
        display: grid;
        grid-area: right-nav-column;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1em;
    }
    .category2 {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 1em;
        grid-template-areas:
            "left-image right-nav-column";
    }

    .footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "topfooter topfooter topfooter"
        ". services ."
        ". sitemap-footer ."
        ". features ."
        ". see-all-footer ."
        ". agreement ."
        ". copyright .";
    }
    .top-footer {
        grid-area: topfooter;
    }
    .services {
        display: grid;
        grid-area: services;
        grid-gap: 1em;
        margin-bottom: 2em;

        h3 {
            grid-column: 1 / 6;
        }
    }
    .sitemap-footer {
        display: grid;
        grid-area: sitemap-footer;
        grid-gap: 1em;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 2em;
    }
    .features {
        display: grid;
        grid-area: features;
        grid-gap: 1em;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 425px) {
    .ui[class*="left action"].input>input {
        border: 1px solid rgba(34,36,38,.15)!important;
        border-radius: .28571429rem!important;
        margin-top:32px;
    }
    .result-container{
        margin-top: 74px !important;
        margin-left: 2px !important;
    }
    .iconsearch {
        margin-top: 18px !important;
    }
    .mid-header-container {
        position: absolute;
        top: 100px;
        width: 100%;
        padding: 5px 10px!important;
    }
    .search-by-category {
        grid-area: search-by-category;
    }
    .bs.container.home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "navigation"
            "search-by-category"
            "main"
            "footer"
    }

    .main {
        padding: 0 10px;
        margin-top: 55px;
    }

    .left-image {
        display: none;
    }
    .right-nav-column {
        display: grid;
        grid-area: right-nav-column;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .border-nav:last-child {
        grid-column: 1/3;
    }
    .category2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-template-areas:
            "right-nav-column";
    }

    .footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "topfooter"
            "services"
            "sitemap-footer"
            "features"
            "see-all-footer"
            "agreement"
            "copyright";
    }

    .services {
        display: grid;
        grid-area: services;
        grid-row-gap: 1em;
        grid-template-columns: 1fr;
        margin-bottom: 2em;

        h3 {
            grid-column: 1;
        }
        div {
            grid-column: 1;
        }
    }
    .sos ul {
        margin: 0 auto!important;
    }
    .pay ul {
        margin: 0 auto!important;
    }
    .ship ul {
        margin: 0 auto!important;
    }
    .sitemap-footer {
        display: grid;
        grid-area: sitemap-footer;
        grid-row-gap: 1em;
        grid-template-columns: 1fr;
        margin-bottom: 2em;
        text-align: center;
    }
    .features {
        display: grid;
        grid-area: features;
        // grid-gap: 1em;
        grid-template-columns: 1fr;
        margin-bottom: 2em;
        text-align: center;
    }
}
