<div class="ui pointing dropdown button fluid center aligned" suiDropdown>
    <div class="text">Menu Seller</div>
    <i class="dropdown icon"></i>
    <div class="menu" suiDropdownMenu>
        <div class="item" (click)="editProfile()" class="item">Profile</div>
        <div class="item" (click)="goDashboard()" class="item" translate>user.seller.one</div>
        <div class="item" (click)="goKontak()" class="item" translate>user.seller.two</div>

        <div class="item" (click)="goPaymentInfo()" class="item" translate>user.seller.three</div>
        <div class="item" (click)="goToProduct()" class="item" translate>user.seller.four</div>

        <div class="item" (click)="goSallesReport()" class="item" translate>user.seller.five</div>
        <div class="item" (click)="goFaqSeller()" class="item" translate>user.seller.nine</div>
    </div>
  </div>