<div class="gap-between-elements"></div>
<div class="header-seller-center">
    <div class="caption">
        <em>Hai, </em>Ingin menghasilkan omset jutaan rupiah?
    </div>
</div>
<app-m-inbox></app-m-inbox>
<hr>
<div class="gap-between-elements"></div>
<body class='bg-buyer-layout'>
    <div class="ui container">
        <div class="ui grid">

            <div class="three wide column">
                <app-m-sidebar></app-m-sidebar>
            </div>
            <div class="thirteen wide column">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <router-outlet></router-outlet>
                    </div>
                    <div class="sixteen wide column">
                        <div class="ui grid">
                            <div class="sixteen wide column">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 
<div class="need-help-wrapper">
    <div class="need-help-title-wrapper">
        <p class="need-help-title">Butuh bantuan lain? Hubungi Customer Care kami</p>
    </div>

    <div></div>
    <div class="footer-item-container">
        <div><img class="ui image icon-footer" src="/assets/img/icons/phone-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Kami siap membantu Anda</span>
            <a href="tel:+62213453533">021 - 34 535 33</a>
        </div>
    </div>
    <div class="footer-item-container">
        <div><img class="ui image icon-footer" src="/assets/img/icons/envelope-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Kami akan membalas email Anda sesegera mungkin</span>
            <a href="mailto:cs@belisada.co.id">cs@belisada.co.id</a>
        </div>
    </div>
    <div class="footer-item-container remove-border-right">
        <div><img class="ui image icon-footer" src="/assets/img/icons/chatting-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Chat langsung dengan Customer Care kami</span>
            <a href="">Live Chat</a>
        </div>
    </div>
    <div></div>
</div> -->