<p>Anda bisa menutup toko sementara sesuai dengan batas waktu yang diinginkan. Selama toko ditutup produk-produk Anda tidak akan ditampilkan pada halaman website belisada.</p>
	<div class="ui tiny form">
		<div class="two fields">
			<div class="field">
				<label>Tanggal Mulai (format: tanggal/bulan/tahun)</label>
				<input placeholder="First Name" type="date">
			</div>
			<div class="field">
				<label>Tanggal Berakhir (format: tanggal/bulan/tahun)</label>
				<input placeholder="Last Name" type="date">
			</div>
		</div>

		<div class="field">
			<label>Keterangan</label>
			<textarea></textarea>
		</div>

    <div class="ui submit button">Proses Tutup</div>
    
  </div>

