<section class="footer">

    <div class="sticky" *ngIf="isLogin" (click)="alertChat()">
        <a>
            <span class="square"><fa-icon [icon]="['fas', 'comments']"></fa-icon></span> Chat dengan seller
        </a>
    </div>

    <div class="container-fluid noPadding">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-md-6 inline">
                        <img src="/assets/img/icon-subscribe.png" alt="">
                        <label class="footer__signup">Sign up For Newsletter</label>
                    </div>
                    <div class="col-md-6">
                        <form class="form-subscribe" (ngSubmit)="subscribe()">
                            <div class="form-subscribe__wrapper pull-right">
                                <input type="text" class="form-subscribe__input" [formControl]="subscribe_email" placeholder="Enter your email address">
                                <span class="form-subscribe__delimiter"></span>
                                <button class="form-subscribe__button" type="submit">Subscribe</button>
                            </div>
                            <!-- <div *ngIf="subscribe_email.dirty && subscribe_email.invalid">
                                <span class="tooltiptext">Harap masukan format email dengan benar</span>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__main">
            <div class="container">
                <div class="row">
                    <div class="col-md-5r marginLeft">
                        <img src="/assets/img/logo.png" alt="">
                        <h2 class="sitemap__description">Situs jual beli online terbaru yang mengutamakan layanan setelah pembelian.</h2>
                        <div class="sitemap__contact">
                            <h2>Follow Us</h2>
                            <div class="sitemap__social">
                                <a href="https://www.instagram.com/belisada.id/" target="_blank">
                                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                </a>
                                <a href="https://www.facebook.com/BelisadaID/" target="_blank">
                                    <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/channel/UCWik31OGzo8BB0-IjbPwtLA" target="_blank">
                                    <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5r marginLeft">
                        <div class="sitemap__title">
                            <h2>Information</h2>
                        </div>
                        <ul class="sitemap__list">
                            <li><a [routerLink]="['/account/terms-conditions']">Terms & Conditions</a></li>
                            <li><a [routerLink]="['/']">Brands</a></li>
                            <li><a [routerLink]="['/faq']">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5r">
                        <div class="sitemap__title">
                            <h2>User Menu</h2>
                        </div>
                        <ul class="sitemap__list">
                            <li><a [routerLink]="['/buyer/profile']">My Account</a></li>
                            <li><a [routerLink]="['/buyer/order']">Order History</a></li>
                            <li>
                                <a href="{{baseUrlSeller}}/auth/sign-in?token={{this.token}}" *ngIf="userData?.role !== 2; else upgradeAccount">Seller Page</a>
                                <ng-template #upgradeAccount>
                                    <a class="link linkJual" (click)="goToCreateStore()">Become a Seller</a>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5r">
                        <div class="sitemap__title">
                            <h2>Customer Service</h2>
                        </div>
                        <!-- <ul class="sitemap__list">
                            <li><a [routerLink]="['/']">Contact Us</a></li>
                        </ul> -->
                        <div class="sitemap__contact">
                            <!-- <h2>Question?</h2>
                            <a class="contactUs" [routerLink]="['/contact-us']">Contact Us</a> -->
                            <h2>Email:</h2>
                            <a class="contactUs" href="mailto:cs@belisada.co.id">cs@belisada.co.id</a>
                        </div>
                    </div>
                    <!-- <div class="col-md-5r">
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer__bottom u-margin-top-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 verticalMiddle">
                    <a [routerLink]="['/']">
                        <img class="verticalCenterContainer" src="/assets/img/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-4 text-center verticalMiddle">
                    <h1 class="verticalCenterContainer">&copy; Belisada 2019</h1>
                </div>
                <div class="col-md-4 text-right verticalMiddle">
                    <button class="btn btn--blue verticalCenterContainer" [routerLink]="['/faq']"><fa-icon [icon]="['fas', 'question-circle']"></fa-icon> Frequently Asked Question</button>
                </div>
                <div class="col-md-4 text-right verticalMiddle">
                    <button class="btn btn--blue verticalCenterContainer">Bahasa Indonesia</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="wrapper--orange">
        <div class="container">
            <div class="row">
                <div class="col-3 wrapper--orange--text__phone">
                        <fa-icon [icon]="['fas', 'phone']"></fa-icon> &nbsp;
                        <span>021 - 2938171</span>
                </div>
                <div class="col-3 wrapper--orange--text__phone">
                        <fa-icon [icon]="['fas', 'envelope']"></fa-icon> &nbsp;
                        <span>cs@belisada.co.id</span>
                </div>
                <div class="col-3 wrapper--orange--text__phone">FAQ</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper__mid--foter">
                    <span class="text__wrapper--mid--footer">Lets Keep in touch</span>
                    <span class="span--recomend">Get recomendations, tips, updates, promotions and more</span>
                    <div class="col-lg-4 col-md-12 wrapper--form">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <ul class="menuList">
                    <li> <span class="first__span">Get To Know</span></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Term & Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <ul class="menuList">
                    <li> <span class="first__span">Layanan Penjual</span></li>
                    <li><a href="">Jualan di Belisada</a></li>
                    <li><a href="">Ketentuan Menjadi Seller</a></li>
                    <li><a href="">Legal Use</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <ul class="menuList">
                    <li> <span class="first__span">Follow Us</span></li>
                    <li>
                        <a href="https://www.facebook.com/BelisadaID/">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/BelisadaID/">
                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/belisada.id/">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon> Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <ul class="menuList">
                    <li> <span class="first__span">Pembayaraan</span></li>
                    <li><img src="http://storage.googleapis.com/root-beacon-139910.appspot.com/profile/d5bb8876-977d-4f4e-a88a-913d14d53e14.png" width="25%"></li>
                </ul>
                <ul class="menuList">
                    <li> <span class="first__span">Pengiriman</span></li>
                    <li><img src="https://cdn.belisada.id/imageproductbrand/e17e9007-022e-406b-923c-66982daa0ace.jpeg" width="25%"></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <ul class="menuList">
                    <li> <span class="first__span">Download Apps</span></li>
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/img/barcode.png" width="70px">
                        </div>
                        <div class="col-6">
                            <img src="assets/img/gplayyyy.png" width="70px">
                            <img src="assets/img/appsStore.png" width="70px">
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="center">
        Copyright © 2018 belisada.co.id. All Rights Reserved.
    </div> -->
</section>