.sidebar {
    .img-wrapper {
        margin-bottom: 2em;

        img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            transition-duration: .25s;
        }

        img:hover {
            cursor: pointer;
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
    }
}