<div class="ui vertical menu">
    <a class="item">

            <a routerLink="/seller-center/Why-Choose-Us" class="menu-top-side">Kenapa belisada ?</a>
    </a>
    <a class="item">
            <a routerLink="/seller-center/berjualan-dibelisada" class="menu-top-side">Berjualan dibelisada</a>
    </a>
    <a class="item">
            <a routerLink="/seller-center/cara-Berjualan" class="menu-top-side">Cara Berjualan</a>
    </a>
    <a class="item">
            <a routerLink="/seller-center/ASAP-by-belisada" class="menu-top-side">ASAP by Beli</a>
    </a>
  </div>
