<div class="contain-order">

	<span [ngClass]="(tabOrder=='tabInformation')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('tabInformation')">Informasi Anda</span> 
	<span [ngClass]="(tabOrder=='tabShipping')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('tabShipping')">Alamat Pengiriman</span>
	
	<div class="frame-order">
	<app-profile-information *ngIf="tabOrder=='tabInformation'"></app-profile-information>
	<app-shipping-address *ngIf="tabOrder=='tabShipping'"></app-shipping-address>
	</div>

</div>
	