.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.img-upload{
    margin-bottom:10px;
}

.btn-color{
    color: #000000;
}

.btn-browse{
    border: 1px solid #ed7425;
    border-radius:5px;
    color: #111111;
    background: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.btn-browse:hover{
    background: #f18f0d;
}