
<div class="gap-between-elements"></div>
<div class="wrapper">
    <div class="header-search">> HASIL PENCARIAN SAMSUNG</div>
    <div class="sidebar-search">Category</div>
    <div class="main-search">
        <div class="filter">
            Items 1 to 10 of 638
            <div>
                Tampilan
            </div>
            <div>
                    <span>Atur Berdasarkan : </span>
                    <sui-select class="selection"
                    [(ngModel)]="selectedOption"
                    [options]="options"
                    labelField="name"
                    [isSearchable]="searchable"
                    [isDisabled]="disabled"
                    #select>
                    <sui-select-option *ngFor="let option of select.filteredOptions"
                    [value]="option">
                    </sui-select-option>
                    </sui-select>

            </div>
        </div>
        <div class="search-results" *ngFor="let item of         productSearchResault.productList">
            <div class="prodimg"><img class="ui medium image" src="{{item.imageurl}}"></div>
            <!-- <div class="clear-fix"></div> -->
            <div class="highlight"><strong>{{item.name}}</strong>
            <ul>
                <li>asdsad</li>
                <li>asdasdsa</li>
                <li>asdasdsad</li>
            </ul>
            </div>
            <div class="price pricelist">Rp {{item.pricelist | number}}<br/>
                    <span class="yu"><i class="info circle icon"></i>Stok Tersedia</span>
            </div>

            <!-- <div class="clear-fix"></div> -->
        </div>
    </div>
    </div>

