.doteed{
    border-top: dotted 3px;
}
.bawah{
    padding-top: 30px;
}
.bawa2{
    margin-top:17px;
}
.ui.button{
    background: #f2f2f2;
}
.meyah{
    color: red;
}
.pricelist{
    color: #8a0202;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.6em;
}
.yu{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10pt;
    color: #4ba240;
}
.yu3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10pt;
    color:skyblue;
}
.yu1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10pt;
    color: black;
}
.zxc{
    color: transparent;
}