
<div class="gap-between-elements"></div>
<div class="wrapper">
    <div class="header-search gap-between-elements" ><p *ngIf="keys !== undefined">HASIL PENCARIAN <b>"{{ keys }}"</b></p></div>

    <div class="sidebar-search">Category
        <i class="plus icon kanan"></i>
        <hr>
        <p>Price  <i class="plus icon kanan"></i></p>
        <hr>
        <p> Brand <i class="plus icon kanan"></i> </p>
        <hr>
    </div>
    <div class="main-search" [ngClass]="listStyleType">
        <ul class="filter">
            <li>Items {{start + 1}} to {{end}} of {{total}}</li>
            <li>
                Tampilan
                <i class="list layout icon" (click)="listStyle('list-row')"></i>
                <i class="grid layout icon" (click)="listStyle('list-grid')"></i>
            </li>
            <li class="sort-filter">
                <span>Atur Berdasarkan : </span>
                <sui-select class="selection"
                [(ngModel)]="selectedOption"
                [options]="options"
                labelField="name"
                [isSearchable]="searchable"
                [isDisabled]="disabled"
                #select>
                <sui-select-option *ngFor="let option of select.filteredOptions"
                [value]="option">
                </sui-select-option>
                </sui-select>

            </li>
        </ul>
        <!-- <p class="text-center" *ngIf="loading === true">loading</p> -->
        <p class="text-center" *ngIf="loading === false && total === 0">Tidak Ada Produk</p>
        <div class="ui active centered inline loader" *ngIf="loading === true">
                <div class="ui small text loader">Loading</div>
              </div>
              <p></p>

        <div class="search-results" *ngFor="let item of productSearchResault.productList">

            <div class="prodimg">
                 <img class="ui medium image" src="{{item.imageurl}}" onError="this.src='/assets/img/no-image.png'"></div>
            <!-- <div class="clear-fix"></div> -->
            <div class="highlight">
                <a (click)="detail(item.productId, item.aliasName)" class="item" style="cursor: pointer;"> <strong>{{item.name}}</strong></a>

            <p [innerHTML]="item.highlight | sanitizeHtml"></p>
            </div>
            <div class="price pricelist">Rp {{item.pricelist | number}}<br/>
                <div class="yu"><i class="info circle icon"></i>Stok Tersedia</div>
                <!-- <span class="yu">di Jual oleh</span> <span class="yu3">Samsung</span> -->
                <sui-rating class="star" [ngModel]="3" [maximum]="5"></sui-rating>
            </div>

            <!-- <div class="clear-fix"></div> -->
        </div>

        <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage - 1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage + 1)" [ngClass]="{disabled:currentPage == lastPages}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPages)" [ngClass]="{disabled:currentPage == lastPages}">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

