.wrapper{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas:
    "header-search header-search"
    "sidebar-search main-search";
    grid-gap: 1em;
}
.filter{
    padding: 0;
    height: 40px;
    list-style-type: none;
    margin: 0 0 15px;
}
.filter li {
    float: left;
    line-height: 38px;
    padding: 0 15px;
}
.filter li.sort-filter {
    float: right;
}
.list-grid i.list:hover, .list-row i.grid:hover {
    cursor: pointer;
    color: #469fe0;
}
.list-grid .search-results {
    width: 25%;
    display: inline-grid;
    padding: 10px;
}

.list-grid .prodimg img{
    height: 180px;
}

.search-results:after {
    display: block;
    height: 6px;
    clear: both;
    content: '';
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.list-row .search-results {
    clear: both;
}
.list-row .prodimg {
    text-align: center;
    width: 200px;
    float: left;
}
.list-row .prodimg img{
    height: 180px;
}

.list-row .pricelist {
    width: 200px;
    float: right;
}
.pricelist {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.6em;
    color: #8a0202;
    text-align: center;
    padding: 15px 0;
}
.prodimg {
    // grid-area: prodimg;
}
.highlight {
    float: left;
    padding: 10px 0px;
    height: 220px;
    // grid-area: highlight;
}
.price {
    // grid-area: price;
}
.search-results {
    // display: grid;
    // grid-template-columns: 200px auto 200px;
    // grid-template-rows: auto;
    // grid-gap: 1em;
    // grid-area: search-results;
}
.kanan {
    float: right;
    color: red
}
.yu{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 8pt;
    color: #4ba240;
}
.header-search {
    grid-area: header-search;
}
.sidebar-search {
    grid-area: sidebar-search;

    .accordion {
        border: 0;
        text-align: left;
        width: 100%;
        padding: .75em 1em;
        background-color: #fff;
        border-bottom: 1px solid #dddddd;

        i {
            float: right;
        }
    }
    .accordion:hover {
        cursor: pointer;
    }

    .panel {
        padding: .75em 1em;

        label:hover {
            cursor: pointer;
        }
    }

    // ul {
    //     list-style: none;
    //     padding: 0;
    //     margin: 0;

    //     li {
    //         padding: 1em 0;
    //         border-bottom: 1px solid #333;

    //         i {
    //             color: #FF9540;
    //             float: right
    //         }
    //     }
    // }
}
.main-search {
    position: relative;
    // grid-area: main-search;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto;
    // grid-gap: 1em;
    // grid-template-areas: "filter" "search-results"
}
.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #999;
    padding: 3px 10px;
    margin: 0 3px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}
