<div class="column">
    <div class="ui grid">


      <div class="sexteen wide column">


          <!-- <table class="ui striped table">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>SKU</th>
                  <th>Qty</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of productList | async">
                  <td>{{ list.name }}</td>
                  <td>{{ list.pricelist }}</td>
                  <td>{{ list. }}</td>
                  <td>{{ list.qty }}</td>
                  <td>{{ list.status }}</td>
                  <td><i class="search icon"></i></td>
                </tr>
              </tbody>
            </table> -->
      </div>
    </div>
  </div>
