<div class="column">
    <div class="ui grid">


      <div class="sexteen wide column">


          <!-- <table class="ui striped table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Order ID</th>
                  <th>Product</th>
                  <th>Qty</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of productList">
                  <td>{{ list.date }}</td>
                  <td>{{ list.orderId }}</td>
                  <td>{{ list.product }}</td>
                  <td>{{ list.qty }}</td>
                  <td>{{ list.status }}</td>
                  <td><i class="search icon"></i></td>
                </tr>
              </tbody>
            </table> -->
      </div>
    </div>
  </div>
