/* Button Global */

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: .1rem solid;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
	@include transition(0.2s ease-in-out); 
	text: {
		decoration: none;
	}
    cursor:pointer;
}

/* Themes */
.btn-green {
    $btn-color: btn-color("green");
    border-color: $btn-color;
	@include btn-theme($btn-color, $btn-text-color-light);
}

.btn-white {
    $btn-color: btn-color("white");
    border-color: $btn-text-color-dark;
    @include btn-theme($btn-color, $btn-text-color-dark);
}