/* Button Global */

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: 0;
    font-weight: 300;
    font-size: 1.2rem;
    cursor:pointer;
	text: {
        decoration: none;
    }
    &:focus {
        outline: 0;
    }
    // @include transition(0.2s ease-in-out);
    @include prefix((
        box-shadow: 0px 3px 6px 0px rgba($color-black, .15),
        transition: .2s ease-in-out
    ), webkit moz ms o);

    &.round {
        border-radius: 2rem;
    }
}


/* Themes */
.btn-blue-sky {
    $btn-color: btn-color("blue-sky");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-orange {
    $btn-color: btn-color("orange");
    @include btn-theme($btn-color, $btn-text-color-light);
}
// penambahan button disabled orange Wahyu
.btn-orange-disabled {
    cursor: not-allowed;
    $btn-color: btn-color("orange");
    @include btn-theme($btn-color, $btn-text-color-light);
}
// akhir dari penambahan button disabled wahyu
.btn-yellow {
    $btn-color: btn-color("yellow");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-green {
    $btn-color: btn-color("green");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-purple {
    $btn-color: btn-color("purple");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-blue {
    $btn-color: btn-color("blue");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-silver {
    $btn-color: btn-color("silver");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-ash {
    $btn-color: btn-color("ash");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-grey {
    $btn-color: btn-color("grey");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-navy {
    $btn-color: btn-color("navy");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-dark-grey {
    $btn-color: btn-color("dark-grey");
    @include btn-theme($btn-color, $btn-text-color-light);
}
.btn-black {
    $btn-color: btn-color("black");
    @include btn-theme($btn-color, $btn-text-color-light);
}

.btn-size-80 {
    width: 80%;
}
.btn-size-30 {
    width: 30%;
}

.btn-alert-ok {
    color: #000;
    background: #fff;
    padding:10px 40px 10px 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn-alert-ok:hover {
    color: #000;
    background: #ededed;
}

.btn-alert-cancel {
    color: #000;
    background: #f1c145;
    padding:10px 40px 10px 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn-alert-ok:hover {
    color: #000;
    background: #f8d375;
}

.input-group{
  display: table;
  border-collapse: collapse;
  width:100%;
}

.input-group > div{
  display: table-cell;
  border: 1px solid #ffffff;
  vertical-align: middle;  /* needed for Safari */
}

.input-group-icon{
  background:#eee;
  color: #777;
  padding: 0 12px
}

.input-group-area{
  width:100%;
}

.input-group input{
  border: 0;
  display: block;
  width: 100%;
  padding: 8px;
  background: transparent;
}

.cursor{
    cursor: pointer;
}

.b-white{
    border: 5px solid #ffffff;
    border-radius: 5px;
}