<div class="wrapper">
        <div>
        <img class="ui middle aligned small image" src="/assets/img/orangcumadacentangnya.jpg">
        <span class="para">Verifikasi Pembayaran Otomatis</span>
        </div>
        <div>
            <img class="ui middle aligned small image" src="/assets/img/l3l.jpg">
            <span class="para">Sistem Logistik yang Mudah</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/auah.jpg">
                <span class="para">Penjualan yang Bertumbuh</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/lel.jpg">
                <span class="para">Gratis Dan Bebas Komisi</span>
        </div>
        </div>
