<div class="wrapper">
        <div class="wrapper2">
        <div>
            <img class="ui middle aligned small image" src="/assets/img/orangcumadacentangnya.jpg">
            </div>
        <div>
                <span class="para kamp">Verifikasi Pembayaran Otomatis</span><br>
                Apabila pembelian produk oleh customer anda sudah terverifikasi maka Anda
                akan mendapatkan notifikasi atau pemberitahuan yang dapat Anda temukan pada
                 menu order.
        </div>
        </div>
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/l3l.jpg">
                    </div>
                <div>
                        <span class="para kamp">Sistem Logistik yang Mudah</span><br>
                        team logistik kami siap bekerja cepat & akurat untuk mengantar pesanan anda tepat waktu
                </div>
                </div>
        <!-- <div>
            <img class="ui middle aligned small image" src="/assets/img/l3l.jpg">
            <span class="para">Sistem Logistik yang Mudah</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/auah.jpg">
                    </div>
                <div>
                        <span class="para kamp">Penjualan yang Bertumbuh</span><br>
                        Kami menunjang penjualan anda dengan melakukan event & promo menarik yang
                        dapat menarik customer potensial untuk berbelanja di belisada.co.id


                </div>
                </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/auah.jpg">
                <span class="para">Penjualan yang Bertumbuh</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/lel.jpg">
                    </div>
                <div>
                        <span class="para kamp">Gratis Dan Bebas Komisi</span><br>
                        Nikmati berjualan gratis dengan zero commision di belisada.co.id


                </div>
                </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/lel.jpg">
                <span class="para">Gratis Dan Bebas Komisi</span>
        </div> -->
        </div>
