.component-centered {
    margin: 0 auto;
}

.promo-img-banner {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent no-repeat 50%;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity .7s;
}

.promo-grid-cell {
    box-sizing: border-box;
    padding: 3px;
    position: absolute;
}
.promo-grid-cell.banner1 {
    width: 50.00%;
    height: 100.00%;
    left: 0.00%;
    top: 0.00%;
}
.promo-grid-cell.banner2 {
    width: 25.00%;
    height: 100.00%;
    left: 50.00%;
    top: 0.00%;
}
.promo-grid-cell.banner3 {
    width: 25.00%;
    height: 100.00%;
    left: 75.00%;
    top: 0.00%;
}
.silver {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */


  }
  .silver:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

  }

.promo-grid-content {
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
}
.promo-grid {
    padding: 0 0 20%;
    position: relative;
}


.item-grid-container {
    padding: 0 0 28%;
    position: relative;
}
.grid-wrapper {
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
}
.grid-content-wrapper {
    background-color: #ffffff;
}
.item-img {
    margin: 0 0 3px;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    height: 200px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item-img img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
}

.item-product-info {
    padding: 0 10px 8px;
}

.item-product-title {
    margin: 0 0 3px 0;
    height: 36px;
    overflow: hidden;
    color: #615F6B;
    font-size: 1rem;
    font-weight: 400;
}

.item-product-price {
    color: #1CC0FF;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 5px 0;
}

.rating-text {

}

.lihat-semua {
    margin-bottom:30px;
}

.brand-favorit {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1em;
    margin-bottom:30px;
}

.top-category {
    display: grid;
}

.catalog-top-product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    padding: 1em;
}
.item-grid {
    display: grid;
    margin: 0;
    .item-img {
        height: 175px;
    }
}

.item-grid:hover .dimmer {
    opacity: 1;
    visibility: visible;
}

.dimmer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;

    .content {
        display: table;
        width: 100%;
        height: 100%;

        .container-middle {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
}

.group-button {
    position: absolute;
    top: .25em!important;
    right: 1em!important;
    z-index: 1000;

    i {
        font-size: 1.15em;
        margin: .75em 0;
        display: block;
        color: #666666;
        cursor: pointer;
    }
}

@media screen and (max-width: 425px) {
    .catalog-top-product {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .item {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 33.33% auto;
    }
    .item-grid {
        display: grid;
        margin: 0;
        grid-template-columns: 33.33% auto;
        .item-img {
            grid-column: 1;
            height: auto;
            padding: 0;
            margin: 0;
        }
    }
    .brand-favorit {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        margin-bottom:30px;
    }

    .promo-grid {
        padding: 0 0 40%;
        position: relative;
    }

    .promo-grid-cell.banner1 {
        width: 66.66%;
        height: 100.00%;
        left: 0.00%;
        top: 0.00%;
    }
    .promo-grid-cell.banner2 {
        width: 33.33%;
        height: 50.00%;
        left: 66.66%;
        top: 0.00%;
    }
    .promo-grid-cell.banner3 {
        width: 33.33%;
        height: 50.00%;
        left: 66.66%;
        top: 50.00%;
    }
}
