

<div class="ui center aligned segment" style='width:250px; margin:0px auto; margin-top:20px'>
    <h4 class="ui header" style='font-size:50px;margin-top:10px'><i class="address book icon"></i></h4>
    <h4 class="ui header" style='margin-top:-10px'>USERNAME</h4>
    <div class="ui left aligned segment">
      <p>batman@yah.com<br>
      0819999999<br>
      Basic Seller</p>
      <div class="ui center aligned basic segment">
        <button class="ui youtube button ">
          Edit Profile
        </button>
      </div>
    </div>
</div>

<div class="ui left aligned segment" style='width:250px; margin:0px auto; margin-top:20px'>
    <div class="ui link list">
      <div class="active item">Profile Saya</div>
      <a class="item">Kontak Pesan</a>
      <a class="item">Inventory</a>
      <a class="item">Product</a>
      <a class="item">Sales Report</a>
    </div>
</div>




