

<div class="ui left aligned segment">

  <div class="ui center aligned basic segment">
    <h4 class="ui header" style='font-size:50px;margin-top:10px'><i class="address book icon"></i></h4>
    <h4 class="ui header" style='margin-top:-10px'>USERNAME</h4>
  </div>

  <p>batman@yah.com<br>
  0819999999<br>
  Basic Seller</p>
  <div class="ui center aligned basic segment">
    <button class="ui youtube button" (click)="editProfile()">
      Edit Profile
    </button>
  </div>

  <div class="ui link list">
    <hr color='red' size='1'>
    <a routerLink="/seller/dashboard" class="active item">Dashboard</a>
    <a class="item">Kontak Pesan</a>
    <a class="item">Payment Info</a>
    <a class="item">Produk Report</a>
    <a class="item">Sales Report</a>
    <a class="item">Inventory</a>
    <hr color='red' size='1'>
    <a class="item">Courier Service</a>
    <a class="item">Payment Gateway</a>
    <a class="item">FAQ</a>
    <a class="item">myADS</a>
    <a class="item">Upgrade Account</a>
  </div>

</div>






