<div class="contain">

  <div class="contain__sub" *ngFor="let item of reviewBuyer.content">
    <div>
      <div class="contain__image">
        <img src="{{item.productImage}}" width="150">
      </div>

      <div class="contain__btn-detail" (click)="detail(item.productId, item.productName)">
        Lihat Detail
      </div>
    </div>
    <div class="contain__val">
      <div class="contain__val__com"> 
        <div class="img-av">
          <img src="{{item.imageAvatarUrl}}" width="80">
        </div>
        <div>
          <div class="contain__name">{{item.name}}</div>
          <div class="contain__com">{{item.message}}</div>
        </div>  
      </div>
    </div>
  </div>
  
</div>
