
      
      <h2 class="ui header">
          <i class="help circle icon"></i>
          <div class="content">
            FAQ
            <div class="sub header">Dibawah ini adalah aturan yang wajib dipenuhi oleh semua seller.</div>
          </div>
        </h2>
  
  
        <sui-accordion class="styled fluid">
          <sui-accordion-panel [isOpen]="true">
              <div title>
                  <i class="dropdown icon"></i>
                  First Panel
              </div>
              <div content>
                  <p>Add classes to the <code>sui-accordion</code> element to apply styles.</p>
              </div>
          </sui-accordion-panel>
          <sui-accordion-panel>
              <div title>
                  <i class="dropdown icon"></i>
                  Second Panel
              </div>
              <div content>
                  <p>Second panel content.</p>
              </div>
          </sui-accordion-panel>
        </sui-accordion>
  
  