<div class="floating-chat-container">
    <div class="chat-container" *ngIf="show" [@myAnimation]>
        <div class="chat-header text-center">
            <span class="cs-profile-name">Udin Seblak</span>
            <img class="cs-profile-picture pull-right" src="/assets/img/kristy.png" alt="image not found"/>
            <div class="clearfix"></div>
        </div>
        <div class="chat-content">
            <div class="chat-bubble receiver">
                <p class="chat-bubble-text">Hi Udin, how are you?</p>
                <span class="chat-bubble-time">2:25 PM</span>
            </div>
            <div class="chat-bubble sender">
                <p class="chat-bubble-text">Good thank you, how about you?</p>
                <span class="chat-bubble-time">2:26 PM</span>
            </div>
            <div class="chat-bubble receiver">
                <p class="chat-bubble-text">Good thank you, do you available for some work?</p>
                <span class="chat-bubble-time">2:27 PM</span>
            </div>
        </div>
        <div class="chat-footer">
            <div class="ui action input stretch fit-to-content">
                <input type="text" name="" id="" class="txt-chat" placeholder="Write your message" />
                <button class="btn-chat attach"><i class="attach icon"></i></button>
                <button class="btn-chat send"><i class="send icon"></i></button>
            </div>
        </div>
    </div>

    <a (click)="show = !show" class="float">
        <i class="talk icon my-float"></i>
    </a>
</div>