
<div class="floating-chat-container">
    <div class="chat-container">
        <div class="chat-header text-center">
            <span class="cs-profile-name">Udin Seblak</span>
            <img class="cs-profile-picture pull-right" src="/assets/img/kristy.png" alt="image not found"/>
            <div class="clearfix"></div>
        </div>
        <div class="chat-content">
            dfadsfad
        </div>
        <div class="chat-footer">
            <input type="text" name="" id="" class="txt-chat" placeholder="Write your message" />
            <i class="attach icon"></i>
            <button class="btn-send-chat"><i class="send icon"></i></button>
        </div>
    </div>

    <a class="float">
        <i class="talk icon my-float"></i>
    </a>
</div>