<p><a routerLink="/buyer/transaction-buyer" class="menu-top-side"><i class="angle double left icon"></i>Kembali</a></p>
<table class="ui very basic collapsing celled table">
    <thead>
      <tr><th>Tanggal Order</th>
      <th>Total Pembayaran</th>
      <th>Metode Pembayaran</th>
      <th>Order Number</th>
      <th>Status</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>
            09 Januari 2018 13:29:12 WIB
          </td>
          <td>
              Rp.229.500
          </td>
          <td>
              Bank Transfer
          </td>
          <td>
              ORD/09012018/22
          </td>
          <td>
              SHIPPING
          </td>

      </tr>
    </tbody>
  </table>

<form class="ui form">
  <!-- <div class="field">
    <div class="sixten wide field">
      <label>Order Number</label>
      <input name="card[number]" maxlength="16" placeholder="Card #" type="text">
    </div>
  </div> -->
  <p>Kirimkan bukti transfer Anda dengan meng-klik tombol <b>Upload Bukti Transfer</b> dibawah.</p>
  <div class="fields">
      <img class="ui middle aligned small image" src="{{userImageKTP}}" (load)="setCanvas($event, 'imageIDCard')" #imgKTP >
      <div class="upload-btn-wrapper">
          <button class="ui green button"><i class="cloud icon"></i> Upload Bukti Transfer</button>
          <input type="file" name="fileNpwp" (change)="setUrl($event, imgKTP)" />
      </div>
  </div>
  <button class="ui primary button">
    Kirim Konfirmasi
  </button>
</form>