<h1>Pendahuluan</h1>
<sui-accordion class="styled fluid">
        <sui-accordion-panel [isOpen]="true">
            <div title>
                <i class="dropdown icon"></i>
                1. Mengapa berjualan di Belisada?
            </div>
            <div content>
                <p>
                     Belisada merupakan platform marketplace yang
                     membantu anda meningkatkan omzet lebih untuk
                      toko anda.
                </p>
            </div>
        </sui-accordion-panel>
        <sui-accordion-panel>
            <div title>
                <i class="dropdown icon"></i>
                2. Siapa yang bisa berjualan di Belisada Indonesia?
            </div>
            <div content>
                <p>Semua orang yang memiliki KTP indonesia & memiliki rekening bank</p>
            </div>
        </sui-accordion-panel>
        <sui-accordion-panel>
                <div title>
                    <i class="dropdown icon"></i>
                    3. Bagaimana cara daftar menjadi seller di Belisada Indonesia?
                </div>
                <div content>
                    <p><a routerLink="/sign-up">Klik link ini </a></p>
                </div>
            </sui-accordion-panel>
            <sui-accordion-panel>
                    <div title>
                        <i class="dropdown icon"></i>
                        4. Apa saja syarat pendaftarannya?
                    </div>
                    <div content>
                        <ul>
                            <li>Soft copy KTP Anda</li>
                            <li>Soft copy dokumen akun Bank Anda (Buku Tabungan/ Laporan Bank)</li>
                        </ul>
                    </div>
                </sui-accordion-panel>
                <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            5. Bagaimana proses pendaftarannya?
                        </div>
                        <div content>
                            <ul>
                                <li>Klik Daftar → isi data kamu dengan lengkap → Verifikasi by email  → Done</li>
                                <!-- <li>Soft copy dokumen akun Bank Anda (Buku Tabungan/ Laporan Bank)</li> -->
                            </ul>
                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            6. Berapa lama waktu yang dibutuhkan untuk memproses pendaftaran saya sebagai seller baru?
                        </div>
                        <div content>
                                1x24 jam, tim kami akan melakukan verifikasi pada
                                akun Anda. Cek email secara berkala untuk memastikan
                                konfirmasi toko online Anda.
                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                            <div title>
                                <i class="dropdown icon"></i>
                                7. Berapa biaya yang dikenakan?
                            </div>
                            <div content>
                                FREE
                            </div>
                        </sui-accordion-panel>
                        <sui-accordion-panel>
                                <div title>
                                    <i class="dropdown icon"></i>
                                    8. Berapa banyak produk yang harus saya daftarkan sebelum live?
                                </div>
                                <div content>
                                        Ada harus input minimal 1 SKU agar toko kamu live.
                                </div>
                            </sui-accordion-panel>
    </sui-accordion>
    <h1>Mendaftarkan Produk & Pembuatan Konten</h1>
    <sui-accordion class="styled fluid">
        <sui-accordion-panel>
            <div title>
                <i class="dropdown icon"></i>
                1. Apa yang dimaksud Seller Center Belisada?
            </div>
            <div content>
                Seller Center Belisada merupakan platform online yang memudahkan seller berjualan.
            </div>
        </sui-accordion-panel>
        <sui-accordion-panel>
            <div title>
                <i class="dropdown icon"></i>
                2. Bagaimana cara menggunakan Seller Center Belisada?
            </div>
            <div content>
               <ul>
                   <li>Daftar</li>
                   <li>Menunggu verifikasi dari belisada.co.id</li>
               </ul>
            </div>
        </sui-accordion-panel>
        <sui-accordion-panel>
            <div title>
                <i class="dropdown icon"></i>
                3.  Bagaimana cara saya meng-upload produk untuk dijual?
            </div>
            <div content>
               <ul>
                   <li>Klik tambah product</li>
                   <li>Isi Status , Nama Product , Garansi , Pilihan kurir , detail product</li>
                   <li>Tambahkan product</li>
               </ul>
            </div>
        </sui-accordion-panel>
        <sui-accordion-panel>
            <div title>
                <i class="dropdown icon"></i>
                4.  Apa metode yang digunakan untuk meng-upload produk?
            </div>
            <div content>
                <p>
                        Existing Product :
                </p>
               <ul>
                   <li>Ketik & Pilih barang yang akan dijual di kolom jual produk</li>
                   <li>isi harga , garansi & product detail sesuai dengan produk yang dijual</li>
               </ul>
               <p>
                    Non Existing Product :
               </p>
               <ul>
                   <li>Isi status , nama product , garansi , produk detail & foto</li>
                   <li>tambahkan product </li>
                   <li>produk akan segera tayang setelah verifikasi dari team kami.</li>
               </ul>
            </div>
        </sui-accordion-panel>
    </sui-accordion>
    <h1>Promosi Belisada</h1>
    <sui-accordion class="styled fluid">
            <sui-accordion-panel>
                    <div title>
                        <i class="dropdown icon"></i>
                        1. Mengapa saya harus bergabung pada promosi campaign Belisada?
                    </div>
                    <div content>
                       <ul>
                           <li>Tawaran harga yang menarik dapat meningkatkan trafik pada produk Anda</li>
                           <li>Pendapatan tertinggi dapat Anda capai pada saat campaign berlangsung</li>
                       </ul>
                    </div>
                </sui-accordion-panel>
                <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            2. Seberapa sering Belisada mengadakan promosi?
                        </div>
                        <div content>
                           <ul>
                               <li>Setiap bulan minimal kami melakukan 1x campaign untuk promosi di website</li>
                           </ul>
                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                            <div title>
                                <i class="dropdown icon"></i>
                                3.  Dimana saya dapat melihat promosi campaign yang tersedia?
                            </div>
                            <div content>
                               <ul>
                                   <li>Semua promosi campaign yang aktif dapat ditemukan di halaman Hot Promo dan Banner Utama pada Homepage</li>
                               </ul>
                            </div>
                        </sui-accordion-panel>
                        <sui-accordion-panel>
                                <div title>
                                    <i class="dropdown icon"></i>
                                    4.  Bagaimana saya dapat bergabung promosi campaign Belisada?
                                </div>
                                <div content>
                                   <ul>
                                       <li>Pilih produk yang ingin Anda ikusertakan dalam
                                           program promosi dan masukan harga revisi pada produk tersebut.
                                            Pastikan stok selalu diupdate selama promosi berlangsung.</li>
                                   </ul>
                                </div>
                            </sui-accordion-panel>
                            <sui-accordion-panel>
                                    <div title>
                                        <i class="dropdown icon"></i>
                                        5.  Apa yang terjadi setelah saya daftarkan produk-produk saya untuk promosi campaign Belisada?
                                    </div>
                                    <div content>
                                      <p>
                                            Ketika produk yang sudah dikirimkan disetujui,
                                            cukup tunggu order yang masuk selama campaign.
                                            Pada periode promosi tertentu, Anda diharapkan
                                            mengirim produk ke warehouse kami. Promosi tersebut
                                            akan diinfokan oleh Vendor Acquisition kami setelahnya.
                                      </p>
                                    </div>
                                </sui-accordion-panel>
    </sui-accordion>
    <h1>Kebijakan dan Persetujuan</h1>
    <sui-accordion class="styled fluid">
            <sui-accordion-panel>
                    <div title>
                        <i class="dropdown icon"></i>
                        1.   Dimana saya dapat mencari Syarat dan Ketentuan untuk Seller Belisada?
                    </div>
                    <div content>
                      <p>
                            Kamu bisa klik link  <a routerLink="/terms-conditions">ini </a>
                      </p>
                    </div>
                </sui-accordion-panel>
                <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            2.   Apa struktur komisi Belisada?
                        </div>
                        <div content>
                         <ul>
                             <li>Tidak ada komisi pada penjualan untuk seller di Indonesia, dengan kata lain Anda bisa berjualan tanpa ada biaya apapun.</li>
                         </ul>
                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                            <div title>
                                <i class="dropdown icon"></i>
                                3.   Apa kebijakan Belisada pada barang palsu, replika, dan Pelanggaran Hak Kekayaan Intelektual?
                            </div>
                            <div content>
                             <ul>
                                 <li>Belisada menganggap serius keaslian produk dan berusaha
                                     untuk melindungi hak pemilik dari hak cipta atau pelanggaran
                                     merek. Sebagai contoh, penjualan barang palsu dan replika
                                     sangat dilarang di Belisada. Sebagai tambahan, jika Anda
                                     harus menggunakan gambar atau video dari sumber lain, mohon
                                     meminta izin terlebih dahulu ke pemilik atau pembuatnya. Jika
                                     seller diketahui menjual barang palsu, maka Belisada akan memberikan
                                      denda 20x harga produk.</li>
                                      <li>
                                            Untuk barang-barang yang dilarang adalah makanan cepat
                                             kadaluarsa, narkoba , senjata api , mainan senjata api
                                             , senjata tajam , obat dengan resep dokter,
                                      </li>
                             </ul>
                            </div>
                        </sui-accordion-panel>
                        <sui-accordion-panel>
                                <div title>
                                    <i class="dropdown icon"></i>
                                    4.   Apa kebijakan pengembalian di Belisada?
                                </div>
                                <div content>
                                 <ul>
                                     <li>Produk rusak atau cacat </li>
                                     <li>Produk tidak sama seperti yang diiklankan </li>
                                     <li>Salah produk atau barang </li>
                                 </ul>
                                 <p>Pembeli diberikan sampai 7 hari dari saat menerima produk untuk
                                      mengisi formulir Online Returns dan mengembalikan produk.
                                    </p>
                                </div>
                            </sui-accordion-panel>
    </sui-accordion>
    <h1>Mengenai Pembayaran</h1>
    <sui-accordion class="styled fluid">
            <sui-accordion-panel>
                    <div title>
                        <i class="dropdown icon"></i>
                        1.  Bagaimana saya dapat pembayaran?
                    </div>
                    <div content>
                     <ul>
                         <li>Pembayaran Anda akan ditransfer melalui bank transfer
                              ke bank yang berada di detail Akun Seller Center Anda</li>
                     </ul>

                    </div>
                </sui-accordion-panel>
                <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            2.  Kapan saya dapat pembayaran?
                        </div>
                        <div content>
                         <ul>
                             <li>7 Hari setelah proses request pencairan dana</li>
                         </ul>

                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                            <div title>
                                <i class="dropdown icon"></i>
                                3.   Apa yang harus saya lakukan apabila saya tidak menerima pembayaran saya?
                            </div>
                            <div content>
                             <ul>
                                 <li>Untuk bantuan , Anda dapat menghubungi
                                     tim partner support kami pada 021-3453533
                                     atau menghubungi cs@belisada.co.id</li>
                             </ul>

                            </div>
                        </sui-accordion-panel>
    </sui-accordion>
    <h1>Pengaturan Pesanan</h1>
    <sui-accordion class="styled fluid">
            <sui-accordion-panel>
                    <div title>
                        <i class="dropdown icon"></i>
                        1.  Bagaimana saya diinformasikan ketika ada pesanan?
                    </div>
                    <div content>
                     <ul>
                         <li>Anda akan menerima sebuah email notifikasi lewat email
                              yang terdaftar di Belisada ketika
                               sebuah pesanan diterima</li>
                     </ul>

                    </div>
                </sui-accordion-panel>

                <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            2.  Apa yang harus saya lakukan ketika menerima sebuah pesanan?
                        </div>
                        <div content>
                            <p>
                              Begitu pesanan diterima, Anda dapat memenuhi pesanan dengan:
                            </p>
                         <ul>
                             <li>Mempersiapkan barang yang dipesan</li>
                             <li>Mengemas barang berdasarkan panduan pengemasan Belisada </li>
                             <li>Mencetak bukti pengiriman (carrier manifests)</li>
                         </ul>

                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                            <div title>
                                <i class="dropdown icon"></i>
                                3.  Apa yang harus saya lakukan ketika menerima sebuah pesanan?
                            </div>
                            <div content>

                             <ul>
                                 <li>Anda harus segera proses pesanan 1x24 jam atau produk akan otomatis batal</li>
                             </ul>

                            </div>
                        </sui-accordion-panel>
                        <sui-accordion-panel>
                                <div title>
                                    <i class="dropdown icon"></i>
                                    4. Dimana saya bisa melihat pesanan barang?
                                </div>
                                <div content>

                                 <ul>
                                     <li>Kami dapat melihat di bagian produk terverifikasi</li>
                                 </ul>

                                </div>
                            </sui-accordion-panel>
        </sui-accordion>
        <h1>Hal-hal Mengenai Pengiriman dan ASAP by Belisada</h1>
        <sui-accordion class="styled fluid">
                <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            1. Bisakah saya menggunakan jasa pengiriman pribadi untuk pesanan di Belisada?
                        </div>
                        <div content>
                            <p>
                                    Saat ini, sistem kami hanya dapat melacak pesanan
                                     yang dikirim lewat jasa 3PL (Third Party Logistic)
                                     resmi. Bagaimanapun, kami juga memperbolehkan pengiriman barang
                                     bernilai tinggi, besar, cairan, voucher dan barang yang membutuhkan
                                     pemasangan menggunakan armada Anda sendiri. Untuk mendaftarkan armada
                                      pengiriman Seller, silakan kirimkan email ke cs@belisada.co.id
                            </p>
                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                            <div title>
                                <i class="dropdown icon"></i>
                                2. Apa yang terjadi apabila pelanggan tidak ada saat barang sudah tiba?
                            </div>
                            <div content>
                                <p>
                                        Semua jasa pengiriman di Indonesia akan melakukan usaha
                                         3 kali pengiriman. Apabila semua usaha tersebut gagal,
                                          maka jasa pengiriman akan mengirimnya kembali pada seller
                                          dengan SLA sekitar 2 minggu.
                                </p>
                            </div>
                        </sui-accordion-panel>
                        <sui-accordion-panel>
                                <div title>
                                    <i class="dropdown icon"></i>
                                    3. Apa yang dimaksud ASAP by Belisada?
                                </div>
                                <div content>
                                    <p>
                                            merupakan layanan pemenuhan milik Belisada.
                                            Belisada yang mengurus pemenuhan pesanan Anda dari A sampai Z
                                    </p>
                                </div>
                            </sui-accordion-panel>
                            <sui-accordion-panel>
                                    <div title>
                                        <i class="dropdown icon"></i>
                                        4. Apa saya berhak menggunakan layanan ASAP by Belisada?
                                    </div>
                                    <div content>
                                        <p>
                                                Untuk menikmati layanan ASAP kami, Anda hanya
                                                 perlu memiliki akun Seller Center yang aktif.
                                                 Untuk mendaftar layanan ASAP silakan kunjungi
                                                 laman ASAP berikut.
                                        </p>
                                    </div>
                                </sui-accordion-panel>
                                <sui-accordion-panel>
                                        <div title>
                                            <i class="dropdown icon"></i>
                                            5. Berapa biaya untuk menggunakan layanan ASAP by Belisada?
                                        </div>
                                        <div content>
                                            <p>
                                                    FREE
                                            </p>
                                        </div>
                                    </sui-accordion-panel>
                                    <sui-accordion-panel>
                                            <div title>
                                                <i class="dropdown icon"></i>
                                                6.Bagaimana saya harus mengemas produk-produk sebelum mengirimkannya ke Gudang Belisada?
                                            </div>
                                            <div content>
                                                <p>
                                                        Apabila SKU-nya adalah bundle, barang harus dikemas bersamaan.
                                                        Sertakan QR Code yang yang kami kirim ke email Anda ke dalam pengiriman tersebut
                                                        Belisada berhak untuk menolak produk inbound apapun apabila barangnya tidak dikemas dalam kemasan yang tidak disegel.

                                                </p>
                                            </div>
                                        </sui-accordion-panel>
            </sui-accordion>
