<app-front-slide-show></app-front-slide-show>

<div *ngFor="let item of topProductLvl1">
    <hr/>
    <h1>{{ item.name }}</h1>
    <div class="promo-banner-container gap-between-elements">
        <div class="promo-grid" style="padding-bottom: 40%;">
            <div class="promo-grid-content">
                <div class="promo-grid-cell" style="width: 66.67%;height: 100.00%;left: 0.00%;top: 0.00%;">
                    <span class="promo-img-banner" [ngStyle]="{'background-image': 'url(' + item.imageUrl2 + ')'}"></span>
                </div>
                <div class="promo-grid-cell" style="width: 33.33%;height: 50.00%;left: 66.67%;top: 0.00%;">
                    <span class="promo-img-banner" [ngStyle]="{'background-image': 'url(' + item.imageUrl3 + ')'}"></span>
                </div>
                <div class="promo-grid-cell" style="width: 33.33%;height: 50.00%;left: 66.67%;top: 50.00%;">
                    <span class="promo-img-banner" [ngStyle]="{'background-image': 'url(' + item.imageUrl4 + ')'}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="item-grid-container">
        <div class="grid-wrapper">
            <div class="item-grid" style="width: 16.66666667%;" *ngFor="let item of item.list">
                <div class="grid-content-wrapper">
                    <div class="item-img">
                        <span class="helper"></span>
                        <a routerLink="/Product-detail/{{item.productId}}" class="item">

                        <img src="{{ item.imageurl }}" alt="image not found"/></a>
                    </div>
                    <div class="item-product-info">
                        <h3 class="item-product-title">{{ item.name }}</h3>
                        <div class="item-product-price">{{ item.pricelist | currency:'Rp ' }}</div>
                        <div class="item-product-rating">
                            <!-- <sui-rating class="star" [ngModel]="4.0" [maximum]="5" [isReadonly]="true"></sui-rating><span class="rating-text">(55)</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<hr/>
<h1>PILIH DAN KLIK BRAND FAVORIT ANDA</h1>
<div class="ui eight column grid favorit">
    <div class="column" *ngFor="let item of level_4">
        <div class="ui segment">
            <img class="ui image silver" src="{{ item.imageurl }}" alt="image not found"/>
        </div>
    </div>
</div>

<div class="ui grid center aligned lihat-semua">
    <button class="ui button">
        LIHAT SEMUA <i class="angle double right icon"></i>
    </button>
</div>
