<app-front-slide-show></app-front-slide-show>

<div class="top-category" *ngFor="let item of topHomeProductLvl1 | async ">
    <hr/>
    <h1 (click)="cate(item.categoryId, item.name)" style="cursor:pointer">{{ item.name }}</h1>
    <!-- <span>{{item.categoryId}}></span> -->
    <div class="promo-banner-container gap-between-elements">
        <div class="promo-grid">
            <!-- <div class="promo-grid-content">
                <div class="promo-grid-cell" style="width: 66.67%;height: 100.00%;left: 0.00%;top: 0.00%;">
                    <span class="promo-img-banner" [ngStyle]="{'background-image': 'url(' + item.imageUrl2 + ')'}"></span>
                </div>
                <div class="promo-grid-cell" style="width: 33.33%;height: 50.00%;left: 66.67%;top: 0.00%;">
                    <span class="promo-img-banner" [ngStyle]="{'background-image': 'url(' + item.imageUrl3 + ')'}"></span>
                </div>
                <div class="promo-grid-cell" style="width: 33.33%;height: 50.00%;left: 66.67%;top: 50.00%;">
                    <span class="promo-img-banner" [ngStyle]="{'background-image': 'url(' + item.imageUrl4 + ')'}"></span>
                </div>
            </div> -->

            <div class="promo-grid-content">
                <div class="promo-grid-cell banner1">
                    <span class="promo-img-banner" (click)="cate(item.categoryId, item.name)" [ngStyle]="{'background-image': 'url(' + item.imageUrl2 + ')'}" style="cursor:pointer"></span>
                </div>
                <div class="promo-grid-cell banner2">
                    <span class="promo-img-banner" (click)="cate(item.categoryId, item.name)" [ngStyle]="{'background-image': 'url(' + item.imageUrl3 + ')'}" style="cursor:pointer"></span>
                </div>
                <div class="promo-grid-cell banner3">
                    <span class="promo-img-banner" (click)="cate(item.categoryId, item.name)"  [ngStyle]="{'background-image': 'url(' + item.imageUrl4 + ')'}" style="cursor:pointer"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog-top-product" [ngStyle]="{'background-color': item.backgroundColor}">
        <!-- <div class="grid-wrapper"> -->

            <div class="item-grid ui segment" *ngFor="let item of item.list">
                <a (click)="detail(item.productId, item.aliasName)" class="item" style="cursor: pointer;">
                <!-- <div class="ui segment"> -->
                    <div class="item-img">
                        <span class="helper"></span>
                        <!-- <a routerLink="/Product-detail/{{item.productId}}" class="item"> -->

                        <img src="{{ item.imageurl }}" alt="image not found"/>

                    </div>
                    <div class="item-product-info">
                        <h3 class="item-product-title">{{ item.name }}</h3>
                        <div class="item-product-price">{{ item.pricelist | currency:'Rp ' }}</div>
                        <div class="item-product-rating">
                            <!-- <sui-rating class="star" [ngModel]="4.0" [maximum]="5" [isReadonly]="true"></sui-rating><span class="rating-text">(55)</span> -->
                        </div>
                    </div>
                </a>
                <!-- </div> -->
            </div>

            <!-- <div class="clearfix"></div> -->
        <!-- </div> -->
    </div>
</div>

<hr/>
<!-- <h1>PILIH DAN KLIK BRAND FAVORIT ANDA</h1> -->
<h3>PILIH DAN KLIK BRAND FAVORIT ANDA</h3>
<div class="brand-favorit">
    <div *ngFor="let item of level_4 | async">
        <div class="ui segment">
            <img class="ui image silver" src="{{ item.imageurl }}" alt="image not found"/>
        </div>
    </div>
</div>

<div class="ui grid center aligned lihat-semua">
    <button class="ui button">
        LIHAT SEMUA <i class="angle double right icon"></i>
    </button>
</div>
