<div class="ui grid b-step">
  <div class="sixteen wide center aligned column">

    <div class="ui ordered steps">
      <div class="completed step">
        <div class="content">
          <div class="title">Your Cart</div>
          <div class="description">List keranjang belanja Anda</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Checkout</div>
          <div class="description">Informasi billing, shipping, pembayaran & ongkos kirim</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Finish</div>
          <div class="description">Finish order details</div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="ui raised segment alert-success">
  <h1>Terima Kasih</h1>
  <p>Order Anda berhasil diproses.</p>
</div>
 