<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">
      <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
              <div class="title">Your Cart</div>
              <div class="description">List belanja Anda</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Shipping & Billing</div>
            <div class="description">Info shipping & billing</div>
          </div>
        </div>
        <div class="completed step">
            <div class="content">
              <div class="title">Payment Method</div>
              <div class="description">Pembayaran & ongkos kirim</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Finish Order</div>
            <div class="description">Finish order details</div>
          </div>
        </div>
      </div>

  </div>
</div>
<div class="ui raised segment alert-success">
  <h1>Terima Kasih</h1>
  <p>Order Anda berhasil diproses.</p>
</div>
 