Silahkan Masukan Password Baru Anda
<hr>
<div class="xzc gap-between-elements">
    <label>Masukan Password Baru Anda</label>
    <input type="password" name="password" [(ngModel)]="password" #_password="ngModel"  required minlength="7"/>
    <!-- <input name="accountNo" placeholder="Masukan nomor rekening" type="number" [(ngModel)]="accountNo"  required  #_accountNo="ngModel" min="0" max="16"/>     -->
</div>
    <button (click)="pazz()" class="ui primary button gap-between-elements">Kirim</button>
    <input type="hidden" value="{{act_key}}"/>
