.header-top{
    background:#f7982d;
    color: #2c4528;
}

.header-top-side{
    text-align:right;
}

.header-top-menu a:link{
    color:#231f20;
}

.header-top-menu a:hover{
    color:#67585c;
}

.header-top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:0px;
}

.header-top-menu li {
    float: right;
    margin-right: 30px;
    font-size:15px;
    display: block;
    font-weight: bold;
    // width:20%;
    text-decoration: none;
}

.header-second{
    background: #002e43;
    color:#ffffff;
}

.menu-header{
    padding-top:15px;
}

.menu-header1{
    float: right;
    margin-right:20px;
    margin-top:10px;
}

.menu-header2{
    float: right;
    margin-right:20px;
}

.menu-header3{
    float: right;
    margin-right:7px;
    margin-top:5px;
}

.header-mid-side{
    text-align:right;
}

.header-mid-menu a:link{
    color:#ffffff;
}

.header-mid-menu a:hover{
    color:#dddddd;
}

.header-mid-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:0px;
}

.header-mid-menu li {
    float: right;
    margin-right: 30px;
    font-size:12px;
    display: block;
    font-weight: bold;
    // width:20%;
    text-decoration: none;
}
