
<div class="b-profile">
	<h1>Informasi Anda</h1>
	<form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate [ngClass]="{'on-edit':isField}">
		<div class="row view-line">
			<div class="col-2 title-line">Foto Profile</div> 
			<div class="col-4"><img src="/assets/img/profile-buyer.jpg" alt=""></div>
		</div>
		<div class="row view-line">
			<div class="col-2 title-line">Nama</div> 
			<div class="col-4" *ngIf="isField==false">{{profile.name}}</div>
			<div class="col-4" *ngIf="isField==true"><input type="text" (keypress)="keyLa($event)" class="input-style-text" formControlName="name">
				<div *ngIf="createComForm.controls.name.invalid && (createComForm.controls.name.dirty && createComForm.controls.name.touched)" class="alert alert-danger toll tooltip testing">
					<span class="tooltiptext">Nama tidak boleh kosong</span>
				</div>
				
			</div>
		</div>
		<div class="row view-line">
			<div class="col-2 title-line">Email</div>
			<div class="col-4" *ngIf="isField==false">{{profile.email}}</div>
			<div class="col-4" *ngIf="isField==true"><input type="text" class="input-style-text" disabled  formControlName="email"></div>
		</div>
		<div class="row view-line">
			<div class="col-2 title-line">No. Handphone</div>
			<div class="col-4" *ngIf="isField==false">{{profile.phone}}</div>
			<div class="col-4" *ngIf="isField==true"><input type="text" class="input-style-text" formControlName="phone" (keypress)="phoneCheck($event)" maxlength="12">
				<div *ngIf="createComForm.controls.phone.invalid && (createComForm.controls.phone.dirty && createComForm.controls.phone.touched)" class="alert alert-danger toll tooltip testing">
					<span class="tooltiptext">No. Handphone tidak boleh kosong</span>
				</div>
			</div>
		</div>
		<div class="row view-line">
			<div class="col-2 title-line">Tanggal Lahir</div>
			<div class="col-4" *ngIf="isField==false">{{profile.dateOfBirth}}</div>
			<div class="col-3" *ngIf="isField==true"> 
				<my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="dateOfBirth"></my-date-picker>
				<div *ngIf="createComForm.controls.dateOfBirth.invalid && (createComForm.controls.dateOfBirth.dirty && createComForm.controls.dateOfBirth.touched)" class="alert alert-danger toll tooltip testing">
					<span class="tooltiptext">Tanggal Lahir tidak boleh kosong</span>
				</div>

			</div>
		</div>
		<div class="row view-line">
			<div class="col-2 title-line">Jenis Kelamin</div>
			<div class="col-4" *ngIf="isField==false">{{gender}}</div>
			<div class="col-4" *ngIf="isField==true">
				<select class="input-style-text" formControlName="gender">
					<option value="M">Laki-laki</option>
					<option value="F">Perempuan</option>
				</select>
			</div>
		</div>
		<br>
		<button type="button" *ngIf="!isField" class="btn btn--orange component-center" (click)="edit()">Edit Profile</button>
		<button type="submit" class="btn btn--orange component-center" *ngIf="isField" [disabled]="createComForm.invalid || status === 1">Save</button>
	</form>
</div>

