
  <div class="b-profile">
    <h1>Informasi Anda</h1>
    <div class="view-line">
      <div class="title-line">Foto Profile</div> <img src="/assets/img/profile-buyer.jpg" alt="">
    </div>
    <div class="view-line">
      <div class="title-line">Nama</div> Wahyu
    </div>
    <div class="view-line">
      <div class="title-line">Email</div> wahyu@yah.com
    </div>
    <div class="view-line">
      <div class="title-line">No.Handphone</div>76867868  
    </div>
    <div class="view-line">
      <div class="title-line">Tanggal Lahir</div>12/12/9999
    </div>
    <div class="view-line">
      <div class="title-line">Jenis Kelamin</div>Pria
    </div>
    <br>
    <button type="submit" class="btn btn-silver text-btn-profile component-center" (click)="edit()">Edit Profile</button>
  </div>

