<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">
        <div class="ui ordered steps">
            <div class="completed step">
                <div class="content">
                    <div class="title">Your Cart</div>
                    <div class="description">List keranjang belanja Anda</div>
                </div>
            </div>
            <div class="completed step">
                <div class="content">
                    <div class="title">Shipping & Billing</div>
                    <div class="description">Masukan informasi shipping & billing</div>
                </div>
            </div>
            <div class="completed step">
                <div class="content">
                    <div class="title">Payment Method</div>
                    <div class="description">Metode pembayaran & ongkos kirim</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Confirm Order</div>
                    <div class="description">Verify order details</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Finish Order</div>
                    <div class="description">Finish & show order details</div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Silakan pilih metode pembayaran dan ongkos kirim yang ingin Anda gunakan. Dan apa bila Anda memiliki Kode Promo maka gunakan Kode Promo tersebut untuk mendapatkan potongan harga.</p>
<div class="ui grid">
    <div class="two column row">
        <div class="eight wide column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="ui three column grid">
                        <div class="row">
                            <div class="column" *ngFor="let item of paymentMethodDtos">

                                <div class="ui form">
                                    <div class="grouped fields">
                                        <label>{{ item.paymentMethod.name }}</label>
                                        <div class="ui field segment" *ngFor="let detail of item.paymentMethodDetails">
                                            <div class="ui radio checkbox" style="margin-left: 5px; margin-top: 5px;">
                                                <input name="example2" checked="checked" type="radio"/>
                                                <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_03.png'/></label>
                                            </div>
                                            <div class="padding-box">
                                                <p>{{ detail.bankName }}<br>{{ detail.accountNo }}<br>{{ detail.accountName }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="three wide column">
            <div class="ui segment">

                <div class="ui form">
                    <div class="grouped fields">
                        <p><b>ONGKOS KIRIM</b></p>
                        <div class="field">

                            <form class="ui form">
                                <div class="field">
                                    <label>Kurir Pengiriman</label>
                                    <select class="ui compact selection dropdown" [(ngModel)]="shippingMethod" [ngModelOptions]="{standalone: true}" (change)="selectShippingMethod(shippingMethod)">
                                        <option value="">-Pilih-</option>
                                        <option *ngFor="let item of freightRates" [value]="item.shipperId">{{ item.shipperName }}</option>
                                        <!-- <option value="Ninja">Ninja</option> -->
                                    </select>
                                </div>
                                <!-- <div class="field">
                                    <label>Paket Pengiriman</label>
                                    <select class="ui compact selection dropdown">
                                        <option value="">-Pilih-</option>
                                        <option selected="" value="Regular">Regular</option>
                                    </select>
                                </div> -->
                                <div class="field">
                                    Ongkos kirim: <b>Rp.20.000</b>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="four wide column">
            <div class="ui segment">
                <p><b>KODE PROMO</b></p>
                <p>Jika anda memiliki kode promo masukan pada kolom dibawah ini untuk mendapatkan potongan harga.</p>
                <strong>Punya Kode Promo?</strong>
                <div class="ui action input">
                    <input placeholder="Masukan kode promo..." type="text" width='100'>
                    <button class="ui grey button">Gunakan Kode</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui grid">
    <div class="left floated left aligned eight wide column">
        <button class="ui left labeled icon button green" (click)="prev()">
            <i class="chevron left icon"></i>
            Previous
        </button>
    </div>
    <div class="right floated right aligned eight wide column">
        <button class="ui right labeled icon button green" (click)="next()">
            Next
            <i class="right chevron icon"></i>
        </button>
    </div>
</div>
