<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">
      <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
              <div class="title">Your Cart</div>
              <div class="description">List keranjang belanja Anda</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Shipping & Billing</div>
            <div class="description">Masukan informasi shipping & billing</div>
          </div>
        </div>
        <div class="completed step">
            <div class="content">
              <div class="title">Payment Method</div>
              <div class="description">Metode pembayaran & ongkos kirim</div>
            </div>
          </div>
        <div class="active step">
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
      </div>

  </div>
</div>

<p>Silakan pilih metode pembayaran Anda dibawah ini.</p>
<div class="ui grid">
  <div class="two column row">
    <div class="four wide column">
      <div class="ui segment">
          
          <div class="ui form">
            <div class="grouped fields">
              <label>Credit Card</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input name="example2" checked="checked" type="radio">
                  <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_01.png'></label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input name="example2" type="radio">
                  <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_02.png'></label>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">          
          <div class="ui form">
            <div class="grouped fields">
              <label>Transfer Bank</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input name="example2" checked="checked" type="radio">
                  <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_06.png'></label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input name="example2" type="radio">
                  <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_03.png'></label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input name="example2" type="radio">
                  <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_04.png'></label>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">

          <div class="ui form">
            <div class="grouped fields">
              <label>Online Payment</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input name="example2" checked="checked" type="radio">
                  <label><img class="ui right spaced image" src='/assets/img/card/p-bcaklikpay.jpg'></label>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
          <p>Jika anda memiliki kode promo masukan pada kolom dibawah ini untuk mendapatkan potongan harga.</p>
          <strong>Punya Kode Promo?</strong>
          <div class="ui action input">
              <input placeholder="Masukan kode promo..." type="text" width='100'>
              <button class="ui grey button">Gunakan Kode</button>
            </div>

      </div>
    </div>  

  </div>
</div>

<div class="ui grid">
  <div class="left floated left aligned eight wide column">
      <button class="ui left labeled icon button green" (click)="prev()">
        <i class="chevron left icon"></i>
        Previous
      </button>
  </div>
  <div class="right floated right aligned eight wide column">
      <button class="ui right labeled icon button green" (click)="next()">
        Next
        <i class="right chevron icon"></i>
      </button>
  </div>
</div>
