<app-header></app-header>
<div class="ui container">
  <!-- <div class="ui centered grid"> -->
    <!-- <div class="computer only row"> -->
      <!-- <div class="sixteen wide column">
        <app-header></app-header>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
  <div class="ui stackable grid">
    <div class="three wide column">
      <app-sidebar></app-sidebar>
    </div>
    <div class="thirteen wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="ui centered grid">
    <div class="computer only row">
      <div class="sixteen wide column center aligned">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
<app-chatting></app-chatting>