<div class="menu-wrapper" role="navigation">
    <ul class="nav" role="menubar">
        <li role="menuitem" *ngFor="let item of navigationObjects"><a href="#">{{ item.name }}</a>
            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="pull-left" style="width: 20%">
                    <img class="ui image" src="/assets/img/demo/C1-1.jpg" alt="Image not found"/>
                </div>
                <div class="pull-left" style="width: 80%;">
                    <div class="nav-column text-center" *ngFor="let i of item.c2; let ix = index" [attr.data-index]="ix">
                        
                        <div class="gap-between-elements" *ngIf="ix <= 4" style="height: 135px; border-bottom: 1px solid rgba(153,153,153, 0.5)">
                            <a href="#">
                                <img class="ui image logo" [src]="i.imageurl" alt="Image not found"/>
                                <h3>{{ i.name }}</h3>
                            </a>
                        </div>
                        <div *ngIf="ix > 4">
                            <a href="#">
                                <span>{{ i.name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <!-- <li role="menuitem">
            <a href="#">Fashion & Lifestyle</a>
            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C1-1.jpg" alt="profile picture"/>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Laptop</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    <li role="menuitem"><a href="#">Item 6</a></li>
                    <li role="menuitem"><a href="#">Item 7</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Monitor</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Jaringan</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Periferal</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Daya</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li role="menuitem"><a href="#">Komputer</a></li>
        <li role="menuitem"><a href="#">Groceries</a></li>
        <li role="menuitem"><a href="#">Gadget</a></li>
        <li role="menuitem"><a href="#">Audio & Visual</a></li>
        <li role="menuitem"><a href="#">Mekanikal & Elektrikal</a></li>
        <li role="menuitem"><a href="#">Hobi</a></li>
        <li role="menuitem"><a href="#">Peralatan Rumah</a></li>
        <li role="menuitem"><a href="#">Peralatan Kantor</a></li>
        <li role="menuitem"><a href="#">Otomatif</a></li> -->
    </ul>
</div>


<!-- 
 <div class="menu-wrapper" role="navigation">
    <ul class="nav" role="menubar">
        <li role="menuitem" *ngFor="let option of menu"><a href="#">{{option.name}}</a>
        
        </li>
        <li role="menuitem"><a href="#">Groceries</a></li>
        <li role="menuitem"><a href="#">Gadget</a></li>
        <li role="menuitem"><a href="#">Audio & Visual</a></li>
        <li role="menuitem"><a href="#">Mekanikal & Elektrikal</a></li>
        <li role="menuitem"><a href="#">Hobi</a></li>
        <li role="menuitem"><a href="#">Peralatan Rumah</a></li>
        <li role="menuitem"><a href="#">Peralatan Kantor</a></li>
        <li role="menuitem"><a href="#">Otomatif</a></li>
    </ul>
</div> -->

