<div class="menu-wrapper" role="navigation">
    <ul class="nav" role="menubar">
        <li role="menuitem">
            <a href="#">Fashion & Lifestyle</a>
            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C1-1.jpg" alt="profile picture"/>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Laptop</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    <li role="menuitem"><a href="#">Item 6</a></li>
                    <li role="menuitem"><a href="#">Item 7</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Monitor</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Jaringan</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Periferal</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <img class="ui image logo" src="/assets/img/demo/C2-1.png" alt="profile picture" style="width:150px"/>
                    <h3>Daya</h3>
                    <ul>
                    <li role="menuitem"><a href="#">Item 1</a></li>
                    <li role="menuitem"><a href="#">Item 2</a></li>
                    <li role="menuitem"><a href="#">Item 3</a></li>
                    <li role="menuitem"><a href="#">Item 4</a></li>
                    <li role="menuitem"><a href="#">Item 5</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li role="menuitem"><a href="#">Komputer</a></li>
        <li role="menuitem"><a href="#">Groceries</a></li>
        <li role="menuitem"><a href="#">Gadget</a></li>
        <li role="menuitem"><a href="#">Audio & Visual</a></li>
        <li role="menuitem"><a href="#">Mekanikal & Elektrikal</a></li>
        <li role="menuitem"><a href="#">Hobi</a></li>
        <li role="menuitem"><a href="#">Peralatan Rumah</a></li>
        <li role="menuitem"><a href="#">Peralatan Kantor</a></li>
        <li role="menuitem"><a href="#">Otomatif</a></li>
    </ul>
</div>


<!-- 
 <div class="menu-wrapper" role="navigation">
    <ul class="nav" role="menubar">
        <li role="menuitem" *ngFor="let option of menu"><a href="#">{{option.name}}</a>
        
        </li>
        <li role="menuitem"><a href="#">Groceries</a></li>
        <li role="menuitem"><a href="#">Gadget</a></li>
        <li role="menuitem"><a href="#">Audio & Visual</a></li>
        <li role="menuitem"><a href="#">Mekanikal & Elektrikal</a></li>
        <li role="menuitem"><a href="#">Hobi</a></li>
        <li role="menuitem"><a href="#">Peralatan Rumah</a></li>
        <li role="menuitem"><a href="#">Peralatan Kantor</a></li>
        <li role="menuitem"><a href="#">Otomatif</a></li>
    </ul>
</div> -->

