<div class="ui segment">
    <img class="ui centered medium image" src="/assets/img/jual1.png">
    <p class="text-center">
        Langkah 1: Melengkapi dan Memberikan Dokumen yang Diperlukan
    </p>
    <div class="gap-between-elements"></div>
    <img class="ui small centered image" src="/assets/img/jual2.png">
    <p class="text-center">
        Langkah 2: Aktifkan Akun Anda
    </p>
    <div class="gap-between-elements"></div>
    <div class="gap-between-elements"></div>
    <img class="ui small centered image" src="/assets/img/jual3.png">
    <p class="text-center">
        Langkah 3: Daftarkan Produk Anda dan Mulai Berjualan!
    </p>
  </div>
