<!-- <div class="ui segment">
    <img class="ui centered medium image" src="/assets/img/jual1.png">
    <p class="text-center">
        Langkah 1: Melengkapi dan Memberikan Dokumen yang Diperlukan
    </p>
    <div class="gap-between-elements"></div>
    <img class="ui small centered image" src="/assets/img/jual2.png">
    <p class="text-center">
        Langkah 2: Aktifkan Akun Anda
    </p>
    <div class="gap-between-elements"></div>
    <div class="gap-between-elements"></div>
    <img class="ui small centered image" src="/assets/img/jual3.png">
    <p class="text-center">
        Langkah 3: Daftarkan Produk Anda dan Mulai Berjualan!
    </p>
  </div> -->




<div class="ui last container b-conten">
  <div class="ui three steps">
    <div class="step">
      <div class="content">
        <img class="ui centered image" src="/assets/img/jual1.png" height='130'>
        <div class="title">Langkah 1</div>
        <div class="description">Mendaftarkan diri dan melengkapi dokumen yang Diperlukan.</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <img class="ui centered image" src="/assets/img/jual2.png" height='130'>
        <div class="title">Langkah 2</div>
        <div class="description">Menunggu aktifasi dari Admin untuk toko yang Anda daftarkan.</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <img class="ui centered image" src="/assets/img/jual3.png" height='130'>  
        <div class="title">Langkah 3</div>
        <div class="description">Daftarkan Produk Anda dan Mulai Berjualan.</div>
      </div>
    </div>
  </div>
</div>
<div class="ui grid center aligned">
    <div class="sexteen wide column">
        <button class="massive ui button" (click)="daftar()">Daftar sekarang untuk mulai menjual</button>
    </div>
</div>    
