<div class="column" style="margin-top:10px;">
    <div class="ui grid">
      <div class="ui wide column">
        <p><b>Product List</b></p>
          <table class="ui twelve wide striped table">
              <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>SKU</th>
                    <th>Qty</th>
                    <th>Harga anda</th>
                    <th>Status</th>
                    <!-- <th>QR Code</th> -->
                    <th>Action</th>
                    <!-- <th>Status</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of productList ; let i = index">
                    <td (click)="view(list.imageurl)" style="cursor:pointer;"><img src="{{ list.imageurl }}" height="42"></td>
                    <td><a *ngIf="list.isActive === 'Y'" (click)="detail(list.productId, list.aliasName)" style="cursor: pointer;">{{ list.name }}</a>
                        <span *ngIf="list.isActive === 'N'">{{ list.name }}</span></td>
                    <td>{{ list.sku }}</td>
                    <td *ngIf="!editmode" (click)="toEdit(i)">{{ list.stock }}</td>
                    <td *ngIf="editmode && ind == i" [contentEditable]="true" (blur)="toBlur(list,i)" (input)="qtybaru = $event.target.innerText">{{ list.stock }}</td>
                    <td *ngIf="!editmode" (click)="toEdit(i)" [contentEditable]="false">Rp.{{ list.pricelist | number }}</td>
                    <td *ngIf="editmode && ind == i" [contentEditable]="true" (blur)="toBlur(list, i)" (input)="hargabaru = $event.target.innerText">{{ list.pricelist }}</td>
                    <td>
                    <!-- <td><div class="ui {{color}} horizontal label">{{status}}</div> -->
                        <a class="ui small label" *ngIf="list.statusCode === 'DR'">{{list.status}}</a>
                        <a class="ui small yellow label" *ngIf="list.statusCode === 'PE'">{{list.status}}</a>
                        <a class="ui small orange label" *ngIf="list.statusCode === 'RV'">{{list.status}}</a>
                        <a class="ui small green label" *ngIf="list.statusCode === 'RJ'">{{list.status}}</a>
                        <a class="ui small green label" *ngIf="list.statusCode === 'AP'">{{list.status}}</a>
                    </td>
                    <!-- <td (click)="getQr(list.productId)" style="cursor:pointer;"><i class="qrcode icon" style="font-size: 18px;"></i></td> -->
                    <td><i suiPopup popupHeader="Belisada" popupText="Inactive this product" *ngIf="list.isActive === 'Y'" (click)="inactive(list.productId)" class="trash outline icon"></i>
                    <i suiPopup popupHeader="Belisada" popupText="Activate this product" *ngIf="list.isActive === 'N'" (click)="active(list.productId)" class="upload outline icon"></i></td>
                    <!-- <td><span class="ui green label" *ngIf="list.isActive === 'Y'">Active</span><span class="ui grey label" *ngIf="list.isActive === 'N'">Inctive</span></td> -->
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
