<div class="ui grid">
    <div class="five wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Status Pesanan</div>
                <div class="menu">
                    <a class="item">Pesanan dalam proses
                        <a class="ui label">
                            1
                        </a>
                    </a>
                    <a class="item">Pesanan terkirim
                        <a class="ui label">
                            55
                        </a>
                    </a>
                    <a class="item">Pesanan dibatalkan  
                        <a class="ui label">
                            2
                        </a>
                    </a>
                    <a class="item">Pesanan stok habis
                        <a class="ui label">
                            5
                        </a>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui segment">
            <div class="ui grid">
                <div class="eight wide column">
                    <h3>Tingkat Kepuasan Produk</h3>
                          
                    <!-- <div *ngIf="chart"> -->
                        <!-- <canvas id="canvas">{{ chart }}</canvas> -->
                    <!-- </div> -->
                </div>
                <div class="eight wide column">
                    <h3>KPI Seller</h3>
                    <sui-rating class="star" [ngModel]="3.0" [maximum]="5" [isReadonly]="true"></sui-rating><span class="rating-text">3.0</span>
                </div>
            </div>
        </div>
    </div>
</div>
