.sales-report {
    font-size: 36px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 900;
    margin-bottom: 10px;
}
.lalaal{
    float: right;
}
.aaaaaa{
    float: right;
    font-size: 22px;
    font-weight: 900;
    font-family: "Lato";
    margin-right: 4px;
}
.lol{
    float: right;
    border-radius: 10px;
    font-family: "Lato";
    background:#C31117;
    margin-right: 4px;
}
.line{
    cursor: pointer;
}
