<div class="ui container">
    <div class="ui grid">
        <div class="four wide column">
        <app-sidebar-buyer></app-sidebar-buyer>
        </div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="sixteen wide column">
                <app-header-buyer></app-header-buyer>
                </div>
                <div class="sixteen wide column">
                    <app-shiping-address></app-shiping-address>
                </div>
              </div>
        </div>
      </div>
</div>

