<div class="gap-between-elements"></div>
<body class='bg-buyer-layout'>
    <div class="ui container">
        <div class="ui grid stackable">
            <div class="three wide column">
                <app-sidebar-buyer></app-sidebar-buyer>
            </div>
            <div class="thirteen wide column">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <app-header-buyer></app-header-buyer>
                    </div>
                    <div class="sixteen wide column">
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                <router-outlet></router-outlet>
                            </div>
                            <!-- <div class="four wide column">
                                <app-cart-buyer></app-cart-buyer>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

