<div class="ui container">
    <div class="ui grid">
        <div class="three wide column">
        <app-sidebar-buyer></app-sidebar-buyer>
        </div>
        <div class="thirteen wide column">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <app-header-buyer></app-header-buyer>
                </div>
                <div class="sixteen wide column">
                    <div class="ui grid">
                        <div class="twelve wide column">
                            <router-outlet></router-outlet>
                        </div>
                        <div class="four wide column">
                            <div class='sixteen wide column title-cart'>Your Cart</div>
                            <div class="ui grid">
                                <div class="four wide column"><img class="ui tiny image" src="/assets/img/noimage.png"></div>
                                <div class="nine wide column">Komputer</div>
                                <div class="three wide column"><i class="trash outline icon"></i></div>
                            </div>
                            <div class="ui grid">
                                <div class="four wide column"><img class="ui tiny image" src="/assets/img/noimage.png"></div>
                                <div class="nine wide column">Komputer</div>
                                <div class="three wide column"><i class="trash outline icon"></i></div>
                            </div>
                            <div class='sub-total'>
                                Sub Total: Rp.20.000,-
                            </div>          
                            <button class="fluid ui btn-bayar button">Bayar Sekarang</button>
                            <button class="fluid ui btn-lanjut button">Lanjutkan Belanja</button>               
                        </div>
                    </div>   
                </div>
              </div>
        </div>
      </div>
</div>

