<div  class="frame-c">
    <div *ngIf="isProses==false">
            <h2>Konfirmasi Pembayaran</h2>
            <span class="text-c">Terima kasih telah berbelanda di Belisada.co.id<p>
            Bila Anda telah melakukan pembayaran secara <span class="text-t">BANK TRANSFER</span>,<p>
            Konfirmasikan pembayaran Anda disini agar kami proses segera.</span>
            <br>
            <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-c">
                <div class="label-c">
                    Payment ID :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="paymentNumber">
                    <app-field-error-display  [displayError]="isFieldValid('paymentNumber')" errorMsg="Payment id tidak boleh kosong"></app-field-error-display>
                </div>
                <div class="label-c">
                    Di Transfer Ke :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="transferTo" readonly>
                </div>
                <div class="label-c">
                    Ditransfer Dari :
                </div>
                <div class="contain-c">
                    <select formControlName="bankId" class="input-c">
                        <option  *ngFor="let item of listBank" value="{{item.bankId}}" >{{item.name}}</option>
                    </select>
                    <app-field-error-display  [displayError]="isFieldValid('bankId')" errorMsg="Ditransfer dari tidak boleh kosong"></app-field-error-display>
                </div>
                <div class="label-c">
                    Pemilik Rekening :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="accountName">
                    <app-field-error-display  [displayError]="isFieldValid('accountName')" errorMsg="Pemilik rekening tidak boleh kosong"></app-field-error-display>
                </div>
                <div class="label-c">
                    No Rekening :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="accountNumber" (keypress)="numberCheck($event)">
                    <app-field-error-display  [displayError]="isFieldValid('accountNumber')" errorMsg="Nomor rekening tidak boleh kosong"></app-field-error-display>
                </div>
                <div class="label-c">
                    Nominal :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="nominal" (keypress)="numberCheck($event)">
                    <app-field-error-display  [displayError]="isFieldValid('nominal')" errorMsg="Nominal tidak boleh kosong"></app-field-error-display>
                </div>
                <div class="label-c">
                    Tanggal Transfer :
                    <div date-picker="start"></div>
                </div>
                <div class="contain-c">
                    <div class="date-custom">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="transerDate" class="date-confim input-c"></my-date-picker>
                    </div>
                    <app-field-error-display  [displayError]="isFieldValid('transerDate')" errorMsg="Tanggal transfer tidak boleh kosong"></app-field-error-display>
                </div>
                <div class="label-c">
                    Berita :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="news">
                </div>
            </div>
            
            <button type="submit" class="btn-confirm">KONFIRMASI</button> 
            </form>
    </div>
    <div *ngIf="isProses==true">
        <h2>Konfirmasi Pembayaran Berhasil</h2>
        <span class="text-c">
            <p>Terima kasih telah melakukan konfirmasi pembayaran.</p>
            <p>Kami akan melakukan validasi konfirmasi Anda telebih dulu.</p>
            <div class="btn-status" (click)="liatTransaksi()">Lihat Status Transaksi</div>
            
        </span>
    </div>
    

</div>