.frame-c{
    margin-top:20px;
    text-align: center;
    color:#111111;
    width:700px;
    margin-left: 70px;
}

.text-c{
    font-size: 12px;
}

.text-t{
    font-weight: bold;
    color:#fd9c28;
}

.btn-confirm{
    margin-top:20px;
    background: #f37b37;
    color:#ffffff;
    padding: 15px;
    border: 0px;
    font-size: 15px;
    margin-bottom:20px;
}

.form-c{
    margin-top:100px;
    width:600px;
    margin:0px auto;
    display: grid;
    grid-template-columns: 200px 350px;
}

.form-c2{
    margin-top:100px;
    width:600px;
    margin:0px auto;
    display: grid;
    grid-template-columns: 200px 350px;
    margin-bottom:20px;
    border: 1px solid #dddddd;
    padding:10px;
}

.input-c{
    border:0px;
    font-size: 13px;
    padding:0px;
    border-bottom: 1px solid #2d2d2d;
    width:100%;
    margin-left:8px;
    border-radius:0px;
    margin-bottom:5px;
}

.label-title{
    font-weight: bold;
}

.textarea{
    height: 10rem;
}

.label-c{
    text-align: right;
    color: #2d2d2d;
    width:200px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.3rem;
}

.date-confim{
    border: none;
    border:0px;
}

.date-custom{
    margin-top:-10px;
    border-bottom: 1px solid #2d2d2d;
    margin-left:10px;
}

.date-confim{
    margin-left:-10px;
}

.btn-status{
    margin:0px auto;
    background: #1aab6c;
    padding:10px;
    color: #ffffff;
    border-radius:5px;
    margin-top: 20px;
    cursor: pointer;
    width:200px;
}

.btn-status:hover{
    background: #26c580;
}

.contain-c{
    font-size: 13px;
    text-align: left;
    margin-top:12px;
    margin-left:10px;
    font-weight: bold;
}

.mydp .selection{
    padding-left: 0px; 
}