<div  class="frame-c">
    <div *ngIf="isProses==false && isConfirm==false">
            <h2>Konfirmasi Pembayaran</h2>
            <span class="text-c">Terima kasih telah berbelanja di Belisada.co.id<p>
            Bila Anda telah melakukan pembayaran secara <span class="text-t">BANK TRANSFER</span>,<p>
            Konfirmasikan pembayaran Anda disini agar kami proses segera.</span>
            <br>

            <!-- <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
            <owl-date-time #dt></owl-date-time> -->

            <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-c">
                <div class="label-c">
                    Payment ID :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="paymentNumber">
                    <!-- <app-field-error-display  [displayError]="isFieldValid('paymentNumber')" errorMsg="Payment id tidak boleh kosong"></app-field-error-display> -->
                </div>
                <div class="label-c">
                    Di Transfer Ke :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="transferTo" readonly>
                </div>

                <div class="label-c">
                </div>
                <div class="contain-c">
                </div>

                <div class="label-c label-title">
                    SUMBER TRANSFER 
                </div>
                <div class="contain-c">

                </div>

                <div class="label-c">
                    Ditransfer Melalui :
                </div>
                <div class="contain-c">
                    <select formControlName="bankId" class="input-c">
                        <option value="" disabled>Pilih bank yang dituju</option>
                        <option  *ngFor="let item of listBank" [value]="item.bankId" >{{item.name}}</option>
                    </select>
                    <!-- <app-field-error-display  [displayError]="isFieldValid('bankId')" errorMsg="Ditransfer dari tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.bankId.invalid && (submitted || createComForm.controls.bankId.dirty && createComForm.controls.bankId.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">Silakan pilih bank yang dituju</span>
                    </div>
                </div>
                <div class="label-c">
                    Pemilik Rekening :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" maxlength="80" formControlName="accountName">
                    <!-- <app-field-error-display  [displayError]="isFieldValid('accountName')" errorMsg="Pemilik rekening tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.accountName.invalid && (submitted || createComForm.controls.accountName.dirty && createComForm.controls.accountName.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">Pemilik rekening tidak boleh kosong</span>
                    </div>
                </div>
                <div class="label-c">
                    No Rekening :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="accountNumber" maxlength="25" (keypress)="numberCheck($event)">
                    <!-- <app-field-error-display  [displayError]="isFieldValid('accountNumber')" errorMsg="Nomor rekening tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.accountNumber.invalid && (submitted || createComForm.controls.accountNumber.dirty && createComForm.controls.accountNumber.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">Nomor rekening tidak boleh kosong</span>
                    </div>
                </div>
                <div class="label-c">
                </div>
                <div class="contain-c">
                </div>

                <div class="label-c">
                    Nominal :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="nominal" (keypress)="numberCheck($event)" [(ngModel)]="nominal" (input)="nominal = format(nominal)">
                    <!-- <app-field-error-display  [displayError]="isFieldValid('nominal')" errorMsg="Nominal tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.nominal.invalid && (submitted || createComForm.controls.nominal.dirty && createComForm.controls.nominal.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">Nominal tidak boleh kosong</span>
                    </div>
                </div>
                <div class="label-c">
                    Tanggal Transfer :
                    <div date-picker="start"></div>
                </div>
                <div class="contain-c">
                    <div class="date-custom">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="transerDate" class="date-confim input-c"></my-date-picker>
                    </div>
                    <!-- <app-field-error-display  [displayError]="isFieldValid('transerDate')" errorMsg="Tanggal transfer tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.transerDate.invalid && (submitted || createComForm.controls.transerDate.dirty && createComForm.controls.transerDate.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">Tanggal transfer tidak boleh kosong</span>
                    </div>
                </div>
                <div class="label-c">
                    Waktu Transfer :
                    <div date-picker="start"></div>
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" formControlName="transferTime" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                    <!-- <app-field-error-display  [displayError]="isFieldValid('transferTime')" errorMsg="Waktu transfer tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.transferTime.invalid && (submitted || createComForm.controls.transferTime.dirty && createComForm.controls.transferTime.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">Waktu transfer tidak boleh kosong</span>
                    </div>
                </div>
                <div class="label-c">
                    No Referensi :
                </div>
                <div class="contain-c">
                    <input type="text" class="input-c" maxlength="25" formControlName="refNo">
                    <!-- <app-field-error-display  [displayError]="isFieldValid('refNo')" errorMsg="Nomor referensi tidak boleh kosong"></app-field-error-display> -->
                    <div *ngIf="createComForm.controls.refNo.invalid && (submitted || createComForm.controls.refNo.dirty && createComForm.controls.refNo.touched)" class="alert alert-danger" >
                        <span class="tooltiptext">No referensi tidak boleh kosong</span>
                    </div>
                </div>
                <div class="label-c">
                    Berita :
                </div>
                <div class="contain-c">
                    <textarea class="input-c textarea" maxlength="500" formControlName="news"></textarea>
                    <!-- <input type="text" class="input-c" maxlength="500" formControlName="news"> -->
                </div>
            </div>
            
            <button type="submit" class="btn-confirm">KONFIRMASI</button> 
            </form>
    </div>
    <div *ngIf="isProses==true">
        <h2>Konfirmasi Pembayaran Berhasil</h2>
        <span class="text-c">
            <p>Terima kasih telah melakukan konfirmasi pembayaran.</p>
            <p>Kami akan melakukan validasi konfirmasi Anda telebih dulu.</p>
            <div class="btn-status" (click)="liatTransaksi()">Lihat Status Transaksi</div>
            
        </span>
    </div>
    <div *ngIf="isConfirm==true">
        <h2>Konfirmasi Pembayaran</h2>
            <span class="text-c">Terima kasih telah berbelanda di Belisada.co.id<p>
            Dibawah ini adalah detail Konfirmasi Anda.</span>
            <br>
            <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-c2">
                <div class="label-c">
                    Payment ID :
                </div>
                <div class="contain-c">
                    {{list.paymentNumber}}
                </div>
                <div class="label-c">
                    Di Transfer Ke :
                </div>
                <div class="contain-c">
                    {{list.transferTo}}
                </div>
                <div class="label-c">
                    Ditransfer Dari :
                </div>
                <div class="contain-c">
                    {{list.transferFrom}}
                </div>
                <div class="label-c">
                    Pemilik Rekening :
                </div>
                <div class="contain-c">
                    {{list.accountName}}
                </div>
                <div class="label-c">
                    No Rekening :
                </div>
                <div class="contain-c">
                    {{list.accountNumber}}
                </div>
                <div class="label-c">
                    Nominal :
                </div>
                <div class="contain-c">
                    Rp {{list.nominal | number}}
                </div>
                <div class="label-c">
                    Tanggal Transfer :
                    <div date-picker="start"></div>
                </div>
                <div class="contain-c">
                    {{list.transerDate}}
                </div>
                <div class="label-c">
                    Nomor Referensi :
                    <div date-picker="start"></div>
                </div>
                <div class="contain-c">
                    {{list.refNo}}
                </div>
                <div class="label-c">
                    Berita :
                </div>
                <div class="contain-c">
                    {{list.news}}
                </div>
            </div>
            
            </form>
    </div>
    

</div>