
    
    
    <div class="container frame-op">
      <div class="contain-thx-head">
        <div>Payment ID: {{ successTransactionRes.data.paymentNumber }}</div>
        <div class='contain-thx-head__total'>Total Pembayaran</div>
        <div class='contain-thx-head__price-total'>Rp {{ successTransactionRes.data.grandTotal | number }}</div>
      </div>
      <div class="contain-thx-body">
        <div class="contain-thx-body__head" *ngFor="let listCart of successTransactionRes.data.cart">
          <div class="contain-thx-body__head__detail" *ngFor="let item of listCart.cartItems">
  
            <div>
              <span class="titleItem">{{ item.name }}</span><br>
              <div *ngFor="let varian of item.varians" class="varianText">
                {{ varian.name }}:
                <span *ngFor="let itemVar of varian.varians">
                  {{  itemVar.value }}
                </span>
                <br>
          
              </div> 
  
            </div>
            <div>x{{item.quantity}}</div>
            <div *ngIf="item.specialPrice > 0">Rp {{ item.specialPrice | number }}</div>
            <div *ngIf="item.specialPrice <= 0">Rp {{ item.priceList | number }}</div>
          </div>
          <div class="line-ongkir">
            <div class="titleItem">Biaya Asuransi</div>
            <div>Rp {{ listCart.asuransi | number }}</div>
          </div>
          <div class="line-ongkir">
            <div class="titleItem">Ongkos Kirim<br>
              <span class="varianText">{{listCart.courierName}}</span>
            </div>
            <div>Rp {{ listCart.courierPrice | number }}</div>
          </div>
        </div>
  
      </div>





