<div class="ui grid">
    <div class="six wide column">
        <div class="ui grid">
            <div class="nine wide column">
                <span *ngIf="!storeName">
                    Anda belum memiliki toko, segera daftarkan toko Anda agar bisa berjualan.
                </span>

                <h3 *ngIf="storeName">{{storeName}} 
                    <!-- <br><span class="ui pointing basic label">Saat Ini Toko {{toko}}</span> -->
                    <!-- <span style="font-size: 12px;">({{toko}})</span> -->
                </h3>

                
                <div class="ui tiny labeled button" tabindex="0" *ngIf="storeName">
                    <div class="ui basic {{btnColor}} button">
                        Status Toko :
                    </div>
                    <span class="ui {{btnColor}} orange left pointing label">
                        {{ storeStatus }}
                    </span>
                </div>    

            </div>
            <div class="seven wide column">
                    <div class="seven wide column">
                        <span class="ui teal tag label">Saat Ini Toko {{toko}}</span>
                        <!-- <span class="ui pointing basic label">Saat Ini Toko {{toko}}</span> -->

                        <div class="five wide column mymargin">
                        <div class="ui green left button" *ngIf="buka" (click)="bukaToko()">Buka Toko Anda</div>
                        <div class="right red ui button" *ngIf="tutup" (click)="tutupToko()">Tutup Toko Anda</div>
                        </div>
                
                    </div>    
            </div>
        </div>        
            

        

        <!-- <div class="five wide column mymargin">
            <a class="ui orange label">Status Toko : </a>
            <a class="ui {{btnColor}} label">{{ storeStatus }}</a>
        </div> -->
        



     


    </div>

        <!-- <div class="five wide column">
            <button class="ui left attached button">Left</button>
            <button class="right attached ui button">Right</button>
        </div> -->
    
    <div class="ten wide column">

        <!-- <div class="ui segment column">
            <div class="sexteen wide column"> -->

                <div class="column">
                    <div class="ui grid">
                        <div class="two wide column right aligned">
                            <img src="/assets/img/iconshop.png" alt="iconshop.png" class="top-image"/>
                        </div>
                        <div class="fourteen wide column">
                            <button class="huge fluid ui red button" (click)="addProducts()">Tambah Produk Anda</button>
                        </div>
                    </div>
                </div>




            <!-- </div>

        </div> -->
    </div>

</div>
