<div class="ui grid">
    <div class="five wide column">
        <div class="five wide column mymargin">
            <a class="ui orange label">Status Toko : </a>
            <a class="ui {{btnColor}} label">{{ storeStatus }}</a>
        </div>
        <div class="five wide column mymargin">
        <div class="ui green left attached button {{buka}}" (click)="bukaToko()">Buka</div>
        <div class="right red attached ui button {{tutup}}" (click)="tutupToko()">Libur</div>
        </div>
    </div>

        <!-- <div class="five wide column">
            <button class="ui left attached button">Left</button>
            <button class="right attached ui button">Right</button>
        </div> -->
    <div class="eleven wide column">
        <div class="ui segment column">
            <div class="sexteen wide column">
                <div class="column">
                    <div class="ui grid">
                        <div class="two wide column">
                            <img src="/assets/img/iconshop.jpg" alt="iconshop.jpg" class="top-image"/>
                        </div>
                        <div class="fourteen wide column">
                            <button class="huge fluid ui red button" (click)="addProducts()">Tambah Produk Anda</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
