.wrapper{
    display:grid;
    grid-template-columns: 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wrepper2{
    display:grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wrepper2 > div{
    // background:#eee;
    padding:1em;
  }
  .wrepper2 > div:nth-child(odd){
    // background:#ddd;
  }
  .para {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .wrapper > div{
    // background:#eee;
    padding:1em;
  }
  .wrapper > div:nth-child(odd){
    // background:#ddd;
  }
  .pokameame {
      background: red;
  }
