<!-- <div class="pokameame">
    qwe
</div> -->
<div class="caption-header">
    Keuntungan berjualan di belisada.co.id
</div>
<div class="wrapper">
    <div class="wrepper2">
        <div>
            <img class="ui centered medium image" src="/assets/img/daptar.jpg">
            <p class="para">Pendaftaran GRATIS</p>
        </div>
        <div>
            <img class="ui centered medium image" src="/assets/img/111.jpg">
            <p class="para">Komisi 0%</p>
        </div>
        <div>
            <img class="ui centered medium image" src="/assets/img/333.jpg">
            <p class="para">Berjualan Mudah & Cepat</p>
        </div>
        <div>
            <img class="ui centered medium image" src="/assets/img/123.jpg">
            <p class="para">Pusat Bantuan Penjual</p>
        </div>
        <div>
            <img class="ui centered medium image" src="/assets/img/lpl.jpg">
            <p class="para">Kemudahan Akses Laporan dan Dana Penjualan</p>
        </div>
    </div>
</div>

<div class="caption-header">
    Channel sounding produk kami yang dapat anda nikmati secara gratis
</div>

<div class="channel-sounding">
    <div class="grid-content">
        <div class="img"><img class="ui image" src="/assets/img/seller-center/seller-center-1.png" alt=""></div>
        <div class="content">punya brand khusus dan ingin dipromosikan? kami siap membantu</div>
    </div>
    <div class="grid-content">
        <div class="img"><img class="ui image" src="/assets/img/seller-center/seller-center-2.png" alt=""></div>
        <div class="content">kerjasama promosi produk untuk meningkatkan penjulan online anda</div>
    </div>
    <div class="grid-content">
        <div class="img"><img class="ui image" src="/assets/img/seller-center/seller-center-3.png" alt=""></div>
        <div class="content">pemasangan banner-banner produk anda di homepage kami</div>
    </div>
    <div class="grid-content">
        <div class="img">
            <div class="icon-container"><i class="youtube square icon"></i></div>
            <div class="icon-container"><i class="facebook f icon"></i></div>
            <div class="icon-container"><i class="twitter icon"></i></div>
            <div class="icon-container"><i class="instagram icon"></i></div>
        </div>
        <div class="content">channel sounding produk kami yang dapat anda nikmati secara gratis</div>
    </div>
</div>