<div class="column">
    <div class="wide column">
        <h1>Profile</h1>
    </div>
</div>    
<div class="ui segment">
    <div class="ui grid">
        <div class="twelve wide stretched column">
            <div class="ui grid">
                <div class="six wide column">
                    <div class="ui card">
                        <div class="image">
                            <img src="/assets/img/kristy.png" alt="Profile Picture" (load)="setCanvas($event)" #avaImg />
                        </div>
                        <div class="content">
                            <a class="header">{{ sellerName }}</a>
                            <div class="meta">
                                <span class="date">{{ sellerEmail }}</span>
                            </div>
                            <div class="description">
                                Besar file maksimum 5 MB.<br/>Format file yang diperbolehkan (.JPG, .JPEG, .PNG)
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <div class="upload-btn-wrapper">
                                <button class="ui orange button">Pilih Photo</button>
                                <input type="file" name="myfile" (change)="setUrl($event, avaImg)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    
                    <form class="ui form" (ngSubmit)="f.form.valid && updateProfile()" #f="ngForm" novalidate>    
                        <div class="field">
                            <label>Nama</label>
                            <input name="sellerName" placeholder="Masukan nama" value="{{ sellerName }}" type="text" [(ngModel)]="sellerName" #_sellerName="ngModel"/>
                            <div *ngIf="f.submitted && !_sellerName.valid" class="ui pointing red basic label">Nama tidak boleh kosong</div> 
                        </div>
                        <div class="field">
                            <label>Tanggal Lahir</label>
                            <div class="ui grid">
                                <div class="five wide column">
                                    <select class="ui search dropdown">
                                        <option value="">Tanggal</option>
                                    </select>
                                </div>
                                <div class="six wide column">
                                    <select class="ui search dropdown">
                                        <option value="">Bulan</option>
                                    </select>     
                                </div>
                                <div class="five wide column">
                                    <select class="ui search dropdown">
                                        <option value="">Tahun</option>
                                    </select>  
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Alamat</label>
                            <input name="sellerPhone" placeholder="Masukan nomor handphone" type="text" [(ngModel)]="sellerPhone" #_sellerPhone="ngModel"/>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Alamat tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Kota</label>
                            <select class="ui search dropdown">
                                <option value="">Jakarta</option>
                            </select>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Kota tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Propinsi</label>
                            <select name='prof' class="ui search dropdown">
                                <option>
                                    DKI Jakarta
                                </option>
                            </select>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Provinsi tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Kecamatan/ Kelurahan</label>
                            <select class="ui search dropdown">
                                <option value="">Petukangan</option>
                            </select>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Kecamatan/ Kelurahan tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Kodepos</label>
                            <input name="sellerPhone" placeholder="Masukan nomor handphone" type="text" [(ngModel)]="sellerPhone" #_sellerPhone="ngModel"/>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Kodepos tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Nomor HP</label>
                            <input name="sellerPhone" placeholder="Masukan nomor handphone" type="text" [(ngModel)]="sellerPhone" #_sellerPhone="ngModel"/>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Nomor HP tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Nomor KTP</label>
                            <input name="sellerPhone" placeholder="Masukan nomor handphone" type="text" [(ngModel)]="sellerPhone" #_sellerPhone="ngModel"/>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Nomor KTP tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>No. NPWP</label>
                            <input name="sellerNpwp" placeholder="Masukan NPWP" type="text" [(ngModel)]="sellerNpwp" #_sellerNpwp="ngModel"/>
                            <div *ngIf="f.submitted && !_sellerPhone.valid" class="ui pointing red basic label">Nomor HP tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <div class="ui action input">
                                <input type="text" placeholder="Upload file NPWP" readonly/>
                                <input type="file"/>
                                <div class="ui icon button">
                                    <i class="attach icon"></i>
                                </div>
                            </div>
                        </div>

                        <button class="ui primary button" type="submit">Simpan</button>
                    </form>
                </div>  
            </div>
        </div>

        <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="active item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="item">
                    Info Perusahaan
                </a>
            </div>
        </div>
    </div>
</div>