<div class="container">
  <span class="title-page">Login</span>
  <form action="/action_page.php">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" id="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" id="pwd">
    </div>
    <div class="text-registration">Belum Punya Akun? <a href="" class="link-text">REGISTRASI</a> Disini</div>
    <div class="component-center"><button type="submit" class="btn btn-orange btn-size-80">MASUK</button></div>
  </form> 
</div> 

