
<!-- <h1 class='title-page'>Keranjang Belanja</h1> -->

<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">

      <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
              <div class="title">Your Cart</div>
              <div class="description">List keranjang belanja Anda</div>
            </div>
          </div>
        <div class="active step">
          <div class="content">
            <div class="title">Shipping & Billing</div>
            <div class="description">Masukan informasi shipping & billing</div>
          </div>
        </div>
        <div class="active step">
            <div class="content">
              <div class="title">Payment Method</div>
              <div class="description">Metode pembayaran & ongkos kirim</div>
            </div>
          </div>
        <div class="active step">
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
      </div>

  </div>
</div>


<div class="row animated rollIn">
    <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
          <tr>
            <th>Image</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Sub Total</th>
            <th>Hapus</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td class="valTd" data-title="Image">
              <img class="ui tiny image" src="/assets/img/noimage.png">
          </td>
          <td class="valTd" data-title="Nama">
              <p>Komputer
            </td>
          <td class="valTd" data-title="Harga">
            Rp.10.000.000
          </td>
          <td class="valTd" data-title="Jumlah">
              <select class="ui compact selection dropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </td>
          <td class="valTd" data-title="Sub Total">Rp.10.000.000</td>
          <td class="valTd" data-title="Hapus">
              <button class="circular ui icon button" (click)="delete()">
                <i class="trash outline icon"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="ui grid b-step">
  <div class="eight wide left aligned column">
    <h4>Total: Rp.10.000.000</h4>
  </div>  
  <div class="eight wide right aligned column">  
    <button class="ui right labeled icon button green">
        Next
        <i class="right chevron icon"></i>
      </button>
    <div class="ui buttons"></div>
  </div>
</div>