<!-- <ng-container *ngIf="first; else notFirst">
        Hello World!
    </ng-container>
    <ng-template #notFirst>
        Or Not!
    </ng-template> -->

<div class="wrapper">
        <div (click)="pembeli()">
            Pembeli
        </div>
        <div (click)="penjual()">
         penjual
        </div>

        <div class="satu" *ngIf="second; else notFirst">
                <!-- <ng-container *ngIf="second; else notFirst"> -->
                        Hello World!
                    <!-- </ng-container> -->
                    <ng-template #notFirst>

                        </ng-template>
        </div>
        <div class="dua" *ngIf="first; else not">
         isi nya penjual
         <ng-template #notFirst>

            </ng-template>
        </div>
      </div>
