.wrapper{
    display:grid;
    grid-template-columns: 50% 50%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .atasFaq {
      font-size: 30px;

  }
  .isipembeli {
    //   color:red;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
  }
  .wrapper > div{
    background:#ddd;
    padding:1em;
  }
  .wrapper > div:nth-child(odd){
   border:1px groove #e4e0e0;
    background:#e3edef;

  }

  .wrapper .satu {
      grid-column: 1/2;
  }
  .wrapper .dua {
      grid-column: 2/3
  }
