.input-style-text {

    &.has-danger {
        border-color: red;
    }

    &.has-success {
        border-color: blue;
    }
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    // background-color: black;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 9px 6px;
    visibility: visible;
    border: 1px solid black;

    /* Position the tooltip */
    position: relative;
    z-index: 1;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.wrapper{
    display:grid;
    // color: $color-red;
    grid-template-columns: 50% 50%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wrapper2 {
    display:grid;
    // color: $color-red;
    grid-template-columns: 50% 50%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    // grid-gap:1em;
  }
.f-registrasi {
    text-transform: uppercase;
    color:#0F516A;
    font-size: 25px;
    font-weight: bold;
}
  
  .wrapper > div{
    // background:#eee;
    padding:1em;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
}
.input-style-text {
    width: 83%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    &.has-danger {
        border-color: red;
    }

    &.has-success {
        border-color: blue;
    }
}
input[type=email] {
    width: 83%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=password] {
    width: 83%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.text-box {
    position: absolute;
    /* top: 40%; */
    left: 24%;
    transform: translate(-33%, -31%);
    // text-align: left; 
  }
.heading-primary-sub {
    display: block;
    font-size: 10px;
    // font-weight: 400;
    letter-spacing: 1px;
}
.heading-primary-main {
    display: block;
    font-size: 10px;
    // font-weight: 700;
    letter-spacing: 1px;
}

   