.img-store{
    font-size: 20px;
    text-align: center;
    color: #111111;
    font-size: 30px;
}

.conStore{
    width: 1300px;
}

.backHome{
    font-size: 20px;
    color: #111111;
    text-align: right;
    font-weight: bold;
}

.barStore{
    border-right: 3px solid #db9c14;
}