<div class="sub-contain">
  <span class="sub-b">ORDER ID</span><span class="sub-b">Nama Barang</span>
</div>

<div class="btn-upload">Unggah Foto</div>
<div class="q-contain">
  <div class="qText">Apakah barang yang anda pesan sudah di terima?</div>
  <div class="qFrom"> 
    <div><input type="radio" id="dewey" name="drone" value="dewey" /> Ya</div> 
    <div><input type="radio" id="dewey" name="drone" value="dewey" /> Tidak</div>
  </div>
  
</div>

<div class="q-contain">
  <div class="qText">Masalah apa yang anda terima ?</div>
  <div><input type="radio" id="dewey" name="drone" value="dewey" /> Barang tidak sesuai deskripsi.</div>
  <div><input type="radio" id="dewey" name="drone" value="dewey" /> Barang diterima dalam keadaan rusak.</div>
  <div><input type="radio" id="dewey" name="drone" value="dewey" /> Barang tidak lengkap.</div>
  <div><input type="radio" id="dewey" name="drone" value="dewey" /> Kurir yang dipakai tidak sesuai.</div>
</div>

<div class="q-contain">
  <div class="qText">Solusi yang anda inginkan</div>
  <div class="qFrom2">
    <div>
        <div><input type="radio" id="dewey" name="drone" value="dewey" /> Kembalikan dana.</div>
        <div><input type="radio" id="dewey" name="drone" value="dewey" /> Tukar barang sesuai pasaran.</div>
        <div><input type="radio" id="dewey" name="drone" value="dewey" /> Kembalikan dana dan retur barang.</div>
    </div>
    <div>
      <div>Tentukan alasan anda memilih salah satu solusi tersebut.</div>
      <textarea>apalah</textarea>
    </div>
  </div>  
</div>
<div class="btn-cont">
  <span class="btn-back">Kembali Ke Order</span> <span class='btn-submit'>Submit Komplain</span>
</div>