<div class="sub-contain" *ngIf="showForm==false && isSuccess==false">
      <span class="sub-b">ORDER ID</span>
      <span class="sub-b">Produk</span>
</div>
<div *ngIf="showForm==true">
  <form class="ui form" [formGroup]="createComForm" #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="hidden" formControlName="orderNumber">


  <div class="img-url"><img src="{{ imageUrl }}" border="0" width="150" #avaImg class="img-upload"></div>
  <div class="upload-btn-wrapper">
    <div class="btn-upload" (click)="edit()">Unggah Foto</div>
    <input type="file" name="imageUrl" (change)="setUrl($event, avaImg)"/>
  </div>

  <!-- <div class="btn-upload">Unggah Foto</div> -->
  <div class="q-contain">
    <div class="qText">Apakah barang yang anda pesan sudah di terima?</div>
    <div class="qFrom"> 
      <div><input type="radio" formControlName="orderRecieved" value="true" /> Ya</div> 
      <div><input type="radio" formControlName="orderRecieved" value="false"/> Tidak</div>
    </div>
    
  </div>
  <div class="q-contain" *ngIf="createComForm.controls.orderRecieved.value == 'true'">
    <div class="qText">Masalah apa yang anda terima ?</div>
    <div *ngFor="let list of listIssu"><input type="radio" formControlName="orderComplainIssue" value="{{list.statusCode}}" /> {{list.status}}</div>
  </div>
  <div class="q-contain" *ngIf="createComForm.controls.orderComplainIssue.value !== '' || createComForm.controls.orderRecieved.value == 'false'">
    <div class="qText">Solusi yang anda inginkan</div>
    <div class="qFrom2">
      <div>
          <div *ngFor="let listSol of listIssuSolution"><input type="radio" formControlName="orderComplainIssueSolution" value="{{listSol.statusCode}}" /> {{listSol.status}}</div>
      </div>
      <div>
        <div>Tentukan alasan anda memilih salah satu solusi tersebut.</div>
        <textarea cols="60" rows="5" formControlName="reasonOrderComplainIssueSolution"></textarea>
      </div>
    </div>  
  </div>
  <div class="btn-cont">
      <button type="button" class="btn-back" (click)="backToOrder()">Kembali Ke Order</button> <button type="submit" class="btn-submit" *ngIf="createComForm.controls.orderComplainIssue.value !== '' || createComForm.controls.orderRecieved.value == 'false'">Submit Komplain</button>
  </div>

  </form>
</div>

<div *ngIf="isSuccess==true" class="success-komplain">
  <div>Terima kasih atas komplain yang Anda kirimkan, kami akan segera melakukan verifikasi.</div>
  <button type="button" class="btn-back" (click)="backToOrder()">Kembali Ke Order</button>
</div>