.sub-contain{
    border:1px solid #131313;
    padding:20px;
    border-radius:5px;
    background: #f4f3f3;
}

.sub-b{
    border-right:1px solid #131313;
    color: #131313;
    padding:15px;
    font-weight: bold;
}

.btn-upload{
    background: #f66f16;
    padding:10px;
    text-align: center;
    color:#ffffff;
    margin-top:10px;
    font-weight: bold;
    border-radius:8px;
}

.q-contain{
    background: #ffffff;
    border: 1px solid #c6c4c4;
    padding: 10px;
    margin-top:10px;
}

.qText{
    font-weight: bold;
    margin-bottom:10px;
}

.qFrom{
    display: grid;
    grid-template-columns: 100px 100px;
}

.qFrom2{
    display: grid;
    grid-template-columns: 35% 55%;

}

.btn-back{
    background: #f4f3f3;
    padding:10px;
    font-weight: bold;
    color:#000000;
    margin-top:20px;
}

.btn-back:hover{
    background: #f9f6f6;
}

.btn-cont{
    margin-top:20px;
    display: block;
    text-align: right;
}

.btn-submit{
    margin-left:10px;
    background: #f66f16;
    padding:10px;
    font-weight: bold;
    color:#ffffff;
}

.btn-submit:hover{
    background: #fb914b;
}
