<div class="wrapper">
        <div>
        <img class="ui middle aligned small image" src="/assets/img/tko.jpg">
        <span class="para">Gratis Biaya Pergudangan</span>
        </div>
        <div>
            <img class="ui middle aligned small image" src="/assets/img/minum.jpg">
            <span class="para">Kualitas Produk Lebih Terjamin</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/orangDuduk.jpg">
                <span class="para">Pengemasan dan Pengiriman Oleh Belisada</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/refre.jpg">
                <span class="para">Fleksibilitas dalam Pengembalian Barang</span>
        </div>
        </div>
