<div class="wrapper">
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/tko.jpg">
                    </div>
                <div>
                        <span class="para kamp">Gratis Biaya Pergudangan</span><br>
                        Bebas biaya penyimpanan di gudang kami untuk fasilitas ASAP by belisada
                </div>
        </div>
        <!-- <div>
        <img class="ui middle aligned small image" src="/assets/img/tko.jpg">
        <span class="para">Gratis Biaya Pergudangan</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/minum.jpg">
                    </div>
                <div>
                        <span class="para kamp">Kualitas Produk Lebih Terjamin</span><br>
                        Produk disimpan aman dan rapi dijaga dengan baik oleh tim warehouse kami yang professional
                </div>
        </div>
        <!-- <div>
            <img class="ui middle aligned small image" src="/assets/img/minum.jpg">
            <span class="para">Kualitas Produk Lebih Terjamin</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/orangDuduk.jpg">
                    </div>
                <div>
                        <span class="para kamp">Pengemasan dan Pengiriman Oleh Belisada</span><br>
                        Pengemasan & pengiriman yang cepat & baik dilakukan tim kami agar
                        mendapatkan pengalaman berbelanja yang memuaskan
                </div>
        </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/orangDuduk.jpg">
                <span class="para">Pengemasan dan Pengiriman Oleh Belisada</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/refre.jpg">
                    </div>
                <div>
                        <span class="para kamp">Fleksibilitas dalam Pengembalian Barang</span><br>
                        pengembalian barang dilakukan dengan syarat & ketentuan yang berlaku di belisada.co.id
                </div>
        </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/refre.jpg">
                <span class="para">Fleksibilitas dalam Pengembalian Barang</span>
        </div> -->
        </div>
