.paging ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.paging li {
  display: inline-block;

}
.paging a {
  border: 1px solid #ebeef2;
  padding: 3px 10px;
  margin: 0 3px;
  border-radius: 5px;
}
.paging a.current-page {
  border: 1px solid #cde;
  background: #def;
  color: #999;
  cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
  color: #abc;
  cursor: pointer;
  border-color: #cde;
}
.paging a.disabled {
  color: #ccc;
  cursor: default;
}

.b-sr{
    border: 1px solid #d6d6d6;
    padding:20px;
    margin-top:50px;
}

.b-product-list{
    border: 1px solid #dddddd;
    background: #ffffff;
    // padding: 3px;
    text-align: center;
    box-shadow: 0 0 10px #dddddd;
    color: #8b8b8b;
    font-weight: bold;
    position: relative;
    font-family: 'Roboto', sans-serif;
    height: 400px;
}

.icon-bar-group {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.b-part{
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding:5px 5px 0px 0px;
}

.price{
    font-size: 30px;
    color: #f7ca00;
    display: block;
}

.price-slash{
    font-size: 15px;
    color: #8b8b8b;
    display: block;
}

.img-item{
  margin-bottom:10xp;
  cursor: pointer;
}

.item{
    margin: 0px auto;
    width:80%;
    height: 6rem;
    overflow: hidden;
    cursor: pointer;
}

.title-search{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a.link-search{
    color: #6c6dd9;
    text-decoration: none;
}

a.link-search:hover{
    color: #bdbefb;
    text-decoration: none;
}

.icon-left{
    text-align: left;
    padding:6px;
}

.icon-right{
    text-align: right;
    padding-right: 5px;
    margin-top: -2px;
}

.btn-down{
    margin-left:10px;
    background: #fdfdfd;
    border: 1px solid #aeacac;
    padding:5px;
    border-radius:5px;
    font-size: 15px;

}



// filter dibawah



h1 {
    text-align: center;
  }
  .half {
    float: left;
    width: 100%;
    border: 1px solid #eee;
    box-shadow: -4px 11px #eee;
    // padding: 0 1em;
  }
  /* Acordeon styles */
  .tab {
    position: relative;
    // margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    // background: #16a085;
    color: black;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;

    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .blue label {
    background: #2980b9;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    // background: #1abc9c;
    color: black;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .blue .tab-content {
    background: #3498db;
  }
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 100em;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input[type=checkbox] + label::after {
    content: "+";
  }
  input[type=radio] + label::after {
    content: "\25BC";
  }
  input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

  .margin--ul {
      margin: 1em;
  }
  li {
      list-style: none;
      font-size: 13px;
  }

  .wrapper-for-filter-top {
    display: grid;
    // color: $color-red;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
    padding-top: 10px;
    text-align: center;
}

.img--see {
    max-height: 3em;

}

.wrapper-with-grid {
  display: grid;
  // color: $color-red;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1em;
  padding-top: 10px;
}
.checkBox-opacity {
  opacity: 1;
}

.product-empty{
  text-align: center;
  padding:20px 0px;
  font-size: 12px;
}
