.b-sr{
    border: 1px solid #d6d6d6;
    padding:20px;
    margin-top:50px;
}

.b-product-list{
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 3px;
    text-align: center;
    box-shadow: 0 0 10px #dddddd;
    color: #8b8b8b;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.b-part{
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding:5px 5px 0px 0px;
}

.price{
    font-size: 30px;
    color: #f7ca00;
    display: block;
}

.price-slash{
    font-size: 15px;
    color: #8b8b8b;
    display: block;
}

.item{
    margin: 0px auto;
    width:80%;
}

.title-search{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a.link-search{
    color: #6c6dd9;
    text-decoration: none;
}

a.link-search:hover{
    color: #bdbefb;
    text-decoration: none;
}

.icon-left{
    text-align: left;
    padding:6px;
}

.icon-right{
    text-align: right;
    margin-top:-5px;
}

.btn-down{
    margin-left:10px;
    background: #fdfdfd;
    border: 1px solid #aeacac;
    padding:5px;
    border-radius:5px;
    font-size: 15px;

}