<div class="container-float">
  <div class="container">
    <div class="row">
      <div class="col-12 verticalMiddle">
        <div class="logo pull-left">
          <a [routerLink]="['/']">
            <img src="/assets/img/logo.png" alt="">
          </a>
        </div>
        <div class="social verticalMiddleInside">
          <div class="social-list">
            <ul id="horizontal">
              <li>
                <a href="https://www.facebook.com/BelisadaID/" target="_blank">
                  <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/BelisadaID/" target="_blank">
                  <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/belisada.id/" target="_blank">
                  <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                </a>
              </li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content">
        <h1 class="title">SYARAT DAN KETENTUAN BELISADA</h1>
        <ol>
          <li class="group"><h2 class="point"><b>INFORMASI UMUM DAN PENGGUNA</b></h2>
            <ol>
              <li>PT Belisada Global Indonesia adalah perusahaan yang bergerak dibidang web portal  www.belisada.co.id yaitu situs pertemuan antara penjual dan pembeli didalam web portal www.belisada.co.id (marketplace) selanjutnya disebut dengan Belisada.</li>
              <li>Syarat dan ketentuan merupakan perjanjian sebagaimana disyaratkan dalam Pasal 1320 Kitab Undang-Undang Perdata, dimana telah terjadi kesepakatan antara penjual dan pembeli dipertemukan dalam situs belisada
                  Pengguna adalah pihak yang mengakses situs belisada dan mendaftarkan data diri nama depan, nama belakang, nama username, nama password ataupun melalui  email dan media sosial untuk dapat menjadi pengguna disitus belisada.</li>
              <li>Pembeli adalah pihak yang telah mengikuti aturan yang dibuat oleh belisada untuk melakukan suatu permintaan atas barang yang dijual oleh penjual disitus belisada.</li>
              <li>Penjual adalah pihak yang telah mengikuti aturan yang telah dibuat oleh belisada untuk melakukan suatu penawaran terhadap barang kepada para pengguna situs belisada.</li>
              <li>Barang adalah sesuatu yang berwujud dan mempuyai fisik yang dapat dipesan oleh pembeli dan memenuhi kriteria pengiriman jasa pengiriman barang.</li>
              <li>Pengguna dapat mengakses situs belisada apabila telah memiliki username dan password dengan mengikuti syarat dan ketentuan yang dibuat oleh Belisada.</li>
              <li>Belisada mempunyai kewenangan istimewa dengan atau tanpa pemberitahuan terlebih dahulu kepada Pengguna untuk melakukan tindakan yang perlu terhadap pelanggaran syarat dan ketentuan antara lain penipuan barang yang ditampilkan dalam website belisada, tidak mengirimkan barang yang sudah dipesan pembeli, penghapusan akun pengguna, pembatalan listing, penghapusan barang.</li>
            </ol>
          </li>
          <li class="group"><h2 class="point"><b>PELEPASAN HUKUM TANGGUNG JAWAB</b></h2>
            <ol>
              <li>Pengguna dengan ini melepaskan Belisada atas setiap kerugian yang timbul akibat penyalahgunaan akun Pengguna atas kelalaian Pengguna namun tidak terbatas pada memberikan password pengguna kepada orang lain, memberikan OTP atau kode verifikasi kepada orang lain, memberikan username dan password kepada orang lain.</li>
              <li>Belisada tidak akan pernah meminta username atau password kepada pengguna oleh karena demikian Belisada menginformasikan kepada pengguna untuk tidak pernah memberikan data pribadi kepada orang yang mengatasnamakan Belisada.</li>
              <li>Pengguna baik itu penjual atau pembeli melepaskan Belisada (Direktur Karyawan atapun afiliasi dari Belisada ) dari tuntutan atas kerugian baik sifatnya materiil maupun immateriil akibat proses jual beli di Belisada, melepaskan dari setiap klaim, gugatan, sengketa, termasuk biaya-biaya hukum yang timbul dikemudian hari akibat dari proses tersebut.</li>
              <li>Syarat dan ketentuan dapat diubah ataupun ditambahkan dikemudian hari tanpa pemberitahuan sebelumnya kepada Pengguna situs belisada,  dengan mengakses dan menggunakan layanan belisada ketidaktahuan Pengguna baik itu Penjual dan pembeli tentng syarat dan ketentuan tambahan dianggap sebagai pemahaman mengenai  perubahan dalam syarat dan ketentuan secara keseluruhan.</li>
            </ol>
          </li>
          <li class="group"><h2 class="point"><b>TRANSAKSI PEMBELIAN</b></h2>
            <ol>
              <li>Pembeli dalam situs belisada wajib bertransaksi menggunakan mata uang rupiah, dengan metode pembayaran yang dipilih oleh Pembeli dan Belisada akan meneruskan uang dari pembeli kepada penjual ketika tahapan transaksi dianggap selesai yang mana barang yang dipesan oleh pembeli sudah sampai ditangan penjual.</li>
              <li>Pembeli bertanggung jawab sepenuhnya atas barang yang dibeli di situs belisada dengan syarat membaca, melihat, memahami dan menyetujui informasi serta deskripsi keseluruhan barang.</li>
              <li>Pembeli memahami membaca dan menyetujui ketersedian stok barang merupakan tanggung jawab penjual yang menampilkan barang tersebut dengan warna dari produk sebenarnya sebagaimana ditampilkan dalam komputer Pembeli, Belisada akan memastikan warna dalam foto seakurat mungkin.</li>
              <li>Pembeli memahami dan membaca serta menyetujui bahwa transaksi yang dilakukan antara pembeli dan penjual harus menggunakan rekening Belisada, diluar rekening Belisaada merupakan tanggung jawab masing masing dari pembeli dan penjual.</li>
              <li>Belisada mempunyai kewenangan untuk menolak pembayaran dana dari pengguna tanpa pemberitahuan terlebih dahulu pengguna.</li>
              <li>Pembayaran atas barang yang dibelli selambat-lambatnya dilakukan dalam batas waktu 1 hari setelah Pengguna meninggalkan situs belisada,apabila dalam batas waktu tersebut konfirmasi pembayaran belum dilakukan padahal Pembeli sudah menerima email pemberitahuan untuk segera dilakukan pembayaran maka Belisada akan segera membatalkan pemesanan pembeli dan pembeli tidak berhak mengajukan klaim atau tuntutan atas transaksi tersebut.</li>
              <li>Segala pembayaran melalui setoran tunai melalui bank wajib dijelaskan dalam slip setoran mengenai deskripsi barang dan nomor invoice yang telah diterbitkan oleh Belisada, dan Pembeli tidak akan menyerahkan bukti pembayaran kepada pihak lain diluara Belisada, jika terjadi kerugian akibat penyerahan bukti pembayaran merupakan tanggung jawab pribadi Pembeli.</li>
              <li>Pembeli diwajibkan untuk melakukan konfirmasi kepada Belisada apabila sudah menerima barang yang telah dipesannya, jika tidak memberikan konfirmasi maka secara sistem dalam waktu 1 (satu) hari Belisada menganggap barang yang dipesan sudah terkonfrimasi sampai ditangan Pembeli dan dianggap selesai.</li>
              <li>Konfirmasi dari Pembeli akan menjadikan acuan dari Belisada untuk meneruskan dana dari pembeli kepada Penjual yang akan dikirimkan melalui Rekening Belisadaa dan transaksi selesai.</li>
            </ol>
          </li>
          <li class="group"><h2 class="point"><b>TRANSAKSI PENJUALAN</b></h2>
            <ol>
                <li>Penjual wajib memberikan foto serta deskripsi tentang barang yang akan dijual secara lengkap dan jelas sesuai dengan kondisi barang tersebut, apabila tidak sesuai barang yang dijual maka Belisada berhak membatalkan atau menahan dana transaksi.</li>
                <li>Penjual dilarang membuat transaksi fiktif apabila ditemukan maka Belisada akan menindak dengan cara melakukan pemblokiran akun.</li>
                <li>Belisada berhak atas tindakan memotong kelebihan tarif pengiriman dari dana pembayaran yang dilakuan Pembeli dan mengembalikan dana kelebihan tersebut kepada Pembeli.</li>
                <li>Penjual membaca memahami dan menyetujui mengenai pajak penghasilan yang menjadi tanggung jawab dari Penjual sendiri.</li>
                <li>Belisada mempunyai kewenangan untuk membatalkan transaksi atau menahan dana transaksi dari Penjual jika didalam proses transaksi terdapat hal-hal mengenai nomor resi pengiriman barang tidak sesuai dengan no resi Belisada, Penjual mengirim barang dengan jasa kurir diluar yang ditetapkan oleh Belisada, nama barang tidak sesuai dengan apa yang disajikan oleh Penjual dalam situs Belisada, hal-hal lain yang merugikan Pembeli sehubungan dengan transaksi dalam situs Belisada.</li>
                <li>Dalam keadaan Penjual mengirimkan barang tidak sesuai dengan apa yang dipesan oleh Pembeli, Pembeli memiliki kewenangan penuh untuk melanjutkan atau membatalkan transaksi. Namun jika didalam prakteknya Penjual tetap melanjutkan pesanan tidak sesuai keinginan dan kesepakatan dari Pembeli maka tanggung jawab sepenuhnya ada pada Penjual.</li>
                <li>Belisada mempunyai otoritas dan kewenangan penuh untuk menahan setiap pembayaran dana dari Pembeli di rekening Belisada sampai permasalahan antara Penjual dan Pembeli dianggap selesai.</li>
            </ol>
          </li>
          <li class="group"><h2 class="point"><b>PENGIRIMAN BARANG</b></h2>
            <ol>
              <li>Belisada telah menetapkan dalam sistem untuk perusahaan ekspedisi yang telah mendapatkan rekomendasi rekanan dari Belisada yang dipilih oleh Pembeli.</li>
              <li>Mengenai ketentuan harga pengiriman barang merupakan kewenangan penuh dari perusahaan ekspedisi sebaagai penyedia jasa layanan pengiriman barang.</li>
              <li>Penjual membaca memahami dan menyetujui sehubungan pilihan perusahaan eksepedisi untuk mengirimkan barang kepada Pembeli dan bertanggung jawab atas setiap barang yang dikirimkan.</li>
              <li>Penjual dan Pembeli sebagai pengguna dalam situs Belisada membaca memahami dan menyetujui bahwa setiap permasalahan yang timbul akibat proses pengiriman barang adalah sepenuhnya tanggung jawab perusahaan eksepedisi sebagai penyedia jasa layanan pengiriman barang yang dipilih oleh Pembeli dan Penjual.</li>
              <li>Belisada tidak akan menerima pengembalian barang yang dipesan melalui sistem Belisada yang dilakukan oleh Pengguna, dalam hal proses pengembalian akan dikirimkan ke masing masing Pembeli ataupun Penjual.</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container-float bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 verticalMiddle text-center footer">
        <h1 class="verticalMiddleFooter">&copy; Belisada 2019</h1>
        <div class="btn btn--orange verticalMiddleInside" (click)="topFunction()">Back to Top</div>
      </div>
    </div>
  </div>
</div>