<div class="ui two column stackable grid center aligned border-form">
  <div class="three column row">
    <div class="column">
      <div class="ui segment">
        
          <div class='title'><i class="chevron circle right icon"></i> Login</div>
          <form class="ui form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="field">
              <label>Alamat Email</label>
              <input name="first-name" placeholder="Email" type="email" [(ngModel)]="email" #_email="ngModel" required/>
              <div *ngIf="f.submitted && !_email.valid" class="ui pointing red basic label">Email is required</div>
            </div>
            <div class="field">
              <label>Kata Sandi</label>
              <div class="ui icon input">
              <input name="last-name" placeholder="Password" id="password" type="password" [(ngModel)]="password" #passwd="ngModel" required minlength="5"/>
              <i class="circular unhide link icon" (click)="togglePass()"></i>
              </div>
              <div *ngIf="f.submitted && !passwd.valid" class="ui pointing red basic label">Password is required</div>
            </div>
            <div class="text-center gap-between-elements">
              <button [disabled]="loading" [ngClass]="loading?'loading':'auth-btn-submit'" class="ui button" type="submit">Login</button>
            </div>
            <p class="text-center textwarna gap-between-elements">
              <a routerLink="/lost-password" routerLinkActive="active">Lupa Password</a> | <a routerLink="/sign-up" routerLinkActive="active">Daftar Baru</a>
            </p>
          

            <div class="text-center gap-between-elements">
              <button class="ui facebook button socmed" (click)="socialSignIn('facebook')">
                <i class="facebook icon"></i>
                Sign in with Facebook
              </button>
            </div>
            <div class="text-center gap-between-elements">
              <button class="ui google plus button socmed" (click)="socialSignIn('google')">
                <i class="google plus icon"></i>
                Sign in with Google
              </button>
            </div>
          </form>

      </div>
    </div>
</div>