
<div class="ui grid" style="display:none;">
  <div class="four wide column">
    <div class="border-item">
      <img class="ui tiny spaced image" src="/assets/img/Asset_344.png" alt="profile picture"/>
    </div>
    <div class="border-item-second">

        <div class="ui grid">
          <div class="twelve wide column">
              <small>Iphone 7s Plus</small><br>
              Rp.14.000.000
          </div>
          <div class="four wide column"><i class="shop icon"></i><br><i class="heart icon"></i> <i class="star icon"></i></div>
        </div>

    </div>
  </div>
  <div class="four wide column">
    <div class="border-item">
      <img class="ui tiny spaced image" src="/assets/img/Asset_344.png" alt="profile picture"/>
    </div>
    <div class="border-item-second">

        <div class="ui grid">
          <div class="twelve wide column">
              <small>Iphone 7s Plus</small><br>
              Rp.14.000.000
          </div>
          <div class="four wide column"><i class="shop icon"></i><br><i class="heart icon"></i> <i class="star icon"></i></div>
        </div>

    </div>
  </div>
  <div class="four wide column">
    <div class="border-item">
      <img class="ui tiny spaced image" src="/assets/img/Asset_344.png" alt="profile picture"/>
    </div>
    <div class="border-item-second">

        <div class="ui grid">
          <div class="twelve wide column">
              <small>Iphone 7s Plus</small><br>
              Rp.14.000.000
          </div>
          <div class="four wide column"><i class="shop icon"></i><br><i class="heart icon"></i> <i class="star icon"></i></div>
        </div>

    </div>
  </div>
  <div class="four wide column">
    <div class="border-item">
      <img class="ui tiny spaced image" src="/assets/img/Asset_344.png" alt="profile picture"/>
    </div>
    <div class="border-item-second">

        <div class="ui grid">
          <div class="twelve wide column">
              <small>Iphone 7s Plus</small><br>
              Rp.14.000.000
          </div>
          <div class="four wide column"><i class="shop icon"></i><br><i class="heart icon"></i> <i class="star icon"></i></div>
        </div>

    </div>
  </div>

</div>
