<div class="heading-top">
        <div class="heading-top-left style1">
            <div class="heading-top-left style2">
                <div class="heading-top-left style3">
                    <span class="page-title">Tentang Kami Belisada.co.id</span>
                </div>
            </div>
        </div>

        <div class="small-shape"></div>

        <div class="bar-header">
            <img class="icon-heading" src="/assets/img/bag.png" alt="">
        </div>
    </div>

<div class="gap-between-elements"></div>
<!-- <img class="ui image" style="cursor:pointer;" src="/assets/img/belikad.jpg"> -->
<div class="wrapper">
    <div>
        <img class="ui medium spaced image" src="/assets/img/11.png" alt="profile picture"/>
    </div>
    <div>
     <p class="head">TENTANG KAMI</p>
     <p>Belisada.co.id adalah perusahaan ecommerce yang berdiri sejak Februari 2017
        dan dapat memberikan terobosan baru juga merupakan salah satu dari anak
        perusahaan Alpha Cipta Computindo Indonesia. Belisada.co.id sebagai salah satu
        platform untuk B2B, B2C dan B2G yang dapat berkembang dengan cepat
        sehingga dapat memuaskan kebutuhan belanja anda. Belisada.co.id menawarkan
        berbagai macam produk untuk memastikan pengalaman belanja anda dapat
        berjalan secara cepat, terbuka dan aman.
        </p>
    </div>

    <div>
        <p>

        </p>
    </div>
    <div class="wrappeto">
        <div>
                <p class="head">SEJARAH</p>
                Sebagai induk perusahaan dari Belisada.co.id, Alpha Cipta Computindo grup mengkhususkan pelayanannya pada
                perdaganan internasional dan pengadaan barang yang sudah berpengalaman lebih dari 20 tahun. memasuki pasar
                B2B sejak tahun 1995, pengalaman yang luas telah membawa ACICO grup sebagai salah satu layanan pengadaan
                barang yang berkembang pesat dinegara ini.
        </div>
        <img class="ui medium spaced image" src="/assets/img/ton.png" alt="profile picture"/>
    </div>
    <div>
        <!-- 123123 -->
    </div>
  </div>
  <div class="wrapperpok">
        <div>
                <img class="ui medium spaced image" src="/assets/img/atapTapiAdaStok.png" alt="profile picture"/>

                <span class="pulpen">
                        &#9679; Barang Selalu Tersedia</span>
        </div>

        <div>
                <img class="ui medium spaced image" style="margin-left:112px;" src="/assets/img/truk.png" alt="profile picture"/>

                <span class="pulpen">
                        &#9679; 2 HARI KERJA PENGIRIMAN</span>
        </div>
        <div>
                <img class="ui medium spaced image" src="/assets/img/tangan.png" alt="profile picture"/>

                <span class="pulpen">
                        &#9679; HARGA TERJANGKAU</span>
        </div>
      </div>
