<div class="gap-between-elements"></div>
<div class="ui large header">Tentang Kami</div>
<p>
    Belisada adalah perusahaan e-commerce dengan platform semi-marketplace yang memiliki tujuan untuk dapat memberikan kepuasan berbelanja dan berjualan secara online bagi konsumen dengan 4 pilar utama dalam pelayanan, yaitu Variasi dan Ketersediaan Produk, Harga yang Kompetitif, Pengiriman Aman dan Cepat, serta Jaminan Kualitas Produk.
</p>
<div class="gap-between-elements"></div>
<div class="ui large header">Sejarah</div>
<p>
        Meningkatnya pertumbuhan e-commerce dan marketplace di Indonesia merupakan salah satu pertanda perubahan perilaku konsumen dalam berbelanja. Perubahan tersebut mengindikasikan bahwa konsumen
         di Indonesia mulai terbiasa dalam berbelanja online. Hal ini seharusnya dapat ditanggapi baik dengan memberikan pelayanan prima kepada konsumen, dimulai dari ketersediaan produk yang bervariasi, pengiriman yang cepat, jaminan produk hingga harga yang kompetitif. Berawal dari semangat untuk berpartisipasi
          dalam pertumbuhan e-Commerce di Indonesia, pada Januari 2018,  Belisada hadir sebagai pilihan
         untuk berbelanja online dengan menawarkan pelayanan yang unggul kepada pelanggan, sekaligus berkomitmen untuk memajukan ekonomi kerakyatan dengan merangkul berbagai lapisan penjual di Indonesia.
</p>
<div class="gap-between-elements"></div>
<div class="ui large header">Visi</div>
<p>
        Perusahaan e-commerce terdepan yang dapat memenuhi seluruh kebutuhan konsumen
         dengan pelayanan yang cepat dan memuaskan, dan mampu menjadi penggerak ekonomi
          bagi seluruh rakyat Indonesia.
</p>
<div class="gap-between-elements"></div>
<div class="ui large header">Misi</div>
<p>
        Menjadi sebuah platform jual beli ternama di Indonesia, serta terus berinovasi dalam menghadapi perubahan
         pasar yang cepat dengan mengutamakan kepuasan pelanggan dan kesejahteraan mitra bisnis.
</p>
<div class="gap-between-elements"></div>
<div class="ui large header">Keunggulan Kami</div>
<div class="ui ordered list">
    <p class="item">Ketersediaan Item </p>
    <p class="item">Variasi item </p>
    <p class="item">Harga yang Kompetitif</p>
    <p class="item">Pengiriman Gratis*, Aman dan Cepat</p>
    <p class="item">Jaminan Kualitas Produk</p>
  </div>
  <div class="gap-between-elements"></div>
<div class="ui large header">Syarat & Ketentuan</div>
<p>
    Silahkan membaca dan memahami syarat dan
    ketentuan berikut dengan seksama sebelum menggunakan situs ini.
</p>
<div class="ui ordered list">
    <p class="item">
            Hak Cipta <br>
            Hak cipta © oleh belisada.co.id
            Seluruh hak cipta. Tidak ada bagian dari website ini yang dapat
            dipublikasikan ulang, digandakan atau disebarluaskan dalam segala
            cara, termasuk menyalin dan memindahkan dalam bentuk apapun tanpa
            izin tertulis dari penerbit dan pemilik website, terkecuali penawaran
             dan foto yang diterbitkan dengan kredit yang diberikan, dan hanya
              digunakan sendiri dan non komersial, diizinkan oleh hukum hak cipta.
               Untuk permintaan izin tertulis, kepada penerbit dengan subjek yang
               jelas untuk penerbitan kontent. Kami dapat mengubah persyaratan penggunaan
                kondisional dan pemeriksaan sebelum menggunakan kembali setiap konten dari website ini.
    </p>
    <p class="item">Situs Pihak Ketiga <br>
        belisada.co.id diperbolehkan untuk memberikan link ke situs Internet
        yang diterbitkan oleh pihak ketiga dan diperbolehkan untuk menyajikan
        materi dari pihak ketiga di website ini. situs pihak ketiga tidak dipelihara,
        dioperasikan atau dikendalikan oleh belisada.co.id dan tidak membuat pernyataan
         dalam hal situs-situs tersebut.
    </p>
    <p class="item">Penolakan<br>
        Selalu ada risiko yang berkaitan dengan produk yang
        ditemukan di Internet. Ini adalah tanggung jawab Anda untuk selalu
         memeriksa dan menyadari sepenuhnya risiko ini sebelum melakukan tindakan
          apapun. Produk yang ditampilkan di situs ini tidak memiliki semacam asosiasi untuk pengesahan dari item, produk atau merek.

    </p>
    <p class="item">Komunikasi dan Pengaduan Customer <br>
        Semua komentar yang dibuat dan dipublikasikan di situs
        ini diungkapkan untuk setiap pengunjung situs ini. “Ulasan,
         komentar, saran dan ide dipersilahkan asalkan tidak menyinggung,
          ilegal, mengancam atau berbahaya ke situs dan pengguna lainnya”.
          Setiap kontribusi yang tidak pantas ditemukan dapat dihapus dan
          tindakan lebih lanjut dapat dilakukan.
    </p>
    <p class="item">Kebijakan Transaksi  <br>

    </p>
  </div>

