.hook-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 600px;
}
h1 {
    font-size: 48px;
    font-family: "Lato";
    color: rgb(246, 30, 37);
    font-style: italic;
    line-height: 1.2;
    margin-top: 20px;
    text-align: center
}
.auth-form-container {
    padding-top: 70px!important;
}
.top-image {
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
