<div class="gap-between-elements"></div>
<div class="promo-banner-container">
    <div class="promo-grid" style="padding-bottom: 100%;">
        <div class="promo-grid-content">
            <div class="promo-grid-cell" style="width: 66.67%;height: 66.67%;left: 0.00%;top: 0.00%;">
                <span class="promo-img-banner" style="background-image: url('/assets/img/slide1.jpg')"></span>
            </div>
            <div class="promo-grid-cell" style="width: 33.33%;height: 33.33%;left: 66.67%;top: 0.00%;">
                <span class="promo-img-banner" style="background-image: url('/assets/img/slide1a.jpg')"></span>
            </div>
            <div class="promo-grid-cell" style="width: 33.33%;height: 33.33%;left: 66.67%;top: 33.33%;">
                <span class="promo-img-banner" style="background-image: url('/assets/img/slide1b.jpg')"></span>
            </div>
            <div class="promo-grid-cell" style="width: 33.33%;height: 33.33%;left: 0.00%;top: 66.67%;">
                <span class="promo-img-banner" style="background-image: url('/assets/img/slide2a.jpg')"></span>
            </div>
            <div class="promo-grid-cell" style="width: 66.67%;height: 33.33%;left: 33.33%;top: 66.67%;">
                <span class="promo-img-banner" style="background-image: url('/assets/img/slide2b.jpg')"></span>
            </div>
        </div>
    </div>
</div>
