<div class="six wide column">
    <div class="ui card">
        <div class="image">
            <img src="{{userImgAvatar}}" alt="Profile Picture" (load)="setCanvas($event,'imageAvatar')" #avaImg />
        </div>
        <div class="content">
            <a class="header">{{buyerName}}</a>
            <div class="meta">
                <span class="date">{{buyerEmail}}</span>
            </div>
            <div class="description">
                Max file 5 MB. Format (.JPG, .JPEG, .PNG)
            </div>
        </div>
        <div class="extra content center aligned">
            <div class="upload-btn-wrapper" style="cursor: pointer;">
                <button class="ui orange button">Pilih Photo</button>
                <input type="file" name="myfile" (change)="setUrl($event, avaImg)"/>
            </div>
        </div>
    </div>
</div>