<div class="border-store">
        <div class="padding-for-top-store">
            <div class="row">
                <div class="col-1"> <img class="img-small-store" src="assets/img/store_icon.png"></div>
                <div class="col-11 left-col"> <span class="text-profil-toko">Profil Toko</span></div>
    
            </div>
        </div>
        <hr>
        <div class="wrapper-for-store-profile">
            <div>
                <label>Input Foto Toko Mu disini : </label>
                <br>
                <input type="file" id="file" accept="image/*" (change)="handleFileInput($event.target.files)">
            </div>
            <div>
                <label>Nama Toko</label>
                <br>
                <input type="text" class="input-style-text" placeholder="Nama Toko">
                <label>Alamat Toko</label>
                <br>
                <input type="text" class="input-style-text" placeholder="Alamat Toko">
                <label>Deskripsi Toko</label>
                <br>
                <input type="text" class="input-style-text" placeholder="Deskripsi Toko">
                <div class="component-center">
                    <button class="btn btn-size-30 btn btn--orange component-center">Simpan</button>
                </div>
            </div>
            <div>
                <label>Dumy</label>
                <br>
    
            </div>
    
        </div>
    
    </div>