<app-menu-profile></app-menu-profile>

<div class="ui">
    <div class="ui grid">
        <div class="sixteen wide stretched column">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <p>Silakan lengkapi data rekening bank Anda dibawah ini guna memudahkan transfer pembayaran dari hasil produk-produk yang Anda jual.</p>
                    <form class="ui form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                        <h4 class="ui dividing header">Rekening Bank</h4>
                        <div class="field">
                            <label>No. Rekening</label>

                            <input name="accountNo" placeholder="Masukan nomor rekening" type="number" [(ngModel)]="accountNo"  required  #_accountNo="ngModel" min="0" max="16"/>
                            <div *ngIf="_accountNo.invalid && (_accountNo.dirty || _accountNo.touched)" class="ui pointing red basic label">No Rek Is Required</div>
                            <!-- <div *ngIf="!_accountNo.dirty && !_accountNo.pristine" class="ui pointing red basic label">No Rek Is Required</div> -->
                        </div>

                        <div class="field">
                            <label>Nama Bank</label>
                            <sui-select class="selection" labelField="name" placeholder="Nama Bank" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                                <sui-select-option *ngFor="let option of searchrek" [value]="option" value="option.mbankId" [ngModelOptions]="{standalone: true}" ngDefaultControl>{{selectedCategory}}</sui-select-option>
                            </sui-select>
                        </div>

                        <div class="field">
                            <label>Pemilik</label>
                            <input name="pemilik" placeholder="Masukan nama pemilik" #_accountName="ngModel" [(ngModel)]="accountName" required type="text"/>
                            <div *ngIf="_accountNo.invalid && (_accountNo.dirty || _accountNo.touched)" class="ui pointing red basic label">Nama Pemilik</div>
                        </div>
                        <div *ngIf="show">
                            <button
                                [ngClass]="loading?'loading':'ui primary button'"
                                (click)="editRek()"
                                name = "buton13"
                                [disabled]="!f.valid"
                                >EDIT !!
                            </button>

                            <button
                                [ngClass]="loading?'loading':'ui primary button'"
                                (click)="cancelBtn()"
                                name = "buton13"
                                [disabled]="!f.valid"
                                >CANCEL
                            </button>
                        </div>

                        <div *ngIf="show1">
                        <button
                        [ngClass]="loading?'loading':'ui primary button'"
                        (click)="saveRek()"
                        [disabled]="!f.valid"
                        >Kirim</button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="ui striped table" >
                <thead>
                    <tr>
                        <th>Pemilik</th>
                        <th>No. Rekening</th>
                        <th>Nama Bank</th>
                        <th>Ubah</th>

                        <th>Hapus</th>
                    </tr>
                </thead>
                <tbody *ngFor="let option3 of rekening | async">
                    <tr>
                            <td>{{option3.accountName}}</td>
                            <td>{{option3.accountNo}}</td>
                            <td>{{option3.bankName}}</td>

                            <!-- <td><input name="accountNo" placeholder="Masukan nomor rekening" type="text" [(ngModel)]="mBankAccountId"  value="{{option.mBankAccountId}}" #_mBankAccountId="ngModel" [ngModelOptions]="{standalone: true}"/>{{option.mBankAccountId}}"</td> -->

                            <td>
                                <form (ngSubmit)="getAllStorex(option3)">
                                    <button class="ui circular facebook icon button" (click)="show = !show">
                                        <i class="edit icon"></i>
                                  </button>
                                  </form>


                            </td>
                            <td>
                                <button class="ui circular facebook icon button" (click)="hapusUd(option3.mBankAccountId)">
                                    <i class="trash icon"></i>
                                  </button>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
       <!-- <div *ngIf="role == 6; else login">
   <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="active item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="item">
                    Info Perusahaan
                </a>
            </div>
        </div>
</div> -->
<!-- <ng-template #login>
    <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="active item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
            </div>
        </div>
</ng-template> -->



    </div>
</div>
<!-- <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>

    <br>
    <div *ngIf="show">Text to show</div> -->
<!--
    <button (click) ="ngetetst = !ngetetst">{{ngetetst ? 'hide' : 'Simpan'}}</button>
    <div *ngIf="ngetetst">tes</div> -->
