<div class="column">
    <div class="wide column">
        <h1>Profile</h1>
    </div>
</div>
<div class="ui segment">
    <div class="ui grid">
        <div class="twelve wide stretched column">
            <div class="ui grid">
                <div class="six wide column center aligend">
                    <img src="/assets/img/rekbank.png" alt="card.jpg" class="ui image"/>
                </div>
                <div class="ten wide column">

                    <form class="ui form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                        <div class="field">
                            <label>No. Rekening</label>

                            <input name="accountNo" placeholder="Masukan nomor rekening" type="number" [(ngModel)]="accountNo"  required  #_accountNo="ngModel" min="0" max="16"/>

                            <div *ngIf="!_accountNo.valid" class="ui pointing red basic label">No Rek Is Required</div>
                        </div>

                        <div class="field">
                                <label>Nama Bank</label>
                                <sui-select class="selection" labelField="name" placeholder="Nama Bank" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                                    <sui-select-option *ngFor="let option of searchrek" [value]="option" value="option.mbankId"   [ngModelOptions]="{standalone: true}" ngDefaultControl></sui-select-option>
                                </sui-select>

                        </div>
                        <div class="field">
                            <label>Pemilik</label>
                            <input name="pemilik" placeholder="Masukan nama pemilik" #_accountName="ngModel" [(ngModel)]="accountName" required type="text"/>
                            <div *ngIf="!_accountName.valid" class="ui pointing red basic label">Masukan Account Name Anda</div>
                        </div>
                        <div *ngIf="show">
                            <button
                                [ngClass]="loading?'loading':'ui primary button'"
                                (click)="editRek()"
                                name = "buton13"
                                [disabled]="!f.valid"
                                >EDIT !!
                            </button>
                        </div>
                        <div *ngIf="show1">
                        <button
                        [ngClass]="loading?'loading':'ui primary button'"
                        (click)="saveRek()"
                        [disabled]="!f.valid"
                        >Kirim</button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="ui striped table" >
                <thead>
                    <tr>
                        <th>Pemilik</th>
                        <th>No. Rekening</th>
                        <th>Nama Bank</th>
                        <th>Ubah</th>

                        <th>Hapus</th>
                    </tr>
                </thead>
                <tbody *ngFor="let option3 of postrek2">
                    <tr>
                            <td>{{option3.accountName}}</td>
                            <td>{{option3.accountNo}}</td>
                            <td>{{option3.bankName}}</td>

                            <!-- <td><input name="accountNo" placeholder="Masukan nomor rekening" type="text" [(ngModel)]="mBankAccountId"  value="{{option.mBankAccountId}}" #_mBankAccountId="ngModel" [ngModelOptions]="{standalone: true}"/>{{option.mBankAccountId}}"</td> -->

                            <td>
                                <form (ngSubmit)="getAllStorex(option3)">
                                    <button class="ui circular facebook icon button" (click)="show = !show">
                                        <i class="edit icon"></i>
                                  </button>
                                  </form>


                            </td>
                            <td>
                                <button class="ui circular facebook icon button" (click)="hapusUd(option3.mBankAccountId)">
                                    <i class="trash icon"></i>
                                  </button>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="active item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="item">
                    Info Perusahaan
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>

    <br>
    <div *ngIf="show">Text to show</div> -->
<!--
    <button (click) ="ngetetst = !ngetetst">{{ngetetst ? 'hide' : 'Simpan'}}</button>
    <div *ngIf="ngetetst">tes</div> -->
