<div *ngIf="isLoading==true">
    <div class="load-wrapp">
        <div class="load-4">
            <p>Loading...</p>
            <div class="ring-1"></div>
        </div>
    </div>
</div>

<div *ngFor="let item of list">
  <div  class="os-head" (click)="openOS(openDetail, item.transactionId)">
      <div class="row row-atur">
        <div class="col-3">
            <div class="text-order">{{item.expiredTime}}</div>
        </div>
        <div class="col-6">
            <div class="text-rek">Lihat Nomor Rekening Belisada</div>
        </div>
        <div class="col-3">

        </div>
      </div>
      <div class="row row-atur">
        <div class="col-3">
            <div class="text-payid">Payment ID: {{item.paymentNumber}}</div>
        </div>
        <div class="col-7">

            <div class="text-payinfo">Payment: <span id="text-tunggu">{{item.status}}</span> ({{item.paymentMethod}}) 
              <span class="btn-konfirm" (click)="showDialog = !showDialog" (click)="takeId(item.transactionId, item.imageUrl)">Unggah Bukti Transfer</span>
            </div> 
        </div>
        <div class="col-2">
          <div class="text-progress">On Progress</div>
        </div>
      </div>
  </div>
  <div *ngIf="openDetail==true && transactionId==item.transactionId" class="os-body">
    
    <table border="0" width="100%" *ngFor="let itemCart of item.transaction">
      <tr *ngFor="let itemList of itemCart.cart">
        <td valign="top" width="20%">
          <span class="order-id">ORDER ID: {{itemList.orderNumbere}}</span>
          <table border="0" width="100%">
            <tr *ngFor="let itemListProduct of itemList.cartItems">
              <td valign="top" width="40%">
                  <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
              </td>
              <td valign="top" width="60%">
                  <div class="item-colom">{{itemListProduct.name}}</div> 
                  <div class="item-colom">{{itemListProduct.priceList | currency:'Rp '}}</div> 
              </td>
            </tr>
          </table>
        </td>
        <td valign="top" width="35%">
          <div class="item-colom-border">
            <div class="row">
              <div class="col-6">
                Nama Penerima: <br><label>{{itemList.namaPenerima}}</label>
              </div>
              <div class="col-6">
                No Handphone: <br><label>{{itemList.phonePenerima}}</label>
              </div>
            </div>

            Alamat: {{itemList.alamatSebagai}}<br><label>{{ itemList.alamatPenerima }}</label>

          </div>
        </td>
        <td valign="top" width="15%">
          <div class="item-colom">
            <div class="row">
              <div class="col-12">
                <label>No Resi: {{itemList.noResi}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label>Status: {{itemList.statusTracking}}</label>
              </div>
            </div>
          </div>
        </td>
        <td width="40%">
          <span class="btn-konfirm">Konfirmasi Barang</span> <span class="btn-invoice"><u>Lihat Invoice</u></span>
        </td>
      </tr>
    </table>
  </div>
</div>


<app-models [(visible)]="showDialog" class="frameDialog">
    <div class="modal-body">

        <div *ngIf="isForm==true">    

            <div class="title-modal">Upload Bukti Transfer Anda</div>

            <div class="image">
              <img src="{{imgBuktiTransfer}}" alt="Profile Picture" class="img-avatar" (load)="setCanvas($event,'imgBuktiTransfer')" #avaImg />
            </div> 

            <div class="upload-btn-wrapper" *ngIf="isPilih == true">
                <div class="btn-konfirm">Pilih Bukti Transfer</div>                
                <input type="file" name="myfile" (change)="setUrl($event, avaImg)"/>
            </div>  
            <div class="btn-upload" *ngIf="isSent == true" (click)="uploadBuktiTransfer()">Klik disini untuk unggah bukti transfer</div>
        
        </div>
        <div *ngIf="regSuccess==true" class="isSuccess">
            <div class="title-modal">Upload Bukti Transfer Berhasil</div>    
            <div class="text-success">berhasil.</div>
        </div>
    </div>

</app-models>