<!-- <div *ngIf="isEmpty==true">
    Saat ini belum ada pesanan.
</div> -->

<div *ngFor="let item of order.content">
    <div  class="os-head">
        <div class="row row-atur">
            <div class="col-3">
                <div class="text-order">{{item.createdTime}}</div>
            </div>
            <div class="col-9">
                <div class="text-rek" *ngIf="item.paymentMethodCode != 'KK'" (click)="showPaymentMethodModal = !showPaymentMethodModal">Lihat Nomor Rekening Belisada <span class="text-yellow"><fa-icon [icon]="['fas', 'credit-card']"></fa-icon></span></div>
                
                <div *ngIf="item.paymentMethodCode == 'KK' && item.countdown?.status === 1">
                    <a href="{{url_mitrans}}/snap/v2/vtweb/{{item.tokenTransaction}}">
                        <div class="text-confirm">Lanjutkan Pembayaran <span class="text-yellow"><fa-icon [icon]="['fa', 'bell']"></fa-icon></span></div>
                    </a>
                </div>
           
                <div *ngIf="item.paymentMethodCode != 'KK'">
                    <a [routerLink]="['/buyer/confirmation/' + item.paymentNumber]">
                        <div class="text-confirm">Konfirmasi Pembayaran <span class="text-yellow"><fa-icon [icon]="['fa', 'bell']"></fa-icon></span></div>
                    </a>
                </div>
          
                <div class="text-more" (click)="openOS(openDetail, item.transactionId)">Lihat Detail <span class="text-yellow"><fa-icon [icon]="['fa', 'search']"></fa-icon></span></div>
            </div>
        </div>
        <div class="row row-atur">
            <div class="col-3">
                <div class="text-payid">Payment ID: {{item.paymentNumber}}</div>
            </div>
            <div class="col-3">

                <div class="text-payinfo">Payment: ({{item.paymentMethod}})<br>Grand Total: Rp.{{item.transaction[0].grandTotal | number}}
                </div>
            </div>
            <div class="col-3">
                <div *ngIf="item.countdown">
                    Batas Waktu Respon:<br>
                    <ng-container *ngIf="item.countdown.status === 1; else expired">
                        {{ item.countdown.days }}d - {{ item.countdown.hours }}h - {{ item.countdown.minutes }}m - {{ item.countdown.seconds }}s
                    </ng-container>
                    <ng-template #expired>
                        {{ item.countdown.message }}
                    </ng-template>
                </div>
            </div>
            <div class="col-3">
                <div class="text-progress"> <span id="text-tunggu">{{item.status}}</span></div>
            </div>
        </div>
    </div>
    <div *ngIf="openDetail === true && transactionId === item.transactionId" class="os-body">
        <div *ngFor="let itemCart of item.transaction" [ngClass]="{'itemCartScroll': itemCart.cart.length>=2}">
            <div class="itemCart" *ngFor="let itemList of itemCart.cart">              
                <div>
                    <span class="order-id">ORDER ID: {{itemList.orderNumber}}</span>
                    <div class="itemCartSub" *ngFor="let itemListProduct of itemList.cartItems">
                        <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
                        <div>
                            <div class="item-colom">{{itemListProduct.name}} x{{ itemListProduct.quantity }} <br>Produk ID: {{itemListProduct.productId}} <br>
                                Varian:<br>
                                <span *ngFor="let varian of itemListProduct.varians; let i = index">
                                    {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                                </span>
                            </div>
                            <div class="item-colom">Rp.{{itemListProduct.subtotal | number}}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item-colom-border">
                        <div class="row">
                            <div class="col-6">
                                Nama Penerima: <br><label>{{itemList.namaPenerima}}</label>
                            </div>
                            <div class="col-6">
                                No Handphone: <br><label>{{itemList.phonePenerima}}</label>
                            </div>
                        </div>

                        Alamat: {{itemList.alamatSebagai}}<br><label>{{ itemList.alamatPenerima }}</label>
                    </div>
                </div>
                <div>
                    <div class="item-colom">
                        <div class="row">
                            <div class="col-12">
                                No Resi: <label>{{itemList.noResi}} ({{itemList.courierName}} {{itemList.courierService}})</label>
                            </div>
                            <div class="col-12">
                                Status: <label>{{itemList.statusOrder}}</label>
                            </div>
                            <div class="col-12">
                                Total Berat: <label>{{itemList.totalWeight/1000}}kg</label>
                            </div>
                            <div class="col-12">
                                Biaya Pengiriman: <label>Rp.{{itemList.courierPrice | number}}</label>
                            </div>
                            <div class="col-12">
                                Asuransi: <b><span *ngIf="itemList.useAsuransi === false">Tidak</span> <span *ngIf="itemList.useAsuransi === true">Ya</span></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <span *ngIf="itemList.statusOrderCode === '157' && itemList.statusOrderCode !== '181'" (click)="showDialogKonfirm = !showDialogKonfirm" (click)="alertConfirmation(itemList.orderNumber)" class="btn-konfirm">Konfirmasi Barang</span>
                    <span *ngIf="itemList.statusOrderCode === '181'" (click)="showDialogReview = !showDialogReview" (click)="alertReview(itemList.orderNumber)" class="btn-review">Nilai Produk</span> 
                    <a class="btn-invoice" target="_blank" [routerLink]="['/invoice/' + itemList.orderNumber]"><u>Lihat Invoice</u></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="paging" *ngIf="order.totalElements != 0">
    <ul>
        <li>
            <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
        </li>
        <li>
            <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
        </li>
        <li *ngFor="let p of pages">
            <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
        </li>
        <li>
            <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
        </li>
        <li>
            <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
        </li>
    </ul>
</div>

<!-- <div *ngIf="isLoading==true">
    <div class="load-wrapp">
        <div class="load-4">
            <p>Loading...</p>
            <div class="ring-1"></div>
        </div>
    </div>
</div>

<div *ngIf="isEmpty==true">
    Saat ini belum ada pesanan.
</div>

<div *ngFor="let item of list">
    <div  class="os-head">
        <div class="row row-atur">
            <div class="col-3">
                <div class="text-order">{{item.createdTime}}</div>
            </div>
            <div class="col-9">
                <div class="text-rek" (click)="showDialogRek = !showDialogRek">Lihat Nomor Rekening Belisada <span class="text-yellow"><fa-icon [icon]="['fas', 'credit-card']"></fa-icon></span></div>
                <div class="text-confirm" (click)="confirm(item.paymentNumber)">Konfirmasi Pembayaran <span class="text-yellow"><fa-icon [icon]="['fa', 'bell']"></fa-icon></span></div>
                <div class="text-more" (click)="openOS(openDetail, item.transactionId)">Lihat Detail <span class="text-yellow"><fa-icon [icon]="['fa', 'search']"></fa-icon></span></div>
            </div>
        </div>
        <div class="row row-atur">
            <div class="col-4">
                <div class="text-payid">Payment ID: {{item.paymentNumber}} </div>
            </div>
            <div class="col-4">

                <div class="text-payinfo">Payment: ({{item.paymentMethod}})
                
                </div>
            </div>
            <div class="col-2" *ngIf="item.countdown">
                Batas Waktu Respon:
                <ng-container *ngIf="item.countdown.status === 1; else expired">
                    {{ item.countdown.days }}d - {{ item.countdown.hours }}h - {{ item.countdown.minutes }}m - {{ item.countdown.seconds }}s
                </ng-container>
                <ng-template #expired>
                    {{ item.countdown.message }}
                </ng-template>
            </div>
            <div class="col-2">
                <div class="text-progress"> <span id="text-tunggu">{{item.status}}</span></div>
            </div>
        </div>
    </div>
    <div *ngIf="openDetail==true && transactionId==item.transactionId" class="os-body">

        <table border="0" width="100%" *ngFor="let itemCart of item.transaction">
            <tr *ngFor="let itemList of itemCart.cart">
                <td valign="top" width="20%">
                    <span class="order-id">ORDER ID: {{itemList.orderNumber}}</span>
                    <table border="0" width="100%">
                        <tr *ngFor="let itemListProduct of itemList.cartItems">
                            <td valign="top" width="40%">
                                <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
                            </td>
                            <td valign="top" width="60%">
                                <div class="item-colom">{{itemListProduct.name}} x{{ itemListProduct.quantity }} <br>Produk ID: {{itemListProduct.productId}} <br>
                                    Varian:<br>
                                    <span *ngFor="let varian of itemListProduct.varians; let i = index">
                                        {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                                    </span>
                                </div>
                                <div class="item-colom">Rp.{{itemListProduct.subtotal | number}}</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="35%">
                    <div class="item-colom-border">
                        <div class="row">
                            <div class="col-6">
                                Nama Penerima: <br><label>{{itemList.namaPenerima}}</label>
                            </div>
                            <div class="col-6">
                                No Handphone: <br><label>{{itemList.phonePenerima}}</label>
                            </div>
                        </div>

                        Alamat: {{itemList.alamatSebagai}}<br><label>{{ itemList.alamatPenerima }}</label>
                    </div>
                </td>
                <td valign="top" width="22%">
                    <div class="item-colom">
                        <div class="row">
                        <div class="col-12">
                            No Resi: <label>{{itemList.noResi}} ({{itemList.courierName}} {{itemList.courierService}})</label>
                        </div>
                        <div class="col-12">
                            Status: <label>{{itemList.statusOrder}}</label>
                        </div>
                        <div class="col-12">
                            Total Berat: <label>{{itemList.totalWeight/1000}}kg</label>
                        </div>
                        <div class="col-12">
                            Biaya Pengiriman: <label>Rp.{{itemList.courierPrice | number}}</label>
                        </div>
                        </div>
                    </div>
                </td>
                <td width="33%">
                    <span *ngIf="itemList.statusOrderCode === '157' && itemList.statusOrderCode !== '181'" (click)="showDialogKonfirm = !showDialogKonfirm" (click)="alertConfirmation(itemList.orderNumber)" class="btn-konfirm">Konfirmasi Barang</span>
                    <span *ngIf="itemList.statusOrderCode === '181'" (click)="showDialogReview = !showDialogReview" (click)="alertReview(itemList.orderNumber)" class="btn-review">Nilai Produk</span> 
                    <a class="btn-invoice" target="_blank" [routerLink]="['/invoice/' + itemList.orderNumber]"><u>Lihat Invoice</u></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="paging" *ngIf="proddetail.totalElements != 0">
	<ul>
		<li>
			<a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
		</li>
		<li *ngFor="let p of pages">
			<a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
		</li>
		<li>
			<a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
		</li>
	</ul>
</div> -->
<!-- 
<app-models [(visible)]="showDialog" class="frameDialog">
    <div class="modal-body">
        <div *ngIf="isForm==true">
            <div class="title-modal">Upload Bukti Transfer Anda</div>
            <div class="image">
                <img src="{{imgBuktiTransfer}}" alt="Profile Picture" class="img-avatar" (load)="setCanvas($event,'imgBuktiTransfer')" #avaImg />
            </div>
            <div class="upload-btn-wrapper" *ngIf="isPilih == true">
                <div class="btn-konfirm">Pilih Bukti Transfer</div>
                <input type="file" name="myfile" (change)="setUrl($event, avaImg)"/>
            </div>
            <div class="btn-upload" *ngIf="isSent == true" (click)="uploadBuktiTransfer()">Klik disini untuk unggah bukti transfer</div>
        </div>
        <div *ngIf="regSuccess==true" class="isSuccess">
            <div class="title-modal">Upload Bukti Transfer Berhasil</div>
            <div class="text-success">berhasil.</div>
        </div>
    </div>
</app-models> -->

<!-- NOTE: Used -->
<app-models [(visible)]="showPaymentMethodModal" class="frameDialog">
    <div class="row modal-body">
        <div class="col list-metode" *ngFor="let item of listPayment">
            <div>
                <div class="img-pay"><img src="{{ item.imageUrl }}" class="img-icon"></div>
                {{ item.accountNumber }}<br>A.N.<br>{{ item.accountName }}
            </div>
        </div>
    </div>
</app-models>
<!-- 
<app-models [(visible)]="showDialogDetail" class="frameDialog">
    <div class="detail-modal" *ngFor="let item of list">
        <div *ngIf="transactionId==item.transactionId">
            <div *ngFor="let itemCart of item.transaction">
                <div *ngFor="let itemList of itemCart.cart">
                    <div class="status-order col-12">
                        <div class="store-name col-6 left">
                            {{ itemList.storeName }}
                        </div>
                        <div class="total-item col-6 right">
                            Total 2 Item
                        </div>
                    </div>
                </div>
                <div class="product">
                    <table border="0" width="100%">
                        <tr *ngFor="let itemListProduct of itemList.cartItems">
                            <td width="25%">
                                <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
                            </td>
                            <td width="25%">
                                <div class="item-colom"> 
                                    <div class ="item-name">
                                        {{itemListProduct.name}}
                                    </div>
                                    Varian<br>
                                    <span *ngFor="let varian of itemListProduct.varians; let i = index">
                                        {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                                    </span><br><br>
                                    x{{ itemListProduct.quantity }}
                                </div>
                            </td>
                            <td width="50%">
                                <div class="item-price">Rp.{{itemListProduct.specialPrice | number}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-total" *ngFor="let item of list">
        <div *ngIf="transactionId==item.transactionId">
            <div *ngFor="let itemCart of item.transaction">
                <div *ngFor="let itemList of itemCart.cart">
                    <table></table>
                </div>
            </div>
        </div>
    </div>
</app-models> -->
<!-- 
<app-models [(visible)]="showDialogKonfirm" maxwidth="600" class="frameDialog">
    <div class="model-head">KONFIRMASI PENERIMAAN BARANG</div>
    <div class="modal-body">
        <b>Apakah anda sudah menerima pesanan anda?</b><br>
        - Klik Selesai untuk menyelesaikan transaksi anda dan Dana akan diteruskan kepada Seller<br>
        - Klik Komplain jika barang yang anda terima tidak sesuai (Kurang/ Rusak/ Lain-lain)
    </div>
    <div class="modal-footer">
        <span class="btn-komplain-confirm" (click)="complaint(orderNumber)">Komplain</span>
        <span class="btn-selesai-confirm" (click)="receiptConfirmation(orderNumber)">Selesai</span>
    </div>
</app-models> -->
<!-- 
<app-models [(visible)]="showDialogReview" maxwidth="600" class="frameDialog">
<div class="model-head">Nilai Produk Ini</div>
    <div *ngFor="let item of list">
        <div *ngIf="transactionId==item.transactionId">
            <div *ngFor="let itemCart of item.transaction">
                <div *ngFor="let itemList of itemCart.cart">
                    <table border="0" width="100%">
                        <tr *ngFor="let itemListProduct of itemList.cartItems">
                            <td valign="top" width="20%">
                                <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
                            </td>
                            <td valign="top" width="30%">
                                <div class="item-colom detail">
                                    <div class="name">{{itemListProduct.name}} </div>
                                    <div class="varian">
                                        Varian<br>
                                        <span *ngFor="let varian of itemListProduct.varians; let i = index">
                                            {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td valign="top" width="50%">
                                <div class="item-colom">
                                    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(itemListProduct.productId)">
                                        <div class="rating">
                                            <rating-input formControlName="star"></rating-input>
                                        </div><br>
                                        <textarea formControlName="message" class="review" cols="40" rows="6" placeholder="Beritahu orang lain tentang produk ini"></textarea><br>
                                        <div class="button">
                                            <span class="btn-back" (click)="backToOrder()">Nanti Saja</span>
                                            <button class="btn-submit-review" type="submit">OK</button>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-models> -->