<div class="os-head" (click)="openOS()">
    <div class="row row-atur">
      <div class="col-3">
          <div class="text-order">18 Oktober 2019</div>
      </div>
      <div class="col-6">
          <div class="text-rek">Lihat Nomor Rekening Belisada</div>
      </div>
      <div class="col-3">

      </div>
    </div>
    <div class="row row-atur">
      <div class="col-3">
          <div class="text-payid">Payment ID: #412151</div>
      </div>
      <div class="col-7">
          <div class="text-payinfo">Payment: <span id="text-tunggu">Menunggu Pembayaran</span> (Bank Transfer) <span class="btn-konfirm">Unggah Bukti Transfer</span></div> 
      </div>
      <div class="col-2">
        <div class="text-progress">On Progress</div>
      </div>
    </div>
</div>
<div class="os-body">

  <table border="0" width="100%">
    <tr>
      <td valign="top" width="20%">
        <table border="0" width="100%">
          <tr>
            <td valign="top" width="40%">
                <div class="img-item">Foto Product</div>
            </td>
            <td valign="top" width="60%">
                <div class="item-colom">Order ID</div> 
                <div class="item-colom">Product Name</div> 
                <div class="item-colom">Product List</div> 
            </td>
          </tr>
        </table>
      </td>
      <td valign="top" width="35%">
        <div class="item-colom-border">
          <div class="row">
            <div class="col-6">
              Nama Penerima: <br><label>Samuel</label>
            </div>
            <div class="col-6">
              No Handphone: <br><label>089976454</label>
            </div>
          </div>

          Alamat: Pacar<br><label>Jl. Hayam Wuruk no.77 kec tanjung benua kepulauan seribu RT/ RW 03/07</label>

        </div>
      </td>
      <td valign="top" width="15%">
        <div class="item-colom">
          <div class="row">
            <div class="col-12">
              <label>No Resi:</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Status:</label>
            </div>
          </div>
        </div>
      </td>
      <td width="40%">
        <span class="btn-konfirm">Konfirmasi Barang</span> <span class="btn-invoice"><u>Lihat Invoice</u></span>
      </td>
    </tr>
  </table>

    <!-- <div class="row row-atur">
      <div class="col-4">
        <div class="row">
          <div class="col-3">
            
          </div>
          <div class="col-8">
             
          </div>
        </div>   
      </div>  
      <div class="col-3">
          
      </div>
      <div class="col-3">
aaa
      </div>
      <div class="col-3">
          aaaaa
      </div>
    </div> -->
</div>
<!-- <div class="os-footer">
    <div class="row row-atur">
      <div class="col-3">
          <div class="text-order">9 Oktober 2019</div>
      </div>
      <div class="col-6">
          <div class="text-rek"></div>
      </div>
      <div class="col-3">

      </div>
    </div>
    <div class="row row-atur">
      <div class="col-3">
          <div class="text-payid">Payment ID: #412151</div>
      </div>
      <div class="col-6">
          <div class="text-payinfo">Payment: <span id="text-tunggu">Kartu Kredit</span></div>
      </div>
      <div class="col-3">
        <div class="text-finish">Finish</div>
      </div>
    </div>
</div> -->