<div class="column">
    <div class="wide column">
        <h1>Profile</h1>
    </div>
</div>
<div class="ui segment">
    <div class="ui grid">
      <div class="twelve wide stretched column">
            <div class="ui grid">
                <div class="six wide column center aligend">
                    <img src="/assets/img/perusahaan.jpg" alt="perusahaan.jpg" class="ui image"/>
              </div>
                <div class="ten wide column">

                    <form class="ui form">
                        <div class="field">
                            <label>Nama Perusahaan</label>
                            <input name="nm_toko" placeholder="Masukan nama perusahaan" type="text"/>
                        </div>
                        <div class="field">
                            <label>Alamat Perusahaan</label>
                            <input name="alamat" placeholder="Masukan alamat perusahaan" type="text"/>
                        </div>
                        <div class="field">
                            <label>No. Telephone</label>
                            <input name="provinsi" placeholder="Masukan nomor telephone" type="text"/>
                        </div>
                        <div class="field">
                            <label>Provinsi</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Propinsi">
                                <sui-select-option *ngFor="let option of propinsi" [value]="option" value="option.name" (click)="selectCity(option.c_region_id)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kota</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Kota">
                                <sui-select-option *ngFor="let option of city" [value]="option" value="option.name" (click)="selectKelurahan(option.c_city_id)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kelurahan/ Kecamatan</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Kota">
                                <sui-select-option *ngFor="let option of kelurahan" [value]="option" value="option.name" (click)="selectKelurahan(option.c_district_id)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>No. SIUP</label>
                            <input name="kodepos" placeholder="Masukan nomor SIUP" type="text"/>
                        </div>
                        <div class="field">
                            <label>No. TDP</label>
                            <input name="kodepos" placeholder="Masukan nomor TDP" type="text"/>
                        </div>
                        <div class="field">
                            <label>Bergerak Dibidang</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Kategori">
                                <sui-select-option *ngFor="let option of categories" [value]="option" value="option.name" (click)="selectCategories(option.mproductCategoryId)"></sui-select-option>
                            </sui-select>
                        </div>
                        <button class="ui primary button" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="item">
                Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="active item">
                Info Perusahaan
                </a>
            </div>
        </div>
    </div>
  </div>
