<div class="containPage">
<img src="assets/img/logo.png" border="0">
<p>
  Hallo <b>Adam Darmawan</b>,
  <br><br>

  Sekarang kamu sudah bisa belanja di <b>Belisada.co.id</b> - Beli Apa Saja Ada. Sebelum memulai, ada baiknya kamu pelajari beberapa hal berikut:
  <br><br>
  <b>Panduan Pengguna Baru</b>
  <br><br>
  <a href="" class="link-text">Cara Berbelanja</a><br>
  <a href="" class="link-text">Cara Berjualan</a><br>
  <a href="" class="link-text">3 Langkah Belanja Online Mudah di Belisada.co.id</a><br>
  <a href="" class="link-text">Panduan Keamanan untuk Terhindar dari Penipuan</a><br>
  <br>
  Punya pertanyaan atau butuh konsultasi untuk berjualan online? Hubungi cs@belisada.co.id atau kunjungi halaman bantuan belisada.co.id.
</p>
<div class="b-green">
  Harap tidak menginformasikan nomor kontak, alamat email, atau password Anda kepada siapapun, termasuk pihak yang mengatasnamakan Belisada.co.id.
</div>
<p>Terima kasih atas perhatian dan kepercayaan Anda.</p>
<br>
<div class="center">
<button class="btn btn-orange btn-size-80 text-btn component-center">Go To Belisada</button>
</div>
<br><br>
<p>
  PT. Belisada Global Indonesia<br>
  Jl. Kesehatan No. 60 O-P,<br>
  RT 2, RW. 4 Petojo Selatan, Gambir,<br>
  Jakarta Pusat 10160,<br>
  Email: cs@belisada.co.id
</p>

<p>
  Follow us @belisada | Like us on BelisadaID.
</p>
</div>