<div class="gap-between-elements"></div>
<div class="promo-banner-container" style="background:#dddddd">
    <div class="promo-grid" style="padding-bottom: 100%;">
        <div class="promo-grid-content">
            <div class="promo-grid-cell" style="width: 66.67%;height: 66.67%;left: 0.00%;top: 0.00%;">
                <span class="promo-img-banner" (click)="slideGadget()" [ngStyle]="{'background-image': 'url(/assets/img/banner-home/banner-belisada1.png?v='+ randoms + ')'}" style="cursor:pointer;background-position:center;"></span>
            </div>
            <div class="promo-grid-cell" style="width: 33.33%;height: 33.33%;left: 66.67%;top: 0.00%;">
                <span class="promo-img-banner" (click)="beliDiSini()"  [ngStyle]="{'background-image': 'url(/assets/img/banner-home/banner-belisada2.png?v='+ randoms + ')'}" style="cursor:pointer;background-position:center;"></span>
            </div>
            <div class="promo-grid-cell" style="width: 33.33%;height: 33.33%;left: 66.67%;top: 33.33%;">
                <span class="promo-img-banner" (click)="slideShow()" [ngStyle]="{'background-image': 'url(/assets/img/banner-home/banner-belisada3-min.png?v='+ randoms + ')'}" style="cursor:pointer;background-position:center;"></span>
            </div>
            <div class="promo-grid-cell" style="width: 33.33%;height: 33.33%;left: 0.00%;top: 66.67%;">
                <span class="promo-img-banner" (click)="beliIphone()" [ngStyle]="{'background-image': 'url(/assets/img/banner-home/banner-belisada4.png?v='+ randoms + ')'}" style="cursor:pointer;background-position:center;"></span>
            </div>
            <div class="promo-grid-cell" style="width: 66.67%;height: 33.33%;left: 33.33%;top: 66.67%;">
                <span class="promo-img-banner" (click)="beliLcd()" [ngStyle]="{'background-image': 'url(/assets/img/banner-home/banner-belisada5.png?v='+ randoms + ')'}" style="cursor:pointer;background-position:center;"></span>
            </div>
        </div>
    </div>
</div>
