<div class="kukuh">
    <div class="gap-between-elements"></div>
    <div class="wrapper">
                <div class="wrapper3">
                    <div>
                            <div *ngIf="success" class="content text-center">
                                    <h2>Aktifasi Berhasil</h2>
                                    <a routerLink="/sign-in" routerLinkActive="active">Login</a>
                                  </div>
                                  <div *ngIf="!success" class="content text-center">
                                    <h2>{{message}}</h2>
                                    <button (click)="resendEmail()" class="ui primary button">Resend email activation</button>
                                  </div>
                    </div>
                </div>
              </div>
</div>

        <!-- <div *ngIf="success" class="content text-center">
                <h2>Aktifasi Berhasil</h2>
                <a routerLink="/sign-in" routerLinkActive="active">Login</a>
              </div>
              <div *ngIf="!success" class="content text-center">
                <h2>{{message}}</h2>
                <button (click)="resendEmail()" class="ui primary button">Resend email activation</button>
              </div> -->
