.kukuh {
        height:100%;
        width:100%;
        background:#F8F5F3;
        color:black;
        position: fixed;

}
.wrapper{
    display:grid;
    grid-template-columns: 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wrapper3{
    display:grid;
    grid-template-columns: 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }

  .wrapper > div{
    background:#eee;
    padding:1em;
  }
  .wrapper > div:nth-child(odd){
    background: white;
    /* border: 1px solid; */
    margin: 0% auto;
    border-radius: 5px 5px 5px 5px
  }
