<div class="ui grid b-cat" align="center" >
    <!-- <h3 class="text-center" *ngIf="pageError">Tidak ada Product</h3> -->
    <!-- <p>{{pageError}}</p> -->
    <div class="ui sixteen column doubling stackable grid container center aligned" *ngIf="pageError">
            <!-- <h3 class="text-center" *ngIf="pageError">Tidak ada Product</h3> -->
            <div class="ui grid b-mainten">
              <div class="sixteen wide column">
                <h2 class="ui icon header">
                  <!-- <i class="window restore icon"></i> -->
                  <!-- <i class="Info Circle icon"></i> -->
                  <i class="info circle icon" style="color: #002e43;"></i>
                  <div class="content">
                    <!-- <h1>Tidak ada Product</h1> -->
                    <div class="sub header"><b>Maaf halaman tidak ditemukan.</b></div>

                  </div>
                </h2>
                <br>
                <!-- <button class="ui compact labeled icon red button" (click)="backToHome()">
                  <i class="home icon"></i>
                  Back To Home
              </button> -->
              </div>
            </div>
            </div>

  <div class='ui stackable grid  container'>
    <div class="four wide column center aligned" *ngFor="let item3 of level_3 | async">
        <div class='bg-cat'>
            <div (click)="dapatkanList(item3.m_product_category_id)" class="item" style="cursor: pointer;">
              <img class="ui centered image" style="height: 150px; width: auto;" [src]="item3.imageurl" alt="{{item3.name}}"onError="this.src='/assets/img/no-image.png'" /><br>
              <span *ngIf="lang === 'id'">{{ item3.name }}</span><span *ngIf="lang === 'en'">{{ item3.name_en }}</span>
              <!-- {{ item.m_product_category_id }} -->
            </div>
        </div>
    </div>
  </div>
</div>
