.b-cat{
    margin-top:20px;
}

.bg-cat{
    background:#ffffff;
    padding:10px 5px;
    
}

.bg-cat:hover{
    background:#f8f6f6;
    padding:10px 5px;
}

.bg-cat a:link{
    color:#111111;
    font-size:15px;
}