.address-book {
    font-size: 50px!important;
    margin-top: 10px;
}

.text-username {
    margin-top: -10px;
}

hr {
    height: 1px;
    background-color: red;
}

.img-profile{
    cursor: pointer;
}

.side-first{
    background-color: #fa6524;
    padding:10px;
}

.side-second{
    background-color: #232f3d;
    padding:10px;
    color:#e8eaeb;
    padding-bottom:20px;
    border-bottom:10px solid #2d3e52;
}

.side-third{
    background-color: #dadbdc;
    padding:10px;
    color:#111111;
    padding-bottom:20px;
    border-bottom:10px solid #2d3e52;
}

.main-menu{
    background: #2d3e52;
    border-radius: 10px;
    padding: 9px;
    font-size: 15px;
    color:#ffffff;
}

.item{
    color:#d1d4d7;
    cursor: pointer;
}

.item:hover{
    color:#ffffff;
}


.menu-seller-mobile{
    display: none;
}

@media screen and (max-width: 600px) {
    // .header{
    //     width:100%;
    // }
    .lay-descktop{
        display: none;
    }    

    .menu-seller-mobile{
        display: block;
        padding-left:15px;
        margin-top:10px;
        margin-bottom:10px;
    }

}