<div class="ui left aligned segment">

  <div class="ui center aligned basic segment">

    <!-- <h4 class="ui header" style='font-size:50px;margin-top:10px'><i class="address book icon"></i></h4> -->
    <!-- <img class="ui medium circular image" src="/assets/img/kristy.png"> -->
    <p><img class="ui medium rounded image" src="/assets/img/kristy.png" alt="profile picture"/></p>
    <strong>{{sellerName}}</strong>
  </div>

  <p>
    {{sellerEmail}}<br/>
    <!-- {{sellerPhone}}<br/> -->
    Basic Seller
  </p>

  <div class="ui center aligned basic segment">
    <button class="ui youtube button" (click)="editProfile()">
      Edit Profile
    </button>
  </div>

  <div class="ui link list">
    <hr/>
    <a routerLink="/seller/dashboard" class="active item" >Dashboard</a>
    <a routerLink="/seller/kontak" class="item">Kontak Pesan</a>
    <a routerLink="/seller/payment-info" class="item">Payment Info</a>
    <!-- <a routerLink="/seller/my-store" class="item">Daftar Toko & Product</a> -->
    <a routerLink="/seller/product-list" class="item">Product</a>
    <a routerLink="/seller/salles-report" class="item">Sales Report</a>
    <a class="item">Statistik</a>
    <hr/>
    <a class="item">Courier Service</a>
    <a class="item">Payment Gateway</a>
    <a routerLink="/seller/faq" class="item">FAQ</a>
    <a class="item">myADS</a>
    <a class="item">Upgrade Account</a>
  </div>

</div>






