<div class="ui left aligned lay-descktop">

  <div class='side-first'>

    
        <div class="ui card">
            <div class="image">
                <img src="{{userImgAvatar}}" alt="Profile Picture" (load)="setCanvas($event,'imageAvatar')" #avaImg />
            </div>
            <div class="content">
                <a class="header">{{sellerName}}</a>
                <div class="meta">
                    <span class="date">{{storeName}}</span>
                </div>
                <div class="description">
                    Max file 5 MB. Format (.JPG, .JPEG, .PNG)
                </div>
            </div>
            <div class="extra content center aligned" style="cursor: pointer;">
                <div class="upload-btn-wrapper">
                    <button class="ui youtube button">Pilih Photo</button>
                    <input type="file" name="myfile" (change)="setUrl($event, avaImg)"/>
                </div>
            </div>
        </div>
  


<!-- 

    <div class="ui center aligned basic segment">

      <p>
          <img (click)="editProfile()" class="ui medium rounded image img-profile" src="{{sellerimage}}" alt="profile picture"/>
      </p>
      <strong>{{sellerName}}</strong><br>
      <strong>{{storeName}}</strong><br>
    </div> -->


    <!-- <div class="ui center aligned basic segment">
      <button class="ui youtube button" (click)="editProfile()">
        Edit Profile
      </button>
    </div> -->
    <!-- <div class="ui center aligned basic segment">
        <div class="ui center aligned youtube pointing dropdown button" suiDropdown>
            <div class="text">Profile</div>
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
                <div class="item" (click)="editProfile()">Edit Profile</div>
                <div class="item" (click)="goChangePassword()">Ubah Password</div>
                <div class="item" (click)="goRekening()">Rekening</div>
                <div class="item" (click)="goInfoToko()">Info Toko</div>
            </div>
        </div>
    </div> -->
  </div>
  <div class='side-fourth'>
    <div class='menu-fourth'>
        <p><a (click)="editProfile()" class="item" translate><i class="user icon"></i> Edit Profile</a></p>
        <p><a (click)="goChangePassword()" class="item" translate><i class="privacy icon"></i> Ubah Password</a></p>
        <p><a (click)="goRekening()" class="item" translate><i class="payment icon"></i> user.seller.rek</a></p>
        <p><a (click)="goInfoToko()" class="item" translate><i class="law icon"></i> user.seller.shop</a></p>
    </div>    
  </div>
    <div class='side-second'>
        <!-- <div class='main-menu'>
            <p><a (click)="editProfile()" class="item" translate>Edit Profile</a></p>
            <p><a (click)="goChangePassword()" class="item" translate>Ubah Password</a></p>
            <p><a (click)="goRekening()" class="item" translate>Rekening</a></p>
            <p><a (click)="goInfoToko()" class="item" translate>Info Toko</a></p>
        </div> -->
        <div class='main-menu'>
          <p><a (click)="goDashboard()" class="item" translate>user.seller.one</a></p>
          <p><a (click)="goKontak()" class="item" translate>user.seller.two</a></p>
          <p><a (click)="goPaymentInfo()" class="item" translate>user.seller.three</a></p>
          <p><a (click)="goToProduct()" class="item" translate>user.seller.four</a></p>
          <p><a (click)="gotoDana()" class="item" translate>user.seller.saldo</a></p>
          <p><a (click)="gotoLacak()" class="item" translate>user.seller.lacak</a></p>
          <p><a (click)="goKontak()" class="item" translate>user.seller.notifikasi</a></p>
          <p><a (click)="goPaymentInfo()" class="item" translate>user.seller.three</a></p>
          <!-- <p><a (click)="goCourier()" class="item">Info Pengiriman</a></p> -->
           <p><a (click)="goSallesReport()" class="item" translate>user.seller.five</a></p>
          <p><a (click)="goFaqSeller()" class="item" translate>user.seller.nine</a></p>
          <p><a (click)="gotoContact()" class="item" translate>user.seller.contact</a></p>
        </div>

    </div>
    <div class='side-third'>
        <form class="ui form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="ui form">
            <div class="grouped fields">
                <label>Silakan pilih salah satu atau beberapa jenis kurir yang Anda inginkan.</label>
                <div class="field" *ngFor="let c of courierList">
                    <sui-checkbox name="kurir" value="{{c.shipperId}}">{{c.name}}</sui-checkbox>
                </div>
            </div>
        </div>
        <!-- <button class="ui primary button" (click)="updateCourier()">
            Simpan
        </button> -->
        <button class="ui primary button" type="submit">Simpan</button>
        </form>
    </div>

</div>



<div class="menu-seller-mobile">

    <!-- <div class='simple-nav-buyer'>
        <div class="ui dropdown" suiDropdown>
            Menu
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
                <div class="item" (click)="profileBuyer()" translate>user.buyer.mtwo</div>
                <div class="item" (click)="changePassword()" translate>user.buyer.cpass</div>
                <div class="item" (click)="billingAddress()" translate>user.buyer.bill</div>
                <div class="item" (click)="shippingAddress()" translate>user.buyer.ship</div>
                <div class="divider"></div>
                <div class="item" (click)="goSeller()">Seller</div>
                <div class="item">Wishlist</div>
                <div class="item">Inbox</div>
                <div class="divider"></div>
                <div class="item" (click)="transactionBuyer()"  translate>user.buyer.alltrans</div>
                <div class="item" translate>user.buyer.status</div>
                <div class="item" translate>user.buyer.history</div>
                <div class="item" translate>user.buyer.confirm</div>

            </div>
        </div>
    </div>


<div class="ui divider"></div> -->



  <div class="ui pointing dropdown button fluid center aligned" suiDropdown>
    <div class="text">Menu Seller</div>
    <i class="dropdown icon"></i>
    <div class="menu" suiDropdownMenu>
        <div class="item" (click)="editProfile()" class="item">Profile</div>
        <div class="item" (click)="goDashboard()" class="item" translate>user.seller.one</div>
        <div class="item" (click)="goKontak()" class="item" translate>user.seller.two</div>

        <div class="item" (click)="goPaymentInfo()" class="item" translate>user.seller.three</div>
        <div class="item" (click)="goToProduct()" class="item" translate>user.seller.four</div>

        <div class="item" (click)="goSallesReport()" class="item" translate>user.seller.five</div>
        <div class="item" (click)="goFaqSeller()" class="item" translate>user.seller.nine</div>
    </div>
  </div>

</div>






