<div class="floating-chat-container">
    <div class="chat-container" *ngIf="!hiden" [@myAnimation]>
        <div class="chat-header">
            <div class="pull-right">
                <i (click)="hide()" class="minus icon link" suiPopup popupText="Hide chat"></i>
                <i *ngIf="soc && soc.connected && chats.length > 0" (click)="close()" class="times icon link" suiPopup popupText="disconnect"></i>
            </div>
            <div *ngIf="cs">
                <img class="cs-profile-picture" src="{{cs.avatar}}" alt="cs-ava"/>
                <span class="cs-profile-name">{{cs.name}}</span><i class="info">{{info}}</i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="chat-content" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div class="chat-bubble" *ngFor="let c of chats" [ngClass]="{sender:c.from==user.username, sys:c.from=='sys'}">
                <p class="chat-bubble-text">{{c.txt}}</p>
                <span class="chat-bubble-time">{{c.time | date:"h:mma"}}</span>
            </div>
            <sui-dimmer [isDimmed]="chatStage > 1" [isClickable]="false">
                <div class="field" *ngIf="chatStage==3">
                    <h3>Please rate us</h3>
                    <sui-rating class="star" [(ngModel)]="rating" [maximum]="5" (valueChange)="disconnect()"></sui-rating>
                    <div class="chat-act">
                        <button class="ui negative basic button" (click)="disconnect()">End Chat</button>
                    </div>
                </div>
                <div class="ui indeterminate text loader" *ngIf="chatStage==2">Connecting ...</div>
                <div class="ui indeterminate text loader" *ngIf="chatStage==4">
                    <h3>You're disconnected</h3>
                    <div class="chat-act">
                        <button class="ui negative basic button" (click)="reconnect()">Reconnect</button>
                    </div>
                </div>
            </sui-dimmer>
        </div>
        <div class="chat-footer" *ngIf="chatStage==1">
            <div class="ui action input stretch fit-to-content">
                <input type="text" [(ngModel)]="msgInput" (keydown.enter)="send()" class="txt-chat" placeholder="Write your message" [disabled]="!soc || soc.disconnected"/>
                <!-- <button class="btn-chat attach" [disabled]="!soc || soc.disconnected"><i class="attach icon"></i></button> -->
                <button class="btn-chat send" (click)="send()" [disabled]="!soc || soc.disconnected"><i class="send icon"></i></button>
            </div>
        </div>
    </div>

    <a *ngIf="hiden && !onSignIn" (click)="hide()" class="float">
        <i class="talk icon my-float"></i>
    </a>
</div>