
  h1 {
    text-align: center;
  }
  .half {
    float: left;
    width: 100%;
    border: 1px solid #eee;
    box-shadow: -4px 11px #eee;
    // padding: 0 1em;
  }
  /* Acordeon styles */
  .tab {
    position: relative;
    // margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    // background: #16a085;
    color: black;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;

    margin-left: 0 !important;
    margin-right: 0 !important; 
  }
  .blue label {
    background: #2980b9;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    // background: #1abc9c;
    color: black;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .blue .tab-content {
    background: #3498db;
  }
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 100em;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input[type=checkbox] + label::after {
    content: "+";
  }
  input[type=radio] + label::after {
    content: "\25BC";
  }
  input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  
  .margin--ul {
      margin: 1em;
  }
  li {
      list-style: none;
      font-size: 13px;
  }

  .wrapper-for-filter-top {
    display: grid;
    // color: $color-red;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
    padding-top: 10px;
    text-align: center;
}

.img--see {
    max-height: 3em;

}

.wrapper-with-grid {
  display: grid;
  // color: $color-red;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1em;
  padding-top: 10px;
}
.checkBox-opacity {
  opacity: 1;
}



.drick-select-container {
  width: 200px;
  position: relative;
}

.drick-select__text {
  width: 100%;

  &.active {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom: 1px solid transparent !important;
  }
}

.drick-select-container--toggle {
  width: 100%;
  max-height: 200px;
  border: 1px solid rgba(34,36,38,.15);
  border-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 2;
  background: #fff;
  display: none;
  transition: all .2s;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &.active {
      display: block;
      border-color: #eee;
  }
}

.drick-select-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
      padding: 5px 15px;
      color: rgba(0,0,0,.87);
      transition: all .2s;
      font-size: 1.4rem;

      &:hover {
          cursor: pointer;
          background-color: rgba(0,0,0,.1);
      }
  }
}