/// Get a z-index value from a layer name
/// @access public
/// @param {String} $layer - Layer’s name
/// @return {Number}
/// @require $z-indexes
@function z($layer) {
    @return map-get($z-indexes, $layer);
}

@function btn-color($color) {
    @return map-get($btn-colors, $color);
}

@function select-box-color($color) {
    @return map-get($select-box-colors, $color);
}

@function debug($d: '') {
    $debug: $debug + '» #{inspect($d)} \A' !global;
    @return $debug;
}