<p class="lupapassword gap-between-elements">
    Lupa Password Anda?
</p>
<p class="text-left text-bawah gap-between-elements">
    Silahkan Masukan Email Yang Terdaftar di myACICO.co.id
</p>
<form class="ui form">
    <div class="field">
        <input type="text" name="email" placeholder="Masukan Email Anda" [(ngModel)]="email"/>
    </div>
    <div class="text-center gap-between-elements">
        <button class="ui button auth-btn-submit" (click)="forgot()" type="submit">Reset Password</button>
    </div>
    <p class="text-left text-bawah gap-between-elements">
        Password reset akan dikirimkan ke email anda. Silahkan cek email anda untuk mereset password
    </p>
</form>

