.paging{
    margin-top:20px;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;

}
.paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}

.frame-ao{
    border: 1px solid #dddddd;
    padding:10px;
    margin: 20px 0px;
}

.frm{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-top:20px;
    font-size: 12px;
}

.toProduct{
    padding: 0px 10px 0px 0px;
    border-right: 1px solid #dddddd;
    color:#4687e8;
    text-align: right;
    font-size: 15px;
}

.ingnJual{
    padding: 0px 0px 0px 10px;
    color:#4687e8;
    font-size: 15px;
}

.text-p{
    font-weight: bold;
    display: block;
}

.img-p{
    text-align: center;
}

.frm-title{
    display: grid;
    width:980px;
    grid-template-columns: 150px 120px  150px  150px  150px 150px;
    border-bottom:1px solid #dddddd;
    text-align: center;
    padding-bottom: 5px;
}

.title-c{
    font-weight: bold;
}

.frm-contain{
    text-align: center;
    margin-top:10px;
    width:980px;
    display: grid;
    grid-template-columns: 150px 120px  150px  150px  150px 150px 1fr;
}

.plus-minus{
    border: 1px solid #dddddd;
    padding:5px;
    margin:10px;
    cursor: pointer;
    color:#747474;
    border-radius:5px;
}

.plus-minus:hover{
    background: #dddddd;
}

.btn-add{
    background: #232f3d;
    padding:5px;
    color:#f4f5f6;
    text-align:center;
    cursor: pointer;
}

.btn-add:hover{
    background: #2d3e52;
}

.itemFT{
    margin-top:10px;
    font-weight: bold;
}

.itemFC{
    font-size: 12px;
}

