.gap-top{
    margin-top: 20px;
}
.gap-top1{
    margin-top: 32px;
}
.price{
    color: red;
    font-size: 25px;
}
.stok{
    color: green;
    font: 20;
}
.warna{
    
    width: 22px;
    background:black;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.warna3{
    
    width: 22px;
    background:white;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.borderni{
    border: 1px solid !important;
    width: 32px;
    
}

.border-kanan{
    border: 1px solid !important;
    width: 25px;
    height: 50px;
    background: red;
}
.bumbu{
    color:#81D7F7;
    font-weight: bold;
    font-size: 15px;
}
.favorit{
    color: black;
    margin-left:30px;
}
.favoritext{
    color: black;
}
.btnColor{
    margin-left:40px; background:#F7982D
}
.jasa{
    // color:red;
    font-size: 17px;
}