.gap-top{
    margin-top: 20px;
}
.gap-top1{
    margin-top: 32px;
}
.price{
    color: red;
    font-size: 25px;
}
.stok{
    color: green;
    font: 20;
}
.warna{
    
    width: 22px;
    background:black;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.warna3{
    
    width: 22px;
    background:white;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.borderni{
    border: 1px solid !important;
    width: 60px;
    
}
h1{
    min-height: 200px;
    background-color: #ccc;
    text-align: center;
    line-height: 200px;
  }
  .leftRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      left: 0;
  }

  .rightRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      right: 0;
  }

.border-kanan{
    border: 1px solid !important;
    width: 25px;
    height: 50px;
    background: red;
}
.bumbu{
    color:#81D7F7;
    font-weight: bold;
    font-size: 15px;
}
.favorit{
    color: black;
    margin-left:30px;
}
.favoritext{
    color: black;
}
.btnColor{
    margin-left:40px; background:#F7982D
}
.jasa{
    // color:red;
    font-size: 17px;
}
.mail{
    color: #c81423;
}
.mail1{
    // color: #c81423;
    padding-right: 30px;
}
.bawah{
    // color:red;
    border-bottom: 1px solid red;
    font-weight: bold;
}
.mu{
    color: black
}