
<div class="ui grid container">
  <div class="four wide column">
    <div class="ui breadcrumb">
        <div class="gap-top">
    <a class="section">Home</a>
    <div class="divider"> / </div>
    <a class="section">Store</a>
    <div class="divider"> / </div>
    <div class="active section">Iphone</div>
        </div>
  </div>
</div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column">
    <img src="https://www.t-mobile.com/images/png/products/phones/Apple-iPhone-8-Plus-Gold/250x270_1.png"/>
  </div>
  <div class="four wide column"><h2 class="ui header">Iphone 8 White 128Gb</h2>
    <div class="two wide column">
        <sui-rating class="star" [ngModel]="3" [maximum]="5"></sui-rating>
        <i class="write icon"></i>tulis ulasan
    </div>
    <div class="ui four column grid">
        <div class="row">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
        <div class="column"><h3 class="ui header">Harga: </h3>
        </div>
       
        <div class="eleven wide column price"><div class="row" style="width:340px">Rp. 10.0000.000
            <span class="borderni">12% off</span> 
            <span class="item">Hemat :</span>    
            <span class="price">Rp. 2.000.000</span>          
          
        </div>
            
        </div>
        <div class="column"><h5 class="ui header" style="width:77px;">Harga Awal: </h5>
        </div>
        <div class="eleven wide column"><s style="padding-left:10px;">Rp 12.000.000</s>
          <img src="https://myacico.co.id/images/general/asap.png" style="width:30px;">
        </div>
        <div class="column"><h3 class="ui header">Stok: </h3>
        </div>
        <div class="eleven wide column stok">Tersedia
            <div class="gap-between-elements"></div>
            <p class="mu">
                Belanja online murah, gratis pengiriman area Jakarta*
                Pilih barang dengan layananUntuk pengiriman Pasti 2 hari
            </p>
  
        </div>
        <div class="column"><h3 class="ui header">Warna: </h3>
        </div>
        <div class="eleven wide column stok">
          <div class="warna"></div>
          <div class="eleven wide column stok">
              <div class="warna3"></div>
            </div>
            <div class="eleven wide column stok">
                <div class="warna4"></div>
              </div>
        </div>
        <div class="column"><h4 class="ui header">Kapasitas: </h4>
        </div>
        <div class="eleven wide column">
          <div class="borderni">
            128 GB
          </div>
        </div>
        <div class="column"><h4 class="ui header">Highlight: </h4>
        </div>
        <div class="eleven wide column">
            <div class="ui relaxed divided list">
                <div class="item">
                 
                  <div class="content">
                  
                    <div class="description">ROM 256GB</div>
                  </div>
                </div>
                <div class="item">
        
                  <div class="content">
                   
                    <div class="description">GSM/HSPA/LTE</div>
                  </div>
                </div>
                <div class="item">
               
                  <div class="content">
                  
                    <div class="description">4.7 inch 3D Touch display</div>
                  </div>
                </div>
              </div>
        </div>
      <div class="text-center">  </div>
      <div class="gap-between-elements"></div>
        <span class="bawah">Butuh Bantuan ? </span>
        <table border="0">
          <tr>
            <td>
                <i class="mail icon"></i>
            </td>
            
            <td class="">
              Hubungi Kami
            </td>
          </tr>
          <tr>
              <td>
                  <i class="comment outline icon mail"></i>
              </td>
              <td class="mail1">
                  Live Chat
                </td>
          </tr>
          <tr>
              <td>
                  <i class="volume control phone icon mail"></i>
              </td>
              <td class="mail1">
                 Layanan Pelanggan
                </td>
          </tr>
      </table>
    

         




      </div>
  </div>

  <div class="four wide column gap-top1">

  </div>
  <div class="boder-kanan gap-between-elements" style="border: 1px solid;width: 288px; border-radius:10px;">
      <div class="column">
        <h4>Kebijakan:</h4>
        <div class="gap-between-elements">
         <strong>Pengembalian :</strong>  jika barang yang dikirim mengalami kerusakan atau tidak sesuai deskripsi, Anda dapat mengembalikan barang tersebut kepada kami dalam jangka waktu 7 hari
        </div>
        <div class="gap-between-elements"><strong>Pembayaraan :</strong>
        <img src="https://dev.myacico.co.id/images/general/ico_bank_03.png" width="35">
        <img src="https://dev.myacico.co.id/images/general/p-visa-small.jpg" width="35">
        <img src="https://dev.myacico.co.id/images/general/ico_bank_02.png" width="35">
        <img src="https://dev.myacico.co.id/images/general/ico_bank_04.png" width="35">
        </div>
        <div class="gap-between-elements">
            <strong>Garansi:</strong> 1 Tahun Garansi
        </div>

        <strong>Jumlah</strong>
        <div class="ui segment">
            <sui-select placeholder="Jumlah">
                <sui-select-option value="1"></sui-select-option>
                <sui-select-option value="2"></sui-select-option>
                <sui-select-option value="3"></sui-select-option>
                <sui-select-option value="4"></sui-select-option>
            </sui-select>
        </div>
        <button class="ui youtube button gap-between-elements btnColor" style="margin-left:40px; background:#F7982D">
            <i class="shop icon"></i>
            <strong>Beli Sekarang</strong>
          </button>
          <div class="content favorit gap-between-elements">
           <strong><i class="empty heart icon"></i></strong>  <a href="#" class="item favoritext">Tambahkan Ke Favorites</a>
          </div>
          <div class="text-center">
            <span class="jasa">Jasa Pengiriman</span>
          </div>
          <div class="gap-between-elements">

          </div>
          <div class="gap-between-elements">
            <table border="0">
              <tr>
                <td>
                  <img src="https://dev.myacico.co.id/images/general/s-myacicocourier.jpg">
                </td>
                <td>Gratis pengiriman* untuk wilayah jakarta dan jaminan pengiriman dalam 2 hari</td>
              </tr>
              <tr>
                  <td>
                    <img src="https://dev.myacico.co.id/images/general/s-ninjaxpress.jpg">
                  </td>
                  <td>Jaminan pengiriman dalam 3 hari</td>
                </tr>
                <tr>
                    <td>
                      <img src="https://dev.myacico.co.id/images/general/s-jne.jpg">
                    </td>
                    <td>Jaminan pengiriman dalam 2-5 hari</td>
                  </tr>
            </table>
          </div>

          <div>

            <span></span>
          </div>


      </div>
  </div>
</div>
<h2 class="ui header">PENAWARAAN LAINNYA</h2>
<hr>
<div class="gap-between-elements">
    <table class="ui single line table">
        <thead>
          <tr>
            <th>Harga Produk</th>
            <th>Lokasi Penjual</th>
            <th>Layanan Produk</th>
            <th>Rating Penjual</th>
            <th>Dijual Oleh</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="eleven wide column price">Rp 10.000.000
                <img src="https://www.myacico.co.id/images/general/asap.png" width="50">
              </div>
            </td>

            <td>Jakarta Pusat</td>
            <td>Garansi : 1 Tahun</td>
            <td>
                <!-- <sui-rating class="star" [ngModel]="3" [maximum]="5"></sui-rating> -->
            </td>
            <td class="bumbu">Bumbu Kacang</td>
            <td><button class="ui orange button">Kekeranjang</button></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <sui-tabset>
          <div class="ui top attached tabular menu">
              <a class="item" suiTabHeader="tab1">Deskripsi</a>
              <a class="item" suiTabHeader="tab2">Spesifikasi</a>
              <a class="item" suiTabHeader="tabs3">ulasan</a>
              <a class="item" *ngFor="let tab of tabs; let i = index" [suiTabHeader]="i" [(isActive)]="active[i]">{{ tab.header }}</a>
          </div>
          <div class="ui bottom attached segment" *ngFor="let tab of tabs; let i = index" [suiTabContent]="i">{{ tab.content }}</div>
          <div class="ui bottom attached segment" suiTabContent="tab1">
              <div class="ui segment">
                <div>
                    <img class="ui small left floated image" src="https://staticshop.o2.co.uk/product/images/bau-35251-iphone-8-plus-space-grey-sku-header-master-130917.png?cb=0786701511f1bc4897e12bf1798f01af">
                    <p>Jet Black hadir menjawab kebutuhan kaum urban untuk kebutuhan penggunaan smartphone keluaran
                        Apple yang satu ini. Tampil dengan desain yang elegan dan menawan ini semakin memanjakan para penggunanya. Memiliki dimensi berat
                        188 gram dan layar dengan lebar 5.5 inch. Menggunakan sistem proteksi lon strengthened glass dan oleophobic coating akan memberikan
                        perlindungan sempurna pada layarnya, dan tidak ketinggalan sensor sidik jari yang melindungi privasi penggunannya.</p>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <img class="ui middle aligned small left floated image" src="https://bab-assets3.babapi.ooo/img/othe/5501214/2e/ca/appleiphone8silver2.png.0683962eca.999x350x350.png">
                    <p class="peni"><strong> Peningkatan yang Signifikan </strong><p>
                    <p>
                        Dibekali prosesor A10 Fushion dan M10 Motion yang memberikan performa lebih baik dan lebih efisien dari segi daya. Menggunakan
                        sistem operasi iOS 10 yang akan memaksimalkan kinerja iphone, dan kapasitas RAM 3 GB memberikan kelancaran pada setiap aplikasi
                        yang dioperasikan. Anda tidak perlu khawatir untuk menyimpan file-file penting seperti foto, video, dan lagu karena memori internalnya
                        menampung sebanyak 128GB.</p>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <img class="ui middle aligned small left floated image" src="https://cdn.vox-cdn.com/thumbor/_8g5V2SPROQZEJ_TTQX_E49NiDQ=/0x600/cdn.vox-cdn.com/uploads/chorus_asset/file/7059381/apple-iphone-watch-20160907-4920.0.JPG">
                    <p class="peni"><strong> sistem dual camera </strong><p>
                    <p>
                        Menggunakan sistem dual kamera, dimana kedua resolusi kamera masing-masing sebesar 12 MP, kamera telephoto pada iPhone bekerja
                        layaknya lensa optik pada kamera dslr sehingga memberikan hasil zoom yang detail dan tidak blur. Berkat dual kamera ini, anda juga dapat
                        menggunakan mode potrait yang hanya bisa dilakukan pada kamera dslr. iPhone mampu merekam video hingga resolusi 4K yang sangat
                        detail, juga dilengkapi dengan image stabilization untuk mereduksi adanya guncangan.</p>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <img class="ui middle aligned small left floated image" src="https://i.ytimg.com/vi/CZw-q4DBE8c/hqdefault.jpg">
                    <p class="peni"><strong> Inovasi Terbaru </strong><p>

                    <p>
                        iPhone telah tersertifikasi IP67, yakni sertifikasi ketahanan air hingga kedalaman 1 meter. Sangat berguna bagi anda sering beraktivitas di
                        dekat air, dan juga menghindari momen yang tak terduga. iPhone memperbarui teknologi home buttonnya, kini home button menggunakan
                        taptic engine layaknya sistem force touch pada layar</p>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                </div>

          </div>
          <div class="ui bottom attached segment" suiTabContent="tab2">
              <table class="ui celled table">
                  <thead>
                    <tr>
                      <th>Network</th>
                      <th>Network	GSM/CDMA/HSPA/EVDO/LTE</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Dual SIM</td>
                      <td>No</td>

                    </tr>
                    <tr class="active">
                      <td>Screen Type	</td>
                      <td>LED-backlit IPS LCD, capacitive touchscreen, 16M colors
                        </td>

                    </tr>
                    <tr>
                      <td>Screen Resolution</td>
                      <td>	1080 x 1920 pixels</td>

                    </tr>
                    <tr>
                      <td class="active">Screen Protection</td>
                      <td>	Ion-strengthened glass, oleophobic coating</td>

                    </tr>
                    <tr>
                        <td class="active">Processor</td>
                        <td>Quad-core 2.34 GHz (2x Hurricane + 2x Zephyr)</td>
                      </tr>
                      <tr>
                          <td class="active">RAM</td>
                          <td>3 GB</td>
                        </tr>
                        <tr>
                            <td class="active">Storage</td>
                            <td>128 GB</td>
                          </tr>


                  </tbody>
                </table>

        </div>
        <div class="ui bottom attached segment" suiTabContent="tabs3">
          <p>Belum Ada Ulasan</p>
          <p>Untuk Iphone 8</p>
      </div>
      </sui-tabset>
</div>
<ngx-carousel
[inputs]="carouselTile"
(carouselLoad)="carouselTileLoad($event)">

      <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
        
          <h1>{{Tile + 1}}</h1>
      </ngx-tile>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
