.gap-top{
    margin-top: 20px;
}
.gap-top1{
    margin-top: 32px;
}
.price{
    color: red;
    font-size: 25px;
}
.stok{
    color: green;
    font: 20;
}
.warna{
    
    width: 22px;
    background: red;
    height: 23px;
}
.borderni{
    border: 1px solid !important;
    width: 30px;
}

.border-kanan{
    border: 1px solid !important;
    width: 25px;
    height: 50px;
    background: red;
}
.bumbu{
    color:#81D7F7;
    font-weight: bold;
    font-size: 15px;
}