@import 'styles';

.home {
    &__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.flash-sale {
    background-color: #ac2d2f;
    padding: 2rem 0;
}

// promo-banner
.promo-banner {

    &__slide-show {
        width: 100%;
        height: 100%;
        max-width:100%;
        height:auto;

        img {
            width: 100%;
            height: 100%;
            max-width:100%;
            height:auto;
        }

        .trigger {
            display: block;
            border-radius: 50%;
            position: absolute;
            background: white;
            border: 2px solid crimson;
            text-align: center;
            width: 2rem; 
            height: 2rem;

            &:hover {
                background: #e00b0b;
            }
        }
    }

    &__container {

        margin-bottom: 1rem;
        height: 100%;

        &--inside {
            height: 50%;
            overflow: hidden;

            img {
                widows: 100%;
                height: 100%;
                max-width:100%;
                height:auto;
            }
        }
    }

    &__image {
        &--1 {
            height: 100%;
            background-position: center calc(100% - 8px);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--2 {
            height: 50%;
            background-position: center calc(100% - 5px);
            background-size: cover;
            background-repeat: no-repeat;
        }
        
    }

    &__bottom {
        img {
            width: 100%;
            max-width:100%;
            height:auto;
        }
    }
}

.popover {
    position: absolute;
    z-index: 10;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.5), 0 0.6rem 2rem 0 rgba(0, 0, 1, 0.3);
    padding: 1.7rem;
    /*left: -1000px;*/
    border: 1px solid white;
    text-decoration: none;

    &__name {
        color: #e00b0b;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
        padding: 2rem;
        
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__image {
        margin: 1rem 0;
        padding-top: 100%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__price {
        display: block;
        padding: 1rem;
        text-align: center;
        font-size: 2.2rem;
        color: #fff;
        font-weight: 700;
    }
}

.section {
    margin-bottom: 3rem;

    &__link {
        &--1 {
            margin: 1rem 0;
            text-decoration: none;
            font-weight: 700;
        }
    }

    &__title {
        overflow: hidden;
        margin-bottom: 1rem;
        border-bottom: 3px solid #e3e3e3;
        h2 {
            // float: left;
            text-transform: uppercase;
            letter-spacing: .3rem;
            // margin-right: 2rem;
            font-weight: 700;
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: $text-color--dark;;
        }

        .striped {
            display: block;
            border: .4rem solid $color--belisada;
            overflow: hidden;
            margin-top: 1.6rem;
            border-radius: .5rem;
        }
        &::after {
            content: " ";
            clear: both;
        }
    }
}

.fs {
    &__title {
        overflow: hidden;
        margin-top: 1rem;
        margin-bottom: 1rem;

        h2 {
            text-transform: uppercase;
            letter-spacing: .3rem;
            margin-right: 7rem;
            margin-bottom: 0;
            font-weight: 700;
            display: inline-block;
            color: $text-color--dark;;
        }
    }

    &__countdown {
        color: #ff9241;
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__see-all {
        margin-top: 1rem;
        margin-bottom: 1rem;

        a {
            color: #ff9241;
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}

.product {

    &:nth-child(5n) &__container {
        border-right: 0;
    }

    &:nth-last-child(-n+5) &__grid {
        border-bottom: 0;
    }

    &__link {
        text-decoration: none;
    }

    &__grid {
        width: 100%;
        height: 100%;
        padding: 1.5rem 0;
        //background-color: #ab2d2f;
        //border: 1px solid $color--belisada;
        border-bottom: 1px solid #e3e3e3;
    }

    &__container {
        padding: 0 10%;
        border-right: 1px solid #e3e3e3;
    }

    &__image {
        margin: 1rem 0;
        padding-top: 100%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__name {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        margin: 0;

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    &__rating {
        .rating {
            &__star {

                &--fill {
                    color: #fdc12d;
                }

                &--empty {
                    color: #e3e3e3;
                }
            }
        }
    }

    &__info {
        // margin: .5rem 0;
        // padding: 0 .5rem;

        &--price {
            display: block;
            text-align: center;
            font-size: 2.2rem;
            color: #fff;
            font-weight: 700;
        }

        &--discount {
            display: block;
            font-size: 1.2rem;
            color: #838791;
            height: 2rem;
        }

        &--name {
            font-size: 1.4rem;
            font-weight: 400;
            margin: .5rem 0;
            color: $text-color--dark;
            overflow: hidden;
        }
    }
}

.fs-product {
    &__link {
        text-decoration: none;
    }

    &__name {
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    &__rating {
        font-size: 1.2rem;

        .rating {
            &__count {
                color: #fff;
            }

            &__star {

                &--fill {
                    color: #fdc12d;
                }

                &--empty {
                    color: #e3e3e3;
                }
            }
        }
    }

    &__image {
        margin: 1rem 0;
        padding-top: 100%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__info {
        // margin: .5rem 0;
        // padding: 0 .5rem;

        &--price {
            display: block;
            text-align: center;
            font-size: 2rem;
            color: #f59b4d;
            font-weight: 700;
        }

        &--discount {
            display: block;
            font-size: 1.2rem;
            color: #838791;
            height: 2rem;
        }

        &--name {
            font-size: 1.4rem;
            font-weight: 400;
            margin: .5rem 0;
            color: $text-color--dark;
            overflow: hidden;
        }
    }

    &__qty {
        width: 100%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
    }

    &__qty-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    &__qty-left {
        height: 1rem;
        background-color: #ff9d00;
        border-radius: 1rem;
    }

    &__qty-info {
        color: #fff;
    }
}

.store {
    padding: .5rem;

    &__picture {
        float: left;
        width: 4rem;
        height: 4rem;
        margin-right: .5rem;
    }

    &__info {
        // float: left;
        width: calc(100% - 4.5rem);

        &--name {
            margin: 0;
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1.7;

            a {
                color: $text-color--dark;
                text-decoration: none;
            }
        }

        &--location {
            display: block;
            font-size: 1.2rem;
            color: $text-color--light;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}


.modal-home {
    height: 30rem;

    .image {
        &--balloon {
            position: absolute;
            height: 38rem;
            top: -8rem;
            left: -19rem;
            max-height: none;
            max-width: none;
        }

        &--house {
            position: absolute;
            height: 12rem;
            bottom: 2.5rem;
            right: 2.5rem;
            max-height: none;
            max-width: none;
        }
    }

    .text {
        &--welcome {
            color: $text-color--dark;
            font-size: 2rem;
            margin-top: 5.5rem;
        }

        &--question {
            color: $text-color--dark;
            font-size: 1.6rem;
            margin-top: 5.5rem;
            margin-bottom: 2.5rem;
        }
    }

    button {
        width: 15rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 700;
        border-radius: .3rem;
    }
}

.brand {

    &__wrapper {
        border: 1px solid rgba(112, 112, 112, 0.3);
        height: 17rem;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    &__image {
    }
}
