<div class="containPage has-header header--home">
    <div class="container">

        <main>
            <slideshow #slideshow
                [imageUrls]="imageUrls"
                [minHeight]="'525px'"
                [showArrows]="false"
                [autoPlay]="true"
                [showDots]="true"
                [showCaptions]="true">
            </slideshow>
        </main>

        <aside>
            <div class="flash--sale--column u-margin-bottom-1">
                <div class="flash--sale--text center">Flash Sale</div>
                <div class="left"><countdown-timer class="flash--sale--timer" [end]="'2018-08-09 00:00:00'"></countdown-timer></div>
            </div>
            <div class="rowz" *ngFor="let i of [0,1,2]">
                <div class="columnz center">
                    <img src="assets/img/dummy-product-detail.jpg">
                </div>
                <div class="columnz">
                    <span class="flash--sale--text--for--toko">Toko Jaya Electric</span>
                    <span class="flash--sale--city">DKI JAKARTA</span>
                    <span class="flash--sale--rating">
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    </span>
                    <span class="flash--sale--harga">Rp.6.500.000</span>
                    <button class="btn with--color">Masukan keranjang <i class="fa fa-cart-arrow-down"> </i></button>
                </div>
            </div>
        </aside>

        <div class="row wrapper--for--middle" *ngIf="lnght !== 0" >
            <div class="col-12">
                <span class="text--new--product">Product Terbaru</span>
                <div class="containerz">
                    <div class="itemz" *ngFor="let item of productNew | slice:0:16">
                        <div class="containerz-dalem" >
                            <div style="height: 50px;">
                                <img (click)="goStore(item.storeUrl)" [src]="productStoreUrl + item.storeImageUrl">
                            </div>
                            <div style="height: 10px;">
                                <span class="product--name--store--name" (click)="goStore(item.storeUrl)">{{ item.storeName }}</span>
                                <span>{{ item.locationName }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <img (click)="goToDetail(item.productId,item.name)" class="product--image--store" [src]="productImageUrl + item.imageUrl">
                            </div>
                            <div class="col-12 image--center">
                                <span class="text__center__pricelist">Rp. {{ item.pricelist | number  }}</span>
                                <span class="text__center__name" (click)="goToDetail(item.productId,item.name)">{{ item.name | slice:0:30 }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="text--new--product">Product Popular</span>
                <div class="containerz">

                    <div class="itemz" *ngFor="let item of productPop | slice:0:8">
                        <div class="containerz-dalem" >
                            <div style="height: 50px;">
                                <img (click)="goStore(item.storeUrl)" [src]="productStoreUrl + item.storeImageUrl">
                            </div>
                            <div style="height: 10px;">
                                <span (click)="goStore(productDetail.storeUrl)" class="product--name--store--name">{{ item.storeName }}</span>
                                <span>{{ item.locationName }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="height: 200px;">
                                <img (click)="goToDetail(item.productId,item.name)" class="product--image--store" [src]="productImageUrl + item.imageUrl">
                            </div>
                            <div class="col-12 image--center">
                                <span class="text__center__pricelist">Rp. {{ item.pricelist | number | slice:0:9 }}</span>
                            <span class="text__center__name" (click)="goToDetail(item.productId,item.name)">{{ item.name | slice:0:21 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <app-models [(visible)]="showDialog"  maxwidth="765" class="frameDialog" *ngIf="isLogin !== true && dataForPopUp !== '' && dataForPopUp !== 'false'">
                    <div class="modal-body w-wrapper__in--home">

                        <span class="w-text__for-welcome"> Hai Selamat datang di belisada.id </span>
                        <img  class="w-image__for-welcome"  src="assets/img/aset12.png">
                        <div>
                            <span class="w-text__for-welcome w-text__botom-welcome">Apa yang ingin anda lakukan?</span>
                        </div>
                        <div class="w__wrapper--for-button">
                        <div class="w__isi--buton">
                            <div  class="w__isi--buton--ber"> <button class="btn btn--orange btn--size--80 butnon--click" (click)="onFilterClick($event)" >Berbelanja</button></div>
                        </div>

                        <div>
                            <div  class="w__isi--buton--ber"> <button class="btn btn--blue btn--size--80" (click)="goToStoreNol()" >Berjualan</button></div>
                        </div>
                            <img  class="w-image__for-welcome w-aasdasdsa" src="assets/img/store_image.png">
                        </div>
                    </div>
                </app-models>
            </footer>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
