
<div class="container has-header has-footer">
    <!-- PROMO BANNER -->
    <div class="promo-banner__container">
        <div class="row">
            <div class="col-sm-8">
                <div class="promo-banner__slide-show">
                    <slideshow #slideshow
                        [imageUrls]="imageUrls"
                        [height]="'100%'"
                        [showArrows]="false"
                        [autoPlay]="true"
                        [showDots]="true"
                        [showCaptions]="true"
                        [backgroundSize]="'cover'"
                        [backgroundPosition]="'center center'"
                        [backgroundRepeat]="'no-repeat'">
                    </slideshow>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col promo-banner__container--top-right">
                        <img class= "promo-banner__image--aside" src="assets/img/bannerBaru.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col promo-banner__container--bottom-right">
                        <img class= "promo-banner__image--aside" src="assets/img/bannerBaru2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- !PROMO BANNER! -->

    <!-- LATEST PRODUCT -->
    <div class="section">
        <div class="section__title">
            <h2>Produk Terbaru</h2>
            <span class="striped"></span>
        </div>

        <div class="section__content">
            <div class="row small-gutters">
                <div class="col-xl-8r col-md-3 col-xs-6 u-margin-bottom-1" *ngFor="let item of productNew | slice:0:16">
                    <a class="product__link" [routerLink]="['/product/product-detail/' + item.productId + '/' + encodeUrl(item.name)]">
                        <div class="product__grid">
                            <div class="ribbon ribbon--orange ribbon--small" *ngIf="item.discount > 0">
                                {{ item.discount }}%
                            </div>
                            <div class="store">
                                <div class="store__picture">
                                    <a [routerLink]="['/' + item.storeUrl]">
                                        <img [src]="productStoreUrl + item.storeImageUrl" alt="">
                                    </a>
                                </div>
                                <div class="store__info">
                                    <h2 class="store__info--name"><a [routerLink]="['/' + item.storeUrl]" title="{{ item.storeName }}">{{ item.storeName }}</a></h2>
                                    <span class="store__info--location">{{ item.locationName }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="product__image">
                                <img [src]="productImageUrl + item.imageUrl" alt="">
                            </div>

                            <div class="product__info">
                                <span class="product__info--discount"><s *ngIf="item.specialPrice > 0">{{item.pricelist | currency:'Rp '}}</s></span>
                                <span class="product__info--price">
                                    {{ ((item.specialPrice > 0) ? item.specialPrice : item.pricelist) | currency:'Rp ' }}
                                </span>
                                <h2 class="product__info--name" title="{{ item.name }}">{{ item.name | ellipsis:30 }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- !LATEST PRODUCT! -->

    <!-- POPULAR PRODUCT -->
    <div class="section">
        <div class="section__title">
            <h2>Produk Populer</h2>
            <span class="striped"></span>
        </div>

        <div class="section__content">
            <div class="row small-gutters">
                <div class="col-xl-8r col-md-3 col-xs-6 u-margin-bottom-1" *ngFor="let item of productPop | slice:0:8">
                    <a class="product__link" [routerLink]="['/product/product-detail/' + item.productId + '/' + encodeUrl(item.name)]">
                        <div class="product__grid">
                            <div class="ribbon ribbon--orange ribbon--small" *ngIf="item.discount > 0">
                                {{ item.discount }}%
                            </div>
                            <div class="store">
                                <div class="store__picture">
                                    <a [routerLink]="['/' + item.storeUrl]">
                                        <img [src]="productStoreUrl + item.storeImageUrl" alt="">
                                    </a>
                                </div>
                                <div class="store__info">
                                    <h2 class="store__info--name"><a [routerLink]="['/' + item.storeUrl]" title="{{ item.storeName }}">{{ item.storeName }}</a></h2>
                                    <span class="store__info--location">{{ item.locationName }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="product__image">
                                <img [src]="productImageUrl + item.imageUrl" alt="">
                            </div>

                            <div class="product__info">
                                <span class="product__info--discount"><s *ngIf="item.specialPrice > 0">{{item.pricelist | currency:'Rp '}}</s></span>
                                <span class="product__info--price">{{item.specialPrice | currency:'Rp '}}</span>
                                <h2 class="product__info--name" title="{{ item.name }}">{{ item.name | ellipsis:30 }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- !POPULAR PRODUCT! -->
</div>
<div class="clearfix"></div>


<!-- Modals -->
<app-models [(visible)]="showDialog" maxwidth="800" height="300" class="modal-home"
    *ngIf="isLogin !== true && dataForPopUp !== '' && dataForPopUp !== 'false'">
    <!-- <div class="modal-body modal-home"> -->

    <img  class="image--balloon"  src="assets/img/balloon.png">
    <img  class="image--house" src="assets/img/store_image.png">

    <h2 class="text--welcome text-center">Hai Selamat datang di belisada.co.id </h2>
    <h3 class="text--question text-center">Apa yang ingin anda lakukan?</h3>

    <div class="row">
        <div class="col-xs-6 text-right">
            <button class="btn btn--orange" (click)="onFilterClick($event)">Berbelanja</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn--blue-belisada" (click)="goToStoreNol()">Berjualan</button>
        </div>
    </div>
    <!-- </div> -->
</app-models>
