<div class="container home__container">
    <!-- PROMO BANNER -->
    <div class="promo-banner__container">
        <div class="row small-gutters">
            <div class="col-sm-12">
                <div class="promo-banner__slide-show">
                    <img [src]="cdnUrl + '/banner/slider1.png'" alt="">
                    <!-- <app-carousel [images]="banners"></app-carousel> -->

                    <!-- <bs-popover-trigger [links]="bannerMain.links"></bs-popover-trigger> -->
                </div>
            </div>
            <!-- <div class="col-sm-3">
                <div class="promo-banner__container">
                    <div *ngFor="let item of bannersLeft" [className]="bannersLeft.length === 1 ? 'promo-banner__image--1' : 'promo-banner__image--2'" [ngStyle]="{'background-image': 'url(' + item?.imageUrl + ')'}"></div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="promo-banner__bottom">
        <div class="row small-gutters">
            <!-- <div class="col-sm-6" *ngFor="let item of bannersBottom">
                <img [src]="item?.imageUrl" alt="">
            </div> -->
            <div class="col-3">
                <img [src]="cdnUrl + '/banner/banner_bottom1.png'">
            </div>
            <div class="col-3">
                <img [src]="cdnUrl + '/banner/banner_bottom2.png'">
            </div>
            <div class="col-6">
                <img [src]="cdnUrl + '/banner/banner_bottom3.png'">
                <img [src]="cdnUrl + '/banner/banner_bottom4.png'">
            </div>
        </div>
    </div>
    <!-- !PROMO BANNER! -->

    <div *ngIf="flashSaleProducts.length !== 0">
        <!-- <div class="col">
            <div class="fs__title">
                <h2>Today Deal</h2>
                <span class="fs__countdown">{{countdown.days}} : {{countdown.hours}} : {{countdown.minutes}} : {{countdown.seconds}}</span>
            </div>
        </div>
        <div class="col text-right">
            <div class="fs__see-all">
                <a [routerLink]="['/']">
                    Lihat semua
                </a>
            </div>
        </div> -->
        <div class="underline"><!-- class="section__title" -->
            <h2 style="margin-bottom: 1rem;">Produk Terbaru</h2>
            <!-- <span class="striped"></span> -->
        </div>
    </div>
    <div class="flash-sale full-width" *ngIf="homeContents.length !== 0">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-2" *ngFor="let item of flashSaleProducts">
                    <a class="fs-product__link" [routerLink]="['/product/product-detail/' + item.productId + '/' + encodeUrl(item.name)]">
                        <div class="fs-product__grid">
                            
                                <div>
                                    <h2 class="fs-product__name">
                                        {{ item.name }}
                                    </h2>
                                    <div class="fs-product__rating">
                                        <fa-icon class="rating__star rating__star--fill" [icon]="['fas', 'star']" *ngFor="let i of Arr(item.rate).fill(1)"></fa-icon>
                                        <fa-icon class="rating__star rating__star--empty" [icon]="['fas', 'star']" *ngFor="let i of Arr(5 - item.rate).fill(1)"></fa-icon>
                                        <span class="rating__count"> {{ item.review }} Reviews</span>
                                    </div>
                                </div>
                                
                                <div class="fs-product__image">
                                    <img [src]="productImageUrl + item.imageUrl" [alt]="item.imageUrl">
                                </div>

                                <div class="fs-product__qty-wrapper">
                                    <div class="fs-product__qty">
                                        <div class="fs-product__qty-left" [ngStyle]="{'width': (item.leftQty / item.qty) * 100 + '%'}">

                                        </div>
                                    </div>
                                    <span class="fs-product__qty-info">Sisa {{ item.leftQty }} Unit</span>
                                </div>
    
                                <div class="fs-product__info">
                                    <span class="fs-product__info--price">
                                        {{ item.fixPrice | currency:'Rp ':'symbol':'1.0' }}
                                    </span>
                                </div>
                            
                        </div>
                    </a>
                </div> -->
                <!-- POPULAR PRODUCT -->
                <div class="section" *ngIf="homeContents.length !== 0">
                    <div class="section__content">
                        <div class="row no-gutters">
                            <div class="product col-md-5r col-xs-6" *ngFor="let item of homeContents | slice:0:15">
                                <a class="product__link">
                                    <div class="product__grid">
                                        <div class="product__container">
                                            <div>
                                                <h2 class="product__name">
                                                    {{ item.name }}
                                                </h2>
                                                <div class="product__rating">
                                                    <fa-icon class="rating__star rating__star--fill" [icon]="['fas', 'star']" *ngFor="let i of Arr(item.rate).fill(1)"></fa-icon>
                                                    <fa-icon class="rating__star rating__star--empty" [icon]="['fas', 'star']" *ngFor="let i of Arr(5 - item.rate).fill(1)"></fa-icon>
                                                    <span class="rating__count"> {{ item.review }} Reviews</span>
                                                </div>
                                            </div>
                                            <div class="productOpacity">
                                                <div class="product__image">
                                                    <img [src]="productImageUrl + item.imageUrl" [alt]="item.imageUrl">
                                                </div>
                    
                                                <div class="product__info">
                                                    <span class="product__info--price">
                                                        {{ item.fixPrice | currency:'Rp ':'symbol':'1.0' }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="addToCart">
                                                <button class="btn btnCart" [routerLink]="['/product/product-detail/' + item.productId + '/' + encodeUrl(item.name)]">View Product</button>
                                                <button class="btn btnFavorite"><fa-icon [icon]="['far', 'heart']"></fa-icon></button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- !POPULAR PRODUCT! -->
            </div>
        </div>
    </div>

    

    <div class="row u-margin-bottom-3">
        <!-- <div class="col-md-8">
            <img class="c-fluid" [src]="bannersPromoOne.imageUrl" alt="">
        </div>
        <div class="col-md-4">
            <img class="c-fluid" [src]="bannersPromoTwo.imageUrl" alt="">
        </div> -->
        <div class="col-md-12">
            <img class="c-fluid" [src]="cdnUrl + '/banner/banner_footer.png'" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5r" *ngFor="let item of brandHomeList">
            <a [routerLink]="['/search-result/product-list']" [queryParams]="{brand:item.brandId}">
                <div class="brand__wrapper">
                    <img class="brand__image" [src]="brandImageUrl + item.imageUrl" [alt]="brandImageUrl + item.imageUrl">
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container benefits">
    <div class="row">
        <div class="col-12">
            <h1 class="benefitsTitle">Benefits work with us</h1>
        </div>
        <div class="col-3">
            <img src="/assets/img/icon-delivery.png">
            <h2>Free Delivery</h2>
            <p>And free returns. See checkout for delivery date.</p>
        </div>
        <div class="col-3">
            <img src="/assets/img/icon-creditcard.png">
            <h2>Safe Payment</h2>
            <p>Pay with the Most popular & Secure payment methods.</p>
        </div>
        <div class="col-3">
            <img src="/assets/img/icon-shopping.png">
            <h2>Shop with confidence</h2>
            <p>Our buyer protection covers your purchase since click to delivery.</p>
        </div>
        <div class="col-3">
            <img src="/assets/img/icon-question.png">
            <h2>24/7 Help Center</h2>
            <p>Have a questions? Call our specialist or chat online.</p>
        </div>
    </div>
</div>

<!-- Modals -->
<app-models [(visible)]="showDialog" minwidth="800" height="300" class="modal-home"
    *ngIf="isLogin !== true && dataForPopUp !== '' && dataForPopUp !== 'false'">
    <!-- <div class="modal-body modal-home"> -->

    <img  class="image--balloon"  src="assets/img/balloon.png">
    <img  class="image--house" src="assets/img/store_image.png">

    <h2 class="text--welcome text-center">Hai Selamat datang di belisada.co.id </h2>
    <h3 class="text--question text-center">Apa yang ingin anda lakukan?</h3>

    <div class="row">
        <div class="col-xs-6 text-right">
            <button class="btn btn--orange" (click)="onFilterClick($event)">Berbelanja</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn--blue-belisada" (click)="goToStoreNol()">Berjualan</button>
        </div>
    </div>
    <!-- </div> -->
</app-models>
