@import 'styles';

// promo-banner
.promo-banner {

    &__slide-show {
        width: 100%;
        height: 100%;
    }

    &__container {

        margin-bottom: 5rem;

        &--top-right {
            padding-left: 0;
            padding-bottom: .75rem;
        }

        &--bottom-right {
            padding-left: 0;
            padding-top: .75rem;
        }
    }

    &__image {
        &--aside {
            width: 100%;
            height: 100%;
        }
    }
}

.section {
    margin-bottom: 3rem;

    &__title {
        overflow: hidden;
        h2 {
            float: left;
            text-transform: uppercase;
            letter-spacing: .3rem;
            margin-right: 2rem;
            font-weight: 700;
            color: $text-color--dark;;
        }

        .striped {
            display: block;
            border: .4rem solid $color--belisada;
            overflow: hidden;
            margin-top: 1.6rem;
            border-radius: .5rem;
        }
        &::after {
            content: " ";
            clear: both;
        }
    }

    // &__content {

    // }
}

.product {
    &__link {
        text-decoration: none;
    }

    &__grid {
        width: 100%;
        height: 100%;
        background-color: $color-white;
        border: 1px solid $color--belisada;
        border-radius: .3rem;
    }

    &__image {
        padding: 0 .5rem;
        margin-bottom: -.5rem;
    }

    &__info {
        margin: .5rem 0;
        padding: 0 .5rem;

        &--price {
            display: block;
            font-size: 1.5rem;
            color: $color--belisada;
            font-weight: 700;
        }

        &--discount {
            display: block;
            font-size: 1.2rem;
            color: #838791;
            height: 2rem;
        }

        &--name {
            font-size: 1.4rem;
            font-weight: 400;
            margin: .5rem 0;
            color: $text-color--dark;
            overflow: hidden;
        }
    }
}

.store {
    padding: .5rem;

    &__picture {
        float: left;
        width: 4rem;
        height: 4rem;
        margin-right: .5rem;
    }

    &__info {
        float: left;
        width: calc(100% - 4.5rem);

        &--name {
            margin: 0;
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1.7;

            a {
                color: $text-color--dark;
                text-decoration: none;
            }
        }

        &--location {
            display: block;
            font-size: 1.2rem;
            color: $text-color--light;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}


.modal-home {
    height: 30rem;

    .image {
        &--balloon {
            position: absolute;
            height: 38rem;
            top: -8rem;
            left: -19rem;
            max-height: none;
            max-width: none;
        }

        &--house {
            position: absolute;
            height: 12rem;
            bottom: 2.5rem;
            right: 2.5rem;
            max-height: none;
            max-width: none;
        }
    }

    .text {
        &--welcome {
            color: $text-color--dark;
            font-size: 2rem;
            margin-top: 5.5rem;
        }

        &--question {
            color: $text-color--dark;
            font-size: 1.6rem;
            margin-top: 5.5rem;
            margin-bottom: 2.5rem;
        }
    }

    button {
        width: 15rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 700;
        border-radius: .3rem;
    }
}
