.title-cart{
    background: #378de2;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom:5px;
}

.sub-total{
    margin-top:10px;
    border:1px solid #dddddd;
    background: #f0eeee;
    padding:5px;
    border-radius:5px;
    margin-bottom:10px;
}

.btn-bayar{
    background:#f8992e;
    color: #ffffff;
    margin-bottom: 10px;
}

.btn-lanjut{
    background:#232f3d;
    color: #ffffff;
    margin-bottom: 10px;
}

