<div class="ui middle aligned divided list" style="border-bottom: 1px solid #dddddd; margin-bottom:10px; padding-bottom:10px;">
    <div class="item">
      <div class="right floated content">
        <div class="ui button btn-home" data-tooltip="Dashboard Seller" (click)="goDashboard()"><i class="home icon"></i></div> 
        <div class="ui button btn-home" data-tooltip="Dashboard Buyer" (click)="goBuyer()"><i class="shopping bag icon"></i></div> 

          <div class="ui dropdown button" suiDropdown [(isOpen)]="isOpen" [isDisabled]="isDisabled">
              <div class="text"><i class="sidebar icon"></i></div>
              <i class="dropdown icon"></i>
              <div class="menu" suiDropdownMenu>
                  <div class="item" (click)="logout()"><button class="ui red fluid button"><i class="sign out icon"></i> Logout</button></div>
                  <div class="item" (click)="editProfile()" translate><i class="user icon"></i> Edit Profile</div>
                  <div class="item" (click)="goChangePassword()" translate><i class="privacy icon"></i> user.seller.ubah</div>
                  <div class="item" (click)="goRekening()" translate><i class="payment icon"></i> user.seller.rek</div>
                  <div class="item" (click)="goInfoToko()" translate><i class="law icon"></i> user.seller.shop</div>

                  <div class="divider"></div>
                  <div class="item" (click)="goDashboard()" class="item" translate>user.seller.one</div>
                  <div class="item" (click)="goKontak()" class="item" translate>user.seller.two</div>
                  <div class="item" (click)="goPaymentInfo()" class="item" translate>user.seller.three</div>
                  <div class="item" (click)="goToProduct()" class="item" translate>user.seller.four</div>
                  <div class="item" (click)="gotoDana()" class="item" translate>user.seller.saldo</div>
                  <div class="item" (click)="gotoLacak()" class="item" translate>user.seller.lacak</div>
                  <div class="item" (click)="goSallesReport()" class="item" translate>user.seller.five</div>
                  <div class="item" (click)="goFaqSeller()" class="item" translate>user.seller.nine</div>
                  <div class="item" (click)="gotoContact()" class="item" translate>user.seller.contact</div>


              </div>
          </div>


      </div>
      <img class="ui avatar image" src="/assets/img/kristy.png">
      <div class="content">
          <div class="header">Lalang</div>
          lalang@email.com
        </div>
    </div>
</div>