<app-menu-profile></app-menu-profile>
<div class="ui">
  <div class="ui grid">
    <div class="sixteen wide stretched column">
        <div class="ui grid">
            <div class="sixteen wide column">
                <p>Jika belum memiliki toko bisa mendaftarkan toko Anda pada form dibawah ini. Dan jika toko sudah didaftarkan lalu Anda ingin melakukan perubahan pada data toko, maka Anda bisa melakukan perubahan pada form dibawah ini.</p>
                    <form class="ui form" [formGroup]="createStoreForm" (ngSubmit)="onSubmit()" novalidate>
                            <h4 class="ui dividing header">Info Toko</h4>
                            <div class="field">
                                <label>Nama Toko</label>
                                <input name="name" placeholder="Masukan nama toko" type="text" formControlName="name"/>
                                <div class="form-control-feedback alert" *ngIf="name.invalid && name.dirty">
                                    Nama tidak boleh kosong
                                </div>
                            </div>
                            <div class="field">
                                <label>Alamat</label>
                                <textarea name="address" placeholder="Masukan alamat" formControlName="address"></textarea>
                                <div class="form-control-feedback alert" *ngIf="address.invalid && address.dirty">
                                    Alamat tidak boleh kosong
                                </div>
                            </div>
                            <div class="field">
                                <label>Provinsi</label>
                                <sui-select class="selection" #provs [isSearchable]="true" [options]="provinces" [optionTemplate]="optionTemplate" labelField="name" placeholder="Pilih provinsi" formControlName="province">
                                    <sui-select-option *ngFor="let option of provs.filteredOptions" [value]="option" value="option.name" (click)="getCity(option.mregionId)"></sui-select-option>
                                </sui-select>
                            </div>
                            <div class="field">
                                <label>Kota</label>
                                <sui-select class="selection" #citys [isSearchable]="true" [options]="cities" [optionTemplate]="optionTemplate" labelField="name" placeholder="Pilih Kota" formControlName="city">
                                    <sui-select-option *ngFor="let option of citys.filteredOptions" [value]="option" value="option.name" (click)="getDistrict(option.mcityId)"></sui-select-option>
                                </sui-select>
                            </div>
                            <div class="field">
                                <label>Kecamatan</label>
                                <sui-select class="selection" #camats [isSearchable]="true" [options]="districts" [optionTemplate]="optionTemplate" labelField="name" placeholder="Pilih Kelurahan / Kecamatan" formControlName="district">
                                    <sui-select-option *ngFor="let option of camats.filteredOptions" [value]="option" value="option.name" (click)="getVillage(option.mdistrictId)"></sui-select-option>
                                </sui-select>
                            </div>
                            <div class="field">
                                <label>Kelurahan</label>
                                <sui-select class="selection" #lurah [isSearchable]="true" [options]="villages" [optionTemplate]="optionTemplate" labelField="name" placeholder="Pilih Desa" formControlName="village">
                                    <sui-select-option *ngFor="let option of lurah.filteredOptions" [value]="option" value="option.name" (click)="setPostalCode(option.kodepos)"></sui-select-option>
                                </sui-select>
                            </div>
                            <div class="field">
                                <label>Kode POS</label>
                                <input name="postalcode" placeholder="Masukan kode POS" type="text" formControlName="postalcode"/>
                                <div class="form-control-feedback alert" *ngIf="postalcode.invalid && postalcode.dirty">
                                    Kodepos tidak boleh kosong
                                </div>
                            </div>
                            <div class="field">
                                <label>Deskripsi</label>
                                <textarea name="description" placeholder="Deskripsi toko anda" formControlName="description"></textarea>
                            </div>
                            <button class="ui primary button" type="submit">Simpan</button>
                        </form>

            </div>
        </div>
    </div>
    
    </div>
</div>
