<!--The content below is only a placeholder and can be replaced.-->
<h1>Sani Futuristic CSS Framework</h1>

<hr/>

<h3>Default style button</h3>

<!-- Default style button -->
<div class="row">
    <div class="col-12">
        <button class="btn btn-blue-sky">Blue Sky Button</button>
        <button class="btn btn-orange">Orange Button</button>
        <button class="btn btn-yellow">Yellow Button</button>
        <button class="btn btn-green">Green Button</button>
        <button class="btn btn-purple">Purple Button</button>
        <button class="btn btn-blue">Blue Button</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-silver">Silver Sky Button</button>
        <button class="btn btn-ash">Ash Button</button>
        <button class="btn btn-grey">Grey Button</button>
        <button class="btn btn-navy">Navy Button</button>
        <button class="btn btn-dark-grey">Dark Grey Button</button>
        <button class="btn btn-black">Black Button</button>
    </div>
</div>

<h3>Rounded style button</h3>

<!-- Rounded style button -->
<div class="row">
    <div class="col-12">
        <button class="btn round btn-blue-sky">Blue Sky Button</button>
        <button class="btn round btn-orange">Orange Button</button>
        <button class="btn round btn-yellow">Yellow Button</button>
        <button class="btn round btn-green">Green Button</button>
        <button class="btn round btn-purple">Purple Button</button>
        <button class="btn round btn-blue">Blue Button</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn round btn-silver">Silver Sky Button</button>
        <button class="btn round btn-ash">Ash Button</button>
        <button class="btn round btn-grey">Grey Button</button>
        <button class="btn round btn-navy">Navy Button</button>
        <button class="btn round btn-dark-grey">Dark Grey Button</button>
        <button class="btn round btn-black">Black Button</button>
    </div>
</div>


<h3>Inverted style button</h3>
<!-- Inverted style button -->
<div class="row">
    <div class="col-12">
        <button class="btn inverted btn-blue-sky">Blue Sky Button</button>
        <button class="btn inverted btn-orange">Orange Button</button>
        <button class="btn inverted btn-yellow">Yellow Button</button>
        <button class="btn inverted btn-green">Green Button</button>
        <button class="btn inverted btn-purple">Purple Button</button>
        <button class="btn inverted btn-blue">Blue Button</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn inverted btn-silver">Silver Sky Button</button>
        <button class="btn inverted btn-ash">Ash Button</button>
        <button class="btn inverted btn-grey">Grey Button</button>
        <button class="btn inverted btn-navy">Navy Button</button>
        <button class="btn inverted btn-dark-grey">Dark Grey Button</button>
        <button class="btn inverted btn-black">Black Button</button>
    </div>
</div>


<!-- Outline style button -->
<div class="row">
    <div class="col-12">
        <button class="btn inverted round btn-blue-sky">Blue Sky Button</button>
        <button class="btn inverted round btn-orange">Orange Button</button>
        <button class="btn inverted round btn-yellow">Yellow Button</button>
        <button class="btn inverted round btn-green">Green Button</button>
        <button class="btn inverted round btn-purple">Purple Button</button>
        <button class="btn inverted round btn-blue">Blue Button</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn inverted round btn-silver">Silver Sky Button</button>
        <button class="btn inverted round btn-ash">Ash Button</button>
        <button class="btn inverted round btn-grey">Grey Button</button>
        <button class="btn inverted round btn-navy">Navy Button</button>
        <button class="btn inverted round btn-dark-grey">Dark Grey Button</button>
        <button class="btn inverted round btn-black">Black Button</button>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <label class="switch">
            <input type="checkbox"/>
            <div class="slider square">
                <span class="true">OPEN</span>
                <span class="false">CLOSE</span>
            </div>
        </label>
        
        <label class="switch">
            <input type="checkbox"/>
            <div class="slider small-round">
                <span class="true">OPEN</span>
                <span class="false">CLOSE</span>
            </div>
        </label>
        
        <label class="switch">
            <input type="checkbox"/>
            <div class="slider round">
                <span class="true">OPEN</span>
                <span class="false">CLOSE</span>
            </div>
        </label>
    </div>
</div>

<app-signin></app-signin>
<app-footer></app-footer>

