// .bg-sidebar {
//     background-color: #fa9a24;
//     height: 230px;
// }
// .tlsan {
//     padding-left: 102px;
// }
// .warna2 {
//     background-color: aqua;
// }
// .gls {
//     margin-left: 22px;
// }

.side-first{
    background-color: #fa9a24;
    padding:10px;
}

.side-second{
    background-color: #232f3d;
    padding:10px;
    color:#e8eaeb;
    padding-bottom:20px;
    border-bottom:10px solid #2d3e52;
}

.index-menu{
    font-size: 20px;
}

.btn-shop{
    font-size: 12px;
}

.main-menu{
    background: #2d3e52;
    border-radius: 10px;
    padding: 9px;
    font-size: 15px;
}

.list a:link{
    color:#d1d4d7;
}

.list a:visited{
    color:#d1d4d7;
}

.list a:active{
    color:#d1d4d7;
}

.list a:hover{
    color:#ffffff;
}

.item{
    color:#d1d4d7;
}

.item :hover{
    color:#ffffff;
}