<div class="ui left aligned bg-sidebar">
    <div class='side-first'>
        <div class="ui center aligned basic segment">
        <p>
            <img class="ui medium rounded image" [src]="buyerImage" alt="profile picture"/>
        </p>
        <strong>{{buyerName}}</strong>
        <br><br>
        <button class="ui blue button btn-shop" (click)="editProfileBuyer()">
            Edit Profile
        </button>
        </div>
    </div>
    <div class='side-second'>
        <div class='index-menu'>
            <p><a routerLink="/buyer/dashboard" class="menu-top-side"><i class="home icon"></i> Home</a></p>
            <p><a routerLink="/buyer/wishlist-buyer" class="menu-top-side"><i class="empty heart icon"></i> Wishlist</a></p>
            <p><a routerLink="/buyer/inbox-buyer" class="menu-top-side"><i class="mail icon"></i> Inbox</a></p>
            <p>Shop By Categories</p>
            <div class='main-menu'>
                <div class="ui link list" *ngFor="let item of navigationObjects">
                    <a routerLink="/buyer/product-top-buyer/{{ item.mProductCategoryId }}" class='item'>{{ item.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
