<div class="ui left aligned lay-sidebar">
    <div class='side-first'>

            <div class="six wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="{{userImgAvatar}}" alt="Profile Picture" (load)="setCanvas($event,'imageAvatar')" #avaImg />
                    </div>
                    <div class="content">
                        <a class="header">{{buyerName}}</a>
                        <div class="meta">
                            <span class="date">{{buyerEmail}}</span>
                        </div>
                        <div class="description">
                            <!--Max file 5 MB. Format (.JPG, .JPEG, .PNG)-->
                        </div>
                    </div>
                    <div class="extra content center aligned">

                            

                        <div class="upload-btn-wrapper" style="cursor: pointer;">
                            <button class="ui orange button">Pilih Photo</button>
                            <input type="file" name="myfile" (change)="setUrl($event, avaImg)"/>
                        </div>

                        <!-- <div class="ui primary pointing dropdown button" suiDropdown>
                            <div class="text">Profile</div>
                            <i class="dropdown icon"></i>
                            <div class="menu" suiDropdownMenu>
                                <div class="item" (click)="editProfileBuyer()" translate>user.buyer.eprof</div>
                                <div class="item" (click)="goChangePassword()" translate>user.buyer.cpass</div>
                            </div>
                        </div>  -->

                        
                    </div>
                </div>
            </div>
            <!-- <strong>{{buyerName}}</strong> -->


        <!-- <div class="ui center aligned basic segment">
                <div *ngIf="buyerImage === 'data:image/png;base64,'; else login">
                    <img class="ui tiny spaced image" src="/assets/img/man.png" alt="profile picture1"/>


                    </div>
                    <ng-template #login>
  
                            <img class="ui medium rounded image" [src]="buyerImage" alt="profile picture3"/>


                    </ng-template>

        <strong>{{buyerName}}</strong> -->
        <!-- <br><br> -->
        <!-- <button class="ui blue button btn-shop" (click)="editProfileBuyer()">
            Edit Profile
        </button> -->

        <!-- <div class="ui primary pointing dropdown button" suiDropdown>
            <div class="text">Profile</div>
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
                <div class="item" (click)="editProfileBuyer()" translate>user.buyer.eprof</div>
                <div class="item" (click)="goChangePassword()" translate>user.buyer.cpass</div>
            </div>
        </div> 


        </div> -->
    </div>
    <div class='side-second'>
        <div class='index-menu'>
            <p><a routerLink="#" class="menu-top-side" (click)="goDashboard()"><i class="home icon"></i> Dashboard</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="editProfileBuyer()" translate><i class="user icon"></i> user.buyer.eprof</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="goChangePassword()" translate><i class="privacy icon"></i> user.buyer.cpass</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="goBilling()" translate><i class="calculator icon"></i> user.buyer.bill</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="goShipping()" translate><i class="shipping icon"></i> user.buyer.ship</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="goTransaction()" translate><i class="law icon"></i> user.buyer.alltrans</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="goSeller()"><i class="shop icon"></i> Seller</a></p>
            <p><a routerLink="#" class="menu-top-side" (click)="goWishlist()"><i class="empty heart icon"></i> Wishlist</a></p>
            <p><a routerLink="#" class="menu-top-side"><i class="mail icon"></i> Inbox</a></p>
            <p>Shop By Categories</p>
            <div class='main-menu'>
                <div class="ui link list" *ngFor="let item of navigationObjects">
                    <a *ngIf="lang == 'id'" routerLink="/buyer/product-top-buyer/{{ item.mProductCategoryId }}" class='item'>{{ item.name }}</a>
                    <a *ngIf="lang == 'en'" routerLink="/buyer/product-top-buyer/{{ item.mProductCategoryId }}" class='item'>{{ item.nameEn }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui left aligned lay-sidebar-mobile">
    <!-- <div class='side-first'>
        <div *ngIf="buyerImage === 'data:image/png;base64,'; else login">
            <img class="ui tiny spaced image" src="/assets/img/man.png" alt="profile picture1"/>
        </div>
        <ng-template #login>
            <img class="ui medium rounded image" [src]="buyerImage" alt="profile picture3"/>
        </ng-template>

        <button class="ui blue button btn-shop fluid" (click)="editProfileBuyer()">
            Edit Profile
        </button>
    </div> -->
    <!-- <sui-select class="fluid selection" placeholder="Menu Buyer">
        <sui-select-option value="Dashboard" (click)="goSeller()"></sui-select-option>
        <sui-select-option value="Seller" (click)="goSeller()"></sui-select-option>
        <sui-select-option value="Wishlist" (click)="goSeller()"></sui-select-option>
        <sui-select-option value="Inbox" (click)="goSeller()"></sui-select-option>
    </sui-select> -->



    
    <!-- <div class="dropdownmenu">
            <button class="dropbtnmenu">Menu</button>
            <div class="dropdownmenu-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div> -->


    
</div>


    