.title-sidebar{
    font-size: 30px;
}

.btn-jualan{
    color:#ffffff;
}

 a.btn-jualan:link {
    text-decoration: none;
}

.sidebar-to-cursor {
    cursor: pointer;
    color:#37aeee;
    border-bottom: 1px solid #dddddd;
    margin-top:10px;
    padding-bottom: 5px;
    font-size: 17px;
    font-family: Arial;
}

.sidebar-to-cursor:hover {
    cursor: pointer;
    color:#95d3f4;
}