.title-sidebar{
    font-size: 30px;
}

.btn-jualan{
    font-size: 25px;
    border: 1px solid #f68a43;
    padding: 5px;
    width: 171px;
    color: #f68a43;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.sidebar-to-cursor {
    cursor: pointer;
    color:#37aeee;
}

.sidebar-to-cursor:hover {
    cursor: pointer;
    color:#95d3f4;
}