.title-sidebar-seller {
    font-size: 30px;
    text-align: center;
    display: block;
}
.border-sidebar-seller {
    border: 1px solid #eee;
}
.dummy-backgorund {
    background-color: #eee;
    // width: 300px;
    margin: 10px;
}
.profile-toko-text {
    color: black !important;
    text-transform: uppercase;
}
.right-pull {
    text-align: right;
    position: absolute;
    right: 78%;
    top: 29.5%;
}