.tengahDikit{
    color: gray;
    font-size: 15px;

}

.pembungkus {
    background-color: #232F3D;
    height: 300px;
    padding-top:10px;
    margin-top:10px;
}

.gs2x {
    color: white;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 30px;

}

.item2 { grid-area: menu;
    padding-top:10px;
    text-align: center;
}

