<div class="container has-header has-footer">
    <div class="isoffday" *ngIf="proddetail.isoffday==true">
        Maaf toko saat ini sedang tutup silakan kunjungi kembali beberapa waktu kedepan.
    </div>
    <div class="row">
        <div class="col-12 w-container__head">
            <img [src]="storeImage + proddetail.storeImageUrl ">
            <div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <span class="w-text__store-name"> {{ proddetail.storeName }} </span>
                            </div>
                            <div class="col-6">
                                <span class="w-text__store-open-or-close" *ngIf="proddetail.isoffday === false; else closedStore">Open</span>
                                    <ng-template #closedStore>
                                        <span class="w-text__store-open-or-close">Close</span>
                                    </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <span class="w-text__store-city"> {{ proddetail.locationName }} </span>
                        <!-- <div class="row">
                            <div class="col-12">
                                <span class="w-text__store-city"> {{ proddetail.locationName }} </span>
                            </div>
                            <div class="col-6">
                                <span class="w-text__store-online">online</span>
                            </div> 
                        </div> -->
                    </div>
                    <div class="col-12">
                        <span> " {{ proddetail.description }} "</span>
                    </div>
                </div>
            </div>
            <!-- <div class="w-container__right">
                <div class="w-container__three-row">
                    <img class="w-image__in-right" src="assets/img/profile.png">
                    <div class="w-margin__in-container">
                        <span class="w-text__in-right"> Bergabung {{ proddetail.joinFrom }}</span>
                    </div>
                    <img class="w-image__in-right" src="assets/img/profile.png">
                    <div>
                        <span class="w-text__in-right"> Jumlah Produk : {{ proddetail.productSold }}</span>
                    </div>
                    <img class="w-image__in-right" src="assets/img/delivery-packages-on-a-trolley.png">
                    <div class="w-margin__in-container">
                        <span class="w-text__in-right">Lama Proses :   {{ proddetail.longProcess }}</span>
                    </div>
                    <img class="w-image__in-right" src="assets/img/delivery-packages-on-a-trolley.png">
                    <div>
                        <span class="w-text__in-right">Transaksi Berhasil:  {{ proddetail.productSold }}</span>
                    </div>
                    <img class="w-image__in-right" src="assets/img/followers.png">
                    <div>
                        <span class="w-text__in-right"> {{proddetail.follower}} Folowers</span>
                    </div>
                </div>
            </div> -->
            <!-- <p>sadlasdlsakdlaskdl;akd;lask</p> -->

        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12">
            <div class="activation__container">
                <div class="u-display-table-cell makeit--center">
                    <p>Promotional Banner</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row product-spec-title">
        <div [ngClass]="activeProduct == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'">
            Produk Toko Ini
        </div>
        <!-- <div [ngClass]="activeDiskripsi == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'">
            Ulasan Toko
        </div> -->
        <div [ngClass]="activeDiskusi == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'">
            Diskusi Produk
        </div>
    </div>
    <div class="product-spec-conten" *ngIf="activeProduct === true">
        
            <div class="row small-gutters">
                <div class="col-xl-8r col-md-3 col-xs-6 u-margin-bottom-1" *ngFor="let item of list.data">
                    <a class="product__link" [routerLink]="['/product/product-detail/' + item.productId + '/' + encodeUrl(item.name)]">
                        <div class="product__grid">
                            <div class="ribbon ribbon--orange ribbon--small" *ngIf="item.discount > 0">
                                {{ item.discount }}%
                            </div>
                            <div class="store">
                                <div class="store__picture">
                                    <a [routerLink]="['/' + item.storeUrl]">
                                        <img [src]="productStoreUrl + item.storeImageUrl" alt="">
                                    </a>
                                </div>
                                <div class="store__info">
                                    <h2 class="store__info--name"><a [routerLink]="['/' + item.storeUrl]" title="{{ item.storeName }}">{{ item.storeName }}</a></h2>
                                    <span class="store__info--location">{{ item.locationName }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="product__image">
                                <img [src]="productImageUrl + item.imageUrl" alt="">
                            </div>

                            <div class="product__info">
                                <span class="product__info--discount"><s *ngIf="item.specialPrice > 0">{{item.pricelist | currency:'Rp '}}</s></span>
                                <span class="product__info--price">
                                    {{ ((item.specialPrice > 0) ? item.specialPrice : item.pricelist) | currency:'Rp ' }}
                                </span>
                                <h2 class="product__info--name" title="{{ item.name }}">{{ item.name | ellipsis:30 }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="paging" *ngIf="list.totalElements != 0">
                    <ul>
                        <li>
                            <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                        </li>
                        <li>
                            <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                        </li>
                        <li *ngFor="let p of pages">
                            <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                        </li>
                        <li>
                            <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                        </li>
                        <li>
                            <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                        </li>
                    </ul>
                </div>
        <!-- <div class="row">
            <div class="col-12">
                <div class="containerz">
                    <div class="itemz" *ngFor="let item of list.content">
                        <div class="containerz-dalem">
                            <div>
                                <img [src]="productStoreUrl+item.storeImageUrl">
                            </div>
                            <div>
                                <span class="product--name--store--name">  {{ item.storeName }} </span>
                                <span> {{ item.locationName }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <img (click)="goToDetail(item.productId,item.name)" class="product--image--store" [src]="productImageUrl+item.imageUrl">
                            </div>
                            <div class="col-12 image--center">
                                <span class="text__center__pricelist" *ngIf="item.specialPrice > 0">{{ item.specialPrice | currency:'Rp ' }}</span>
                                <span class="text__center__pricelist" *ngIf="item.specialPrice === 0">{{ item.pricelist | currency:'Rp ' }}</span>
                                <span class="text__center__name">{{ item.name | slice:0:21 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
