

<app-header></app-header>
<div class="containPage has-header">
  <div class="row">
    <div class="col-12 w-container__head">
        <img src="http://image.belisada.id:8888/unsafe/180x180/https://cdn.myacico.co.id/belisada_v2/No-image-found.jpg">  
      <div>
      <div class="row">
        <div class="col-12">
          <div class="col-6">
            <span class="w-text__store-name">Toko Bintang Utara</span>
          </div>
          <div class="col-6">
            <span class="w-text__store-open-or-close">Open</span>
          </div>
        </div>
        <div class="col-12">
            <div class="col-6">
              <span class="w-text__store-city">dki jakarta</span>
            </div>
            <div class="col-6">
              <span class="w-text__store-online">online</span>
            </div>
          </div>
          <div class="col-12">
            <span> " Menjual penggaris dan alat tulis untuk  pembelian dlm jmlh banyk/ grosir ada harga khusus wa "</span>
            </div>
      </div>
      </div>
      <div class="w-container__right"> 
        <div class="w-container__three-row">
          <img class="w-image__in-right" src="assets/img/profile.png">    
          <div class="w-margin__in-container">
            <span class="w-text__in-right"> Bergabung 7 bulan yang lalu</span>
          </div>
          <img class="w-image__in-right" src="assets/img/profile.png">    
          <div>
            <span class="w-text__in-right"> Jumlah Produk : 50</span>
          </div>
          <img class="w-image__in-right" src="assets/img/delivery-packages-on-a-trolley.png">    
          <div class="w-margin__in-container">
            <span class="w-text__in-right">Lama Proses :  2 hari</span>
          </div>
          <img class="w-image__in-right" src="assets/img/delivery-packages-on-a-trolley.png">    
          <div>
            <span class="w-text__in-right">Transaksi Berhasil:  24</span>
          </div>
          <img class="w-image__in-right" src="assets/img/stopwatch.png">    
          <div class="w-margin__in-container">
            <span class="w-text__in-right">Respond Chat : 15 menit</span>
          </div>
          <img class="w-image__in-right" src="assets/img/stopwatch.png">    
          <div>
            <span class="w-text__in-right"></span>
          </div>
          <img class="w-image__in-right" src="assets/img/followers.png">    
          <div>
            <span class="w-text__in-right">2150 Followers</span>
          </div>
        </div>
      </div>
        <!-- <p>sadlasdlsakdlaskdl;akd;lask</p> -->
        <div class="row">
            <div class="col-12">
              22
            </div>
          </div>
    </div>
    
  </div>
  

</div>
    
<app-footer></app-footer>