
<div class="ui grid">
    <div class="sixteen wide column">
        <p>Silakan isi data Billing dibawah ini dengan lengkap dan benar.</p>
        <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
            <h4 class="ui dividing header">Data Billing</h4>
            <input name="addressId" type="hidden" formControlName="addressId" [(ngModel)]="fm.addressId"/>
            <div class="fields">
                <div class="eight wide field">
                    <label>Nama</label>
                    <input name="name" placeholder="Masukan nama perusahaan" type="text" formControlName="name" [(ngModel)]="fm.name" required/>
                </div>
                <div class="eight wide field">
                    <label>Disimpan sebagai alamat (cth: alamat rumah, kantor, kosan)</label>
                    <input name="address" placeholder="Disimpan sebagai alamat apa" type="text" formControlName="addressName"/>
                </div>
            </div>
            <div class="field">
                <label>Alamat</label>
                <textarea name="address" placeholder="Masukan alamat" formControlName="address" ></textarea>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <label>Provinsi</label>
                    <!-- <sui-select class="selection" labelField="name" placeholder="Pilih provinsi" formControlName="province">
                        <sui-select-option *ngFor="let option of provinces" [value]="option" value="option.name" (click)="getCity(option.mregionId)"></sui-select-option>
                    </sui-select> -->

                    <sui-select name="provinc" #provsi [isSearchable]="true" [options]="provinces" [optionTemplate]="optionTemplate" class="selection" labelField="option.name" placeholder="Pilih provinsi" formControlName="province">
                        <sui-select-option *ngFor="let option of provsi.filteredOptions" [value]="option" (click)="getCity(option.mregionId)">{{option.name}}</sui-select-option>
                    </sui-select>

                </div>
                <div class="eight wide field">
                    <label>Kota</label>
                    <!-- <sui-select class="selection" labelField="name" placeholder="Pilih Kota" formControlName="city">
                        <sui-select-option *ngFor="let option of cities" [value]="option" value="option.name" (click)="getDistrict(option.mcityId)"></sui-select-option>
                    </sui-select> -->
                    <sui-select name="city" #city [isSearchable]="true" [options]="cities" [optionTemplate]="optionTemplate" class="selection" labelField="name" placeholder="Pilih kota" formControlName="city">
                        <sui-select-option *ngFor="let option of city.filteredOptions" [value]="option" (click)="getDistrict(option.mcityId)">{{option.name}}</sui-select-option>
                    </sui-select>
                </div>
            </div>

            <div class="fields">
                <div class="eight wide field">
                    <label>Kecamatan</label>
                    <!-- <sui-select class="selection" labelField="name" placeholder="Pilih Kelurahan / Kecamatan" formControlName="district">
                        <sui-select-option *ngFor="let option of districts" [value]="option" value="option.name" (click)="getVillage(option.mdistrictId)"></sui-select-option>
                    </sui-select> -->
                    <sui-select name="kecamtan" #camat [isSearchable]="true" [options]="districts" [optionTemplate]="optionTemplate" class="selection" labelField="name" placeholder="Pilih Kelurahan / Kecamatan" formControlName="district">
                        <sui-select-option *ngFor="let option of camat.filteredOptions" [value]="option" (click)="getVillage(option.mdistrictId)">{{option.name}}</sui-select-option>
                    </sui-select>
                </div>
                <div class="eight wide field">
                    <label>Kelurahan</label>
                    <!-- <sui-select class="selection" labelField="name" placeholder="Pilih Desa" formControlName="villageId">
                        <sui-select-option *ngFor="let option of villages" [value]="option" value="option.name" (click)="setPostalCode(option.kodepos)"></sui-select-option>
                    </sui-select> -->
                    <sui-select name="desa" #desa [isSearchable]="true" [options]="villages" [optionTemplate]="optionTemplate" class="selection" labelField="name" placeholder="Pilih Desa" formControlName="villageId">
                        <sui-select-option *ngFor="let option of desa.filteredOptions" [value]="option" (click)="setVilage(option)">{{option.name}}</sui-select-option>
                    </sui-select>
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <label>Kode POS</label>
                    <input name="postalcode" placeholder="Masukan kode POS" type="text" formControlName="postalCode"/>
                </div>
                <div class="eight wide field">
                    <label>Telepon</label>
                    <input name="phone" type="number" placeholder="Masukan nomor Telepon" type="text" formControlName="phone"/>
                </div>
            </div>
            <button class="ui primary button" type="submit">Simpan</button>
        </form>
    </div>
</div>
