<div class="ui segment header">
  <div class="ui grid">
    <div class="sixteen wide column ">
      <a routerLink="/seller/dashboard"><img class="ui image logo" src="/assets/img/logo.png" alt="profile picture"/></a>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui grid">
    <div class="ten wide column">
      <h3>Selamat datang {{user ? user.name : 'guest'}}</h3>
    </div>
    <div *ngIf="user" class="six wide column right aligned">

        <div class="ui buttons">
          <button class="ui teal button" (click)="goBuyer()"><i class="shopping bag icon"></i> Dashboard Buyer</button>
          <div class="or"></div>
          <button class="ui button" (click)="logout()"><i class="icon user"></i> Logout</button>
        </div>

      <!-- <button class="ui basic button" (click)="logout()">
        <i class="icon user"></i>
        Logout
      </button> -->
    </div>
  </div>
</div>
