<div class="wrapper">
        <div>
        <img class="ui middle aligned small image" src="/assets/img/im.jpg">
        <span class="para">Daftarkan diri dan lengkapi dokumen yang dibutuhkan</span>
        </div>
        <div>
            <img class="ui middle aligned small image" src="/assets/img/xxaxa.jpg">
            <span class="para">Menunggu aktifasi dari admin untuk toko yang Anda daftarkan</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/xaxa.jpg">
                <span class="para">Daftarkan produk dan mulai berjualan</span>
        </div>
        </div>
