<div class="wrapper">
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/im.jpg">
                    </div>
                <div>
                        <span class="para kamp">Daftarkan diri dan lengkapi dokumen yang dibutuhkan</span><br>
                        Lengkapi dokumen anda untuk memulai berjualan di belisada.co.id
                </div>
                </div>
        <!-- <div>
        <img class="ui middle aligned small image" src="/assets/img/im.jpg">
        <span class="para">Daftarkan diri dan lengkapi dokumen yang dibutuhkan</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/xxaxa.jpg">
                    </div>
                <div>
                        <span class="para kamp">Menunggu aktifasi dari admin untuk toko yang Anda daftarkan</span><br>
                        Verifikasi dari team belisada maksimal 1x24jam
                </div>
        </div>
        <!-- <div>
            <img class="ui middle aligned small image" src="/assets/img/xxaxa.jpg">
            <span class="para">Menunggu aktifasi dari admin untuk toko yang Anda daftarkan</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/xaxa.jpg">
                    </div>
                <div>
                        <span class="para kamp">Daftarkan produk dan mulai berjualan</span><br>
                        Jual produk mudah di belisada.co.id
                </div>
        </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/xaxa.jpg">
                <span class="para">Daftarkan produk dan mulai berjualan</span>
        </div> -->
        </div>
