<div class="containPageCenter contain-checkout chekout-head">
    <div>
        <a [routerLink]="['/']" class="linkHome">
            <img src="assets/img/logo.png" height="50" border="0">
            
            <br>
            <span class="logoText">Shopping Cart</span><br>
        </a>
    </div>
    <div class="title-head-chekout">
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
        ( {{ checkoutTrx.totalItem }} Item )<br>Secure Checkout</div>
    <div></div>
</div>
<div class="line-head">
        <!--Line Head-->
</div>
<div class="containPage has-header">
    <div class="sub-title-checkout">
        <div class="sub-title-checkout__left" align="center">
            <div class="sub-title-checkout__line-active"></div>
            <div class="sub-title-checkout__circle-active">1</div>
            <div class="sub-title-checkout__title">Keranjang Belanja</div>
        </div>
        <div class="sub-title-checkout__right" align="center">
            <div class="sub-title-checkout__line-blank"></div>
            <div class="sub-title-checkout__circle-blank">2</div>
            <div class="sub-title-checkout__title">Konfirmasi Pembayaran</div>
        </div>
    </div>

    <div class="containPageCenter contain-checkout">

        <div class="table-title">
            <div>Produk</div>
            <div>Harga</div>
            <div>Kuantitas</div>
            <div>Total Harga</div>
            <div>Alamat Pengiriman</div>
            <div>Action</div>
        </div>

        <div class="contenCart" *ngFor="let cartCheckout of checkoutTrx.cart; let in = index">
            <div class="contenCart__shop">
                <input type="checkbox" [(ngModel)]="checkShop[in]" class="contenCart__check">
                <!-- <img src="assets/img/boxCheckout.png" height="15" border="0"> -->
                {{ cartCheckout.storeName }}
            </div>
            <div *ngFor="let cartItem of cartCheckout.cartItems">
                <div class="contenCart__item">
                    <div class="contenCart__img">
                        
                        <div>
                            <img [src]="cartItem.imageUrl" size="20">
                        </div>
                        <div>
                            <span class="item-name">{{ cartItem.name }}</span><br>
                            <div *ngFor="let varian of cartItem.varians" class="varianText">
                                <span *ngFor="let itemVar of varian.varians">
                                    {{  itemVar.value }}
                                </span>
                                <br>
                    
                            </div>
                        </div>


                    </div>
                    <div>
                        <span class="item-price" *ngIf="cartItem.specialPrice > 0">Rp {{ cartItem.specialPrice | number }}</span>
                        <span class="item-price" *ngIf="cartItem.specialPrice === 0">Rp {{ cartItem.priceList | number }}</span>
                    </div>
                    <div>
                        <div class="item-center" *ngIf="cartItem.qty !== 0">
                            <span class="plus-minus" (click)="decreaseQty(cartItem)"> <fa-icon [icon]="['fas', 'minus']"></fa-icon> </span> <span class="item-qty">{{ cartItem.quantity }}</span> <span class="plus-minus" (click)="increaseQty(cartItem)"> <fa-icon [icon]="['fas', 'plus']"></fa-icon> </span>
                        </div>
                        <div class="item-center" *ngIf="cartItem.qty === 0">
                            <span class="red-label">
                                Stock kosong
                            </span>
                        </div>
                        <div class="item-center">
                            <span class="item-size">( {{ cartItem.totalWeight }} g )</span>
                        </div>
                    </div>
                    <div><span class="item-price-spesial">Rp {{ cartItem.subtotal | number }}</span></div>
                    <div>
                        <select [(ngModel)]="shippingAddresses[in]" (change)="addressChange(cartCheckout.itemCartIds, cartCheckout.originId, cartCheckout.totalWeight, cartCheckout.destinations, in)"
                        class="contenCart__form">
                            <option value="0">Pilih Alamat</option>
                            <option *ngFor="let destination of cartCheckout.destinations" [value]="destination.shippingAddressId">{{ destination.name }}</option>
                            <option value="tambah">+ Tambah</option>
                        </select>
                    </div>
                    <div><div class="contenCart__btn-delete" (click)="deleteCart(cartItem.itemCartId, cartItem.productId, cartItem.quantity)">HAPUS</div></div>
                </div>
                

            </div>
            <div class="contenCart__info">
                <div class="contenCart__message">
                    <div>
                        Pesan 
                    </div>
                    <div>
                        <textarea class="contenCart__form__textarea" [(ngModel)]="notes[in]" (ngModelChange)="changeNote(cartCheckout.itemCartIds,$event)"></textarea>
                    </div>
                </div>
                <div class="contenCart__opsi">
                    <div class="align-self-stretch">Opsi Pengiriman: </div>
                    <div class="align-self-stretch position-relative">
                        <select [(ngModel)]="shippingRates[in]" (change)="shippingChange(cartCheckout.itemCartIds, in)"
                        class="contenCart__form">
                            <option disabled value="">Pilih Pengiriman</option>
                            <option *ngFor="let rate of rates[in]" [ngValue]='rate.courierCode + "~" + rate.courierService'>{{ rate.courierCode }} {{ rate.courierService }} Rp {{ rate.courierPrice }}</option>
                        </select>

                        <img *ngIf="loadingRates[in]" class="loading" src="/assets/img/spinner.gif" alt="">
                    </div>
                    <div class="align-self-stretch">
                        Asuransi:
                    </div>
                    <div class="align-self-stretch">
                        <input type="checkbox" [(ngModel)]="isInsurance[in]" (change)="updateInsurance(cartCheckout.itemCartIds, isInsurance[in])"> <span class="contenCart__asuPrice">Rp {{ cartCheckout.asuransi | number }}</span>
                    </div>
                </div>
                <div class="contenCart__total">
                    <div><span class="fontYellow big-price" *ngIf="cartCheckout.courierPrice !== 0">
                            Rp {{ cartCheckout.courierPrice | number }}
                    </span></div>
                    <div class="total-font">Total Pesan Produk: <span class="fontRed big-price">Rp {{ cartCheckout.subTotal | number }}</span></div>
                </div>
            </div>
        </div>


        <div class="cPay">
            <div class="cPay__val">
                Metode Pembayaran
            </div>
            <div class="cPay__val" *ngFor="let item of listPayment; let i = index">
                <button [ngClass]="[(selectedPaymentMethod === item) ? 'cPay__btn-active' : 'cPay__btn']" (click)="cTransfer(listPayment,i,item)">{{ item.paymentMethodName }}</button>
            </div>
        </div>

        <div class="cPayDetail" *ngIf="selectedPaymentMethod.paymentMethodCode === 'BT'"> <!-- *ngIf="isTransferBank == true" -->
            <div class="cPayDetail__bank" *ngFor="let itemBnk of selectedPaymentMethod.data; let j = index">
                <div></div>
                <div>
                    <input type="radio" [(ngModel)]="channelId" [value]="itemBnk.id">
                </div>
                <div>
                    <img src="{{ itemBnk.imageUrl }}" class="img-icon">
                </div>
                <div>
                    {{ itemBnk.accountNumber }} {{ itemBnk.accountName }}<br>
                    <span class="cPayDetail__shadowText">Hanya menerima dari bank yang sama.</span>
                </div>
                <div class="cPayDetail__modeText">
                    Metode Pembayaran Lebih Mudah
                </div>
            </div>
        </div>


        <div class="cFooter">
            <div class="cFooter__val">
                <div></div>
                <div>Sub Total ({{ checkoutTrx.totalItem }} Produk):</div>
                <div class="cFooter__subTot">Rp {{ checkoutTrx.subTotal | number }}</div>
            </div>
            <div class="cFooter__val">
                <div></div>
                <div>Biaya Asuransi:</div>
                <div class="cFooter__subTot">Rp {{ checkoutTrx.totalAsuransi | number }}</div>
            </div>
            <div class="cFooter__val">
                <div></div>
                <div>Total Ongkos Kirim:</div>
                <div class="cFooter__subTot">Rp {{ checkoutTrx.totalCourierPrice | number }}</div>
            </div>
            <div class="cFooter__val">
                <div></div>
                <div>Total Pembayaran:</div>
                <div class="cFooter__subTotBig">Rp {{ checkoutTrx.grandTotal | number }}</div>
            </div>
            <div class="cFooter__val2">
                <div></div>
                <div class="cFooter__btn" (click)="doCheckout()">Bayar Sekarang</div>
            </div>
        </div>

            <!-- Dialog PopUp add  -->

            <app-models [(visible)]="showDialogPilihAlamat" minwidth="1200" class="frameDialog">
                <div class="modal-body">

                    <form [formGroup]="formAddCrtl" (ngSubmit)="onSent()" #fs="ngForm" novalidate>

                        <div class="row row-atur">
                            <div class="col-6">
                                <label>Simpan sebagai alamat:</label>
                                <input type="text" formControlName="simpan_sebagai" class="input-style-text-100" maxlength="20" placeholder="Contoh disimpan sebagai alamat(Kantor, Rumah, Kosan dll.)">
                                <app-field-error-display [displayError]="isFieldValid('simpan_sebagai')" errorMsg="Simpan sebagai tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-6">
                                <label>Nama Penerima:</label>
                                <input type="text" formControlName="penerima" class="input-style-text-100" placeholder="Masukan nama penerima" maxlength="30">
                                <app-field-error-display [displayError]="isFieldValid('penerima')" errorMsg="Penerima tidak boleh kosong"></app-field-error-display>
                            </div>
                        </div>
                        <div class="row row-atur">  
                            <div class="col-4">
                                <label>No. Handphone:</label>
                                <input type="text" formControlName="hp" class="input-style-text-100" placeholder="Masukan nomor handphone" (keypress)="phoneCheck($event)" maxlength="15">
                                <app-field-error-display [displayError]="isFieldValid('hp')" errorMsg="Handphone tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Provinsi:</label>
                                <select formControlName="province" required class="input-style-text-100" >
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Provinsi</option>
                                    <option *ngFor="let option of provinces" [ngValue]="option.regionId" placeholder="Pilih kota">
                                            {{ option.regionName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('province')" errorMsg="Provinsi tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Kota / Kabupaten:</label>
                                <select formControlName="city" class="input-style-text-100">
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Kota</option>
                                    <option *ngFor="let option of cities" [ngValue]="option.cityId" placeholder="Pilih kota">{{ option.cityName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('city')" errorMsg="Kota tidak boleh kosong"></app-field-error-display>
                            </div>
                        </div>
                        <div class="row row-atur"> 

                            <div class="col-4">
                                <label>Kecamatan:</label>
                                <select formControlName="district" class="input-style-text-100">
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Kecamatan</option>
                                    <option *ngFor="let option of districts" [ngValue]="option.districtId">
                                            {{ option.districtName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('district')" errorMsg="Kecamatan tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Kelurahan:</label>
                                <select formControlName="villageId" class="input-style-text-100">
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Kelurahan</option>
                                    <option *ngFor="let option of villages" placeholder="Pilih kota" [ngValue]="option.villageId">
                                            {{ option.villageName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('villageId')" errorMsg="Kelurahan tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Kodepos:</label>
                                <input type="text" formControlName="kodepos" class="input-style-text-100" placeholder="Masukan kodepos" maxlength="5" readonly>
                                <div *ngIf="formAddCrtl.controls.kodepos.errors?.minlength; else postalOn">
                                    <p class="tooltiptext"> Kode Poss Harus 5 </p>
                                </div>
                                <ng-template #postalOn>
                                        <!-- Silahkan Masukan Kode Poss -->
                                    <app-field-error-display [displayError]="isFieldValid('kodepos')" errorMsg="Silahkan Masukan Kode Poss"></app-field-error-display>
                                </ng-template>
                            </div>              
                        </div>
                        <div class="row row-atur">  
                            <div class="col-12">
                                <label>Alamat:</label>
                                <textarea formControlName="alamat" class="input-style-text-100"></textarea>
                                <app-field-error-display [displayError]="isFieldValid('alamat')" errorMsg="Alamat tidak boleh kosong"></app-field-error-display>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-12">
                                <button class="btn btn--orange component-center center-for-button btn-size-100">Tambah</button>
                            </div>
                        </div>
                    
                    </form>

                    </div>

            </app-models>


            <!-- Modals -->
            <app-models [(visible)]="showDialog" maxwidth="500" class="modal-home">

            <div class="contain-dialog">
                <h3 class="text--question text-center">Anda belum memiliki data penerima</h3>
                <button class="btn btn--orange btn--add-address" (click)="showPilihAlamat()">Silakan klik disini untuk mengisi data penerima</button>
            </div>
            
            </app-models>

    </div>
</div>

<script language="javascript">
    document.write(iPay88Signature("d3kdhKeH93M00045A00257110800MYR")); //sample signature
</script>

