<div class="containPage has-header">
    <div class="containPageCenter contain-checkout">
        <div class='checkout-title'>Checkout</div>
        <!-- <div class='checkout-sub-title'>Payment ID: #412151</div> -->
            <table class="table table-striped table-checkout">
                <thead>
                    <tr>
                        <th class="th1">Checkout Sebagian</th>
                        <th class="th2 table-title">ITEM</th>
                        <th class="th3 table-title">DESCRIPTION</th>
                        <th class="th4 table-title">Price</th>
                        <th class="th5 table-title">QTY</th>
                        <th class="th6 table-title">Sub Total</th>
                        <!-- <th class="th7 table-title">Total</th> -->
                    </tr>
                </thead>
                <tbody *ngFor="let cartCheckout of checkoutTrx.cart; let in = index">
                    <tr>
                        <td></td>
                        <td colspan="5">
                            <div class="row item-order">
                                <div class="col-6">
                                    <span class="nm-store">Nama Toko: <span class="link-store">{{ cartCheckout.storeName }}</span></span>                      
                                </div>
                                <div class="col-6 item-order-right">
                                    <select [(ngModel)]="shippingAddresses[in]" (click)="addressChange(cartCheckout.itemCartIds, cartCheckout.originId, cartCheckout.totalWeight, cartCheckout.destinations, in)"
                                        class="u-margin-right-1">
                                        <option disabled value="0">Pilih Alamat</option>
                                        <option *ngFor="let destination of cartCheckout.destinations" [value]="destination.shippingAddressId">{{ destination.name }}</option>
                                        <option value="tambah">Tambah</option>
                                    </select>

                                    <select [(ngModel)]="shippingRates[in]" (click)="shippingChange(cartCheckout.itemCartIds, in)"
                                        class="u-margin-right-1">
                                        <option disabled value="">Pilih Pengiriman</option>
                                        <option *ngFor="let rate of rates[in]" [ngValue]='rate.courierCode + "~" + rate.courierService'>{{ rate.courierCode }} {{ rate.courierService }} Rp {{ rate.courierPrice }}</option>
                                    </select>

                                    <!-- <select [(ngModel)]="shippingRates[in]" (change)="shippingChange($event, cartCheckout.itemCartIds, in)"
                                        class="u-margin-right-1">
                                        <option disabled value="">Pilih Pengiriman</option>
                                        <option *ngFor="let rate of rates[in]" value="{{ rate.courierCode }}~{{ rate.courierService }}"
                                            [selected]='(cartCheckout.courierCode+"~"+cartCheckout.courierService) === (rate.courierCode+"~"+rate.courierService)'>{{ rate.courierCode }} {{ rate.courierService }} Rp {{ rate.courierPrice }}</option>
                                    </select> -->

                                    <span class="item-price" *ngIf="cartCheckout.courierPrice !== 0">Rp {{ cartCheckout.courierPrice | number }}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let cartItem of cartCheckout.cartItems">
                        <td><input name="checkbox" type="checkbox"></td>
                        <td class="table-val"><img [src]="cartItem.imageUrl" size="20"></td>
                        <td class="table-val"><span class="item-name">{{ cartItem.name }}</span> <span class="item-size"> ( {{ cartItem.weightPerItem }} g )</span>
                        <div><span class="item-delete" (click)="deleteCart(cartItem.itemCartId, cartItem.productId, cartItem.quantity)">Hapus Barang <fa class="item-trash" name="trash"></fa></span></div>
                        </td>
                        <td class="table-val right"><span class="item-price">Rp {{ cartItem.priceList | number }}</span></td>
                        <td class="table-val">
                            <div class="item-center">
                                <span class="plus-minus" (click)="decreaseQty(cartItem)"> <fa name="minus"></fa> </span> <span class="item-qty">{{ cartItem.quantity }}</span> <span class="plus-minus" (click)="increaseQty(cartItem)"> <fa name="plus"></fa> </span>
                            </div>
                            <div class="item-center">
                                <span class="item-size">( {{ cartItem.totalWeight }} g )</span>
                            </div>
                        </td>
                        <td class="table-val right"><span class="item-price">Rp {{ cartItem.subtotal | number }}</span></td>
                        <!-- <td class="table-val right"><span class="item-price">Rp {{ cartItem.total | number }}</span></td> -->
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <div class="item-note" (click)="note()" *ngIf="isNote==false">Catatan Untuk Penjual <span class="icon-note"><fa name="far fa-edit"></fa></span></div>
                            <div *ngIf="isNote==true"><textarea rows="10%" cols="100%"></textarea></div>
                            <div *ngIf="isNote==true" (click)="cancelNote()"><span class="btn-update">Update</span> <span class="btn-cancel">Cancel</span></div>
                        </td>
                        <td class="right">Subtotal: <span class="item-price">Rp {{ cartCheckout.subTotal | number }}</span></td>
                    </tr>
                </tbody>
            </table>


            <div class="row">
                <div class="col-9">
                    &nbsp;
                </div>
                <div class="col-3">
                    <div class="view-total">
                        <div class="row">
                            <div class="col-6">
                                Total:
                            </div>
                            <div class="col-6 right">
                                Rp. {{ checkoutTrx.grandTotal | number }}
                            </div>
                        </div>
                    </div>
                    <!-- <div class="view-minus">
                        <div class="row">
                            <div class="col-6">
                                <div class="juliseru">
                                    JULISERU <fa name="far fa-edit"></fa>
                                </div>
                            </div>
                            <div class="col-6 right">
                                Rp. -1.100.000
                            </div>
                        </div>
                    </div>
                    <div class="view-all-total">
                        <div class="row">
                            <div class="col-6">
                                    Total:
                            </div>
                            <div class="col-6 right">
                                Rp. 4.000.000
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>  
            
            <div class='checkout-title'>Pembayaran</div>
            <div class='checkout-sub-title'>Pilih metode pembayaran</div>

            <div class="row u-margin-bottom-0">
                <div class="col-2">
                        &nbsp;
                </div>
                <div class="col-8">
                        
                    <div class="row">
                        <div class="col-4">
                            <div class='btn-pilih-metode-active' (click)="byTransfer()">Bank Transfer</div>
                            <div class='btn-arrow'><img src="assets/img/arrow-green.png"></div>
                        </div>
                        <div class="col-4">
                            <div class='btn-pilih-metode disabled'>Kartu Kredit</div>
                        </div>
                        <div class="col-4">
                            <div class='btn-pilih-metode disabled'>Pembayaran Instan</div>  
                        </div>
                    </div>   

                </div>
                <div class="col-2">
                        &nbsp;
                </div>
            </div>

            <div class='list-metode'>
                <div class="row">
                    <div class="col-3" *ngFor="let item of listPayment">
                        <div class="img-pay"><img src="{{ item.imageUrl }}" class="img-icon"></div>
                        {{ item.accountNumber }}<br>A.N.<br>{{ item.accountName }}
                    </div>

                    <!-- <div class="col-3">
                        <div class="img-pay"><img src="assets/img/bank_bca.png" class="img-icon"></div>
                        675765765775<br>On<br>PT Belisada Global Indonesia
                    </div>
                    <div class="col-3">
                        <div class="img-pay"><img src="assets/img/bank_mandiri.png"class="img-icon"></div>
                        675765765775<br>On<br>PT Belisada Global Indonesia
                    </div>
                    <div class="col-3">
                        <div class="img-pay"><img src="assets/img/bank_bni.png" class="img-icon"></div>
                        675765765775<br>On<br>PT Belisada Global Indonesia
                    </div>
                    <div class="col-3">
                        675765765775<br>On<br>PT Belisada Global Indonesia
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="frame-tab">
                        <table border='0' cellspadding='0' cellspacing='0'>
                            <tr>
                                <td *ngFor="let item of checkoutShippingAddress" class="p-penerima" [ngClass]="{'p-active': selectedShippingAddress.addressId === item.addressId}" (click)="tabShipping(item)">{{ item.addressName }}</td>
                          </tr>
                        </table>
                            <!-- <div class="row" >
                                <div class="col-6" >
                                        
                                </div>
                            </div> -->

                        
                    </div>
                    <div class="b-abu-left" *ngIf="checkoutShippingAddress.length !== 0">
                        <div class="row">
                            <div class="col-6">
                                Nama Penerima:<br><b>{{ selectedShippingAddress.name }}</b>
                            </div>
                            <div class="col-6">
                                <!-- Order No:<br><b>#412151</b> -->
                            </div>
                        </div>
                        Alamat: {{ selectedShippingAddress.addressName }}<br>
                        <b>{{ selectedShippingAddress.address }}</b>
                        <br><br>
                        No Handphone:<br>
                        <b>{{ selectedShippingAddress.phone }}</b>
                    </div>
                </div>
                <div class="col-6">
                    <div class="b-abu-right">
                        <!-- Payment ID: #412151    -->
                        <div class="g-total">Grand Total</div>
                        <div class="g-total-price">Rp. {{ checkoutTrx.grandTotal | number }}</div>
                        <b>Metode Pembayaran: Bank Transfer</b>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="btn-lanjut" [routerLink]="['/']">Lanjut Belanja</div>
                        </div>
                        <div class="col-8">
                            <div class="btn-bayar" (click)="doCheckout()">Bayar Sekarang</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>



            <!-- Dialog PopUp add  -->

            <app-models [(visible)]="showDialogPilihAlamat" maxwidth="1200" class="frameDialog">
                <div class="modal-body">

                    <form [formGroup]="formAddCrtl" (ngSubmit)="onSent()" #fs="ngForm" novalidate>

                        <div class="row row-atur">
                            <div class="col-6">
                                <label>Simpan sebagai alamat:</label>
                                <input type="text" formControlName="simpan_sebagai" class="input-style-text-100" maxlength="20" placeholder="Contoh disimpan sebagai alamat(Kantor, Rumah, Kosan dll.)">
                                <app-field-error-display [displayError]="isFieldValid('simpan_sebagai')" errorMsg="Simpan sebagai tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-6">
                                <label>Nama Penerima:</label>
                                <input type="text" formControlName="penerima" class="input-style-text-100" placeholder="Masukan nama penerima" maxlength="30">
                                <app-field-error-display [displayError]="isFieldValid('penerima')" errorMsg="Penerima tidak boleh kosong"></app-field-error-display>
                            </div>
                        </div>
                        <div class="row row-atur">  
                            <div class="col-4">
                                <label>No. Handphone:</label>
                                <input type="text" formControlName="hp" class="input-style-text-100" placeholder="Masukan nomor handphone" maxlength="15">
                                <app-field-error-display [displayError]="isFieldValid('hp')" errorMsg="Handphone tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Provinsi:</label>
                                <select formControlName="province" required class="input-style-text-100" >
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Provinsi</option>
                                    <option *ngFor="let option of provinces" [ngValue]="option.regionId" placeholder="Pilih kota">
                                            {{ option.regionName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('province')" errorMsg="Provinsi tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Kota / Kabupaten:</label>
                                <select formControlName="city" class="input-style-text-100">
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Kota</option>
                                    <option *ngFor="let option of cities" [ngValue]="option.cityId" placeholder="Pilih kota">{{ option.cityName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('city')" errorMsg="Kota tidak boleh kosong"></app-field-error-display>
                            </div>
                        </div>
                        <div class="row row-atur"> 

                            <div class="col-4">
                                <label>Kecamatan:</label>
                                <select formControlName="district" class="input-style-text-100">
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Kecamatan</option>
                                    <option *ngFor="let option of districts" [ngValue]="option.districtId">
                                            {{ option.districtName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('district')" errorMsg="Kecamatan tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Kelurahan:</label>
                                <select formControlName="villageId" class="input-style-text-100">
                                    <option [ngValue]="null" disabled selected>Silahkan Pilih Kelurahan</option>
                                    <option *ngFor="let option of villages" placeholder="Pilih kota" [ngValue]="option.villageId">
                                            {{ option.villageName }}
                                    </option>
                                </select>
                                <app-field-error-display [displayError]="isFieldValid('villageId')" errorMsg="Kelurahan tidak boleh kosong"></app-field-error-display>
                            </div>
                            <div class="col-4">
                                <label>Kodepos:</label>
                                <input type="text" formControlName="kodepos" class="input-style-text-100" placeholder="Masukan kodepos" maxlength="5" readonly>
                                <div *ngIf="formAddCrtl.controls.kodepos.errors?.minlength; else postalOn">
                                    <p class="tooltiptext"> Kode Poss Harus 5 </p>
                                </div>
                                <ng-template #postalOn>
                                        <!-- Silahkan Masukan Kode Poss -->
                                    <app-field-error-display [displayError]="isFieldValid('kodepos')" errorMsg="Silahkan Masukan Kode Poss"></app-field-error-display>
                                </ng-template>
                            </div>              
                        </div>
                        <div class="row row-atur">  
                            <div class="col-12">
                                <label>Alamat:</label>
                                <textarea formControlName="alamat" class="input-style-text-100"></textarea>
                                <app-field-error-display [displayError]="isFieldValid('alamat')" errorMsg="Alamat tidak boleh kosong"></app-field-error-display>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-12">
                                <button class="btn btn--orange component-center center-for-button btn-size-100">Tambah</button>
                            </div>
                        </div>
                    
                    </form>

                    </div>

            </app-models>


    </div>
</div>