<div class="containPage has-header">
  <div class="containPageCenter contain-checkout">
    <div class='checkout-title'>Checkout</div>
    <div class='checkout-sub-title'>Payment ID: #412151</div>


      <table class="table table-striped table-checkout">
        <thead>
          <tr>
            <th class="th1">Checkout Sebagian</th>
            <th class="th2 table-title">ITEM</th>
            <th class="th3 table-title">DESCRIPTION</th>
            <th class="th4 table-title">Price</th>
            <th class="th5 table-title">QTY</th>
            <th class="th6 table-title">Sub Total</th>
            <th class="th7 table-title">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td colspan="6"><span class="no-order">Order No:#34534534</span> <span class="nm-store">Nama Toko: <span class="link-store">Kelontong Samuel</span></span></td>
          </tr>
          <tr>
            <td><input name="checkbox" type="checkbox"></td>
            <td class="table-val"><img src="assets/img/dummy-product.jpg" size="50"></td>
            <td class="table-val"><span class="item-name">Missha All Around Safe Block Sebum Zero Sun</span> <span class="item-size">( 1 Kg )</span>
            <div><span class="item-delete">Hapus Barang</span> <span class="item-trash"><fa name="trash"></fa></span></div>
            </td>
            <td class="table-val"><span class="item-price">Rp. 1.000.000</span></td>
            <td class="table-val"><span class="plus-minus"> <fa name="minus"></fa> </span> <span class="item-qty">5</span> <span class="plus-minus"> <fa name="plus"></fa> </span></td>
            <td class="table-val">
              <table border="0">
                <tr>
                  <td>
                    <span class="item-price">Rp. 5.000.000</span>
                  </td>
                  <td>
                    <div class="btn-pilih">Pilih Alamat</div>
                  </td>
                  <td>
                    <div class="btn-pilih">Pilih Pengiriman</div>
                  </td>
                </tr>
              </table>
              
            </td>
            <td class="table-val"><span class="item-price">Rp. 5.100.000</span></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="6"><div class="item-note">Catatan Untuk Penjual <span class="icon-note"><fa name="far fa-edit"></fa></span></div></td>
          </tr>
        </tbody>

      </table>

      <div class="row">
        <div class="col-9">
          &nbsp;
        </div>
        <div class="col-3">
          <div class="view-total">
            <div class="row">
              <div class="col-6">
                  Total:
              </div>
              <div class="col-6">
                Rp. 5.100.000
              </div>
            </div>
          </div>

          <div class="view-minus">
            <div class="row">
              <div class="col-6">
                  <div class="juliseru">
                    JULISERU <fa name="far fa-edit"></fa>
                  </div>
              </div>
              <div class="col-6">
                Rp. -1.100.000
              </div>
            </div>
          </div>

          <div class="view-all-total">
            <div class="row">
              <div class="col-6">
                  Total:
              </div>
              <div class="col-6">
                Rp. 4.000.000
              </div>
            </div>
          </div>
        </div>
      </div>  
      
      <div class='checkout-title'>Pembayaran</div>
      <div class='checkout-sub-title'>Pilih metode pembayaran</div>
      <div class='pilih-metode'>
        <span class='btn-pilih-metode-active'>Bank Transfer</span> 
        <span class='btn-pilih-metode'>Kartu Kredit</span>
        <span class='btn-pilih-metode'>Pembayaran Instan</span>
      </div>

      <div class='list-metode'>
        <div class="row">
          <div class="col-3">
            <img src="assets/img/bank_bca.png" width="120"><br>
            675765765775<br>On<br>PT Belisada Global Indonesia
          </div>
          <div class="col-3">
            <img src="assets/img/bank_mandiri.png" width="120"><br>
            675765765775<br>On<br>PT Belisada Global Indonesia
          </div>
          <div class="col-3">
            <img src="assets/img/bank_bni.png" width="120"><br>
            675765765775<br>On<br>PT Belisada Global Indonesia
          </div>
          <div class="col-3">
            675765765775<br>On<br>PT Belisada Global Indonesia
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="b-abu">
            sadasdas
          </div>
        </div>
        <div class="col-6">
          <div class="b-abu">
             dsfsdfsdfsd   
          </div>
        </div>
      </div>
  </div>
</div>