.red-label {
    padding: 1rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: #da2f2f;
    border-radius: .5rem;
}

.modal-body{
    background: #f7f5f5;
    padding:10px;
    margin: 10px;
    border-radius:5px;
}

.contain-checkout{
    color: #020202;
}

.item-order{
    margin-top:10px;
}

.item-order-right{
    text-align: right;
}

.item-size{
    font-size: 11px;
    color:#747474;
}

.item-center{
    text-align: center;
}

.item-name{
    font-size: 13px;
}

.item-price{
    color: #000000;
}

.item-price-spesial{
    color: #f8992e;
}

.item-qty{
    color:#000000;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    width:2rem;
    padding:5px;
}

.item-delete {
    color: #009dff;
    font-size: 11px;

    &:hover {
        cursor: pointer;
    }
}

.item-trash{
    color:#747474;
    margin-left:10px;
}

.item-note{
    border: 1px solid #737373;
    border-radius:5px;
    padding:0px 5px;
    width:250px;
    color: #009dff;
    cursor: pointer;
    text-align: center;
}

.item-note:hover{
    background: #f7f4f4;
}

.plus-minus{
    border: 1px solid #dddddd;
    padding:5px;
    // margin:10px;
    cursor: pointer;
    color:#747474;
}

.plus-minus:hover{
    background: #dddddd;
}

.btn-pilih{
    background: #2abef5;
    color:#ffffff;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 12px;
    cursor: pointer;
}

.btn-pilih:hover{
    background: #68d0f7;
}

.checkout-title{
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
}

.icon-note{
    color:#747474;
    font-size: 20px;
    margin-left:20px;
}

.checkout-sub-title{
    text-align: center;
    font-family: tahoma;
    font-size: 20px;
    font-style: italic;
    margin-bottom:20px;
}

.table-title{
    background: #f5f5f5;
}

.table-title2{
    background: #ffffff;
}

.table-checkout{
    border-spacing: 0px;
    border-collapse: separate;
    border:0px;
}

.table-val{
    background: #fafafa;
}

.nm-store{
    font-size:13px;
    margin-left:20px;
}

.link-store{
    color: #61c2ff;
}

.th1{
    width:5%;
    font-size: 13px;
    font-style: normal;
    padding:5px;
}

.frame-total{
    text-align: right;
}

.view-total{
    background: #232f3d;
    border-radius: 5px;
    color:#ffffff;
    padding: 10px;
    margin-bottom:5px;
}

.view-minus{
    color:#020202;
    padding: 10px;
    margin-bottom:5px;
}

.view-all-total{
    background: #f8992e;
    border-radius: 5px;
    color:#ffffff;
    padding: 10px;
}

.juliseru{
    border: 2px solid #2abef5;
    padding:5px;
}

.btn-pilih-metode-active{
    border: 1px solid #26a700;
    padding:20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.btn-pilih-metode-active:hover{
    background: #26a700;
}

.btn-pilih-metode{
    border: 1px solid #b5b5b5;
    padding:20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.btn-pilih-metode.disabled {
    background-color: #b5b5b5!important;
    border: 1px solid #b5b5b5!important;
    cursor: not-allowed;
}

.btn-pilih-metode:hover{
    border: 1px solid #26a700;
    background: #26a700;
}

.list-metode{
    border: 1px solid #26a700;
    padding:10px;
    text-align:center;
    margin: 0 auto 20px auto;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}

.b-abu-left{
    background: #fafafa;
    border: 1px solid #c9c9c9;
    padding: 10px;
    // margin-top:5px;
}

.b-abu-right{
    background: #fafafa;
    border: 1px solid #c9c9c9;
    padding: 10px;
    text-align: center;
    margin-top: 42px;
}

.btn-arrow{
    margin-top:5px;
    text-align: center;
}

.img-pay{
    // height: 100px;
    margin-bottom:10px;
}

.g-total{
    font-size: 20px;
    font-family: arial;
}

.g-total-price{
    font-size: 25px;
    color: #26a700;
}

.btn-lanjut{
    color:#ffffff;
    background:#2abef5;
    padding:5px;
    text-align: center;
    border-radius:5px;
    margin-top:20px;
    cursor: pointer;
}

.btn-lanjut:hover{
    background:#63d0f8;
}

.btn-bayar{
    color:#ffffff;
    background:#f8992e;
    padding:5px;
    text-align: center;
    border-radius:5px;
    margin-top:20px;
    cursor: pointer;
}

.btn-bayar:hover{
    background:#fcaf59;
}

.btn-update{
    color:#ffffff;
    background:#279215;
    padding:10px;
    text-align: center;
    border-radius:5px;
    margin-top:20px;
    cursor: pointer;
    font-size: 12px;
    margin-right:5px;
}

.btn-update:hover{
    background:#6ce758;
}

.btn-cancel{
    color:#ffffff;
    background:#ef1e1e;
    padding:10px;
    text-align: center;
    border-radius:5px;
    margin-top:20px;
    font-size: 12px;
    cursor: pointer;
}

.btn-cancel:hover{
    background:#f44545;
}

.p-penerima {
    background: #efefef;
    border-top: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding:10px;
    border-radius:5px 5px 0px 0px;
    font-size: 12px;
    &:hover {
        cursor: pointer;
    }
}

.p-active{
    background: #fafafa;
}


#btn-drop {
    // margin: 30px 0 50px 0;
    // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: Arial;
    font-size: 12px;
    cursor: pointer;
}

#btn-drop .wrapper-drop {
    display: inline-block;
    width: 120px;
    // margin: 0 10px 0 0;
    // height: 20px;
    position: relative;
}

#btn-drop .parent {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    // height: 30px;
    border-radius: 5px;
    background: #2abef5;
    // border: 1px solid #AAA;
    // border-bottom: 1px solid #777;
    color: #ffffff;
    // font-weight: bold;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
}

#btn-drop .parent:hover,
#btn-drop .content:hover ~ .parent {
    background: #68d0f7;
    -webkit-transition-delay: 0s, 0s, 0s;
}

#btn-drop .content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}

#btn-drop .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 120px;
    padding-top: 30px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

#btn-drop .wrapper-drop:active .content {
    height: auto;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

#btn-drop .content:hover {
    height: auto;
    z-index: 3;
    -webkit-transition-delay: 0s;
}


#btn-drop .content ul {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#btn-drop .content ul a {
    text-decoration: none;
}

#btn-drop .content li:hover {
    background: #eee;
    color: #333;
}

#btn-drop .content li {
    list-style: none;
    text-align: left;
    color: #888;
    font-size: 11px;
    line-height: 30px;
    // height: 30px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
}

#btn-drop .content li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.btn-green{
    background:#dcfcd5;
}

.row-atur{
    margin-bottom:0px;
}

.frame-tab{
    overflow: auto;
}

.contain-dialog{
    text-align: center;
    margin-top: 60px;
    padding:10px;
}

.chekout-head{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top:20px;
    height: 90px;
}

.title-head-chekout{
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
}

.line-head{
    border-top: 10px solid #fcac2f;
    border-bottom: 10px solid #17415b;
}

.sub-title-checkout{
    display: grid;
    grid-template-columns: 50% 50%;
    width:30%;
    margin:0px auto;

    &__left{
        align:center;
    }

    &__right{
        align:center;
    }

    &__circle-active{
        margin-right:0px;
        border: 7px solid #18415b;
        background: #ffffff;
        border-radius:30px;
        // padding-bottom: 0.5rem;
        width: 6rem;
        height:6rem;
        text-align: center;
        margin-top: -3.5rem;
        font-size: 2.5rem;
        font-weight:bold;
        color: #fcac2f;
    }

    &__circle-blank{
        margin-right:0px;
        border: 7px solid #eaeaea;
        background: #ffffff;
        border-radius:30px;
        // padding-bottom: 0.5rem;
        width: 6rem;
        height:6rem;
        text-align: center;
        margin-top: -3.5rem;
        font-size: 2.5rem;
        font-weight:bold;
        color: #eaeaea;
    }

    &__line-active{
        border-top: 7px solid #18415b;
    }

    &__line-blank{
        border-top: 7px solid #eaeaea;
    }

    &__title{
        font-weight: bold;
        color:#000000;
    }

}

.sub-title-checkout-left{
    text-align:right;
}

.sub-title-checkout-right{
    text-align:left;
}

.table-title{
    display: grid;
    grid-template-columns: 30% 15% 10% 15% 20% 10%;
    padding:10px;
    color:#fcac2f;
    background:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.5rem;
}

.box-icon{
    background: #fcac2f;
    height:40px;
    border: 3px solid #dddddd;
    width:30px;
}

.contenCart{
    margin-top:20px;
    border: 1px solid #dddddd;

    &__asuPrice{
        color:#5e5c5c;
        font-size: 1.3rem;
        margin-left:2rem;
    }

    &__check{
        font-size: 20px;
        padding:10px;
        border-bottom: 1px solid #dddddd;
    }

    &__shop{
        padding:5px;
        border-bottom: 1px solid #dddddd;
    }

    &__item{
        display: grid;
        grid-template-columns: 30% 15% 10% 15% 20% 10%;
        padding:5px;
        border-bottom: 1px solid #dddddd;
        margin-top: 1.5rem;
    }

    &__info{
        display: grid;
        grid-template-columns: 40% 30% 30%;
        padding:5px;
        background: #ffffec;
        font-size: 12px;
    }

    &__img{
        display: grid;
        grid-template-columns: 30% 70%;
    }

    &__btn-delete{
        background: #18415b;
        color:#ffffff;
        text-align:center;
        margin-right:1rem;
        font-size: 1.3rem;
        cursor: pointer;
    }

    &__btn-delete:hover{
        background: #3d81ac;
    }

    &__total{
        text-align: right;
    }

    &__form{
        border: 1px solid #dddddd;
        padding: 0.7rem;
        font-size: 1.3rem;

        &__textarea{
            width:90%;
        }
    }

    &__opsi{
        display: grid;
        grid-template-columns: 40% 60%;
    }

    &__message{
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

.fontYellow{
    color:#fdb02a;
}

.fontRed{
    color:#d4183c;
}

.cPay{
    margin-top:20px;
    padding:10px;
    background:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.5rem;

    display: grid;
    grid-template-columns: 16% 15% 15% 15%;

    &__form{
        padding:10px;
        width:100%;
    }

    &__val{
        padding:5px;
    }

    &__btn{
        border:1px solid #dddddd;
        padding:10px;
        cursor: pointer;
        color:#dddddd;
        background: #ffffff;
        font-size:1.5rem;
    }

    &__btn-active{
        padding:10px;
        cursor: pointer;
        color:#dddddd;
        font-size:1.5rem;
        border:1px solid #fdb02a;
        background: #ffffff;
        color:#000000;
    }

    &__btn2{
        border:1px solid #dddddd;
        padding:10px;
        color:#dddddd;
        background: #ffffff;
        font-size:1.5rem;
    }

    &__btn:hover{
        border:1px solid #fdb02a;
        background: #ffffff;
        color:#000000;
    }
}

.cPayDetail{
    padding:10px;
    background:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3rem;

    &__bank{
        display: grid;
        grid-template-columns: 17% 7% 15% 30% 30%;
        // font-size: 1.2rem;
    }

    &__modeText{
        color:#fdb02a;
    }

    &__shadowText{
        color:#727070;
    }
}

.cFooter{
    margin-top:20px;
    padding:10px;
    background:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.5rem;

    &__val{
        font-size: 2rem;
        color: #727070;
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    &__val2{
        font-size: 2rem;
        color: #dddddd;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    &__btn{
        color:#ffffff;
        background: #fdb02a;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        margin-top: 1rem;
    }

    &__btn:hover{
        background: #fac468;
    }

    &__btn-cart{
        border:0px;
        padding:10px;
        color:#ffffff;
        background: #fdb02a;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        margin-top: 1rem;
        width:100%;
    }

    &__btn-cart:hover{
        background: #fac468;
    }

    &__subTot{
        color:#727070;
        text-align:right;
    }

    &__subTotBig{
        color:#fdb02a;
        text-align:right;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.big-price{
    font-size: 2rem;
}

.total-font{
    font-size: 1.5rem;
}

.logoText{
    font-size: 2rem;
    color:#000000;
    font-weight: bold;
    padding-bottom: 2rem;
    text-align: center;
    &:hover {
        color: #777777;
    }
}

.backButton {
    font-size: 2rem;
}

.backButton:hover {
    color: #777777;
    fa-icon {
        color: #777777;
    }
}

.linkHome{
    color:#000000;
    text-decoration: none;
    height: 100px;
}

.linkHome:hover{
    color:#f7b855;
}

.varianText{
    font-size: 1.3rem;
    color:#474545;
}

.loading {
    position: absolute;
    top: -6px;
}

.align-self-center {
    align-self: center;
}

.align-self-stretch {
    align-self: stretch;
}

.btn--add-address {
    width: 100%;
}
