<h3>Ulasan</h3>
<div class="wrapper">
    <div >
        {{ cart.invoiceNumber }} <p class="kananNih"> Tanggal Transaksi : {{cart.transactionTime | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
            <div>
                <p>Product List</p>
                <table *ngFor="let item of cart.items">
                    <tr>
                            <img class="ui tiny image" [src]="item.imageurl" style="margin: 0 auto;">
                            <td>{{item.name}}</td>

                            <td>
                                <button class="ui basic button" (click)="repiew(item.productId)">Review</button></td>
                    </tr>
                </table>
            </div>
    </div>
      </div>
