<p (click)="asd()">
  dalem-review works!
</p>

{{kambing.aliasName}}
<!-- <img class="ui small image" src="/images/wireframe/image.png"> -->
<!-- <img  class="ui small image" [src]="kampretLuh"> -->
<!-- {{kambing.image}}
<div *ngFor="let asd of kambing.image">
    <img  class="iniNone" [src]="asd">
</div> -->
<input type="text" placeholder="Search..." [(ngModel)]="title">
<sui-rating class="star" [(ngModel)]="star" [maximum]="5"></sui-rating>
<input type="text" placeholder="Search..." [(ngModel)]="review">
