<div class="ui">
    <div class="ui grid">
        <div class="twelve wide stretched column">
            <div class="ui grid">
                <div class="six wide column">
                    <div class="ui card">
                        <div class="image">
                            <img src="{{userImgAvatar}}" alt="Profile Picture" (load)="setCanvas($event,'imageAvatar')" #avaImg />
                        </div>
                        <div class="content">
                            <a class="header">{{ user.name }}</a>
                            <div class="meta">
                                <span class="date">{{ user.email }}</span>
                            </div>
                            <div class="description">
                                Besar file maksimum 5 MB.<br/>Format file yang diperbolehkan (.JPG, .JPEG, .PNG)
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <div class="upload-btn-wrapper">
                                <button class="ui orange button">Pilih Photo</button>
                                <input type="file" name="myfile" (change)="setUrl($event, avaImg)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <p>Silakan lengkapi data diri Anda pada form dibawah ini.</p>
                    <form class="ui form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <h4 class="ui dividing header">Data Profile</h4>
                        <div class="field">
                            <label>Nama</label>
                            <input name="name" #name placeholder="Masukan nama" type="text" [(ngModel)]="fm.name" required/>
                            <div *ngIf="f.submitted && name.invalid" class="ui pointing red basic label">Nama tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Tanggal Lahir</label>
                            <ng-datepicker name="dateOfBirth" [options]="options" [(ngModel)]="dob" (ngModelChange)="setDOB($event)"></ng-datepicker>
                        </div>
                        <div class="field">
                            <label>Alamat</label>
                            <input name="address" #address placeholder="Masukan alamat" type="text" [(ngModel)]="fm.address" required/>
                            <div *ngIf="f.submitted && address.invalid" class="ui pointing red basic label">Alamat tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Provinsi</label>
                            <sui-select name="province" [isSearchable]="true" class="selection" labelField="name" placeholder="Pilih provinsi" [(ngModel)]="adr.province">
                                <sui-select-option *ngFor="let option of provinces" [value]="option" value="option.name" (click)="getCity(option.mregionId)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kota</label>
                            <sui-select class="selection" labelField="name" name="city" placeholder="Pilih Kota" [(ngModel)]="adr.city">
                                <sui-select-option *ngFor="let option of cities" [value]="option" value="option.name" (click)="getDistrict(option.mcityId)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kecamatan</label>
                            <sui-select class="selection" labelField="name" name="district" placeholder="Pilih Kelurahan / Kecamatan" [(ngModel)]="adr.district">
                                <sui-select-option *ngFor="let option of districts" [value]="option" value="option.name" (click)="getVillage(option.mdistrictId)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kelurahan</label>
                            <sui-select name="village" class="selection" labelField="name" placeholder="Pilih Desa" [(ngModel)]="adr.village">
                                <sui-select-option *ngFor="let option of villages" [value]="option" value="option.name" (click)="setVilage(option)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kode POS</label>
                            <input name="postal" #postal placeholder="Masukan kode POS" type="text" [(ngModel)]="fm.postal" required/>
                            <div *ngIf="f.submitted && postal.invalid" class="ui pointing red basic label">Kodepos tidak boleh kosong</div>
                        </div>
                        <div class="field">
                            <label>Nomor HP</label>
                            <input name="phone" placeholder="Masukan nomor handphone" type="text" [(ngModel)]="fm.phone"/>
                        </div>
                        <div class="field">
                            <label>Nomor KTP</label>
                            <input name="ktp" placeholder="Masukan nomor KTP" type="text" [(ngModel)]="fm.idcard"/>
                        </div>
                        <img class="ui middle aligned small image" src="{{userImageKTP}}" (load)="setCanvas($event, 'imageIDCard')" #imgKTP >
                        <div class="upload-btn-wrapper">
                            <button class="ui green button"><i class="cloud icon"></i> Upload file KTP</button>
                            <input type="file" name="fileNpwp" (change)="setUrl($event, imgKTP)" />
                        </div>
                        <div class="field">
                            <label>Nomor NPWP</label>
                            <input name="npwp" placeholder="Masukan nomor NPWP" type="text"  [(ngModel)]="fm.npwp"/>
                        </div>

                        <!-- <div class="ui divider"></div> -->
                        <img class="ui middle aligned small image" src="{{userImageNPWP}}" (load)="setCanvas($event, 'imageNPWP')" #imgNpwp >
                        <!-- <br>
                        <small>Besar file maksimum 5 MB.<br/>Format file yang diperbolehkan (.JPG, .JPEG, .PNG)</small>
                        <br> -->
                        <div class="upload-btn-wrapper">
                            <button class="ui green button"><i class="cloud icon"></i> Upload file NPWP</button>
                            <input type="file" name="fileNpwp" (change)="setUrl($event, imgNpwp)" />
                        </div>

                        <div class="ui divider"></div>

                        <button class="ui primary button" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
      <div *ngIf="role == 6; else login">
   <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="active item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="item">
                    Info Perusahaan
                </a>
            </div>
        </div>
</div>
<ng-template #login>
    <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="active item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
            </div>
        </div>
</ng-template>
    </div>
</div>
