<div class="column">
    <div class="wide column">
        <h1>Profile</h1>
    </div>
</div>    
<div class="ui segment">
    <div class="ui grid">
        <div class="twelve wide stretched column">
            <div class="ui grid">
                <div class="six wide column">
                    <div class="ui card">
                        <div class="image">
                            <img src="{{userImgAvatar}}" alt="Profile Picture" (load)="setCanvas($event)" #avaImg />
                        </div>
                        <div class="content">
                            <a class="header">{{ user.name }}</a>
                            <div class="meta">
                                <span class="date">{{ user.email }}</span>
                            </div>
                            <div class="description">
                                Besar file maksimum 5 MB.<br/>Format file yang diperbolehkan (.JPG, .JPEG, .PNG)
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <div class="upload-btn-wrapper">
                                <button class="ui orange button">Pilih Photo</button>
                                <input type="file" name="myfile" (change)="setUrl($event, avaImg)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    
                    <form class="ui form" [formGroup]="createProfileForm" (ngSubmit)="onSubmit()" novalidate>  
                        <div class="field">
                            <label>Nama</label>
                            <input name="name" placeholder="Masukan nama" type="text" formControlName="name"/>
                        </div>
                        <div class="field">
                            <label>Tanggal Lahir</label>
                            <!-- <div class="ui grid">
                                <div class="sixteen wide column"> -->
                                    <ng-datepicker formControlName="dateOfBirth" [options]="options"></ng-datepicker>
                                <!-- </div>
                            </div> -->
                        </div>
                        <div class="field">
                            <label>Alamat</label>
                            <input name="address" placeholder="Masukan alamat" type="text" formControlName="address"/>
                        </div>
                        <div class="field">
                            <label>Provinsi {{province}}</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih provinsi" formControlName="province">
                                <sui-select-option *ngFor="let option of provinces" [value]="option" value="option.name" (click)="getCity(option.mregionId)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kota</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Kota" formControlName="city">
                                <sui-select-option *ngFor="let option of cities" [value]="option" value="option.name" (click)="getDistrict(option.mcityId)"></sui-select-option>
                            </sui-select>
                        </div>                        
                        <div class="field">
                            <label>Kelurahan / Kecamatan</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Kelurahan / Kecamatan" formControlName="district">
                                <sui-select-option *ngFor="let option of districts" [value]="option" value="option.name" (click)="getVillage(option.mdistrictId)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Desa</label>
                            <sui-select class="selection" labelField="name" placeholder="Pilih Desa" formControlName="village">
                                <sui-select-option *ngFor="let option of villages" [value]="option" value="option.name" (click)="setPostalCode(option.kodepos)"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label>Kode POS</label>
                            <input name="postalcode" placeholder="Masukan kode POS" type="text" formControlName="postalcode"/>
                        </div>
                        <div class="field">
                            <label>Nomor HP</label>
                            <input name="phone" placeholder="Masukan nomor handphone" type="text" formControlName="phone"/>
                        </div>
                        <div class="field">
                            <label>Nomor KTP</label>
                            <input name="ktp" placeholder="Masukan nomor handphone" type="text" formControlName="ktp"/>
                        </div>
                        <div class="field">
                            <label>No. NPWP</label>
                            <input name="npwp" placeholder="Masukan NPWP" type="text" formControlName="npwp"/>
                        </div>
                        <!-- <div class="field">
                            <div class="ui action input">
                                <input type="text" placeholder="Upload file NPWP" readonly/>
                                <input type="file"/>
                                <div class="ui icon button">
                                    <i class="attach icon"></i>
                                </div>
                            </div>
                        </div> -->
                             
                        <div class="ui divider"></div>
                        <img class="ui middle aligned small image" src="{{userImageNPWP}}" (load)="setCanvasNpwp($event)" #avaImgNpwp >
                        <br>
                        <small>Besar file maksimum 5 MB.<br/>Format file yang diperbolehkan (.JPG, .JPEG, .PNG)</small>
                        <br>
                        <div class="upload-btn-wrapper">
                            <button class="ui green button"><i class="cloud icon"></i> Upload file NPWP</button>
                            <input type="file" name="fileNpwp" (change)="setUrlNpwp($event, avaImgNpwp)" />
                        </div>
                            
                        <div class="ui divider"></div>     

                        <button class="ui primary button" type="submit">Simpan</button>
                    </form>
                </div>  
            </div>
        </div>
        <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="active item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="item">
                    Info Perusahaan
                </a>
            </div>
        </div>
    </div>
</div>