<div class="column">
  <div class="wide column">


      <div class="ui grid">
          <div class="ten wide column">
              <div class="ui right aligned category search">
                  <div class="ui icon input">
                      <input class="prompt" [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}" placeholder="Cari produk..." type="text"/>
                      <i class="search icon"></i>
                  </div>
                  <div class="results"></div>
              </div>
          </div>
          <div class="six wide column right aligned">

              <!-- <div class="ui grid">
              <div class="eleven wide column">
                  Urutkan <select class="ui search dropdown">
                      <option value="">Produk Terjual</option>
                  </select>
              </div>
              <div class="two wide column">
                  <h1><i class="grid layout icon green"></i></h1>
              </div>
              <div class="two wide column">
                  <h1><i class="list layout icon green"></i></h1>
              </div>
              </div>   -->
              <!-- <div class="ui compact menu" >
              <div class="active item" style='background: transparent; border:0px'>
                  Total Item: 100
              </div>
              </div>

              Urutkan <select class="ui search dropdown">
                  <option value="">Produk Terjual</option>
              </select>  -->

              <div class="ui grid">
                  <div class="right floated column totals">
                      Total Item: {{ (sellerProduct | async)?.length }}
                  </div>
                  <!-- <div class="eleven wide column">Urutkan
                      <select class="ui search dropdown">
                          <option value="">Produk Terjual</option>
                      </select>
                  </div> -->
              </div>
          </div>
      </div>

      <table class="ui single line table">
          <thead>
              <tr>
                  <th><input type="checkbox" (click)="checkAll(st)"/></th>
                  <th>Foto Product</th>
                  <th>Nama Product</th>
                  <th>Harga Anda</th>
                  <th>Tipe</th>
                  <th>Status</th>
                  <th>Stock</th>
                  <!-- <th>Hapus</th> -->
              </tr>
          </thead>
          <tbody *ngFor="let product of sellerProduct | async; let i = index">
            <tr>
                <td class="collapsing">
                    <input type="checkbox" checked="{{check}}" (change)="checks(i)"/>
                </td>
                <td class="collapsing">
                    <img (click)="view(product.imageurl, product.name)" style="cursor: pointer;" class="ui image product-image" src="{{ product.imageurl }}" alt="image not found"/>
                </td>
                <td>
                    {{ product.name | words: 5 }}<br/>
                    <!-- <small><i class="unhide icon"></i> 0 views</small> -->
                </td>
                <td>
                    <!-- <div class="ui action input">
                        <div class="ui label">
                        Rp.
                        </div>
                        <input value="18.699.000" type="text">
                        <button class="ui teal right labeled icon button"></button>
                        <i class="copy icon"></i>

                        </button>
                    </div> -->

                    <div class="ui right labeled input">
                        <label for="amount" class="ui label" *ngIf="!editmode">Rp.</label>
                        <label for="amount" class="ui label" *ngIf="editmode && i === ind">Rp.</label>
                        <input placeholder="Amount" id="amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [value]="product.pricelist | number" type="text" [disabled]="true" *ngIf="!editmode"/>
                        <input placeholder="{{product.pricelist}}" id="amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        value="product.pricelist" type="text" *ngIf="editmode && i === ind" [(ngModel)]="hargabaru"/>
                        <!-- <div class="priceTag" [contentEditable]="editmode" *ngIf="editmode && i === ind">{{product.pricelist}}</div>
                        <div class="priceTag" [contentEditable]="editmode" *ngIf="!editmode">{{product.pricelist | number}}</div> -->
                        <div *ngIf="product.statusCode !== 'RJ' && product.statusCode !== 'AP'">
                            <a class="ui tag label" *ngIf="!editmode" (click)="editProducts(product, i)">
                                    <i *ngIf="!editmode" class="edit icon"></i>
                            </a>
                            <a class="ui tag label" *ngIf="editmode && i === ind"  (click)="editPrice(product)">
                                    <i class="save icon"></i>
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <img *ngIf="product.isAsapShipping === 'Y'" src="https://myacico.co.id/images/general/asap.png" class="ui tiny aligned image" style="cursor:pointer;">
                    <div class="ui small label" *ngIf="product.isAsapShipping === 'N'">Regular</div>
                </td>
                <td>
                    <small>
                            <span class="ui small label" *ngIf="product.statusCode === 'DR'">{{product.status}}</span>
                            <span class="ui small yellow label" *ngIf="product.statusCode === 'PE'">{{product.status}}</span>
                            <span class="ui small orange label" *ngIf="product.statusCode === 'RV'">{{product.status}}</span>
                            <span class="ui small red label" *ngIf="product.statusCode === 'RJ'">{{product.status}}</span>
                            <span class="ui small green label" *ngIf="product.statusCode === 'AP'">{{product.status}}</span>
                    </small>
                </td>
                <td *ngIf="product.isAsapShipping === 'N'">
                    <a suiPopup popupHeader="Belisada" popupText="Total barang" class="ui circular label">{{product.stock}}</a>
                </td>
                <td *ngIf="product.isAsapShipping === 'Y'">
                    <a class="ui red circular label" suiPopup popupHeader="Belisada" popupText="Akan dikirim ke gudang Belisada">{{product.qtyOnHand}}</a>
                    <a class="ui orange circular label" suiPopup popupHeader="Belisada" popupText="Barang yang ada pada Anda">{{product.qtyOnSeller}}</a>
                </td>
                <!-- <td><i class="edit icon"></i></td>
                <td><i class="trash outline icon"></i></td> -->
                <!-- <td><i (click)="inactive(product.productId)" class="trash outline icon"></i></td> -->
            </tr>
        </tbody>

          <!-- <tfoot>
              <tr>
                  <th colspan="7">
                      <div class="ui right floated pagination menu">
                          <a class="icon item">
                              <i class="left chevron icon"></i>
                          </a>
                          <a class="item">1</a>
                          <a class="item">2</a>
                          <a class="item">3</a>
                          <a class="item">4</a>
                          <a class="icon item">
                              <i class="right chevron icon"></i>
                          </a>
                      </div>
                      <div class="ui left floated small red labeled icon button">
                          <i class="trash outline icon"></i> Hapus
                      </div>
                  </th>
              </tr>
          </tfoot> -->
      </table>
      <div class="twelve wide fields">
        <button class="positive ui button" (click)="addProducts()">Tambah Produk</button>
    </div>
  </div>
</div>
