<div class="contain">

  <div class="contain__sub">
    <div>
      <div class="contain__image">
        Image
      </div>

      <div class="contain__btn-detail">
        Lihat Detail
      </div>
    </div>
    <div class="contain__val">
      <div class="contain__val__com"> 
        <div>
          Image
        </div>
        <div>
          <div class="contain__name">Johan</div>
          <div class="contain__com">Gan sudah dikirim belum barangnya??</div>
        </div>  
      </div>
      <div class="contain__val__rep">  
          <div>
            Image
          </div>
          <div>
            <div class="contain__name">Toko Gaban</div>
            <div class="contain__com">Sudah gan, ditunggu aja</div>
          </div>  
      </div>
      <div class="contain__val__rep">  
          <div>
            Image
          </div>
          <div>
            <div class="contain__name">Johan</div>
            <div class="contain__com">Dikirim pake apa gan?</div>
          </div>  
      </div>
      <div class="contain__val__rep">  
          <div>
            Image
          </div>
          <div>
            <div class="contain__name">Toko Gaban</div>
            <div class="contain__com">Pake onta</div>
          </div>  
      </div>
      <div class="contain__val__form"> 
          <div>
            Image
          </div>
          <div class="contain__val__form__right">
            <textarea class="field-form">hallooo</textarea>
            <button (click)="onSent()" class="btn btn-kirim">Kirim</button>
          </div>  
      </div>

    </div>
  </div>
  
</div>
