<div class="ui container">
    <div class="ui centered grid">
      <div class="computer only row" style='background:#000000;'>
        <div class="sixteen wide column">header</div>
      </div>
      <div class="computer only row">
        <div class="column">Sub Header</div>
      </div>
    </div>
    <div class="ui grid">
        <div class="four wide column">

            <app-sidebar></app-sidebar>

        </div>
        <div class="twoten wide column">sdfsdfds</div>
    </div>
</div>






