<app-menu-profile></app-menu-profile>
<div class="ui">
  <div class="ui grid">
    <div class="sixteen wide stretched column">
          <div class="ui grid">
              <div class="sixteen wide column">
                  <p>Jika Anda ingin melakukan ubah password, masukan password lama Anda dan kemudian masukan password baru.</p>
                  <form class="ui form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                        <h4 class="ui dividing header">Ubah Password</h4>
                      <div class="field">
                          <label>Password Lama</label>
                          <input name="old_password" placeholder="Masukan password lama" [(ngModel)]="old_password" #_old_password="ngModel" type="password" required/>
                          <div *ngIf="f.submitted && !_old_password.valid" class="ui pointing red basic label">Password lama tidak boleh kosong</div>  
                     </div>
                      <div class="field">
                          <label>Password Baru</label>
                          <input name="password_baru" placeholder="Masukan password baru" [(ngModel)]="password_baru" #_password_baru="ngModel" type="password" required/>
                          <div *ngIf="f.submitted && !_password_baru.valid" class="ui pointing red basic label">Password baru tidak boleh kosong</div>  
                      </div>
                      <div class="field">
                          <label>Ulangi Password Baru</label>
                          <input name="password_ulangi" placeholder="Ulangi masukan password baru" [(ngModel)]="password_ulangi" #_password_ulangi="ngModel" type="password" required/>
                          <div *ngIf="f.submitted && !_password_ulangi.valid" class="ui pointing red basic label">Ulangi password baru tidak boleh kosong</div>
                        </div>
                      <button class="ui primary button" type="submit">Simpan</button>
                  </form>
              </div>
          </div>
      </div>
      <!-- <div *ngIf="role == 6; else login">
   <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="active item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
                <a routerLink="/seller/info-perusahaan" class="item">
                    Info Perusahaan
                </a>
            </div>
        </div>
</div> -->
<!-- <ng-template #login>
    <div class="four wide column">
            <div class="ui vertical fluid right tabular menu">
                <a routerLink="/seller/profile" class="item">
                    Data Diri
                </a>
                <a routerLink="/seller/change-password" class="active item">
                    Ubah Password
                </a>
                <a routerLink="/seller/rekening" class="item">
                    Rekening Bank
                </a>
                <a routerLink="/seller/toko" class="item">
                    Info Toko
                </a>
            </div>
        </div>
</ng-template> -->
  </div>
</div>
