<div class="wrapper">
        <div>
        <img class="ui middle aligned small image" src="/assets/img/baj.jpg">
        <span class="para">Daftarkan Produk</span>
        </div>
        <div>
            <img class="ui middle aligned small image" src="/assets/img/tok.jpg">
            <span class="para">Kelola Penjualan</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/orangbox.jpg">
                <span class="para">Terima dan Pengiriman Pesanan</span>
        </div>
        <div>
                <img class="ui middle aligned small image" src="/assets/img/dui.jpg">
                <span class="para">Pembayaran</span>
        </div>
        </div>
