<div class="wrapper">
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/baj.jpg">
                    </div>
                <div>
                        <span class="para kamp">Daftarkan Produk</span><br>
                        Lengkapi dokumen anda untuk memulai berjualan di belisada.co.id
                </div>
        </div>
        <!-- <div>
        <img class="ui middle aligned small image" src="/assets/img/baj.jpg">
        <span class="para">Daftarkan Produk</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/tok.jpg">
                    </div>
                <div>
                        <span class="para kamp">Kelola Penjualan</span><br>
                        Kelola penjualan di seller office belisada.co.id yang memiliki tampilan yang mudah
                </div>
        </div>
        <!-- <div>
            <img class="ui middle aligned small image" src="/assets/img/tok.jpg">
            <span class="para">Kelola Penjualan</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/orangbox.jpg">
                    </div>
                <div>
                        <span class="para kamp">Terima dan Pengiriman Pesanan</span><br>
                        penerimaan order dengan konsep klik & done memudahkan penjual untuk mengelola toko online anda
                </div>
        </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/orangbox.jpg">
                <span class="para">Terima dan Pengiriman Pesanan</span>
        </div> -->
        <div class="wrapper2">
                <div>
                    <img class="ui middle aligned small image" src="/assets/img/dui.jpg">
                    </div>
                <div>
                        <span class="para kamp">Pembayaran</span><br>
                        Pembayaran didukung oleh berbagai bank yang memudahkan customer untuk bertransaksi di belisada.co.id
                </div>
        </div>
        <!-- <div>
                <img class="ui middle aligned small image" src="/assets/img/dui.jpg">
                <span class="para">Pembayaran</span>
        </div> -->
        </div>
