
<div class="column">
  <div class="ui grid">
    <div class="five wide wide column">Track Orderan Anda<br>
      <div class="ui action input">
        <input placeholder="Search..." type="text">
        <button class="ui button">Search</button>
      </div>
    </div>
    <div class="five wide wide column">
        <div class="ui segment column">
            <div class="sexteen wide column">jj</div>
        </div>
    </div>
  </div>
</div>  
<div class="column">
  <div class="ui grid">
    <div class="fourten wide column">jj</div>
    <div class="four wide column">
        <div class="ui segment column">
            <div class="sexteen wide column">PRODUK REPORT</div>
        </div>

    </div>
    
  </div>
</div>
