<div class="column">
    <app-search-dashboard></app-search-dashboard>
</div>
<div class="column">
    <div class="ui grid">
      <div class="eleven wide column">
          <div class="column">
            <div class="ui grid">
              <div class="eight wide column">
                  <div class="gap-between-elements">
                <app-notification></app-notification>
                  </div>
                <app-sales-status></app-sales-status>
              </div>
              <div class="eight wide column">
                <app-my-top-produk></app-my-top-produk>
              </div>
            </div>
          </div>
          <app-status-invoice></app-status-invoice>
      </div>
      <div class="five wide column">
          <app-produk-report></app-produk-report>
      </div>
    </div>
  </div>







