
<div class="column">
  <div class="ui grid">
    <div class="five wide column">Track Orderan Anda<br>
      <div class="ui action input">
        <input placeholder="Masukan nomor order Anda..." type="text" style='width:250px;' [(ngModel)]="orderText">
        <button class="ui green button" (click)="search()">Search</button>
      </div>
    </div>
    <div class="eleven wide column">
        <div class="ui segment column">
          <div class="sexteen wide column">
              <div class="column">
                <div class="ui grid">
                  <div class="two wide column">
                    <img src="/assets/img/iconshop.jpg" class="top-image">
                  </div>
                  <div class="fourteen wide column">
                    <button class="huge fluid ui red button">Tambah Produk Anda</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>




<div class="column">
    <div class="ui grid">
      <div class="eleven wide column">


          <div class="column">
            <div class="ui grid">
              <div class="eight wide column">

                <div class="ui fluid vertical menu"><div class="header item"><i>Notification</i></div>
                  <a class="item"><i class="warning icon"></i> System: Stock Laptop Asus ROG Anda telah habis segera restock</a>
                  <a class="item"><i class="warning icon"></i> Finance: Transaksi ID#5675467332 Telah Dibayar</a>
                </div>

                <div class="ui fluid vertical menu">

                  <div class="header item"><i>Sales Status</i></div>
                  <a class="item"><i class="warning icon"></i> System: Stock Laptop Asus ROG Anda telah habis segera restock</a>
                  <a class="item"><i class="warning icon"></i> Finance: Transaksi ID#5675467332 Telah Dibayar</a>
                </div>


              </div>
              <div class="eight wide column">

                <div class="ui fluid vertical menu"><div class="header item"><i>My Top Produk</i></div>


                  <a class="item"><i class="warning icon"></i> System: Stock Laptop Asus ROG Anda telah habis segera restock</a>
                  <a class="item"><i class="warning icon"></i> Finance: Transaksi ID#5675467332 Telah Dibayar</a>
                </div>


              </div>
            </div>
          </div>

          <div class="column">
            <div class="ui grid">
              <div class="sexteen wide column">


                  <table class="ui striped table">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Order ID</th>
                          <th>Product</th>
                          <th>Qty</th>
                          <th>Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let list of productList">
                          <td>{{list.date}}</td>
                          <td>{{list.orderId}}</td>
                          <td>{{list.product}}</td>
                          <td>{{list.qty}}</td>
                          <td>{{list.status}}</td>
                          <td><i class="search icon"></i></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>


      </div>
      <div class="five wide column">


          <div class="sixten wide ui vertical menu"  style='width:100%'>
              <div class="item">
                <div class="header">Produk Report </div>
                <div class="menu">
                  <a class="item">Produk Terverifikasi
                    <a class="ui label">
                      {{ veryfyProduct }}
                    </a>
                  </a>
                  <a class="item">Produk Ditolak
                    <a class="ui label">
                      {{ rejectedProduct }}
                    </a>
                  </a>
                  <a class="item">Produk Terkirim
                      <a class="ui label">
                        {{ sendProduct }}
                      </a>
                  </a>
                  <a class="item">Produk Terjual
                    <a class="ui label">
                      {{ sellProduct }}
                    </a>
                  </a>
                  <a class="item">Produk Pending
                    <a class="ui label">
                      {{ pendingProduct }}
                    </a>
                  </a>
                  <a class="item">Produk Dikembalikan
                    <a class="ui label">
                      {{ returnProduct }}
                    </a>
                  </a>
                  <!-- <a class="item">Produk Diretur
                    <a class="ui label">
                      2
                    </a>
                  </a> -->
                </div>
              </div>
              <a class="item center aligned"><i class="caret right icon"></i> View More</a>
            </div>





      </div>
    </div>
  </div>







