<span class="gap-between-elements"> > HASIL PENCARIAN UNTUK <strong>SAMSUNG</strong></span>
<div class="bawah"></div>
<hr class="doteed" />

<div class="ui stackable four column grid">
    <div class="column"><Strong>Category</Strong>
      <button class="ui icon button" style="float:right;">
          <i class="plus icon meyah"></i>
        </button>
        <div class="bawa2"></div>
      <hr>
        <div class="column">
            <Strong>Price</Strong>
            <button class="ui icon button" style="float:right;">
                <i class="plus icon meyah"></i>
              </button>
              <div class="bawa2"></div>
            <hr>
        </div>
        <div class="column">
            <Strong>Brand</Strong>
            <button class="ui icon button" style="float:right;">
                <i class="plus icon meyah"></i>
              </button>
              <div class="bawa2"></div>
            <hr>
        </div>
    </div>
      
    <div class="column">
          <span>Items  1  to 10 of 638</span>
          <div class="column">
              <img class="ui small image" src="http://www.stickpng.com/assets/images/58ac4b8b0aaa10546adf2705.png">
          </div>
    </div>
    
    
    
    <div class="column">
      <span class="zxc">s;ladk;lasdkaskd;l;l;lkasdl</span>
        <div class="column">
            <strong>Samsung Galaxy S7 Edge</strong>
            <ul>
              <li>Prosessor Samsung Exynox 7870 octa core</li>
              <li>Layar 5,2 Inch</li>
              <li>13 Megapixel</li>
              <li>Storage 32 GB</li>
            </ul>
        </div> 
        <div class="column">
          <strong>Selengkapnya</strong>
        </div> 
  </div>

  
  <div class="column">
      <span>Atur Berdasarkan : </span>
      <sui-select class="selection"
      [(ngModel)]="selectedOption"
      [options]="options"
      labelField="name"
      [isSearchable]="searchable"
      [isDisabled]="disabled"
      #select>
<sui-select-option *ngFor="let option of select.filteredOptions"
                 [value]="option">
</sui-select-option>
</sui-select>
<div class="column gap-between-elements">
  <div class="gap-between-elements"></div>
  <span class="pricelist"> Rp 2.199.000</span>
</div>
<div class="column">
  <span class="yu"><i class="info circle icon"></i>Stok Tersedia</span>
</div>
        <div class="column">
            <span class="yu1">di Jual oleh</span> <span class="yu3">Samsung</span>
        </div>
        <div class="column">
            <sui-rating class="star" [ngModel]="3" [maximum]="5"></sui-rating>
        </div>

  </div>
  </div>
  <hr>  
  <div class="ui grid">
      <div class="four wide column"></div>
      <div class="four wide column">   
    <div class="column">

        <div class="column">
            <img class="ui small image" src="https://community.sprint.com/legacyfs/online/57853_device_475x575_a%20(2).png">
        </div>
  </div>
      </div>
      <div class="four wide column">
          <div class="column">
              <span class="zxc">s;ladk;lasdkaskd;l;l;lkasdl</span>
                <div class="column">
                    <strong>Samsung Galaxy S8</strong>
                    <ul>
                      <li>Prosessor Samsung Exynox 7870 octa core</li>
                      <li>Layar 5,2 Inch</li>
                      <li>13 Megapixel</li>
                      <li>Storage 32 GB</li>
                    </ul>
                </div> 
                <div class="column">
                  <strong>Selengkapnya</strong>
                </div> 
          </div>
      </div>
      <div class="four wide column">
          <div class="column gap-between-elements">
              <div class="gap-between-elements"></div>
              <span class="pricelist"> Rp 2.199.000</span>
              <div class="column">
                  <span class="yu"><i class="info circle icon"></i>Stok Tersedia</span>
                </div>
              <div class="column">
                  <span class="yu1">di Jual oleh</span> <span class="yu3">Samsung</span>
              </div>
              <div class="column">
                  <sui-rating class="star" [ngModel]="3" [maximum]="5"></sui-rating>
              </div>
            </div>
      </div>

    </div>

        <div class="" style="text-align:center">
            <sui-pagination [collectionSize]="100"
                            [pageSize]="10"
                            [hasNavigationLinks]="navigation"
                            [hasBoundaryLinks]="boundary"
                            [(page)]="selectedPage">
            </sui-pagination>
       </div>