.wrapper{
    display:grid;
    grid-template-columns: 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    border-radius: 11px 11px 0px 0px;
    grid-gap:1em;
  }
  $color-ijo : green;
  .gr {
      color:$color-ijo ;
  }
  .gatsb{
      float: right;
  }
  .gap-between-elements8 {
    margin-bottom: 5em!important;
  }
  .ui.secondary.button, .ui.secondary.buttons .button{
      background: #F8931F;
  }
  .wrpaeer2{
    display:grid;
    grid-template-columns: 17% 56% 23%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wrpaeer2 > div{
    background:#EDEDED;
    padding:1em;
  }
  .wrpaeer2 > div:nth-child(odd){
    background:#EDEDED;
  }

  .wrapper > div{
    background:#EDEDED;
    padding:1em;
  }
  .wrapper > div:nth-child(odd){
    background:#EDEDED;
  }
  .wish-img {
    width: 200px;
  }
.wish-img img{
    height: 150px;
    width: auto;
}
