<div class="ui raised very padded text container">
    <img src="/assets/img/asap_big.png" border="0" />
    <div class="ui list">
        <a class="item">
            <i class="right triangle icon"></i>
          <div class="content">
            <div class="header">ASAP</div>
            <div class="description">(As Soon As Possible) merupakan layanan pengiriman dari belisada yang memberikan benefit tambahan bagi customer
                Gratis Biaya Pengiriman</div>
          </div>
        </a>
        <a class="item">
            <i class="right triangle icon"></i>
          <div class="content">
            <!-- <div class="header">ASAP</div> -->
            <div class="description">Anda bisa mendapatkan layanan ASAP dari belisada  secara cuma-cuma sehingga anda bisa menghemat biaya pengiriman untuk pembelanjaan berikutnya
                2 Hari Sampai</div>
          </div>
        </a>
        <a class="item">
            <i class="right triangle icon"></i>
          <div class="content">
            <!-- <div class="header">ASAP</div> -->
            <div class="description">ASAP menawarkan keamanan dalam pengiriman barang pesanan anda. Dengan sistem packaging yang komprehensif, ASAP memberikan perlindungan terbaik bagi barang pesanan anda dalam situasi apapun.</div>
          </div>
        </a>
        <a class="item">
            <i class="right triangle icon"></i>
          <div class="content">
            <div class="header">Bagaimana cara mendapatkan layanan ASAP?</div>
            <div class="description">
                Saat ini, layanan ASAP mengjangkau customer di wilayah Jakarta. Anda bisa mendapatkan layanan ini dengan berbelanja di belisada dan memilih belisada Courrier sebagai jasa pengiriman saat check out.
            </div>
          </div>
        </a>

      </div>



