<form class="ui form">
	<div class="field">
		<label>Nama Lengkap</label>
		<input type="text" name="first-name" placeholder="Nama Lengkap">
	</div>
	<div class="field">
		<label>No Telpon</label>
		<input type="text" name="first-name" placeholder="No Telpon">
	</div>
	<div class="field">
		<label>Alamat Email</label>
		<input type="text" name="first-name" placeholder="Alamat Email">
	</div>
	<div class="field">
		<label>Password</label>
		<input type="password" name="first-name" placeholder="Minimal 6 karakter">
	</div>
	<div class="field">
		<label>Ulangi Password</label>
		<input type="password" name="first-name">
	</div>
	<div class="text-center gap-between-elements">
		<button class="ui button auth-btn-submit">Daftar Akun</button>
	</div>
	<div class="text-center gap-between-elements">
		<a routerLink="/login" routerLinkActive="active">Sudah punya akun? Klik di sini</a>
	</div>
</form>

<div class="text-center gap-between-elements">
	<button class="ui facebook button socmed">
		<i class="facebook icon"></i>
		Sign in with Facebook
	</button>
</div>
<div class="text-center gap-between-elements">
	<button class="ui google plus button socmed">
		<i class="google plus icon"></i>
		Sign in with Google
	</button>
</div>
<div class="text-center gap-between-elements">
	<p>
		Dengan menekan Daftar Akun, saya mengkonfrimasi telah menyetujui
		Syarat dan Ketentuan, serta Kebijakan Privasi myACICO
	</p>
</div>



