<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">

      <div class="ui ordered steps">
        <div class="completed step">
            <div class="content">
              <div class="title">Your Cart</div>
              <div class="description">List keranjang belanja Anda</div>
            </div>
          </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Shipping & Billing</div>
            <div class="description">Masukan informasi shipping & billing</div>
          </div>
        </div>
        <div class="active step">
            <div class="content">
              <div class="title">Payment Method</div>
              <div class="description">Metode pembayaran & ongkos kirim</div>
            </div>
          </div>
        <div class="active step">
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
      </div>

  </div>
</div>

<div class="ui two column grid">
  <div class="column"><h2>Shipping</h2></div>
  <div class="column"><h2>Billing</h2></div>
</div>


<div class="ui grid">
    <div class="two column row">
      <div class="column">
        <div class="ui segment">
          <div class="ui action input">
            <select class="ui compact selection dropdown">
              <option value="all">Pilih Shipping</option>
              <option selected="" value="articles">Jalan Ahmad Dahlan, Jakarta Selatan.</option>
              <option value="products">Jl. Gatot Kaca</option>
            </select>
            <div type="submit" class="ui instagram button">Tambah Shipping</div>
          </div>
          <br>
          <br>
          <p><strong>Nama:</strong> Dewa Awan</p>
          <p><strong>Email:</strong> dewa@yahoo.com</p>
          <p><strong>Alamat:</strong> Jalan Ahmad Dahlan, Jakarta Selatan.</p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <p><strong>Nama:</strong> Dewa Awan</p>
          <p><strong>Email:</strong> dewa@yahoo.com</p>
          <p><strong>Alamat:</strong> Jalan Ahmad Dahlan, Jakarta Selatan.</p>
        </div>
        <div class="ui grid">
          <div class="sixteen right aligned wide column">
            <button class="ui right labeled icon button green" (click)="next()">
              Next
              <i class="right chevron icon"></i>
            </button>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>