.b-step{
    margin-top:10px;
    margin-bottom:10px;
}

h2{
    margin-bottom:0px;
    padding:0px;
}

.title-box{
    margin-bottom:0px;
    padding-bottom:0px;
    background: #ddd;
}

.sub-title-box{
    background: #ddd;
}