<div class="ui grid b-step">
    <div class="sixteen wide center aligned column">

        <div class="ui ordered steps">
            <div class="completed step">
                <div class="content">
                    <div class="title">Your Cart</div>
                    <div class="description">List belanja Anda</div>
                </div>
            </div>
            <div class="completed step">
                <div class="content">
                    <div class="title">Shipping & Billing</div>
                    <div class="description">Info shipping & billing</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Payment Method</div>
                    <div class="description">Pembayaran & ongkos kirim</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Confirm Order</div>
                    <div class="description">Verify order details</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Finish Order</div>
                    <div class="description">Finish order details</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui two column grid">
    <div class="column"><h2>Alamat Pengiriman</h2></div>
    <div class="column"><h2>Alamat Penagihan</h2></div>
</div>


<div class="ui grid">
    <div class="two column row">
        <div class="column">

            <sui-tabset>
                <div class="ui top attached tabular menu">
                    <a class="item" suiTabHeader="1">Shipping</a>
                    <a class="item" suiTabHeader="2">Tambah Shipping</a>
                </div>
                <div class="ui bottom attached segment" suiTabContent="1">
                    <div class="ui labeled action input">

                        <div class="ui label">
                            Pilih alamat pengiriman:
                        </div>

                        <select class="ui compact selection dropdown" [(ngModel)]="selShippingAddress" (change)="getShippingAddress(selShippingAddress)">
                            <option value="">-Pilih-</option>
                            <option *ngFor="let item of shippingAddressList" [value]="item.addressId">{{ item.addressName }}</option>
                        </select>
                        <!-- <div type="submit" class="ui instagram button">Tambah Shipping</div> -->
                    </div>
                    <div class="ui segment" *ngIf="shippingAddress">
                        <p><strong>{{ shippingAddress.name }} - {{ shippingAddress.phone }}</strong><br>
                            {{ shippingAddress.address }}<br>
                            {{ shippingAddress.districtName }}, {{ shippingAddress.cityName }}, {{ shippingAddress.postal }}<br>
                            {{ shippingAddress.regionName }} - {{ shippingAddress.countryName }}<br>
                        </p>
                        <!-- <p><strong>Email:</strong> dewa@yahoo.com</p>
                        <p><strong>Alamat:</strong> Jalan Ahmad Dahlan, Jakarta Selatan.</p> -->
                    </div>
                </div>
                <div class="ui bottom attached segment" suiTabContent="2">
                    <app-add-shipping (triggerEvent)="receiveTrigger($event)"></app-add-shipping>
                </div>
            </sui-tabset>

        </div>
        <div class="column">

            <!-- <sui-tabset> -->
                <div class="ui top attached tabular menu">
                    <!-- <a class="item" >Billing</a> -->
                    <!-- <a class="item" suiTabHeader="2" *ngIf="billingAddressList.length === 0">Tambah Billing</a> -->
                </div>
                <div class="ui bottom attached segment" *ngIf="!billing" >


                        <div class="ui labeled action input">

                            <div class="ui label">
                                Pilih alamat penagihan:
                            </div>

                            <select class="ui compact selection dropdown" [(ngModel)]="selBillingAddress" (change)="getBillingAddress(selBillingAddress)">
                                <option value="">-Pilih-</option>
                                <option *ngFor="let item of billingAddressList" [value]="item.addressId">{{ item.addressName }}</option>
                            </select>
                            <!-- <div type="submit" class="ui instagram button">Tambah Shipping</div> -->
                        </div>

                        <div class="ui segment" *ngIf="billingAddress">
                            <p><strong>{{ billingAddress.name }} - {{ billingAddress.phone }}</strong><br>
                                {{ billingAddress.address }}<br>
                                {{ billingAddress.districtName }}, {{ billingAddress.cityName }}, {{ billingAddress.postal }}<br>
                                {{ billingAddress.regionName }} - {{ billingAddress.countryName }}<br>
                            </p>
                            <!-- <p><strong>Email:</strong> dewa@yahoo.com</p>
                            <p><strong>Alamat:</strong> Jalan Ahmad Dahlan, Jakarta Selatan.</p> -->
                        </div>



                </div>
                <div class="ui bottom attached segment" *ngIf="billing">
                    <app-add-billing></app-add-billing>
                </div>
            <!-- </sui-tabset> -->














        </div>

    </div>
</div>

<div class="ui grid">
    <div class="left floated left aligned eight wide column">
        <button class="ui left labeled icon button green" (click)="prev()">
            <i class="chevron left icon"></i>
            Previous
        </button>
    </div>
    <div class="right floated right aligned eight wide column">
        <button class="ui right labeled icon button green" (click)="next()">
            Next
            <i class="right chevron icon"></i>
        </button>
    </div>
</div>
