<p>Dibawah ini adalah daftar kurir yang bisa Anda pilih sebagai media pengantar produk yang terjual ke tangan customer.</p>

<div class="ui form">
    <div class="grouped fields">
        <label>Silakan pilih salah satu atau beberapa jenis kurir yang Anda inginkan.</label>
        <div class="field">
            <sui-checkbox [(ngModel)]="eCheckDisabled">JNE Reguler</sui-checkbox>
        </div>
        <div class="field">
            <sui-checkbox [(ngModel)]="eCheckReadonly">Ninja Express</sui-checkbox>
        </div>
    </div>
</div>
<button class="ui primary button">
    Simpan
</button>