<div class="containPageCenter contain-checkout chekout-head">
    <div>
        <a [routerLink]="['/']" class="linkHome">
			<img src="assets/img/logo.png" height="50" border="0">
        </a>
			<br>
		<!-- <a [routerLink]="['/']" class="linkHome">
			<span class="logoText"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Shopping Cart</span>
		</a> -->
		<a [routerLink]="['/buyer/order']" [queryParams]="{page:'1', status: '133'}" class="backButton">
            <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon><span class="logoText"> Pesananku</span><br>
        </a>
    </div>
    <div class="title-head-chekout">
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
        <br>Secure Checkout</div>
    <div></div>
</div>
<div class="line-head">
    <!--Line Head-->
</div>
<div class="containPage has-header">
	
    <div class="sub-title-checkout">
        <div class="sub-title-checkout__left" align="center">
            <div class="sub-title-checkout__line-blank"></div>
            <div class="sub-title-checkout__circle-blank">1</div>
            <div class="sub-title-checkout__title">Keranjang Belanja</div>
        </div>
        <div class="sub-title-checkout__right" align="center">
            <div class="sub-title-checkout__line-active"></div>
            <div class="sub-title-checkout__circle-active">2</div>
            <div class="sub-title-checkout__title">Konfirmasi Pembayaran</div>
        </div>
	</div>
	<div class="containPageCenter contain-checkout">

		<div class="pay pay-success" *ngIf="status_code=='200'">
			Pembayaran berhasil	
		</div>
		<div class="pay pay-error" *ngIf="status_code=='400'">
			Pembayaran sudah pernah dilakukan	
		</div>
		<div class="pay pay-error" *ngIf="status_code=='500'">
			Pembayaran gagal
		</div>
		
		<div class="contain-thx-head">
			<div>Payment ID: {{ successTransactionRes.data.paymentNumber }}</div>
			<div class='contain-thx-head__total'>Total Pembayaran</div>
			<div class='contain-thx-head__price-total'>Rp {{ successTransactionRes.data.grandTotal | number }}</div>
		</div>
		<div class="contain-thx-body">
			<div class="contain-thx-body__head" *ngFor="let listCart of successTransactionRes.data.cart">
				<div class="contain-thx-body__head__detail" *ngFor="let item of listCart.cartItems">
					<div>
						<span class="titleItem">{{ item.name }}</span><br>
						<div *ngFor="let varian of item.varians" class="varianText">
							{{ varian.name }}:
							<span *ngFor="let itemVar of varian.varians">
								{{  itemVar.value }}
							</span>
							<br>
						</div>
					</div>
					<div>x{{item.quantity}}</div>
					<div class="price" *ngIf="item.specialPrice > 0">Rp {{ item.specialPrice | number }}</div>
					<div class="price" *ngIf="item.specialPrice <= 0">Rp {{ item.priceList | number }}</div>
				</div>
				<div class="line-ongkir">
					<div class="titleItem">Biaya Asuransi</div>
					<div class="insurancePrice">Rp {{ listCart.asuransi | number }}</div>
				</div>
				<div class="line-ongkir">
					<div class="titleItem">Ongkos Kirim<br>
						<span class="varianText">{{listCart.courierName}}</span><span class="varianText courierService"> - {{listCart.courierService}}</span>
					</div>
					<div class="courierPrice">Rp {{ listCart.courierPrice | number }}</div>
				</div>
			</div>
		</div>
		
		<div class="contain-thx-btn" [routerLink]="['/']" *ngIf="successTransactionRes.data.paymentMethodCode==='KK' && status_code==200">Back to Home</div>
		<div class="contain-thx-btn" [routerLink]="['/buyer/order']" [queryParams]="{page: '1', status: '133'}" *ngIf="successTransactionRes.data.paymentMethodCode==='KK' && status_code==400 || status_code==500">Kembali ke Pesananku</div>
		
		<div *ngIf="status_code==0">
			<div class="contain-thx-sub-footer" *ngIf="successTransactionRes.data.paymentMethodCode==='BT'">
				Silakan melakukan pembayaran sesuai dengan nomor rekening dan bank yang ada dibawah.<br>
				Anda memiliki waktu 2 x 24 Jam untuk melakukan pembayaran, atau pesanan Anda akan dibatalkan secara otomatis oleh system.
			</div>
			<div class="contain-thx-footer" *ngIf="successTransactionRes.data.paymentMethodCode==='BT'">
				<div class="contain-thx-footer__img">
					<img style="width: 20rem" src="{{ successTransactionRes.data.bankAccount.imageUrl }}" border="0">
					<p>No. Rekening</p>
				</div>
				<div class="contain-thx-footer__rek">
					{{ successTransactionRes.data.bankAccount.accountNumber }} a/n {{ successTransactionRes.data.bankAccount.accountName }}
				</div>
			</div>
			<div class="contain-thx-btn" (click)="goToOrder()" *ngIf="successTransactionRes.data.paymentMethodCode==='BT'">KONFIRMASI PEMBAYARAN</div>
		</div>
	</div>
</div>
