<div class="containPage has-header">
  <!-- <app-terimakasih-page inputDate="July 11, 2018 12:00:00"></app-terimakasih-page> -->

  <img class="img--center--thx" src="/assets/img/logo.png">
  <p class="text--center cusstome--font">Anda Memiliki waktu 1x24 Jam Sampai</p>
  <p class="text--center">Tanggal 19 October 2019, untuk melakukan</p>
  <p class="text--center">pembayaran</p>
 <p class="text--center custome--timer"> <countdown-timer [end]="_trialEndsAt"></countdown-timer> </p> 
 <img class="img--center--dino" src="/assets/img/Asset_3400.png">

 <div class='list-metode'>
    <div class="row">
      <div class="col-3">
        <div class="img-pay"><img src="assets/img/bank_bca.png" class="img-icon"></div>
        675765765775<br>On<br>PT Belisada Global Indonesia
      </div>
      <div class="col-3">
        <div class="img-pay"><img src="assets/img/bank_mandiri.png"class="img-icon"></div>
        675765765775<br>On<br>PT Belisada Global Indonesia
      </div>
      <div class="col-3">
        <div class="img-pay"><img src="assets/img/bank_bni.png" class="img-icon"></div>
        675765765775<br>On<br>PT Belisada Global Indonesia
      </div>
      <div class="col-3">
        675765765775<br>On<br>PT Belisada Global Indonesia
      </div>
    </div>
  </div>
  
</div>
