.text-info{
    color: #676767;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.img--center--thx {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
}

.text--center {
    text-align: center;
    font-weight: lighter
}

.b-countdown{
    border:1px solid #f8992e;
    width:400px;
    margin:0px auto;
    margin-top: 20px;
    border-radius:5px;
    margin-bottom:20px;
}

.custome--timer {
    font-size: 45px;
    font-weight: 700;
    color: black;
    letter-spacing: 10px;
}

.b-image{
    height:100%;
    display: block;
    padding: 8px;
}

.img-center-dino {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    bottom:300px;
    position: absolute;
    width: 300px;
    margin-left: 8%;
}

.img-center-kotak {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    bottom:300px;
    position: absolute;
    width: 300px;
    margin-right: 8%;
}

.border--custome {
    border: 1px solid black;
}

.list-metode{
    border: 5px solid #26a700;
    padding: 10px;
    text-align: center;
    margin: 2rem auto;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    display: block;
    width: fit-content;
}
.w_backtohome {
    padding:10px;
    text-align:center;
    margin-bottom:20px;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    height: 50px;
}
.img-pay {
    margin-bottom:10px;
}

.colom-grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top:20px;
    margin-bottom:30px;
}


.bc{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 6px;
}

.pay{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.subPay{
    border: 1px solid #f8992e;
    border-radius:5px;
    width:400px;
    margin:0px auto;
    font-size: 13px;
}

.linePay{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding:10px;
    width:400px;
    margin:0px auto;
}

.payJml{
    font-size: 20px;
}

.payTot{
    font-size:25px;
    color: #f52111;
    font-weight: bold;
}

.textFoot{
    font-size: 10px;
    // color:#dddddd;
    text-align: center;
    width:400px;
    margin:0px auto;
}

.bPanduan{
    width:400px;
    margin:0px auto;
    text-align: left;
}

.btnStatus{
    color:#ffffff;
    background: #f57b2a;
    border-radius: 5px;
    width: 400px;
    margin:0px auto;
    text-align: center;
    padding:10px;
    cursor: pointer;
    margin-top:20px;
}

.btnStatus:hover{
    background: #fc8d43;
}

.titlePanduan2{
    background: #ffffff;
    border: 1px solid #f57b2a;
    padding: 5px;
    padding-left:10px;
    border-radius:7px;
    width:400px;
    margin:0px auto;
    margin-top:10px;
    font-weight: bold;
}

.titlePanduan{
    background: #ffffff;
    border: 1px solid #f57b2a;
    padding: 5px;
    padding-left:10px;
    border-radius:7px 7px 0px 0px;
    width:400px;
    margin:0px auto;
    margin-top:10px;
    font-weight: bold;
    //  cursor: pointer;
}

// .titlePanduan:hover{
//     background: #f5bc96;
// }


.conPanduan{
    border: 1px solid #f57b2a;
    border-top:0px;
    width:400px;
    margin:0px auto;
    padding:10px;
    border-radius:0px 0px 7px 7px;
}

.chekout-head{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top:20px;
    height: 90px;
}

.contain-checkout{
    color: #020202;
}

.title-head-chekout{
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
}

.line-head{
    border-top: 10px solid #fcac2f;
    border-bottom: 10px solid #17415b;
}

.sub-title-checkout{
    display: grid;
    grid-template-columns: 50% 50%;
    width:30%;
    margin:0px auto;

    &__left{
        align:center;
    }

    &__right{
        align:center;
    }

    &__circle-active{
        margin-right:0px;
        border: 7px solid #18415b;
        background: #ffffff;
        border-radius:30px;
        // padding-bottom: 0.5rem;
        width: 6rem;
        height:6rem;
        text-align: center;
        margin-top: -3.5rem;
        font-size: 2.5rem;
        font-weight:bold;
        color: #fcac2f;
    }

    &__circle-blank{
        margin-right:0px;
        border: 7px solid #eaeaea;
        background: #ffffff;
        border-radius:30px;
        // padding-bottom: 0.5rem;
        width: 6rem;
        height:6rem;
        text-align: center;
        margin-top: -3.5rem;
        font-size: 2.5rem;
        font-weight:bold;
        color: #eaeaea;
    }

    &__line-active{
        border-top: 7px solid #18415b;
    }

    &__line-blank{
        border-top: 7px solid #eaeaea;
    }

    &__title{
        font-weight: bold;
        color:#000000;
    }

}

.contain-thx-head{
    padding:2rem;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 65% 20% 15%;
    background:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &__price-total{
        color: #f52111;
        font-weight: bold;
    }

    &__total{
        font-weight: bold;
    }
}

.contain-thx-body{
    
    background: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2rem;

    &__head{

        padding:2rem;
        margin-top:1rem;
        background:#ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &__detail{
            display: grid;
            grid-template-columns: 35% 50% 15%;
        }
    }

}

.contain-thx-sub-footer{
    padding:2rem;
    margin-top:3rem;
    background:#ffffff;
    text-align: center;
    font-size: 13px;
    margin-top: 1rem;
}


.contain-thx-footer{
    padding:2rem;
    margin-top:1rem;
    background:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &__img{
        margin:0px auto;
        width:80%;
        font-size: 2rem;
        color:000000;
    }

    &__rek{
        border-top: 1px solid #032941;
        width:80%;
        margin:0px auto;
        border-bottom: 1px solid #032941;
        color: #c08e22;
        font-size: 2rem;
    }
}

.contain-thx-btn{
    margin:0px auto;
    margin-top:3rem;
    background: #fcac2f;
    color:#ffffff;
    text-align:center;
    width:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.contain-thx-btn:hover{
    background: #f7b855;
    color:#000000;
}

.linkHome{
    color:#000000;
    text-decoration: none;
    height: 90px;
    &:hover{
        color:#f7b855;
    }
}

.logoText{
    font-weight: bold;
}

.line-ongkir{
    margin-top:1.5rem;
    display: grid;
    grid-template-columns: 85% 15%;
}

.titleItem{
    color:#085381;
} 

.varianText{
    font-size: 1.3rem;
    color:#474545;
}

.courierService {
    text-transform: capitalize;
}