<div class="containPageCenter contain-checkout chekout-head">
    <div>
        <a [routerLink]="['/']" class="linkHome">
			<img src="assets/img/logo.png" height="50" border="0">
			<br>
			<span class="logoText"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Shopping Cart</span>
		</a>
    </div>
    <div class="title-head-chekout">
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
        <br>Secure Checkout</div>
    <div></div>
</div>
<div class="line-head">
    <!--Line Head-->
</div>
<div class="containPage has-header">

    <div class="sub-title-checkout">
        <div class="sub-title-checkout__left" align="center">
            <div class="sub-title-checkout__line-blank"></div>
            <div class="sub-title-checkout__circle-blank">1</div>
            <div class="sub-title-checkout__title">Keranjang Belanja</div>
        </div>
        <div class="sub-title-checkout__right" align="center">
            <div class="sub-title-checkout__line-active"></div>
            <div class="sub-title-checkout__circle-active">2</div>
            <div class="sub-title-checkout__title">Konfirmasi Pembayaran</div>
        </div>
	</div>
	<div class="containPageCenter contain-checkout" *ngFor="let item of successTransactionRes.data.cartItems">
		<div class="contain-thx-head">
			<div>Transaction ID: PYT-57657</div>
			<div class='contain-thx-head__total'>Total Pembayaran</div>
			<div class='contain-thx-head__price-total'>Rp {{ successTransactionRes.data.grandTotal | number }}</div>
		</div>
		
		<div class="contain-thx-body">
			<div class="contain-thx-body__detail">
				<div>
					<span class="titleItem">{{ item.name }}</span><br>
					<div *ngFor="let varian of item.varians" class="varianText">
						{{ varian.name }}:
						<span *ngFor="let itemVar of varian.varians">
							{{  itemVar.value }}
						</span>
						<br>
			
					</div> 

				</div>
				<div>x{{item.quantity}}</div>
				<div>Rp {{ item.total | number }}</div>
			</div>
			<div class="line-ongkir">
				<div class="titleItem">Ongkos Kirim<br>
					<span class="varianText">Pickup Service</span>
				</div>
				<div>Rp {{ successTransactionRes.data.totalCourierPrice | number }}</div>
			</div>
		</div>

		<div class="contain-thx-footer">
			<div class="contain-thx-footer__img">
				<img src="{{ successTransactionRes.data.bankAccount.imageurl }}" border="0"> Nomor Rekening
			</div>
			<div class="contain-thx-footer__rek">
				{{ successTransactionRes.data.bankAccount.accountNumber }} a/n {{ successTransactionRes.data.bankAccount.accountName }}
			</div>
			
		</div>

		<div class="contain-thx-btn" (click)="goToOrder()">KONFIRMASI PEMBAYARAN</div>
	</div>
	
</div>
