
  <div class="gap-between-elements"></div>
  <img class="ui centered Massive image" width="1300px" src="/assets/img/produk_terbaru.png">
 <section class="section-category">
    <div class="category-wrapper-grid">
        <div class="category-grid" *ngFor="let item3 of productList" >
            <a (click)="detail(item3.productId, item3.aliasName)">
                <div class="category-content" *ngIf="item3.imageurl === ''" [ngStyle]="{'background-image':'url(' + defaultImg + ')'}"></div>
                <div class="category-content" *ngIf="item3.imageurl !== ''" [ngStyle]="{'background-image':'url(' + item3.imageurl + ')'}"></div>
                <hr>
                <div class="title-product">{{item3.name}}</div>
            </a>
            <div class="price pricelist"><span>Rp {{item3.pricelist | number}}</span><br/>
            </div>
                <div class="yu">
                    <div class="selledby" *ngIf="item3.storeName !== ''">dijual oleh: <span>{{ item3.storeName }}</span></div>
                    <div class="selledby" *ngIf="item3.storeName === ''">dijual oleh: <span>Belisada</span></div>
                    <span >Stok: {{item3.stock}}</span>
                </div>
        </div>
    </div>
</section>
