@import 'styles';

/**
*   # .detail-product
*/
.detail-product {

    &__frame-title{
        display: grid;
        grid-template-columns: 90% 10%;

        &__diskon{
            background: #ed7425;
            color:#fff;
            padding:5px;
            font-size: 20px;
            margin-top:-10px;
            text-align: center;
        }

        &__arrow{
            width: 0; 
            height: 10; 
            
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            
            border-top: 10px solid #ed7425;
        }
    }

    &__row-gap {
        &--1 {
            margin-bottom: 1rem;
        }
    }

    &__wrapper {
        width: 100%;
        padding: 1rem;
        color: #474747;
        background-color: #f9f9f9;
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
    }

    &__brand {
        color: #1876ee;
    }

    &__product-name {
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    &__price-wrapper {
        color: #8f8f8f;
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    &__special-price {
        font-weight: 300;
        display: block;
        text-decoration: line-through;
        font-size: 2rem;
        line-height: 1;
    }

    &__price {
        color: #f7d233;
    }

    &__variant-label {
        display: block;
        margin-bottom: 1rem;

        &--not-first {
            margin-top: 1rem;
        }
    }

    &__variant {
        border-radius: 5px;
        padding: .5rem;
        margin-bottom: 1rem;
        display: inline-block;
        color: #8f8f8f;
        background-color: #fff;
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }

        &--1 {
            border: 1px solid #1eb31e;

            &.active, &:hover {
                color: #fff;
                background-color: #1eb31e;
            }
        }

        &--2 {
            border: 1px solid #fd9426;

            &.active, &:hover {
                color: #fff;
                background-color: #fd9426;
            }
        }
    }

    &__qty-wrapper {
        margin-top: 1.5rem;
    }

    // &__qty {
    //     color: #fd9426;
    // }

    // &__qty-button {
    //     color: #7b7b7b;
    //     border: 1px solid #d4d4d4;
    //     border-radius: .5rem;
    //     padding: .5rem 1rem;
    //     margin: 0 1rem;
    //     font-size: 1.2rem;

    //     &:hover {
    //         cursor: pointer;
    //         background-color: #d4d4d4;
    //     }
    // }

    &__weight-n-insurance-wrapper {
        margin-top: 1rem;
    }

    &__shipping-origin {
        color: #fd9426;
    }

    &__button-wrapper {
        text-align: center;
        margin-top: 2rem;

        .btn {
            margin: 0 .5rem;
        }
    }

    &__label-val {
        color: #8f8f8f;
    }
}


/**
*   # .product-image
*/
.product-image {
    &__preview {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        margin-bottom: 2rem;

        img {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__thumbnail {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        border: 1px solid #d4d4d4;

        img {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            display: flex;
            align-items: center;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.buyer-name {
    color:black;
    font-weight: bold;
    font-size: 1.8rem;
}

.product-rating {
        &__star {

            &--fill {
                color: #fdc12d;
            }

            &--empty {
                color: #e3e3e3;
            }
        }
}

/**
*   # .extras
*/
.extras {
    margin-top: 3rem;
}

/**
*   # .store
*/
.store {
    &__row-gap {
        &--1 {
            margin-bottom: 1rem;
        }

        &--2 {
            margin-bottom: 2rem;
        }
    }

    &__image {
        text-align: center;
    }

    &__name {
        color: #474747;
        display: block;
        text-align: center;
    }

    &__location {
        color: #b4b4b4;
        display: block;
        text-align: center;
    }

    &__extras {
        text-align: center;

        .btn {
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    &__info {
        font-size: 1.4rem;
    }
}

/**
*   # .segment
*/
.segment {
    border: 1px solid #cacaca;
    margin-bottom: 1rem;
    height:auto;

    &__header {
        padding: 1.5rem 1rem;
        color: #474747;
        font-size: 1.8rem;
        text-align: center;
        border-bottom: 1px solid #cacaca;
    }

    &__content {
        padding: 1rem;
    }
}

/**
*   # .no-product
*/
.no-product {
    padding-bottom: 50rem;
    
    &a{
        text-decoration: none;
    }

    &__text{
        font-size: 4rem;
        text-align: center;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    
}

.f-btn-jualan{
    font-size: 25px;
    border: 1px solid #f68a43;
    background: #ed7425;
    padding: 5px;
    width: 171px;
    color: #f68a43;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0px;
    padding:10px;
    width:200px;
    text-decoration: none;
    color: #ffffff;
}

.f-btn-jualan:hover{
    background: #f68338;
}


.btn-jualan{
    font-size: 25px;
    border: 1px solid #f68a43;
    background: #ed7425;
    padding: 5px;
    width: 171px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0px;
    padding:10px;
    width:200px;
}

.btn-jualan:hover{
    background: #f68338;
}

.btn-jualan2{
    text-decoration: none;
    text-align: center;
}
/**
*   # .other-product
*/
.other-product {
    margin-top: 2rem;

    &__wrapper {
        border: 1px solid #cacaca;
        padding: 1.5rem;
        box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);

        a {
            text-decoration: none;
        }
    }

    &__product-name {
        color: #474747;
        display: block;
        line-height: 1.3;
    }

    &__product-price {
        display: block;
        color: #f7d233;
        font-size: 2rem;
    }
}

/**
*   # .detail-info
*/
.detail-info {
    margin-top: 2rem;

    &__tab-wrapper {
        color: #fff;
        text-align: center;
        background-color: #fd9426;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    }

    &__tab {
        padding-top: 1rem;
        padding-bottom: .5rem;
        font-size: 1.6rem;
        font-weight: 700;
        border-bottom: .5rem solid transparent;

        &.active, &:hover {
            cursor: pointer;
            border-bottom: .5rem solid #fff;
        }
    }

    &__content-wrapper {
        border: 1px solid #cacaca;
        border-top: 0;
        padding: 1.5rem;
    }

    &__specification-table {
        border-collapse: collapse;
        width: 100%;

        tr {
            &:nth-child(even) { background-color: #f2f2f2; }
            &:hover { background-color: #ddd; }
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }
    }

    &__discussion {
        
        .discussion {

            &__container {
                &--side-a {
                    float: left;
                    width: 6rem;
                }
                &--side-b {
                    float: left;
                    padding-left: 1.5rem;
                    width: calc(100% - 6rem);
                }
            }

            &__parent {
                padding-bottom: 1rem;
                border-bottom: 1px solid #cacaca;
            }

            &__child-wrapper {
                background-color: #f8f8f8;
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;
                padding-top: 1rem;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
            }

            &__child {
                padding-left: 6rem;
                padding-right: 2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            &__footer-child {
                margin-top: 1rem;
                padding-left: 6rem;
                padding-right: 2rem;
            }

            &__pp {
                position: relative;
                width: 100%;
                padding-top: 100%;
                border-radius: 50%;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
            }

            &__name {
                margin-bottom: 0;
            }

            &__label {
                color: #fff;
                background-color: #f5a570;
                padding: .3rem 1.3rem;
                border-radius: 1.5rem;
                font-weight: 500;
                margin-left: .5rem;
                font-size: 1.4rem;
            }

            &__message {

            }

            &__text-area {
                width: 100%;
                padding: 1rem;
                border: 1px solid #cacaca;
                border-radius: .5rem;
                font-size: 1.4rem;
                resize: none;
                transition: all .3s ease-in-out;

                &:focus {
                    border-color: #f4863c;
                }
            }

            &__open-list{
                font-size: 18px;
                padding-left: 6rem;
                padding-right: 2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                cursor: pointer;
            }

            &__more-detail{
                font-size: 1.3rem;
            }
        }
    }
}

.heading {
    &__detail {
        position: fixed;
        top: 0;
        width: 100%;
        height: 6rem;
        background-color: #E9E9E9;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    }

    &__container {
        height: 100%;
    }

    &__title {
        font-weight: 400;
        font-size: 2.4rem;
        color: #393939;

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    &__price {
        font-weight: 400;
        font-size: 2.4rem;
        color: #ED7425;
        vertical-align: middle;
    }

    &__grid {
        display: table;
        width: 100%;
        height: 100%;

        &--col {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.chat {

    &__wrapper {
        position: fixed;
        bottom: 0;
        right: 2rem;
        width: 60rem;
    }
}
// .chats {

//     .wrapper {
//         width: 100%;
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 2rem;
//         background-color: #b5b5b7;

//         .container {
//             width: 100%;
//             height: 90%;
//             display: flex;
//             box-shadow: 1rem 2rem 4rem rgba(0,0,0,0.2);
//             min-width: 60rem;

//             .users {
//                 background-color: white;
//                 border-right: 1px solid #b4b4b4;
//                 width: 40rem;

//                 .search {
//                     border-bottom: 1px solid rgb(190, 190, 190);

//                     input {
//                         flex-grow: 2;
//                         margin: 0 1rem;
//                         padding-right: 5rem;
//                         resize: none;
//                         border: none;
//                         height: 5rem;

//                         :focus {
//                             outline: none;
//                         }
//                     }

//                 }

//                 header {
//                     background-color: #FFB001;
//                     display: flex;

//                     h1{
//                         font-size: 2.2rem;
//                         font-weight: 700;
//                         color: white;
//                         padding-left: 1rem;
//                         padding-top: 2rem;
//                         align-items: left;
//                     }
//                 }

//                 ul {
//                     list-style-type: none;

//                     li {
//                         display: flex;
//                         justify-content: space-between;
//                         align-items: flex-start;
//                         border-bottom: 1px solid rgba(255,255,255, 0.1);
//                         cursor: pointer;

//                         :nth-last-child() {
//                             border-bottom: none;
//                         }

//                         .online {
//                             border: 1px solid #8f8f8f;
//                         }

//                     }
//                 }

//                 .avatar {
//                     display: flex;
//                     margin: auto 0;
//                     padding: 1rem;
//                     position: relative;
//                 }

//                 .username {
//                     font-size: 1.9rem;
//                     color: black;
//                 }
//             }

//             .chat-screen {
//                 flex-grow: 1;
//                 height: 100%;
//                 width: 80rem;
//                 background: white;
//                 background-size: cover;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-between;
//                 flex-grow: 2;

//                 header {
//                     background-color: #4F92E1;
//                     color: white;
//                     display: flex;

//                     h1{
//                         font-size: 2rem;
//                         font-weight: 400;
//                         padding-left: 1rem;
//                         padding-top: 0.5rem;
//                         align-items: left;
//                     }
//                 }

//                 .message {
//                     overflow: auto;
//                     flex-grow: 2;
//                     padding: 1rem;
    
//                     .right {
                        
//                         .avatar {
//                             margin-right: 0;
//                         }
//                     }
//                 }

//                 .msg-compose {
//                     background-color: #fff;
//                     border-top: 1px solid #8f8f8f;
//                     // padding: 1rem;
//                     display: flex;
//                     justify-content: space-between;

//                     input {
//                         flex-grow: 2;
//                         margin: 0 1rem;
//                         resize: none;
//                         border: none;
//                         padding-right: 51rem;
//                         height: 3rem;

//                         :focus {
//                             outline: none;
//                         }
//                     }

//                     i {
//                         color: #c0c0c0;
//                         cursor: pointer;
//                     }
//                 }
//             }

//             article {
//                 display: flex;
//                 justify-content: flex-start;
//                 margin-bottom: 2rem;
//                 padding: 1.5rem;

//                 .avatar {
//                     margin-right: 1rem;
//                 }

//                 .msg {
//                     display: flex;
//                     justify-content: space-between;
//                 }
//             }

//             .avatar {

//                 img {
//                     width: 6rem;
//                     height: 6rem;
//                     border-radius: 50%;
//                     box-shadow: 0 8px 10px grey;
//                 }
//             }

//             .users-list {
//                 flex-grow: 2;
//                 margin: auto 0;
//             }

//             .text {
//                 font-size: 1.3rem;
//                 flex-grow: 0.3;
//                 margin: auto 0;
//                 padding-right: 1rem;
//             }

//             .timestamp {
//                 font-size: 1rem;
//                 margin: auto 0;
//                 text-align: right;
//             }

//             .right {
//                 flex-direction: row-reverse;

//                 .msg {
//                     flex-direction: row-reverse;

//                     .pointer {
//                         width: 0;
//                         height: 0;
//                         border-style: solid;
//                         border-width: 0.1rem 1.5rem 0;    
//                         border-color: #4A91E5 transparent transparent transparent;
//                     }

//                     .inner-msg {
//                         background-color: #4A91E5;
//                         border-radius: 4px 0 4px 4px;
//                         box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
//                         text-align: right;
//                     }

//                     .tick {
//                         margin-right: 5px;
//                     }

//                     .pointer {
//                         width: 0;
//                         height: 0;
//                         border-style: solid;
//                         border-width: 0.1rem 1.5rem 0;
//                         border-color: transparent #fff transparent transparent;
//                         margin: auto 0
//                     }
//                 }
//             }

//             .inner-msg {
//                 background-color: rgb(255, 255, 255);
//                 font-size: 1.4rem; 
//                 color: black;
//                 width: auto;
//                 padding: 1.5rem 1rem;
//                 border-radius: 0 4px 4px 4px;
//                 box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
//                 text-align: left;
//                 margin: auto 0;
//             }

//             .tick {
//                 display: inline-block;
//                 margin-left: 1rem;
//                 position: relative;
//                 top: 4.8rem;
//                 height: 16px;
//                 width: 16px;
//             }

//             .tick-product {
//                 display: inline-block;
//                 margin-left: 1rem;
//                 position: relative;
//                 top: 25rem;
//                 height: 16px;
//                 width: 16px;
//             }

//             .icon {
//                 display: inline-block;
//                 top: .75rem;
//                 font-size: 2rem;
//                 padding-right: 1rem;
//                 cursor: pointer;
//             }

//             .send {
//                 display: inline-block;
//                 padding-left: 1rem;
//                 border-left: 1px solid #8f8f8f;
//             }

//             .online {
//                 background-color: #07ce00;
//                 width: 1.3rem;
//                 height: 1.3rem;
//                 border-radius: 50%;
//                 position: absolute;
//                 left: 5.7rem;
//                 bottom: 5.5rem;
//             }

//             .offline {
//                 background-color: #b0abc2;
//             }

//             .list-icon {
//                 padding-left: 20rem;
//                 color: white;
//                 padding-top: 2rem;
//                 cursor: pointer;
//             }

//             .last-online{
//                 font-size: 1.1rem;
//             }

//             .el-icon {
//                 padding-left: 55rem;
//                 font-size: 2.5rem;
//                 padding-top: 1.8rem;
//                 cursor: pointer;
//             }

//             .active {
//                 background-color: #F5A623;
//             }

//             .img-item{
//                 // background: #ebebeb;
//                 height: 20rem;
//                 text-align: center;
//             }

//             .item-colom{
//                 margin-bottom: 1rem;
//                 padding: 1rem;
//                 font-size: 1.2rem;
//                 text-align: left;
//                 padding-right: 5rem;
//             }

//             .name{
//                 font-size: 1.8rem;
//                 font-weight: 700;
//                 color:#002867;
//             }

//             .green{
//                 background-color: #BCE58E;
//             }
//         }
//     }
// }
