<div class="container has-header has-footer">
    <div class="row">
        <div class="col-12">
            <span>Home / {{ product?.categoryOneName }} / {{ product?.categoryTwoName }} / {{ product?.categoryThreeName }}</span>
        </div>
    </div>

    <div class="row">

        <div class="col-md-5" >
            <section class="detail-product"> <!-- #SECTION [PRODUCT_DETAIL] detail-product -->

                <div class="detail-product__wrapper">
                    <div>Brand: <a class="detail-product__brand">{{ product?.brandName }}</a></div>

                    <h1 class="detail-product__product-name">
                        {{ product?.name }}
                    </h1>

                    <div class="detail-product__price-wrapper">
                        <div *ngIf="product?.priceData?.isDetail === false; else isDetail">
                            <span class="detail-product__price" >
                                {{ product?.priceData?.range.min | currency:'Rp ':'symbol':'1.0' }}
                            </span>
                            -
                            <span class="detail-product__price">
                                {{ product?.priceData?.range.max | currency:'Rp ':'symbol':'1.0' }}
                            </span>
                        </div>
                        <ng-template #isDetail>
                            <span class="detail-product__price">
                                <span *ngIf="product?.priceData?.range.specialPrice === 0; else elsePrice">{{ product?.priceData?.range.pricelist | currency:'Rp ':'symbol':'1.0' }}</span>
                                <ng-template #elsePrice>{{ product?.priceData?.range.specialPrice | currency:'Rp ':'symbol':'1.0' }}</ng-template>
                            </span>
                            <span class="detail-product__special-price" *ngIf="product?.priceData?.range.specialPrice !== 0">
                                {{ product?.priceData?.range.pricelist | currency:'Rp ':'symbol':'1.0' }}
                            </span>
                        </ng-template>
                    </div>

                    <div class="detail-product__row-gap--1">
                        Garansi: <span class="detail-product__label-val">{{ product?.guaranteeTypeValue }} - {{ product?.guaranteeTimeValue }}</span>
                    </div>

                    <div *ngFor="let item of product?.variants; let i = index" >
                        <span class="detail-product__variant-label" [ngClass]="{'detail-product__variant-label--not-first': (i !== 0)}">{{ item.name }}</span>
                        <span [class]="'detail-product__variant detail-product__variant--' + (i + 1)"
                            [ngClass]="{'active': (
                                +activeVariants[i]?.split(':')[0] === item.attributeId
                                && +activeVariants[i]?.split(':')[1] === variant.attributeValueId)}"    
                            (click)="selectVariant(item.attributeId, variant.attributeValueId, i)"
                            *ngFor="let variant of item.varians" >
                            {{ variant.value }}
                        </span>
                    </div>

                    <div class="detail-product__qty-wrapper">
                        <span>Qty</span>
                        <qty-counter (updateQty)="setQty($event)"></qty-counter>
                    </div>

                    <div class="detail-product__weight-n-insurance-wrapper detail-product__row-gap--1">
                        <span>
                            Berat: <span class="detail-product__label-val">{{ product?.weight }}gr</span>
                        </span>
                        <span>
                            Asuransi: <span class="detail-product__label-val">Opsional</span>
                        </span>
                    </div>

                    <div class="detail-product__row-gap--1">
                        Dikirim Dari: <span class="detail-product__shipping-origin">{{ product?.storeInfo?.locationName }}</span> Ke
                        <select [(ngModel)]="selectedShippingAddress" (change)="changeShippingAddress()">
                            <option disabled value="">Pilih alamat</option>
                            <option *ngFor="let item of shippingAddresses" [ngValue]="item">{{ item.cityName + ', ' + item.regionName }} </option>
                        </select>
                    </div>

                    <div class="detail-product__row-gap--1">
                        Metode Pengiriman: 
                        <select [(ngModel)]="selectedShippingMethod">
                            <option disabled value="">Pilih pengiriman</option>
                            <option *ngFor="let item of shippingMethod" [ngValue]="item">{{ item.name + ' ' + item.courierService + ' Rp ' + item.courierPrice }}</option>
                        </select>
                    </div>

                    <!-- <div>Kebijakan Pengembalian: <span class="detail-product__label-val">Mendukung 7 hari pengembalian dana tanpa syarat</span></div> -->

                    <div class="detail-product__button-wrapper">
                        <button class="btn btn--flat btn--blue-belisada btn--lg"
                            [disabled]="product?.priceData?.isDetail === false" (click)="addToCart()">Add to cart <fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></button>
                        <button class="btn btn--flat btn--orange btn--lg">Chat seller</button>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="product-image"> <!-- #SECTION [PRODUCT_DETAIL] product-image -->
                <div class="product-image__preview">
                    <img [src]="thumborProductImgUrl + selectedImage" alt="">
                </div>

                <div class="row justify-content-sm-center small-gutters product-image__thumbnail-wrapper">
                    <div class="col-sm-5r" *ngFor="let item of product?.imageUrl">
                        <div class="product-image__thumbnail" (click)="selectedImage = item">
                            <img [src]="thumborProductImgUrl + item" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="extras"> <!-- #SECTION [PRODUCT_DETAIL] extras -->
                <div class="row">
                    <div class="col-md-6">
                        <span><fa-icon [icon]="['far', 'heart']"></fa-icon> Tambah ke Whistlist</span>
                    </div>
                    <div class="col-md-6 text-right">
                        <span>Share </span>

                        <button class="btn--share btn--list" shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
                            <fa-icon [icon]="share.prop.facebook.icon" size="md"></fa-icon>
                        </button>
    
                        <button class="btn--share btn--list" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
                            <fa-icon [icon]="share.prop.twitter.icon" size="md"></fa-icon>
                        </button>
    
                        <button class="btn--share btn--list" shareButton="google" [style.backgroundColor]="share.prop.google.color">
                            <fa-icon [icon]="share.prop.google.icon" size="md"></fa-icon>
                        </button>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section class="store"> <!-- #SECTION [PRODUCT_DETAIL] store -->
                <div class="segment">
                    <div class="segment__header">
                        Informasi Penjual
                    </div>
                    <div class="segment__content">
                        <div class="store__image">
                            <img [src]="thumborStoreImgUrl + product?.storeInfo?.storeImageUrl" alt="">
                        </div>
                        <span class="store__name">{{ product?.storeInfo?.storeName }}</span>
                        <span class="store__location store__row-gap--1">{{ product?.storeInfo?.locationName }}</span>
                        <div class="store__extras store__row-gap--1">
                            <a class="btn btn--orange btn--flat" [routerLink]="['/' + product?.storeInfo?.storeUrl]" routerLinkActive="router-link-active" >Lihat Toko <fa-icon [icon]="['fas', 'search']"></fa-icon></a>
                        </div>
                        <div class="store__info">
                            <div>
                                <label>Terakhir Online: </label>
                                {{ product?.storeInfo?.lastOnline }}
                            </div>
                            <div>
                                <label>Produk Terjual: </label>
                                {{ product?.storeInfo?.productSold }} Produk Terjual
                            </div>
                            <div>
                                <label>Jumlah Produk: </label>
                                {{ product?.storeInfo?.productQuantity }} Produk
                            </div>
                            <div>
                                <label>Transaksi Sukses: </label>
                                {{ product?.storeInfo?.transactionSuccess }} Transaksi
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="btn btn--flat btn--fluid btn--orange" (click)= "gotoPenawaran(product?.productId)" *ngIf="product?.variants !== null">Penawaran Lainnya</div>
        </div>
    </div>

    <section class="other-product" >  <!-- #SECTION [PRODUCT_DETAIL] other-product -->
        <h3>Produk Merk Lainya</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="other-product__wrapper">
                    <div class="row">
                        <div class="col-sm-2" *ngFor="let item of otherBrandProducts | slice:0:6">
                            <a [routerLink]="['/product/product-detail/' + item.productId + '/' + encodeUrl(item.name)]">
                                <div>
                                    <img [src]="'https://img.belisada.id/unsafe/fit-in/400x400/filters:fill(fff)/' + item.imageUrl" alt="">
                                    <div>
                                        <div class="other-product__product-name">{{ item.name }}</div>
                                        <div class="other-product__product-price" *ngIf="item.specialPrice !== 0">{{ item.specialPrice | currency:'Rp ':'symbol':'1.0' }}</div>
                                        <div class="other-product__product-price" *ngIf="item.specialPrice === 0">{{ item.pricelist | currency:'Rp ':'symbol':'1.0' }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="detail-info">
        <div class="detail-info__tab-wrapper">
            <div class="row">
                <div class="col-sm-3 detail-info__tab" [ngClass]="{'active': tabActive === 'SPEC'}" (click)="tabActive = tabTypeEnum.SPEC">
                    Spesifikasi
                </div>
                <div class="col-sm-3 detail-info__tab" [ngClass]="{'active': tabActive === 'DESC'}" (click)="tabActive = tabTypeEnum.DESC">
                    Deskripsi
                </div>
                <div class="col-sm-3 detail-info__tab" [ngClass]="{'active': tabActive === 'DISC'}" (click)="tabActive = tabTypeEnum.DISC">
                    Diskusi Produk
                </div>
                <div class="col-sm-3 detail-info__tab" [ngClass]="{'active': tabActive === 'REVW'}" (click)="tabActive = tabTypeEnum.REVW">
                    Ulasan Produk
                </div>
            </div>
        </div>
        <div class="detail-info__content-wrapper">
            <div class="detail-info__specification" *ngIf="tabActive === 'SPEC'">
                <table class="detail-info__specification-table">
                    <tr *ngFor="let item of productSpecifications">
                        <td>{{ item.name }} :</td>
                        <td>{{ item.value }}</td>
                    </tr>
                </table>
            </div>

            <div class="detail-info__description" *ngIf="tabActive === 'DESC'">
                {{ product?.description }} 
            </div>

            <div class="detail-info__discussion" *ngIf="tabActive === 'DISC'">

                <div class="discussion__content">
                    <div class="discussion__content-wrapper" *ngFor="let item of productDiscussion?.content; let x = index">
                        <div class="discussion__parent">
                            <div class="discussion__container--side-a">
                                <div class="discussion__pp">
                                    <img [src]="item.imageAvatarUrl" alt="">
                                </div>
                            </div>
                            <div class="discussion__container--side-b">
                                <h4 class="discussion__name">{{ item.name }}</h4>
                                <p class="discussion__message">{{ item.message }}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="discussion__child-wrapper">

                            <div class="discussion__open-list" *ngIf="item.childs?.length>=2" (click)="sliceValue[x] = 0">
                                <span class="discussion__more-detail" *ngIf="sliceValue[x] !=0 "><fa-icon [icon]="['far', 'plus-square']"></fa-icon> Lihat {{item.childs?.length-2}} Jawaban Lainnya</span>
                            </div>
                            <div class="discussion__child" *ngFor="let child of item.childs | slice: sliceValue[x]">  
                                <div class="discussion__container--side-a">
                                    <div class="discussion__pp">
                                        <img [src]="child.imageAvatarUrl" alt="">
                                    </div>
                                </div>
                                <div class="discussion__container--side-b">
                                    <h4 class="discussion__name">{{ child.name }} <span class="discussion__label" *ngIf="child.label !== ''">{{ child.label }}</span></h4>
                                    <p class="discussion__message">{{ child.message }}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="discussion__footer-child text-right" *ngIf="isLogin">
                                <form [formGroup]="createNewDiscussionForm" (submit)="createNewDiscussion(item.discusId)">
                                    <div>
                                        <textarea formControlName="message" class="discussion__text-area" rows="1"></textarea>
                                    </div>
                                    <button [disabled]="product?.priceData?.isDetail === false" class="btn btn--orange">Kirim</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="discussion__footer text-right" *ngIf="isLogin">
                    <form [formGroup]="createNewDiscussionForm" (submit)="createNewDiscussion()">
                        <div class="form-group">
                            <textarea formControlName="message" class="discussion__text-area" rows="7"></textarea>
                        </div>
                        <button [disabled]="product?.priceData?.isDetail === false" class="btn btn--orange">Kirim</button>
                    </form>
                </div>
            </div>

            <div class="detail-info__specification" *ngIf="tabActive === 'REVW'">
                    <table class="detail-info__specification-table">
                        <tr *ngFor="let item of productReview.content">
                            <td>
                                    <div class="buyer-name">{{item.name}}</div><br>
                                    <div class="product__rating">
                                        <fa-icon class="product-rating__star--fill" [icon]="['fas', 'star']" *ngFor="let i of Arr(item.star).fill(1)"></fa-icon>
                                        <fa-icon class="product-rating__star--empty" [icon]="['fas', 'star']" *ngFor="let i of Arr(5 - item.star).fill(1)"></fa-icon> &nbsp;{{item.star}}star
                                    </div><br>
                                    {{ item.message }}
                            </td>
                        </tr>
                    </table>
                </div>

            <!-- <div class="detail-info__discuss" *ngIf="activeDiskusi === true">
                <div class="row">
                    <div class="col-12 w--product-discusi" *ngFor="let item of discus">
                        <ul class="w--product__list">
                            <li class="w--product__list-item">
                                <div class="w--product-talk__question">
                                    <a>
                                        <img src="{{ storeImgDiscussion + item.imageAvatarUrl}}" class="w--product-talk__question-avatar">
                                    </a>
                                    <div class="product-talk__detail">
                                        <div class="w--product-talk__additional-info">
        
                                            <a class="w--product_talk"> {{ item.name }} </a>
                                            <span class="w--product_talk-time"> -  {{ item.since }}</span>
                                        </div>
                                        <div class="w-product--talk__text">
                                            {{ item.message }}
        
                                        </div>
                                    </div>
        
                                </div>
                                <button  *ngIf="paginationLimit[item.discusId] < list.length && item.childs"  (click)="showMoreItems(item.discusId)">
                                    Show More
                                </button>
                                <div class="w-product-talk__comments" *ngFor="let item333 of item.childs  | slice : paginationLimit[item.discusId]">
                                    <ul class="w-product-talk__coment-list" >
                                        <li class="product-talk__comennts-list-item" >
                                            <div>
                                                <img src="{{item333.imageAvatarUrl}}" class="w-product-talk__profile">
                                            </div>
                                            <div class="w-product-talk__detail">
        
                                                <a class="w-product-talk__name">{{  item333.name }}  </a>
                                                <span class="badge__belisada-seller" *ngIf="item333.label === 'penjual'">
                                                    {{ item333.label }}
                                                </span>
                                                <span class="w-product-talk_time">
                                                    {{ item333.since }}
                                                </span>
                                            </div>
                                            <div class="w-product--talk__text">
                                                {{ item333.message }}
                                            </div>
                                        </li>
        
                                    </ul>
        
                                </div>
                                <div class="w--product-talk__comment-box">
                                    <div class="list-box-replyholder">
                                        <a class="w-product-talk__profile"></a>
                                        <div>
                                            <form>
                                                    <textarea [formControl]="messageString" (click)="textAreaExpannded(item.discusId)" class="w-product-talk__coment-taxtarea expanded"> {{ item.discusId }}</textarea>
        
                                                </form>
                                            <div class="w__o--button-posisition row">
                                                    <div class="col-12 template--button">
                                                            <button (click)="onSent()" class="btn btn__kirim">Kirim</button>
                                                        </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
        
                        </ul>
        
                    </div>
                    <textarea [formControl]="messageBottom" name="" id="" class="textArea--botom"></textarea>
                    <button (click)="BtnBuat()" class="btn btn__kirim">Kirim</button>
                </div>
            </div> -->
        </div>
    </section>
</div>


<div class="heading__detail" *ngIf="isSubHeaderShow">
    <div class="container heading__container">
        <div class="heading__grid">
            <div class="heading__grid--col">
                <span class="heading__title">{{ product?.name }}</span>
            </div>
            <div class="heading__grid--col right">
                <span class="heading__price" *ngIf="product?.priceData?.range.specialPrice === 0">
                    {{ product?.priceData?.range.min | currency:'Rp ':'symbol':'1.0' }}
                </span>
                {{ (product?.priceData?.range.max !== 0 && product?.priceData?.range.specialPrice === 0) ? '-' : '' }}
                <span class="heading__price" *ngIf="product?.priceData?.range.max !== 0 && product?.priceData?.range.specialPrice === 0">
                    {{ product?.priceData?.range.max | currency:'Rp ':'symbol':'1.0' }}
                </span>
                <span class="heading__price" *ngIf="product?.priceData?.range.specialPrice !== 0">
                    {{ product?.priceData?.range.specialPrice | currency:'Rp ':'symbol':'1.0' }}
                </span>
                <button class="btn btn--blue-belisada btn--flat btn--add-to-cart u-margin-left-1" [disabled]="product?.priceData?.isDetail === false" (click)="addToCart()">Add To Cart</button>
            </div>
        </div>
    </div>
</div>