<div class="f-head">

  <div class="f-head-icon">
    <img src="assets/img/icon-invoice.jpg" border="0">
  </div>
  <div class="f-head-title">
      INVOICE
  </div>
  <div style="clear:both">

  </div>

  <!-- <div class="row">
    <div class="col-3">
        <img src="assets/img/icon-invoice.jpg" border="0">
    </div>
    <div class="col-6 i-right">
        INVOICE
    </div>
    <div class="col-3 i-right">
        &nbsp;
    </div>
  </div> -->
</div>
<div class="f-body">
  
  <div class="row">
    <div class="col-6">
        <span class="i-title">Payment ID</span><br>
        #232456723542
    </div>
    <div class="col-6 i-right">
        <span class="i-title">Order Date</span><br>
        #232456723542
    </div>
  </div>
  <div class="i-metode">
    <span class="i-title">Metode Pembayaran</span><br>
    Bank Transfer ( BCA )
  </div>
  <div class="row">
    <div class="col-4">
        <span class="i-title">Penjual</span><br>
        Samuel
    </div>
    <div class="col-4">
        <span class="i-title">Pembeli</span><br>
        Wahyu
    </div>
  </div>
  <div class="i-address">
      <span class="i-title">Dikirim Ke :</span><br>
      <label>Mr. Renaldi</label><br>
      Kota Bogor - Bogor Barat - Jawa Barat.
  </div>
  <div class="i-table">
    <table width="100%">
      <tr>
        <th>Item Detail</th>
        <th>Qty</th>
        <th>Berat</th>
        <th>Price</th>
      </tr>
      <!-- <tr>
        <td colspan="4"><hr size="1"></td>
      </tr> -->
      <tr>
          <td colspan="4"><div class="i-line">&nbsp;</div></td>
        </tr>
      <tr>
        <td>VGA MSI Nvidia GTX</td>
        <td>x 1</td>
        <td>1kg</td>
        <td><span class="i-price">Rp.3.000.000</span></td>
      </tr>
      <tr>
        <td>VGA MSI Nvidia GTX</td>
        <td>x 1</td>
        <td>1kg</td>
        <td><span class="i-price">Rp.3.000.000</span></td>
      </tr>
    </table>
  </div>

  <div class="i-pengiriman">
    <div class="row">
      <div class="col-6">
          <span class="i-title">Metode Pengiriman</span><br>
          JNE REGULAR<br>
          <span class="i-title">Asuransi:</span> TIDAK
      </div>
      <div class="col-6">
        <div class="row i-kg">
          <div class="col-4">
              <span class="i-title">4kg</span>
              
          </div>
          <div class="col-4">
              <span class="i-price"> Rp.20.000</span>
             
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="i-total i-right">
    TOTAL: <span class="i-price"> Rp.60.20.000</span>
  </div>
  <div class="i-logo">
    <img src="assets/img/logo.png" border="0" width="200">
  </div>
  
</div>