<!-- <div class="containPage"> -->
    <div class="row">
        <div class="col-12">
            <span class="title-sidebar">DASHBOARD</span>
            <!-- <div *ngIf="location === '/buyer/profile'">
                <div (click)="goToCreateStore()" class="btn-jualan">Ikut Jualan</div>
            </div> -->
            <a href="{{baseUrlSeller}}/auth/sign-in?token={{this.token}}" *ngIf="pemisah != 2; else cold" class="btn-jualan2" target="_blank">
                <div class="f-btn-jualan">
                    {{userData.storeName}}
                </div>
            </a>

            <ng-template #cold> <div (click)="goToCreateStore()" class="btn-jualan">Ikut Jualan</div></ng-template>
            <div (click)="myOrder()" class="sidebar-to-cursor">Pesananku</div>
            <div (click)="profile()" class="sidebar-to-cursor">Profile Anda</div>
            <div (click)="bantuan()" class="sidebar-to-cursor">Bantuan</div>
            <!-- <div (click)="confirmation()" class="sidebar-to-cursor">Konfirmasi Pembayaran</div> -->
            <!-- <a routerLink="/buyer/profile" class="link-text">Profile Anda</a><br/> -->
            <!-- <span (click)="goToCreateStore()" class="sidebar-to-cursor">Buka Toko</span> -->
        </div>
    </div>
<!-- </div> -->
