<div class="container">
  <div class="row paddingPage">
    <div class="col-6">
      <div class="width-80">
        <div class="title">
          <h1>Contact Us</h1>
          <span class="caption">Feel free to contact us if you have any questions</span>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <input class="inputStyle" type="text" formControlName="name" placeholder="Name">
          <input class="inputStyle" type="email" formControlName="email" placeholder="Email">
          <textarea class="inputStyle" rows="7" formControlName="message" placeholder="Message"></textarea>
          <input type="submit" class="btn-submit" value="Submit" />
        </form>
      </div>
    </div>
    <div class="col-6">
      <img class="iconContact" src="/assets/img/contactus.PNG">
    </div>
  </div>
</div>