<div class="">
    <h2>{{ activationResponse.message }}</h2>
    <p>Maaf, silahkan isi alamat email anda, kami akan mengirimkan email aktivasi yang baru, kemudian cek kotak masuk email anda.</p>
    <form [formGroup]="resendEmailFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <div class="sn-form-group has-right-button">
            <input formControlName="email" type="email" name="" id="" class="sn-input sn-input-text" placeholder="Ketikan email anda"/>
            <button class="action-btn" type="submit" [disabled]="resendEmailFormGroup.invalid">Kirim</button>

            <div class="form-control-validation"
                *ngIf="resendEmailFormGroup.controls.email.errors
                    && resendEmailFormGroup.controls.email.dirty">
                <p *ngIf="resendEmailFormGroup.controls.email.errors.required">Email tidak boleh kosong</p>
                <p *ngIf="resendEmailFormGroup.controls.email.errors.pattern">Masukan Email Yang Benar</p>
            </div>
        </div>
    </form>
</div>

<div class="">
    <h2>{{ activationResponse.message }}</h2>
    <p>Maaf, kami baru saja mengirimkan email aktivasi yang baru karena sudah habis masa berlaku, silahkan cek kotak masuk email anda</p>
</div>

<div class="">
    <h2>{{ activationResponse.message }}</h2>
    <p>Selamat, akun anda sudah aktif, silahkan klik disini untuk masuk</p>
</div> 
