<div class="containPage has-header">
  <div class="containPageCenter">
    <span class='product-bc'>
      Home/ {{productDetail.categoryOneName}}/ <strong>{{productDetail.categoryTwoName}}/ {{productDetail.categoryThreeName}}</strong>
    </span>
    <div class="row">
      <div class="col-5">
        <div class="b1-detail">
          <span class="product-brand">Brand: Misha</span> 
          <span class="product-star"><fa name="star"></fa><fa name="star"></fa><fa name="star"></fa><fa name="star"></fa><fa name="star"></fa></span>
          <span class="product-review">21 Reviews</span>

          <div class='product-title'>
            {{productDetail.name}}
          </div>
          <div>
            <span class="product-real-price">{{productDetail.pricelistlast | currency:'Rp '}}</span><span class="product-discont"><s>Rp 25.000</s></span>
          </div>
          <div class="product-info">
            <span class="strong-text">Dikirim Dari: Jakarta Ke</span> DKI Jakarta, Kota Jakarta Barat, <span class="btn-small">Ganti Destinasi</span> <span class="btn-flag"><fa name="exclamation"></fa></span>
          </div>
          <div class="product-info">
            <span class="strong-text">Metode Pengiriman: <span class="btn-small">Ganti Pengiriman</span> <span class="btn-flag"><fa name="exclamation"></fa></span></span>
            <span class="metode-price">Rp 15.000 Ke Jakarta</span>
            <span class="metode-price">Rp 15.000 Ke Jakarta</span>
          </div>
          <div class="product-info">
            <span class="strong-text">Kebijakan Pengembalian:</span> Mendukung 7 hari pengembalian dana tanpa syarat
          </div>
          <div class="product-info">
            <span class="strong-text">Variant:</span> <span class="v1">50 ml</span> <span class="v2">100 ml</span> <span class="v2">200 ml</span>
          </div>
          <div class="product-info">
            <span class="strong-text">Qty:</span> <span class="plus-minus"> <fa name="minus"></fa> </span> <span class="plus-minus-number"> 1 </span> <span class="plus-minus"> <fa name="plus"></fa> </span>
          </div>
          <div class="product-btn">
            <span class="btn-add">Add To Cart <span class="btn-add-cart"><fa name="cart-arrow-down"></fa></span></span>
            <span class="btn-chat">Chat Seller <span class="btn-add-cart"><fa name="comments"></fa></span></span>
          </div>
        </div>
        

      </div>
      <div class="col-4">
          <div class="show-image">
            <img src='{{productDetail.moreInformation.storeImageUrl}}' height="400">
          </div>
          <div class="show-image">
            <span class="show-image-small" *ngFor="let item of productDetail.imageUrl"><img src='{{item}}' height="50"></span>
            <!-- <span class="show-image-small"><img src='assets/img/dummy-product-detail.jpg' height="50"></span>
            <span class="show-image-small"><img src='assets/img/dummy-product-detail.jpg' height="50"></span> -->
          </div>
          <div class="row">
            <div class="col-6">
              <span class="show-small-text"><fa name="heart"></fa> Tabahkan Ke Wishlist </span> 
            </div>
            <div class="col-6">
              <span class="show-small-text">Share</span> <img src='assets/img/dummy-sosmed.jpg'>
            </div>
          </div>    
      </div>
      <div class="col-3">
        <div class="sidebar-title">
           Informasi Penjual 
        </div>
        <div class="sidebar-conten">
          <div class="sidebar-info">
            <img src='assets/img/shop.png'>
            <span class="shop-title" (click)="goStore(productDetail.storeId)">{{productDetail.storeName}}</span>
            <span class="shop-city">{{productDetail.locationName}}</span>
            <span class="shop-btn">Buka Toko <fa name="plus-circle"></fa></span>
            <span class="shop-star"><fa name="star"></fa><fa name="star"></fa><fa name="star"></fa><fa name="star"></fa><fa name="star"></fa></span>            
          </div>
          <span class="shop-text"><strong>Terakhir Online:</strong> {{productDetail.moreInformation.lastOnline}}</span>
          <span class="shop-text"><strong>Produk Terjual:</strong> {{productDetail.moreInformation.productSold}} produk terjual</span>
          <span class="shop-text"><strong>Jumlah Produk:</strong> {{productDetail.moreInformation.productQuantity}} Produk</span>
          <span class="shop-text"><strong>Transaksi Sukses:</strong> {{productDetail.moreInformation.transactionSuccess}} Transaksi</span>
       </div>

        <div class="sidebar-title">
          Dukungan Pengiriman
        </div>
        <div class="sidebar-conten">
          Segera....
        </div>
      </div>
    </div>

    <div class="product-other-title">Produk Merk Lainnya</div>
    <div class="product-other-conten">
      <span class="item-list">
        <img src='assets/img/dummy-product-detail.jpg' height="200">
        <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
        <span class="item-list-price">Rp 21.000</span>
      </span>
      <span class="item-list">
        <img src='assets/img/dummy-product-detail.jpg' height="200">
        <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
        <span class="item-list-price">Rp 21.000</span>
      </span>
      <span class="item-list">
        <img src='assets/img/dummy-product-detail.jpg' height="200">
        <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
        <span class="item-list-price">Rp 21.000</span>
      </span>
      <span class="item-list">
        <img src='assets/img/dummy-product-detail.jpg' height="200">
        <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
        <span class="item-list-price">Rp 21.000</span>
      </span>
      <span class="item-list">
        <img src='assets/img/dummy-product-detail.jpg' height="200">
        <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
        <span class="item-list-price">Rp 21.000</span>
      </span>
    </div>

    <div class="product-spec-title">
      <div class="row">
        <div class="col-3">
          Spesifikasi
        </div>
        <div class="col-3">
          <span class="product-spec-line">Deskripsi</span>
        </div>
        <div class="col-3">
          Diskusi Produk
        </div>
        <div class="col-3">
          Ulasan Produk
        </div>
      </div>
    </div>
    <div class="product-spec-conten">
        <p><strong>{{productDetail.specification}}</strong></p>
        <p>{{productDetail.description}}</p>
    </div>

  </div>
  
</div>

