.isoffday{
    background: #87e960;
    color:#000000;
    padding:10px;
    border-top: 2px solid #6dd544;
    border-bottom: 2px solid #6dd544;
    margin-bottom:10px;
    font-size: 12px;
}

.cont-detail{
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

.cont-detail-sub1{
    margin-right: 8px;
}

.empty-stock{
    background: #f10b16;
    color:#ffffff;
    padding:5px;
    border-radius:5px;
}

.b1-detail{
    background: #f8f8f8;
    padding: 10px;
    color: #3e3e3e;
}

.product-bc{
    color: #a5a8aa;
    font-size: 12px;
    margin-top:10px;
}

.product-title{
    color: #393939;
    font-size: 24px;
    width: 80%;
}

.product-brand{
    font-size: 12px;
    margin-right:10px;
}
#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

.w__fontsize--prodName {
    font-size: 19px;
    font-weight: bold;
    display: block;
}

.product-star{
    color: #ff5a00;
    margin-right:10px;
}

.product-review{
    font-size:10px;
    color: #989595;
    font-weight: '5000';
}

.product-real-price{
    color:#f7ca00;
    font-size: 40px;
    text-shadow: 2px 2px #e7e5e5;
}

.product-discont{
    font-size: 17px;
    color: #afafaf;
}

.metode-price{
    font-size: 12px;
    color: #7a7a7a;
    display: block;
}

.strong-text{
    color:#3e3e3e;
    font-weight: bold;
}

.product-info{
    margin-top:20px;
    font-size: 12px;
}

.v1{
    border: 1px solid #f57b2a;
    padding:5px;
    margin-left: 10px;
    color:#9d9d9d;
}

.v2{
    border: 1px solid #232f3d;
    padding:5px;
    margin-left: 10px;
    color:#9d9d9d;
}

.btn-small{
    background: #2198ff;
    border-radius: 5px;
    font-size: 11px;
    color: #ffffff;
    padding: 5px;
    font-weight: normal;
    cursor: pointer;
}

.btn-small:hover{
    background: #53aefd;
}

.btn-flag{
    background: #f7f7f5;
    border-radius: 10px;
    padding:0px 8px 0px 8px;
    border:2px solid #767673;
    margin-left: 10px;
    font-size:14px;
    margin-bottom:20px;
}

.plus-minus{
    border: 1px solid #dddddd;
    padding:5px;
    margin:10px;
    cursor: pointer;
}

.image__block {
    display: block;
}

.plus-minus:hover{
    background: #dddddd;
}

.plus-minus-number{
    color:#f57b2a;
    font-size: 20px;
}

.product-btn{
    text-align: center;
    margin-top:50px;
    margin-bottom:20px;
}

.btn-add-off{
    background: #aeb3b8;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    width: 180px;
    display: inline-block;
}

.btn-add{
    background: #232f3d;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer;
    width: 180px;
    display: inline-block;
}

.btn-add:hover{
    background: #354456;
}

.btn-add-cart{
    font-size: 25px;
}

.break__word {
    word-break: break-all;
}


.btn-chat{
    background: #f57b2a;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer;
    width: 180px;
    display: inline-block;
    margin-left:5px;
}

.btn-chat:hover{
    background: #fd9047;
}

.show-image{
    text-align: center;
    margin-bottom:30px;
}

.show-image_child{
    text-align: center;
    margin-bottom:30px;
    overflow: scroll;
    width: 300px;
    height: 100px;
}

.show-image-small{
    border: 1px solid #dddddd;
    margin-left:10px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin-bottom:8px;
}

.show-image-small:hover{
    border: 1px solid #b4b3b3;
}

.show-small-text{
    font-size: 11px;
    color:#4d4c4c;
    font-weight: bold;
}

.sidebar-title{
    border: 1px solid #c9c9c9;
    padding: 10px;
    color:#4d4c4c;
    text-align: center;
    font-weight: bold;
}

.sidebar-conten{
    padding: 10px;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom:20px;
}

.sidebar-info{
    text-align: center;
    margin-bottom:20px;
}

.shop-title{
    display: block;
    font-weight: bold;
    cursor: pointer;
}

.shop-title:hover{
    color: #dddddd;
}

.shop-city{
    display: block;
    color: #a6a5a5;
    font-size: 25px;
}

.shop-btn{
    background: #f57b2a;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer;
    width: 140px;
    display: inline-block;
    margin-left:5px;
}

.shop-btn:hover{
    background: #fd9047;
}

.shop-star{
    color: #ff5a00;
    display: block;
}

.shop-text{
    font-size: 11px;
    display: block;
    color: #959393;
}

.product-other-title{
    color:#6b6a6a;
    font-size: 20px;
}

.product-other-conten{
    border: 1px solid #c9c9c9;
    padding: 10px;
    text-align: center;
    margin-bottom:20px;
}

.item-list{
    width: 230px;
    display: inline-block;
}

.item-list-title{
    display: block;
    color: #6b6a6a;
    font-size: 11px;
}

.item-list-price{
    color: #f7ca00;
    font-size: 25px;
}

.item-img{
    cursor: pointer;
}

.product-spec-title{
    background: #f8992e;
    color:#ffffff;
    text-align: center;
    box-shadow: 2px 2px 4px #c9c9c9;
}

.product-spec-conten{
    padding: 10px;
    font-size: 11px;
    border-bottom: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}

.tab-hover{
    padding: 10px;
    cursor: pointer;
}

.tab-hover:hover{
    background: #f2b066;
    border-bottom: 2px solid #e46833;
}

.tab-active{
    background: #f2b066;
    border-bottom: 2px solid #e46833;
}

.row [class^="col-"]:not(:last-child){
    margin-right: 0rem;
}

.row .col-3{
    width: calc((100% / 4) - (0rem * 9 / 12));
}

.frame-image{
    width: 350px;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom:10px;
}

.con-image{
    width: 481px;
    text-align: center;
}

ul, li {
    display:inline-block;
}


#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    // padding-top: 20px;
}


.w__paddingin {
    padding-bottom: 3rem;
}

.btn-penawaran{
    background: #f57b2a;
    padding:10px;
    color:#ffffff;
    text-align: center;
    cursor: pointer;
}

.btn-penawaran:hover{
    background: #fd9047;
}

.courier-service-list {

    li {
        display: block;

        fa-icon {
            &.checklist {
                color: #8BF56E;
            }
        }
    }
}

.w--product-discusi {
    float: right!important;
    border-right: 0!important;
    .w--product-talk__question {
        float: left;
        width: 100%;
        padding: 20px 27.5px 20px 16px;
        box-sizing: border-box;
        border-radius: 3px 0 0 0;
        position: relative;

    }
    .w-product--talk__text {
        margin: 0;
        font-size: 13px;
        line-height: 20px;
        color: rgba(0,0,0,.54);
        word-wrap: break-word;
    }
    .w--product__list-item {
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        margin-bottom: 24px;
        width: 100%;

    }
    .w--product__list {
        list-style: none;
        margin-bottom: 24px;
        padding: 0;
        float: left;
        width: 100%;

        }


        .w--product-talk__question-avatar {
            display: block;
            float: left;
            margin: 4px 10px 0 0;
            width: 37px;
            height: 35px;
            border-radius: 50%;
            box-sizing: border-box;
            background: no-repeat center;
            background-size: contain;
            object-fit: cover;
        }
        .product-talk__detail {
            position: relative;
            line-height: 15px;
            margin-left: 47px;
            padding-right: 140px;
            .w--product-talk__additional-info {
                line-height: 16px;
                margin-bottom: 3px;
            }
            .w--product_talk {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                font-weight: 600;
                color: rgba(0,0,0,.74);
                word-wrap: break-word;
            }
            .w--product_talk-time {
                display: inline-block;
                vertical-align: middle;
                font-size: 11px;
                color: rgba(0,0,0,.38);
            }
        }
        .w-product-talk__comments {
            float: left;
            width: 100%;
            display: block;
            padding-bottom: 10px;
            background-color: #fafafa;
            border-top: 1px solid #e0e0e0;
        }
        .w-product-talk__coment-list {
            list-style: none;
            float: left;
            width: calc(100% - 90.5px);
            padding: 10px 27.5px 0 16px;
            margin-left: 47px;
        }
        .product-talk__comennts-list-item {
            float: left;
            width: 100%;
            padding: 10px 0;
        }
        .w-product-talk__detail {
            position: relative;
            line-height: 15px;
            margin-left: 47px;
            padding-right: 140px;
        }
        .w-product-talk__name {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            font-weight: 600;
            color: rgba(0,0,0,.74);
            word-wrap: break-word;

        }
        .w-product-talk__profile {
            display: block;
            float: left;
            margin: 4px 10px 0 0;
            width: 37px;
            height: 35px;
            border-radius: 50%;
            box-sizing: border-box;
            background: no-repeat center;
            background-size: contain;
            object-fit: cover;
        }
        .badge__belisada-seller {
            display: inline-block!important;
            vertical-align: middle!important;
            background-color: #ff9d00!important;
            color: #FFFFFF!important;
            font-size: 10px!important;
            font-weight: 600!important;
            border-radius: 10px!important;
            height: 17px!important;
            box-sizing: border-box!important;
            padding: 0 7.5px!important;
            margin-left: 4px!important;
            margin-right: 11px;
        }
        .w-product-talk_time {
            display: inline-block;
            vertical-align: middle;
            font-size: 11px;
            color: rgba(0,0,0,.38);
        }
        .w--product-talk__comment-box {
            overflow: hidden;
            display: block;
            padding: 10px 27.5px 10px 16px;
            margin-left: 47px;
            .list-box-replyholder {
                float: left;
                width: 100%;
                .w-product-talk__coment-taxtarea {
                    overflow: hidden;
                    resize: none;
                    height: 36px;
                    width: 90%;
                    margin-bottom: 0;
                    border: 1px solid #e0e0e0;
                    box-shadow: none;
                    box-sizing: border-box;
                    display: block;
                    transition: height .2s ease-in-out,border .2s linear;
                }
                .expanded {
                    height: 200px;
                }
                .w--button__position {
                    text-align: right;
                }
                .btn__cancel {
                    width: 130px!important;
                    background-color: #fff!important;
                    border-color: #e0e0e0!important;
                }
                .btn__kirim {
                    width: 130px!important;
                    background-color: #E16413!important;
                    border-color: #e0e0e0!important;
                    color: white;
                    margin-right: 3px;
                }
            }
        }
        .template--button {
            text-align: right;
        }
        .w__product-talk__template {
            display: flex;
            align-items: flex-end;
        }
        .w__o--button-posisition {
            margin-left: 47px;
            width: 90%;
        }
}




/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
   margin: 9px auto 15px;
   width: 768px;
}

.comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
}

.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}

.comments-list {
   margin-top: 30px;
   position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}

.comments-list:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
   content: '';
   width: 60px;
   height: 2px;
   background: #c7cacb;
   position: absolute;
   top: 25px;
   left: -55px;
}


.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.reply-list {
   padding-left: 88px;
   clear: both;
   margin-top: 15px;
}
/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
}

.comments-list .comment-avatar img {
   width: 100%;
   height: 100%;
}

.reply-list .comment-avatar {
   width: 50px;
   height: 50px;
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
   width: 680px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.reply-list .comment-box {
   width: 610px;
}
.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: #03658c;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
   content: 'autor';
   background: #03658c;
   color: #FFF;
   font-size: 12px;
   padding: 3px 5px;
   font-weight: 700;
   margin-left: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}
@mixin truncate($rows, $line-height, $background: '') {
    position: relative;
    overflow: hidden;
    max-height: $line-height * $rows;
    line-height: $line-height;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
      height: $line-height;

      @if $background != '' {
        background: -moz-linear-gradient(left, rgba($background, 0) 0%, rgba($background, 1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba($background, 0)), color-stop(100%, rgba($background, 1)));
        background: -webkit-linear-gradient(left, rgba($background, 0) 0%,rgba($background, 1) 100%);
        background: -o-linear-gradient(left, rgba($background, 0) 0%, rgba($background, 1) 100%);
        background: -ms-linear-gradient(left, rgba($background, 0) 0%, rgba($background, 1) 100%);
        background: linear-gradient(to right, rgba($background, 0) 0%, rgba($background, 1) 100%);
      }
    }

    // If supports line-clamp then add an ellipsis overflow and hide the gradient
    // This will work in Chrome and Opera, otherwise a gradient will gradually hide the text.

    @supports (-webkit-line-clamp: $rows) {
      display: -webkit-box;
      -webkit-line-clamp: $rows;
      -webkit-box-orient: vertical;

      &:after {
        display: none;
      }
    }
  }

  .show-hide-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    a {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
    }

    p {
      @include truncate(3, 20px, #fff); // rows, line-height, gradient fallback
    }
  }

  .show-less {
    display: none;

    &:target {
      display: block;

      ~ p {
        display: block;
        max-height: 100%;
      }

      + a {
        display: none;
      }
    }
  }



  // Presentation styles

  .wrapper {
    max-width: 300px;
    margin: 50px auto;

    p {
      font-size: 16px;
      line-height: 20px;
    }
  }

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}
.textArea--botom {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


.heading {
    &__detail {
        position: fixed;
        top: 6rem;
        width: 100%;
        height: 6rem;
        background-color: #E9E9E9;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    }

    &__container {
        height: 100%;
    }

    &__title {
        font-weight: 400;
        font-size: 2.4rem;
        color: #393939;
    }

    &__price {
        font-weight: 400;
        font-size: 2.4rem;
        color: #ED7425;
        vertical-align: middle;
    }

    &__grid {
        display: table;
        width: 100%;
        height: 100%;

        &--col {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.btn--add-to-cart {
    padding: 1.5rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
}


.review {
    &__content {
        padding: 1rem;
        border: 1px solid #C9C9C9;
        display: grid;
        grid-template-columns: 10rem repeat(2, 1fr);
    }

    &__emoticon {

    }

    &__rating {

    }

    &__message {

    }
}
