<div class="container has-header has-footer">
    <div class="isoffday" *ngIf="moreInformation.isoffday==true">
        Maaf toko saat ini sedang tutup silakan kunjungi kembali beberapa waktu kedepan.
    </div>
    <span class='product-bc'>
        Home/ {{productDetail.categoryOneName}}/ <strong>{{productDetail.categoryTwoName}}/ {{productDetail.categoryThreeName}}</strong>
    </span>

    <div class="cont-detail">
        <div class="cont-detail-sub1">
            
            <div class="b1-detail">
                <div class="ribbon ribbon--orange" *ngIf="productDetail.discount > 0">{{ productDetail.discount }}%</div>
                <!-- <img *ngIf="productDetail.brandImageUrl === 'null'" [src]="imageBrandNull"> -->
                <img class="image__block" [src]="productDetail.brandImageUrl" [alt]="productDetail.brandName"  height="100">
                <!-- {{ rubah(productDetail.brandImageUrl)}} -->
                <span class="product-brand">Brand : {{ productDetail.brandName }}</span>

                <div class='product-title'>
                    {{productDetail.name}}
                </div>
                <div *ngIf="productDetail.specialPrice > 0">
                    <span class="product-real-price">{{productDetail.specialPrice | currency:'Rp '}}<br></span>
                    <span class="product-discont"><s>{{productDetail.pricelist | currency:'Rp '}}</s></span>
                </div>
                <div *ngIf="productDetail.specialPrice === 0">
                    <span class="product-real-price">{{productDetail.pricelist | currency:'Rp '}}</span>
                </div>
                <div class="product-info" *ngIf="isLogin">
                    <span class="strong-text">Dikirim Dari:</span> {{ productDetail.locationName }}
                    <br>Ke {{ shippingAddress.regionName }}, {{ shippingAddress.cityName }},

                    <select [(ngModel)]="shippingAddress" (change)="addressChange()"
                        class="u-margin-right-1">
                        <option disabled value="">Pilih Alamat</option>
                        <option *ngFor="let destination of shippingAddressList" [ngValue]="destination">{{ destination.addressName }}</option>
                        <!-- <option value="tambah">Tambah</option> -->
                    </select>

                    <!-- <span class="btn-small">Ganti Destinasi</span>  -->
                    <span class="btn-flag"><fa-icon [icon]="['fas', 'exclamation']"></fa-icon></span>
                </div>
                <div class="product-info" *ngIf="isLogin">
                    <span class="strong-text">Metode Pengiriman:
                    <select [(ngModel)]="shippingRates"
                        class="u-margin-right-1">
                        <option disabled value="">Pilih Pengiriman</option>
                        <option *ngFor="let rate of rates" [ngValue]='rate'>{{ rate.courierCode }} {{ rate.courierService }} Rp {{ rate.courierPrice }}</option>
                    </select>
                    <span class="btn-flag"><fa-icon [icon]="['fas', 'exclamation']"></fa-icon></span></span>
                    <!-- <span class="metode-price">Rp 15.000 Ke Jakarta</span>
                    <span class="metode-price">Rp 15.000 Ke Jakarta</span> -->
                </div>
                <div class="product-info" *ngIf="!isLogin && statusFromGoogle === 'OK'">
                    Anda berada di : {{ address }} <br>
                    <span class="strong-text">Estimasi Biaya pengiriman
                            <select
                        class="u-margin-right-1">
                        <option disabled value="">Pilih Pengiriman</option>
                        <option *ngFor="let rate of responseFromAPIwithLatLong" [ngValue]='rate'>{{ rate.name }} {{ rate.courierService }} Rp {{ rate.courierPrice }}</option>
                    </select>
                 </span>
                    <span class="btn-flag"><fa-icon [icon]="['fas', 'exclamation']"></fa-icon></span>
                    <!-- <span class="metode-price">Rp 15.000 Ke Jakarta</span>
                    <span class="metode-price">Rp 15.000 Ke Jakarta</span> -->
                </div>
                <div class="product-info">
                    <span class="strong-text">Berat  </span>
                    <span>  {{ productDetail.weight }}gr </span>
                    <!-- <span class="metode-price">Rp 15.000 Ke Jakarta</span>
                    <span class="metode-price">Rp 15.000 Ke Jakarta</span> -->
                </div>
                <!-- <div class="product-info">
                    <span class="strong-text">Kebijakan Pengembalian:</span> Mendukung 7 hari pengembalian dana tanpa syarat
                </div> -->
                <!-- <div class="product-info">
                    <span class="strong-text">Variant:</span> <span class="v1">50 ml</span> <span class="v2">100 ml</span> <span class="v2">200 ml</span>
                </div> -->
                <div class="product-info" *ngIf="moreInformation.isoffday === false && productDetail.qty !== 0">
                    <span class="strong-text">Qty:</span> <span class="plus-minus" (click)="decreaseQty()"> <fa-icon [icon]="['fas', 'minus']"></fa-icon> </span> <span class="plus-minus-number"> {{ qty }} </span> <span class="plus-minus" (click)="increaseQty()"> <fa-icon [icon]="['fas', 'plus']"></fa-icon> </span>
                </div>
                <!-- <ng-template #emptyStock>
                        <div class="product-info">
                            <span class="empty-stock">Stok Kosong</span>
                        </div>    
                </ng-template> -->
                <!-- <div class="product-info">
                    <span class="strong-text">Berat  </span>
                    <span>  {{ productDetail.weight }}gr </span>

                </div> -->
                <div class="product-btn">
                    <span class="btn-add" (click)="addToCart(productDetail.productId, productDetail.storeId)" *ngIf="moreInformation.isoffday === false && productDetail.qty !== 0;else isoffdays">Add To Cart <span class="btn-add-cart"><fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></span></span>
                
                    <ng-template #isoffdays>
                            <span class="btn-add-off">Add To Cart <span class="btn-add-cart"><fa-icon [icon]="['fas', 'cart-arrow-down']"></fa-icon></span></span>
                    </ng-template>
                </div>
            </div>


        </div>
        <div>
                
            <div class="show-image">
                <img [src]="productImageUrl + imgIndex"  height="400">
            </div>
            <div class="con-image">
                    <span class="show-image-small" *ngFor="let item of productDetail.imageUrl" (click)="selectImg(item)"><img [src]='productImageItemLooping+item' height="50"></span>
            </div>
            <div class="row u-margin-top-2">
                <div class="col-6">
                    <!-- <span class="show-small-text"> -->
                        <!-- <fa-icon [icon]="['far', 'heart']"></fa-icon> Tambahkan ke Wishlist -->
                    <!-- </span>  -->
                </div>
                <div class="col-6 right">
                    <!--Set color and icon-->
                    Share
                    <button class="btn--share btn--list" shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
                        <fa-icon [icon]="share.prop.facebook.icon" size="md"></fa-icon>
                    </button>

                    <button class="btn--share btn--list" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
                        <fa-icon [icon]="share.prop.twitter.icon" size="md"></fa-icon>
                    </button>

                    <button class="btn--share btn--list" shareButton="google" [style.backgroundColor]="share.prop.google.color">
                        <fa-icon [icon]="share.prop.google.icon" size="md"></fa-icon>
                    </button>

                    <!-- <span class="show-small-text">Share</span> <img src='assets/img/dummy-sosmed.jpg'> -->
                </div>
            </div>

        </div>
        <div>
            

            <div class="sidebar-title">
                    Informasi Penjual
            </div>
            <div class="sidebar-conten">
                <div class="sidebar-info">
                    <img [src]='productImageUrlNew + productDetail.storeImageUrl'>
                    <span class="shop-title" (click)="goStore(productDetail.storeUrl)">{{productDetail.storeName}}</span>
                    <span class="shop-city">{{productDetail.locationName}}</span>
                    <span class="shop-btn" (click)="goStore(productDetail.storeUrl)">Lihat Toko <fa-icon [icon]="['fas', 'search']"></fa-icon></span>
                </div>
                <span class="shop-text"><strong>Terakhir Online:</strong> {{ moreInformation.lastOnline }}</span>
                <span class="shop-text"><strong>Produk Terjual:</strong> {{ moreInformation.productSold }}</span>
                <span class="shop-text"><strong>Jumlah Produk:</strong> {{ moreInformation.productQuantity }}</span>
                <span class="shop-text"><strong>Transaksi Sukses:</strong> {{ moreInformation.transactionSuccess }}</span>
            </div>

            <!-- <div class="sidebar-title">
                Dukungan Pengiriman
            </div>
            <div class="sidebar-conten">
                <ul class="courier-service-list">
                    <li *ngFor="let courier of productDetail.couriers">
                        <img [src]="courier.imageUrl" alt="">
                        <span>{{ courier.name }} <fa-icon class="checklist" [icon]="['fas', 'check']"></fa-icon></span>

                    </li>
                </ul>
            </div> -->

            <div class="btn-penawaran" (click)="penawaran(productDetail.productId,productDetail.name)">Penawaran Lainnya</div>
        </div>
    </div>

    <div class="product-other-title">Produk Merk Lainnya</div>
    <div class="product-other-conten">
        <span class="item-list" *ngFor="let item of productNewatProdDetail | slice:0:5">
            <img class="item-img" (click)="gotTodetailPart(item.productId, item.name)" [src]="productImageUrlNew + item.imageUrl">
            <span class="item-list-title"> {{ item.storeName }}</span>
            <!-- <div *ngIf="item.specialPrice > 0">
                    <span class="product-real-price">{{item.specialPrice | currency:'Rp '}}</span>
                    <span class="product-discont"><s>{{item.pricelist | currency:'Rp '}}</s></span>
                </div>
                <div *ngIf="item.specialPrice === 0">
                    <span class="product-real-price">{{item.pricelist | currency:'Rp '}}</span>
                </div> -->
            <span class="item-list-price" *ngIf="item.specialPrice > 0">Rp {{ item.specialPrice | number }}</span>
            <span class="item-list-price" *ngIf="item.specialPrice === 0">Rp {{ item.pricelist | number }}</span>
        </span>
        <!-- <span class="item-list">
            <img src='assets/img/dummy-product-detail.jpg' height="200">
            <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
            <span class="item-list-price">Rp 21.000</span>
        </span>
        <span class="item-list">
            <img src='assets/img/dummy-product-detail.jpg' height="200">
            <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
            <span class="item-list-price">Rp 21.000</span>
        </span>
        <span class="item-list">
            <img src='assets/img/dummy-product-detail.jpg' height="200">
            <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
            <span class="item-list-price">Rp 21.000</span>
        </span>
        <span class="item-list">
            <img src='assets/img/dummy-product-detail.jpg' height="200">
            <span class="item-list-title">Missha All Around Safe Block Sebum Zero Sun</span>
            <span class="item-list-price">Rp 21.000</span>
        </span> -->
    </div>

    <div class="">
        <div class="row product-spec-title">
            <div [ngClass]="activeSpesifikasi == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'" (click)="spesifikasi()">
                Spesifikasi
            </div>
            <div [ngClass]="activeDiskripsi == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'"  (click)="deskripsi()">
                Deskripsi
            </div>
            <div [ngClass]="activeDiskusi == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'" (click)="diskusi()">
                Diskusi Produk
            </div>
            <div [ngClass]="activeUlasan == true ? 'col-3 tab-hover tab-active': 'col-3 tab-hover'" (click)="ulasan()">
                Ulasan Produk
            </div>
        </div>
    </div>
    <div class="product-spec-conten" *ngIf="activeSpesifikasi === true">
        <!-- <div class="row">
            <div class="col-12">
                <span class="w__fontsize--prodName"> {{ productDetail.name }} </span>
            </div>
        </div> -->

        <table id="customers">
            <tr>
                <td>Garansi :</td>
                <td>{{ productDetail.guaranteeTimeValue }}</td>
            </tr>
            <tr>
                <td>Kondisi :</td>
                <td>{{ productDetail.classificationValue }}</td>
            </tr>
            <!-- <tr>
                <td>Dimensi :</td>
                <td>{{ productDetail.dimensionslength }} x {{ productDetail.dimensionsWidth }} x {{ productDetail.dimensionsheight }}</td>
            </tr> -->
            <tr *ngFor="let item of productDetail.specification">
                <td>{{ item.name }} :</td>
                <td>{{ item. value }}</td>
            </tr>
        </table>

    </div>
    <div class="product-spec-conten" *ngIf="activeDiskripsi === true">
        <div class="row">
            <div class="col-12">
                <!-- <span class="w__fontsize--prodName"> {{ productDetail.name }} </span> -->
                <span class="break__word" [innerHtml]="productDetail.description"></span>
            </div>
        </div>

<!-- <table id="customers">

    <tr *ngFor="let item of productDetail.specification">
        <td>{{item.name}} :</td>
        <td>{{ item. value }}</td>
    </tr>
</table> -->

    </div>
    <div class="product-spec-conten" *ngIf="activeDiskusi === true">
        <div class="row">
            <div class="col-12 w--product-discusi" *ngFor="let item of discus">
                <ul class="w--product__list">
                    <li class="w--product__list-item">
                        <div class="w--product-talk__question">
                            <a>
                                <img src="{{ storeImgDiscussion + item.imageAvatarUrl}}" class="w--product-talk__question-avatar">
                            </a>
                            <div class="product-talk__detail">
                                <div class="w--product-talk__additional-info">

                                    <a class="w--product_talk"> {{ item.name }} </a>
                                    <span class="w--product_talk-time"> -  {{ item.since }}</span>
                                </div>
                                <div class="w-product--talk__text">
                                    {{ item.message }}

                                </div>
                            </div>

                        </div>
                        <button  *ngIf="paginationLimit[item.discusId] < list.length && item.childs"  (click)="showMoreItems(item.discusId)">
                            Show More
                        </button>
                        <!-- <button  *ngIf="paginationLimit[item.discusId] > 4"   (click)="showLessItems(item.discusId)">
                            Show Less
                        </button> -->
                        <div class="w-product-talk__comments" *ngFor="let item333 of item.childs  | slice : paginationLimit[item.discusId]">
                            <ul class="w-product-talk__coment-list" >
                                <li class="product-talk__comennts-list-item" >
                                    <div>
                                        <img src="{{item333.imageAvatarUrl}}" class="w-product-talk__profile">
                                    </div>
                                    <div class="w-product-talk__detail">

                                        <a class="w-product-talk__name">{{  item333.name }}  </a>
                                        <span class="badge__belisada-seller" *ngIf="item333.label === 'penjual'">
                                            {{ item333.label }}
                                        </span>
                                        <span class="w-product-talk_time">
                                            {{ item333.since }}
                                        </span>
                                    </div>
                                    <div class="w-product--talk__text">
                                        {{ item333.message }}
                                    </div>
                                </li>

                            </ul>

                        </div>
                        <div class="w--product-talk__comment-box">
                            <div class="list-box-replyholder">
                                <a class="w-product-talk__profile"></a>
                                <div>
                                    <form>
                                            <textarea [formControl]="messageString" (click)="textAreaExpannded(item.discusId)" class="w-product-talk__coment-taxtarea expanded"> {{ item.discusId }}</textarea>

                                        </form>
                                    <div class="w__o--button-posisition row">
                                            <div class="col-12 template--button">
                                                    <button (click)="onSent()" class="btn btn__kirim">Kirim</button>
                                                    <!-- <button (click)="hideTextArea()" class="btn btn__cancel">Cancel</button> -->
                                                </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
            <textarea [formControl]="messageBottom" name="" id="" class="textArea--botom"></textarea>
            <button (click)="BtnBuat()" class="btn btn__kirim">Kirim</button>
        </div>
            <!-- </li> -->
        <!-- </ul> -->
    </div>

    <div class="product-spec-conten" *ngIf="activeUlasan === true">
        
    </div>
</div>
        <!-- </div> -->


<div class="w__paddingin"></div>
<!-- </div> -->

<div class="heading__detail" *ngIf="isSubHeaderShow">
    <div class="container heading__container">
        <div class="heading__grid">
            <div class="heading__grid--col">
                <span class="heading__title">{{ productDetail.name | slice:0:23 }} ...</span>
            </div>
            <div class="heading__grid--col right">
                <span class="heading__price u-margin-right-1" *ngIf="productDetail.specialPrice > 0">{{ productDetail.specialPrice | currency:'Rp ' }}</span>
                <span class="heading__price u-margin-right-1" *ngIf="productDetail.specialPrice === 0">{{ productDetail.pricelist | currency:'Rp ' }}</span>
                <button class="btn btn--blue-belisada btn--flat btn--add-to-cart" (click)="addToCart(productDetail.productId, productDetail.storeId)">Add To Cart</button>
                <!-- <button class="btn btn--orange btn--flat btn--add-to-cart">Chat Seller</button> -->
            </div>
        </div>
    </div>
</div>



