<div class="column">
    <div class="wide column">
        <h1>Tambah Produk </h1>
        <p>
            Sebelum menambahkan product, pastikan produk tersebut sudah sesuai dengan <a href="#">syarat dan ketentuan</a> Belisada.co.id.<br/>Semua produk yang melanggar syarat dan ketentuan akan di non aktifkan oleh kami.
        </p>
        <p align="left" style="width: 100%;"><span style="color:black;"></span>*pelajari tentang
            <img (click)="asapPage()" src="https://myacico.co.id/images/general/asap.png" class="ui tiny aligned image" style="cursor:pointer;"></p>
        <div class="ui segment">
            <p>Apa yang anda jual?</p>
            <div class="ui form">
                <div class="inline twelve fields">
                    <div class="two wide field">
                        Status
                    </div>
                    <div class="ten wide field">
                        <div class="field">
                            <sui-radio-button value="baru" [(ngModel)]="condition" [isDisabled]="false" (click)="geClassification(01)">Baru</sui-radio-button>
                        </div>
                        <div class="field">
                            <sui-radio-button value="second" [(ngModel)]="condition" [isDisabled]="true" (click)="geClassification(02)">Second</sui-radio-button>
                        </div>
                        <div class="field">
                            <sui-radio-button value="refurbish" [(ngModel)]="condition" [isDisabled]="true" (click)="geClassification(03)">Refurbish</sui-radio-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <div class="inline twelve fields">
                    <div class="two wide field">
                        Nama Product
                    </div>
                    <div class="ten wide field">
                        <input type="text" name="city" #options list="productname" (keyup)="search($event)" [(ngModel)]="selectCats"/>
                        <div class="result-container" *ngIf="[results] != 0">
                            <div class="result" *ngFor="let hasil of results " (click)="productSelected(hasil)">{{ hasil.name }}</div>
                        </div>
                    </div>
                    </div>
                    <div class="inline twelve fields">
                    <div class="new-product" *ngIf="[results] == 0">{{news}}</div>

                </div>

                <div class="inline twelve fields">
                        <div class="two wide field">
                                Garansi
                             </div>
                         <div class="seven wide field">
                             <div class="seven wide field">
                                 <select class="ui dropdown" [(ngModel)]="garansiDays" (input)="garansi($event)">
                                     <option value="0" selected="selected">Tidak Bergaransi</option>
                                     <option value="30">1 Bulan</option>
                                     <option value="90">3 Bulan</option>
                                     <option value="182">6 Bulan</option>
                                     <option value="365">1 Tahun</option>
                                 </select>
                             </div>

                         </div>
                         </div>
                         <div class="inline twelve fields">
                         <div class="two wide field">
                                Courier
                             </div>
                         <div class="five wide field">
                             <div class="five wide field">
                                 <select class="ui dropdown" [(ngModel)]="courier" (input)="couriers($event)">
                                     <option value="0" selected="selected">JNE</option>
                                     <option value="30">Ninja Express</option>
                                 </select>
                             </div>

                         </div>
                         </div>
                        <!-- <div class="two wide field">
                               Courier Service
                            </div>
                        <div class="seven wide field">
                            <div class="five wide field">
                                <select class="ui dropdown" [(ngModel)]="courier" (input)="couriers($event)">
                                    <option value="0" selected="selected">JNE</option>
                                    <option value="30">Ninja Express</option>
                                </select>
                            </div> -->




                        <!-- <div class="two wide field">
                            Category Product
                        </div>
                        <div class="eleven wide field">
                            <div class="ui five wide field">
                                <input type="text" name="category" value="{{selectedCategory}}" disabled> -->
                                <!-- <sui-select class="selection"
                                    [(ngModel)]="selectedCategory"
                                    labelField="name"
                                    isSearchable="true"
                                    placeholder="Select Category">
                                        <sui-select-option *ngFor="let option of category" [value]="option" value="option.name" (click)="selectCategory(option.mProductCategoryId)"></sui-select-option>
                                </sui-select> -->



                            <!-- </div> -->

                            <!-- <div class="ui five wide field">
                                    <input type="text" name="subcategory" value="{{selectedSubCategory}}" disabled> -->
                                <!-- <sui-select class="selection"
                                    [(ngModel)]="selectedSubCategory"
                                    labelField="name"
                                    placeholder="Select SubCategory">
                                        <sui-select-option *ngFor="let option of subcategory" [value]="option" value="option.name" (click)="selectSubCategory(option.m_product_category_id)"></sui-select-option>
                                </sui-select> -->
                            <!-- </div>

                            <div class="ui five wide field">
                                <input type="text" name="subcategory" value="{{selectedSubCategories}}" disabled> -->
                                <!-- <sui-select class="selection"
                                    [(ngModel)]="selectedSubCategories"
                                    labelField="name"
                                    placeholder="Select Section">
                                        <sui-select-option *ngFor="let option of subcategories" [value]="option" value="option.name" (click)="selectSubCategories(option.m_product_category_id)"></sui-select-option>
                                </sui-select> -->
                            <!-- </div> -->
                        <!-- </div> -->


                    <!-- <div class="inline twelve fields"> -->
                            <!-- <div class="two wide field">
                                Product Name
                            </div> -->
                            <!-- <div class="ten wide field">
                                <div class="ui five wide field">
                                        <input type="text" [(ngModel)]="selectedBrands" (click)="toggleBrands()" placeholder="Select Brands" value="{{selectedBrands}}" disabled> -->
                                    <!-- <input type="text" [(ngModel)]="selectedBrands" (click)="toggleBrands()" placeholder="Select Brands" value="{{selectedBrands}}">
                                    <div class="result-container" *ngIf="toggle == true">
                                        <div class="result" *ngFor="let hasil of brands | searchFilter : selectedBrands" (click)="productSelected(hasil)">{{ hasil.name }}</div>
                                    </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->


            <div class="ui segment">
                <h3>Detail Produk</h3>
                <div class="garis"></div>
                <div class="ui form">
                    <div class="inline twelve fields">
                        <div class="two wide field">
                            Harga Rp.
                        </div>
                        <div class="two wide field">
                            <input type="number" placeholder="Harga" pattern="[0-9]{10}" [(ngModel)]="price" value="{{price}}"/>
                        </div>
                        <div class="seven wide field small">
                            Harga Rp tanpa menggunakan koma dan titik. Contoh : 12000 <span *ngIf="price != undefined"> ( preview : Rp. {{ price | number }} )</span>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline five fields">
                        <div class="two wide field">
                            Berat
                        </div>
                        <div class="three wide field">
                            <input type="text" placeholder="Berat" value="{{weight}}" [disabled]="false"/>
                        </div>
                        <div class="one wide field">
                            <div class="ui three wide field">
                                <div class="text">Kg</div>
                                <!-- <i class="dropdown icon"></i>
                                <div class="menu" suiDropdownMenu>
                                    <div class="item">Kg</div>
                                    <div class="item">Gram</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline eight fields">
                        <div class="two wide field">
                            Dimensi (cm)
                        </div>
                        <div class="two wide field">
                            <input type="text" placeholder="" [(ngModel)]="panjang" value="{{panjang}}"/>
                        </div>
                        <div class="one wide field small">
                            Panjang (cm)
                        </div>
                        <div class="two wide field">
                            <input type="text" placeholder="" [(ngModel)]="lebar" value="{{lebar}}"/>
                        </div>
                        <div class="one wide field small">
                            Lebar (cm)
                        </div>
                        <div class="two wide field">
                            <input type="text" placeholder="" [(ngModel)]="tinggi" value="{{tinggi}}"/>
                        </div>
                        <div class="one wide field small">
                            Tinggi (cm)
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline five fields">
                        <div class="two wide field">
                            Quantity
                        </div>
                        <div class="one wide field">
                            <select [(ngModel)]="stok" (input)="onInput($event)" class="ui dropdown">
                                <option *ngFor="let country of quantity ; let i=index" value= "{{country.id}}" selected="{{country.selected}}">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="ui form">
                    <div class="inline five fields">
                            <div class="two wide field">
                                Pilih Warna
                            </div>
                            <div class="nine wide field">
                                <div>
                                    <a *ngFor="let warna of warnanya" class="ui {{ warna }} circular label" (click)="addColor(warna)"></a>
                                </div>
                            </div>
                        </div>
                        <div class="inline five fields">
                                <div class="two wide field">
                                    Warna yang tersedia
                                </div>
                                <div class="nine wide field">
                                    <div><a *ngFor="let warna of selectedColor" class="ui {{ warna }} circular label" (click)="remColor(warna)"></a></div>
                                </div>
                            </div>
                </div>

                <h3>Deskripsi Produk</h3>
                <div class="garis"></div>
                <div class="ui form">
                    <div class="twelve fields">
                        <div class="two wide field">
                            Deskripsi
                        </div>
                        <div>
                            <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="description"></app-ngx-editor>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <h3>Gambar Produk</h3>
                <div *ngIf="imageurl == undefined" class="text">Masukan gambar produk minimal satu foto.</div>
                <div class="ui form">
                    <div class="twelve wide fields">
                        <div class="left floated column">
                                <div class="upload-btn-wrapper"  *ngIf="imageurl == undefined">
                                        <!-- <button class="ui green button"><i class="cloud icon"></i> Upload file NPWP</button> -->
                                        <input type="file" name="fileNpwp" (change)="setUrl($event, imgNpwp)" />

                                <img class="ui middle aligned image" style="max-width: 500px; width:530px; height: auto; margin-bottom:10px;" src="{{userImageNPWP}}" (load)="setCanvas($event, 'imageNPWP')" #imgNpwp >
                            </div>
                                <!-- <div class="image-upload-select" *ngIf="imageurl == undefined">
                                <img  class="ui image" src="assets/img/icon-upload.png" alt="icon-upload"/>
                                <input type="file" name="fileNpwp" (change)="setUrl($event, imgNpwp)" />

                            </div> -->
                            <img *ngIf="imageurl != undefined" class="ui image product-image" src="{{imageurl}}" alt="icon-upload"/>
                        </div>
                    </div>
                    <div class="twelve wide fields">
                        <div class="right floated column" *ngIf="imageurl == undefined">
                            <button class="ui positive basic button">Upload Foto</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui centered">
                <div class="twelve wide fields">
                        <div class="ui buttons" *ngIf="editMode == false">
                    <!-- <button *ngIf="editMode == false" class="positive ui button" (click)="addProducts()">Tambahkan Produk</button> -->
                        <button class="ui red button"  (click)="addProducts()">Tambahkan Product <i class="barcode icon large" style="margin-left:3px;"></i></button>
                        <div class="or"></div>
                        <button class="ui button"  (click)="open()">Tambahkan Produk <img src="https://myacico.co.id/images/general/asap.png" class="ui middle aligned tiny image"></button>

                    </div>
                    <br>
                    <!-- <p *ngIf="editMode == false"><span style="color:black;">*pelajari tentang</span>
                        <img (click)="asapPage()" src="https://myacico.co.id/images/general/asap.png" class="ui small aligned image" style="cursor:pointer;"></p> -->
                    <button *ngIf="editMode == true" class="positive ui button" (click)="updateProducts()">Perbarui Produk</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pops five wide field" align="center" *ngIf="show">
    <h4>Barang yang akan dikirim ke Gudang Belisada</h4>
        <select [(ngModel)]="qtyOnHand" (input)="gudang($event)" class="ui dropdown" placeholder="Jumlah">
                <option value= "0" selected="true">pilih</option>
                <option value= "1" >1</option>
                <option value= "2" >2</option>
                <option value= "3" >3</option>
                <option value= "4" >4</option>
                <option value= "5" >5</option>
                <option value= "6" >6</option>
                <option value= "7" >7</option>
                <option value= "8" >8</option>
                <option value= "9" >9</option>
                <option value= "10" >10</option>
        </select>
        <br><br>
        <button class="ui green button" (click)="close()">Okay</button>
        <button class="ui red button" (click)="cancel()">Cancel</button>
    </div>

