/* You can add global styles to this file, and also import other style files */
body{

    background-color: rgb(242, 242, 242);
    font-family: 'Lato', sans-serif;

}

/**
*   @author Achmad Ricky Budianto
*   CSS global tools
**/
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix {
    clear: both;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.gap-between-elements {
    margin-bottom: 1em!important;
}
.full-size-component {
    width:100%;
}
.full-width {
    width: 100%!important;
}
/** ----------------------- **/

/**
*   @author Wahyu
*   Used by form inside authentication layout
**/
.button.auth-btn-submit {
    color: #ffffff;
    background: #3cb878;
    width: 200px;
}
.button.auth-btn-submit:hover {
    color: #ffffff;
    background: #3cb878;
}
.button.socmed {
    width: 220px;
}
/** ----------------------- **/

@media only screen and (min-width: 1440px) {
    .ui.container {
        width: 1401px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
