<div class="ui middle aligned divided list" style="border-bottom: 1px solid #dddddd; margin-bottom:10px; padding-bottom:10px;">
    <div class="item">
      <div class="right floated content">
        <div class="ui button btn-home"><i class="home icon" (click)="home()"></i></div> <div class="ui button btn-menu"><i class="sidebar icon"></i></div>
      </div>
      <img class="ui avatar image" src="/assets/img/kristy.png">
      <div class="content">
          <div class="header">Lalang</div>
          lalang@email.com
        </div>
    </div>
  </div>
