<!-- <button (click)="onSubmit()">ipay88</button> -->
<h1>Payment</h1>

<!-- <form #form action="https://sandbox.ipay88.co.id/epayment/entry.asp" method="POST">
    <input type="text" name="MerchantCode" placeholder="MerchantCode">
    <input type="text" name="PaymentId" placeholder="PaymentId">
    <input type="text" name="RefNo" placeholder="RefNo">
    <input type="text" name="Amount" placeholder="Amount">
    <input type="text" name="Currency" placeholder="Currency">
    <input type="text" name="ProdDesc" placeholder="ProdDesc">
    <input type="text" name="UserName" placeholder="UserName">
    <input type="text" name="UserEmail" placeholder="UserEmail">
    <input type="text" name="UserContact" placeholder="UserContact">
    <input type="text" name="Remark" placeholder="Remark">
    <input type="text" name="Lang" placeholder="Lang">
    <input type="text" name="signature" placeholder="signature">
    <input type="text" name="ResponseURL" placeholder="ResponseURL">
    <input type="text" name="BackendURL" placeholder="BackendURL">
    <button type="submit" (click)="form.submit()">Submit</button>
</form> -->


<form #f action="https://sandbox.ipay88.co.id/epayment/entry.asp" method="POST">
    <input type="text" name="MerchantCode" [value]="v.MerchantCode" placeholder="MerchantCode" required>
    <input type="text" name="PaymentId" [value]="v.PaymentId" placeholder="PaymentId">
    <input type="text" name="RefNo" [value]="v.RefNo" placeholder="RefNo">
    <input type="text" name="Amount" [value]="v.Amount" placeholder="Amount">
    <input type="text" name="Currency" [value]="v.Currency" placeholder="Currency">
    <input type="text" name="ProdDesc" [value]="v.ProdDesc" placeholder="ProdDesc">
    <input type="text" name="UserName" [value]="v.UserName" placeholder="UserName">
    <input type="text" name="UserEmail" [value]="v.UserEmail" placeholder="UserEmail">
    <input type="text" name="UserContact" [value]="v.UserContact" placeholder="UserContact">
    <input type="text" name="Remark" [value]="v.Remark" placeholder="Remark">
    <input type="text" name="Lang" [value]="v.Lang" placeholder="Lang">
    <input type="text" name="signature" [value]="v.signature" placeholder="signature">
    <input type="text" name="ResponseURL" [value]="v.ResponseURL" placeholder="ResponseURL">
    <input type="text" name="BackendURL" [value]="v.BackendURL" placeholder="BackendURL">
</form>

<button class="btn btn--purple" (click)="setValue()">Set Value</button>

<pre>
    {{ v | json }}
</pre>

<button (click)="onSubmit()" class="btn btn--orange">Submit</button>
