.contain-order{
    margin-top:70px;
}

.btn-tab{
    
    &__active{
        text-align: center;
        border: 1px solid #f27138;
        color: #222222;
        padding:10px;
        margin-right:5px;
        background: #ffffff;
        cursor: pointer;
    }

    &__noActive{
        text-align: center;
        border: 1px solid #f27138;
        color: #222222;
        padding:10px;
        margin-right:5px;
        background: #f27138;
        cursor: pointer;
        color: #ffffff;
    }
    
}

.btn-tab__noActive:hover{
    background: #ffffff;
    color:#222222;
}


.frame-order{
    border: 1px solid #dadada;
    padding:15px;
    margin-top:7px;
}