<sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1" [(isActive)]="firstActive">Tambah Shipping</a>
        <a class="item" suiTabHeader="2" [(isActive)]="secondActive">Data Shipping</a>
    </div>
    <div class="ui bottom attached segment" suiTabContent="1">

         <div class="ui grid">
                    <div class="sixteen wide column">
                        <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
                            <input name="addressId" placeholder="Masukan nama perusahaan" type="hidden" formControlName="addressId"/>

                            <div class="fields">
                                <div class="eight wide field">
                                    <label>Nama</label>
                                    <input name="name" placeholder="Masukan nama perusahaan" type="text" formControlName="name"/>
                                </div>
                                <div class="eight wide field">
                                    <label>Disimpan sebagai alamat (cth: alamat rumah, kantor, kosan)</label>
                                    <input name="address" placeholder="Disimpan sebagai alamat apa" type="text" formControlName="addressName"/>
                                </div>
                            </div>   
                            <div class="field">
                                <label>Alamat</label>
                                <textarea name="address" placeholder="Masukan alamat" formControlName="address" ></textarea>
                            </div>
                            <div class="fields">
                                <div class="eight wide field">
                                    <label>Provinsi</label>
                                    <sui-select class="selection" labelField="name" placeholder="Pilih provinsi" formControlName="province">
                                        <sui-select-option *ngFor="let option of provinces" [value]="option" value="option.name" (click)="getCity(option.mregionId)"></sui-select-option>
                                    </sui-select>
                                </div>
                                <div class="eight wide field">
                                    <label>Kota</label>
                                    <sui-select class="selection" labelField="name" placeholder="Pilih Kota" formControlName="city">
                                        <sui-select-option *ngFor="let option of cities" [value]="option" value="option.name" (click)="getDistrict(option.mcityId)"></sui-select-option>
                                    </sui-select>
                                </div>
                            </div>    
                            <div class="fields">
                                <div class="eight wide field">
                                    <label>Kecamatan</label>
                                    <sui-select class="selection" labelField="name" placeholder="Pilih Kelurahan / Kecamatan" formControlName="district">
                                        <sui-select-option *ngFor="let option of districts" [value]="option" value="option.name" (click)="getVillage(option.mdistrictId)"></sui-select-option>
                                    </sui-select>
                                </div>
                                <div class="eight wide field">
                                    <label>Kelurahan</label>
                                    <sui-select class="selection" labelField="name" placeholder="Pilih Desa" formControlName="vilaggeId">
                                        <sui-select-option *ngFor="let option of villages" [value]="option" value="option.name" (click)="setPostalCode(option.kodepos)"></sui-select-option>
                                    </sui-select>
                                </div>
                            </div>  
                            <div class="fields">
                                <div class="eight wide field">
                                    <label>Kode POS</label>
                                    <input name="postalcode" placeholder="Masukan kode POS" type="text" formControlName="postalCode"/>
                                </div>
                                <div class="eight wide field">
                                    <label>Telepon</label>
                                    <input name="siup" placeholder="Masukan nomor SIUP" type="text" formControlName="phone"/>
                                </div>
                            </div>  

                        </form>
                            <div *ngIf="show">
                                    <button
                                         class="ui primary button"
                                        (click)="edit()"
                                        name = "buton13"
                                        >Edit
                                    </button>
                                </div>
                                <div *ngIf="show1">
                                        <button
                                        class="ui primary button"
                                        (click)="onSubmit()"
                                        >Kirim</button>
                                        </div>
                            <!-- <button class="ui primary button" type="submit"  (click)="onSubmit()">Simpan</button> -->

                    </div>
                </div>
            </div>

    <!-- </div> -->
    <div class="ui bottom attached segment" suiTabContent="2">

        <div class="wrapper" *ngFor="let item of ship">
            <div class="wrapper2">
                <div class="kk">
                   <table border=0>
                       <tr>
                          <td class="xxp"> <i class="checkmark icon bilu"></i><span class="ac">{{item.addressName}}</span></td>
                       </tr>
                       <tr>
                           <td>Nama Penerima :</td>
                       </tr>
                       <tr>
                           <td>{{item.name}}</td>
                       </tr>
                       <tr>
                           <td>Phone : </td>
                       </tr>
                       <tr>
                           <td>{{item.phone}}</td>
                       </tr>
                       <tr>
                           <td><button class="btnlooklikelink" (click)="btnDelete(item.addressId)">Delete</button></td>
                           <td>
                             <form (ngSubmit)="getAllStorex(item)">
                                <button class="btnlooklikelink" (click)="show = !show; firstActive = true">
                                    <!-- <i class="edit icon"></i> -->
                                    <!-- (click)="firstActive = true" -->
                                    update
                              </button>
                              </form></td>
                       </tr>

                   </table>
                   <div class="gap-betweens-elements"></div>

                </div>

                <div>
                <div class="ui raised segment sskn">
                        <a class="ui red ribbon label">Alamat Pengiriman</a>
                        <div class="gap-betweens-elements"></div>
                        <span>{{item.address}}</span>
                        <div class="gap-betweens-elements"></div>
                        <span>{{item.cityName}}</span>
                        <div class="gap-betweens-elements"></div>
                        <span>Kecamatan : {{item.districtName}}</span>
                        <div class="gap-betweens-elements"></div>
                        <span>Kelurahan : {{item.villageName}} , {{item.postal}}</span>
                        <hr>
                        <div class="wreaper47">
                            <div>
                                <strong>Provinsi : </strong>
                                <div class="gap-betweens-elements"></div>
                                {{item.regionName}}
                            </div>
                            <div>
                                <strong>Kota : </strong>
                                <div class="gap-betweens-elements"></div>
                                {{item.cityName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</sui-tabset>
