.border-item{
    border: 1px solid #dddddd;
    padding:5px;
    text-align: center;
}

.border-item-second{
    background: #232f3d;
    padding:5px;
    color: #f1f9fc;
}

.icon-cart{
    font-size:20px;
    text-align: right;
}

.border-item-third{
    background: #f8992d;
    padding:5px;
}