<div class="ui segment">
    <img class="ui centered medium image" src="/assets/img/jual1.png">
    <span class="text-center tengah">
        Langkah 1: Melengkapi dan Memberikan Dokumen yang Diperlukan
    </span>
    <div class="gap-between-elements"></div>
    <img class="ui small centered image" src="/assets/img/jual2.png">
    <span class="text-center tengah2">
        Langkah 2: Aktifkan Akun Anda
    </span>
    <div class="gap-between-elements"></div>
    <div class="gap-between-elements"></div>
    <img class="ui small centered image" src="/assets/img/jual3.png">
    <span class="text-center tengah3">
        Langkah 3: Daftarkan Produk Anda dan Mulai Berjualan!
    </span>
  </div>