<img class="ui image" style="cursor:pointer;" src="/assets/img/baruart.jpg">
<div class="gap-between-elements"></div>
<div class="wrapper">
    <div>
        <div class="ui large header"> Selamat {{shared.shareData.name}} ! </div>
        <span style="font-size: 18px;">
                Akun anda Telah Berhasil Dibuat
                Silahkan Check Email Anda {{shared.shareData.email}}  untuk Mengaktifkan Akun anda
        </span>
    </div>
    <div>
        <img class="ui image" style="float:right;" src="/assets/img/kadal.png">
    </div>
  </div>
<!-- <p style="text-align: center;">
   hi {{shared.shareData.name}} Silahkan Cek email kamu Di ...  {{shared.shareData.email}}
</p>
{{tg.email}} -->
