<div class="ui grid b-step">
  <div class="sixteen wide center aligned column">

    <div class="ui ordered steps">
      <div class="completed step s-cart" (click)="prev()">
        <div class="content">
          <div class="title">Your Cart</div>
          <div class="description">List keranjang belanja Anda</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Checkout</div>
          <div class="description">Informasi billing, shipping, pembayaran & ongkos kirim</div>
        </div>
      </div>
      <div class="active step">
        <div class="content">
          <div class="title">Finish</div>
          <div class="description">Finish order details</div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class='conten-checkout'>
  <h2 id="cs-address">Alamat Penagihan</h2><p>Jika Alamat penagihan belum ada, lakukan tambah alamat penagihan.</p>

  <div class="ui grid" *ngIf="billingAddressList.length==0">
                      <div class="one column row">
                          <div class="column">
                              <sui-tabset>
                                  <div class="ui top attached tabular menu">

                                      <a class="item" suiTabHeader="2">Tambah Alamat Penagihan</a>

                                  </div>
                                  <div class="ui bottom attached segment" suiTabContent="2">
                                      <app-add-billing></app-add-billing>
                                  </div>
                              </sui-tabset>
                          </div>


                      </div>
                  </div>



                  <div class="ui grid" *ngIf="billingAddressList.length">
                      <div class="one column row">
                          <div class="column">
                              <sui-tabset>
                                  <div class="ui top attached tabular menu">
                                      <a class="item" suiTabHeader="1">Penagihan</a>
                                  </div>
                                  <div class="ui bottom attached segment" suiTabContent="1">
                                      <div class="sixten wide column right aligned">
                                          <div class="ui segment" *ngFor="let item3 of billingAddressList">
                                              <div class="ui grid">
                                                  <div class="sexteen wide column" *ngIf="!editBilling">
                                                      <p><strong>{{ item3.name }} - {{ item3.phone }}</strong><br>
                                                          {{ item3.address }}<br>
                                                          {{ item3.districtName }}, {{ item3.cityName }}, {{ item3.postal }}<br>
                                                          {{ item3.regionName }} - {{ item3.countryName }}<br>
                                                      </p>
                                                      <p>[ <a (click)="goEditBilling(item3)">Edit Penagihan</a> ]</p>
                                                  </div>
                                                  <div class="sexteen wide column" *ngIf="editBilling">
                                                      <p><a (click)="cancelEditBilling()"><i class="caret left icon"></i> Kembali</a></p>
                                                      <app-edit-billing></app-edit-billing>   
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </sui-tabset>
                          </div>

                      </div>
                  </div>




  <div class='conten-checkout'>
      <h2>Alamat Pengiriman</h2><p>Jika Alamat pengiriman belum ada, lakukan tambah alamat pengiriman.</p>
      <div class="ui grid">
          <div class="one column row">

              <div class="column">
                  <sui-tabset>
                      <div class="ui top attached tabular menu">
                          <a class="item" suiTabHeader="1" [(isActive)]="tapOneShip">Pengiriman</a>
                          <a class="item" suiTabHeader="2">Tambah Alamat Pengiriman</a>
                      </div>
                      <div class="ui bottom attached segment" suiTabContent="1">
                          <div class="sixten wide column right aligned">
                              <div class="ui labeled action input">

                                  <div class="ui label">
                                      Pilih alamat pengiriman:
                                  </div>

                                  <select class="ui compact selection dropdown" [(ngModel)]="selShippingAddress" (change)="getShippingAddress(selShippingAddress)">
                                      <!-- <option  value="">-Pilih-</option> -->
                                      <option *ngFor="let item of shippingAddressList" [value]="item.addressId" [selected]="item.isDefault === 'Y'">
                                          {{item.addressName}}
                                      </option>
                                  </select>
                                  <!-- <div type="submit" class="ui instagram button">Tambah Shipping</div> -->
                              </div>
                              <!-- <div style="margin-top:10px;">[ <a (click)="addShipping('add')">Tambah Alamat Pengiriman</a> ]</div> -->
                          </div>
                          <div class="ui sixten wide segment" *ngIf="shippingAddress">
                              <div class="ui grid">
                             
                                      <div class="sexteen wide column" *ngIf="!editShipping">
                                          <p><strong>{{ shippingAddress.name }} - {{ shippingAddress.phone }}</strong><br>
                                          {{ shippingAddress.address }}<br>
                                          {{ shippingAddress.districtName }}, {{ shippingAddress.cityName }}, {{ shippingAddress.postal }}<br>
                                          {{ shippingAddress.regionName }} - {{ shippingAddress.countryName }}<br>
                                      </p>
                                      <p>[ <a (click)="goEditShipping(shippingAddress)">Edit Penerima</a> ]</p>
                                      </div>
                                      
                                      <div class="sexteen wide column" *ngIf="editShipping">
                                          <p><a (click)="cancelEditShipping()"><i class="caret left icon"></i> Kembali</a></p>
                                          <app-edit-shipping></app-edit-shipping>   
                                      </div>
                              </div>
                          </div>

                      </div>
                      <div class="ui bottom attached segment" suiTabContent="2">
                          <app-add-shipping></app-add-shipping>
                      </div>
                  </sui-tabset>
              </div>
          </div>
      </div>


  <!-- app-cart -->
  <h2 id="cs-cart">Keranjang</h2>

  <div class="row animated rollIn">
      <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
              <thead class="cf">
                  <tr>
                      <th>Image</th>
                      <th>Nama</th>
                      <th>Harga</th>
                      <th>Jumlah</th>
                      <th>Sub Total</th>
                      <th>Hapus</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of cartItems">
                      <td class="valTd" data-title="Image">
                        <a (click)="detail(item.productId, item.aliasName)"><img class="ui tiny image" [src]="item.product.imageurl" style="margin: 0 auto;"></a>
                      </td>
                      <td class="valTd" data-title="Nama">
                        <a (click)="detail(item.productId, item.aliasName)">{{ item.product.name }}</a>
                      </td>
                      <td class="valTd text-right" data-title="Harga">
                          Rp {{ item.product.pricelist | number }}
                      </td>
                      <td class="valTd text-right" data-title="Jumlah">
                          <select class="quantity-text" #quantity (change)="updateQuantity($event, item)">
                              <option *ngFor="let q of item.arrStock" [value]="q" [selected]="q === item.quantity">{{ q }}</option>
                          </select>
                      </td>
                      <td class="valTd text-right" data-title="Sub Total"> Rp {{ item.totalCost | number }}</td>
                      <td class="valTd" data-title="Hapus">
                          <button class="circular ui icon button" (click)="removeProductFromCart(item)">
                              <i class="trash outline icon"></i>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

  <div class="ui grid b-step">
      <div class="eight wide left aligned column">
          <h4>Total: Rp {{itemsTotal | number}}</h4>
      </div>
  </div>
  <!--/ app-cart -->


  <!-- app-payment-method -->
  <h2 id="cs-payment">Pembayaran</h2>

  <p>Silakan pilih metode pembayaran dan ongkos kirim yang ingin Anda gunakan. Dan apa bila Anda memiliki Kode Promo maka gunakan Kode Promo tersebut untuk mendapatkan potongan harga.</p>
  <div class="ui grid">
      <div class="two column row stackable">
          <div class="eight wide column">
              <div class="ui segment">
                  <div class="ui grid">
                      <div class="ui three column grid stackable">
                          <div class="row">
                              <div class="column" *ngFor="let item of paymentMethodDtos">

                                  <form class="ui form" #f="ngForm" novalidate>
                                      <div class="grouped fields">
                                          <label>{{ item.paymentMethod.name }}</label>
                                          <div class="ui field segment" *ngFor="let detail of item.paymentMethodDetails">
                                              <div class="ui radio checkbox" style="margin-left: 5px; margin-top: 5px;">
                                                  <input name="example2" #_example2 checked="checked" type="radio"
                                                      [(ngModel)]="paymentMethodId"
                                                      [ngModelOptions]="{standalone: true}"
                                                      (change)="selectPaymentMethod(paymentMethodId)"
                                                      value="{{ detail.mBankAccountId }}~{{ item.paymentMethod.code }}"/>
                                                  <label><img class="ui right spaced image" src='/assets/img/card/ico_bank_03.png'/></label>
                                              </div>
                                              <div class="padding-box">
                                                  <p>{{ detail.bankName }}<br>{{ detail.accountNo }}<br>{{ detail.accountName }}</p>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="three wide column">
              <div class="ui segment">

                  <div class="ui form">
                      <div class="grouped fields">
                          <p><b>ONGKOS KIRIM</b></p>
                          <div class="field">

                              <form class="ui form">
                                  <div class="field">
                                      <label>Kurir Pengiriman</label>
                                      <select class="ui compact selection dropdown" [(ngModel)]="shippingMethod" [ngModelOptions]="{standalone: true}" (change)="selectShippingMethod(shippingMethod)">
                                          <option value="">-Pilih-</option>
                                          <option *ngFor="let item of freightRates" [value]="item.shipperId">{{ item.shipperName }}</option>
                                          <!-- <option value="Ninja">Ninja</option> -->
                                      </select>
                                  </div>
     
                                  <div class="field">
                                      Ongkos kirim: <b>Rp {{ deliveryTotal | number }}</b>
                                  </div>
                              </form>

                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <div class="four wide column">
              <div class="ui segment">
                  <p><b>KODE PROMO</b></p>
                  <p>Jika anda memiliki kode promo masukan pada kolom dibawah ini untuk mendapatkan potongan harga.</p>


                  <form class="ui form">
                      <div class="field">
                          <label>Punya Kode Promo?</label>
                          <input name="last-name" placeholder="Masukan kode promo..." type="text">
                      </div>
                      <button class="ui button" type="submit">Gunakan Kode</button>
                  </form>

              </div>
          </div>

      </div>
  </div>

  <!-- <app-payment-method></app-payment-method> -->
  <!--/ app-payment-method -->

  <h2 id="cs-summary">Rincian</h2>

  <div class='bg-rinci'>
      <div class="ui grid stackable">
          <div class="ten wide column">


          <div class="ui grid stackable">
              <div class="four wide column">
              <b>Matode Pembayaran</b><br><br>
              {{ paymentMethod.name }}: {{ paymentMethodDetail.bankName }}
              </div>
              <div class="four wide column">
              <b>Ongkos Kirim</b><br><br>
              Kurir Pengiriman: {{ freightRate.shipperName }}<br>
              Ongkos Kirim: Rp {{ deliveryTotal | number }}
              </div>
              <div class="four wide column">
              <b>Kode Promo</b><br><br>
              Nilai Potongan Kode Promo: Rp.0
              </div>
          </div>

      </div>
      <div class="six wide column"><b>Rincian</b><br><br>
          Total Belanja: Rp {{ itemsTotal | number }} (+)<br>
          Ongkos Kirim: Rp {{ deliveryTotal | number }} (+)<br>
          Kode unik: Rp {{ uniqueCode | number }} (+)<br>
          Potongan: Rp.0 (-)<br>
          <div class='b-total'>
          TOTAL PEMBAYARAN: <font color='red'>Rp {{ grossTotal | number }}</font>
          </div>

      </div>
      </div>
  </div>


</div>


<div class="ui grid">
  <div class="left floated left aligned eight wide column">
      <button class="ui left labeled icon button green" (click)="prev()">
          <i class="chevron left icon"></i>
          Previous
      </button>
  </div>
  <div class="right floated right aligned eight wide column">
      <button class="ui right labeled icon button facebook" (click)="finishOrder()">
          Finish Order
          <i class="right chevron icon"></i>
      </button>
  </div>
</div>
</div>
<div id="limit-scroll"></div>

<div class="sticky-checkout-step">
<ul>
  <li id="cs-address-btn" class="cs-address" (click)="scrollToQuestionNode('cs-address')"><i class="address book outline icon"></i>
      <span>Alamat</span>
  </li>
  <li id="cs-cart-btn" class="cs-cart" (click)="scrollToQuestionNode('cs-cart')"><i class="in cart icon"></i>
      <span>Keranjang Belanja</span>
  </li>
  <li id="cs-payment-btn" class="cs-payment" (click)="scrollToQuestionNode('cs-payment')"><i class="credit card alternative icon"></i>
      <span>Pembayaran</span>
  </li>
  <li id="cs-summary-btn" class="cs-summary" (click)="scrollToQuestionNode('cs-summary')"><i class="unordered list icon"></i>
      <span>Rincian</span>
  </li>
</ul>
</div>
