// variable
$color-address: rgb(255, 188, 46);
$color-cart: rgb(172, 127, 255);
$color-payment: rgb(67, 177, 177);
$color-summary: rgb(109, 200, 110);


.conten-checkout{
    margin-top:20px;
    margin-bottom:20px;
}

table{
    background:#ffffff;
    width:100%;
}

th{
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

td{
    padding: 10px;
}

tr:nth-child(even) {background: #eee}
tr:nth-child(odd) {background: #FFF}

.b-step{
    margin-top:10px;
    margin-bottom:10px;
}

.quantity-text {
	width: 60px;
	text-align: right;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.sticky-checkout-step {
	position: fixed;
	left: 0;
	top: 250px;
	background-color: #fafafa;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			border-top: 1px solid #ddd;
			padding: 0.75em;

			&.cs-address:hover {
				cursor: pointer;
				background-color: $color-address;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
				span {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					z-index: 0;
					height: 43px;
					padding: 0.75em;
					padding-left: 100%;
					white-space: nowrap;
					color: #fff;
					background-color: $color-address;
				}
			}

			&.cs-address.active {
				background-color: $color-address;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
			}

			&.cs-cart:hover {
				cursor: pointer;
				background-color: $color-cart;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
				span {
					position: absolute;
					display: block;
					top: 43px;
					left: 0;
					z-index: 0;
					height: 43px;
					padding: 0.75em;
					padding-left: 100%;
					white-space: nowrap;
					color: #fff;
					background-color: $color-cart;
				}
			}

			&.cs-cart.active {
				background-color: $color-cart;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
			}

			&.cs-payment:hover {
				cursor: pointer;
				background-color: $color-payment;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
				span {
					position: absolute;
					display: block;
					top: 86px;
					left: 0;
					z-index: 0;
					height: 43px;
					padding: 0.75em;
					padding-left: 100%;
					white-space: nowrap;
					color: #fff;
					background-color: $color-payment;
				}
			}

			&.cs-payment.active {
				background-color: $color-payment;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
			}

			&.cs-summary:hover {
				cursor: pointer;
				background-color: $color-summary;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
				span {
					position: absolute;
					display: block;
					top: 129px;
					left: 0;
					z-index: 0;
					height: 43px;
					padding: 0.75em;
					padding-left: 100%;
					white-space: nowrap;
					color: #fff;
					background-color: $color-summary;
				}
			}

			&.cs-summary.active {
				background-color: $color-summary;
				
				i {
					color: #fff;
					position: relative;
					z-index: 1;
				}
			}

			i {
				color: #999;
				font-size: 1.5em;
			}
			span {
				display: none;
			}
		}
	}
}

/*Table Responsive*/

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border-bottom: 2px solid #ccc; margin-bottom: 10px; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
	
	.b_tree{
		font-size: 9px;
	}
	
	.logout1{
		display: none;
	}
	
	.logout2{
		display: inherit;
	}
	
	.title_header{
		text-align: center;
		margin-bottom: 10px;
	}
}


/* End Table Responsive*/


.b-step{
    margin-top:10px;
    margin-bottom:10px;
}
.padding-box {
    padding: 5px;
    margin-left: 5px;
    margin-right: 2px;
    font-size: 12px;
}


.b-step{
    margin-top:10px;
    margin-bottom:10px;
}


table{
    background:#ffffff;
    width:100%;
}

th{
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

td{
    padding: 10px;
}

tr:nth-child(even) {background: #eee}
tr:nth-child(odd) {background: #FFF}

.b-step{
    margin-top:10px;
    margin-bottom:10px;
}

.quantity-text {
	width: 60px;
	text-align: right;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.bg-rinci{
    border:5px solid #dddddd;
    margin-top:30px;
    margin-bottom:10px;
    padding:10px;
}

.b-total{
    border-top:1px solid #dddddd;
    margin-top:10px;
    padding-top:10px;
    font-weight: bold;
}

.b-cart{
    margin-top:30px;
    margin-bottom:30px;
}

.b-tot-cart{
    margin-top:10px;
    font-weight: bold;
    font-size: 15px;
}

.s-cart:hover{
	background: #f3f4f5;
	cursor: pointer
}