<div class="containPage has-header">
    <div class="row">
        <div class="col-12">
            <div class="title-page">Reset Password</div>
            <div *ngIf="msg === undefined">
                <form class="ui form" [formGroup]="rstForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <input type="password" class="input-style-text-90" placeholder="Password" formControlName="password" required [ngClass]="{
                            'has-danger': rstForm.controls.password.invalid && (rstForm.controls.password.dirty && rstForm.controls.password.touched),
                            'has-success': rstForm.controls.password.valid && (rstForm.controls.password.dirty && rstForm.controls.password.touched)
                            }">
                        <div *ngIf="rstForm.controls.password.invalid && (rstForm.controls.password.dirty && rstForm.controls.password.touched)" class="alert alert-danger toll tooltip testing">
                            <span class="tooltiptext">Password minimal 7 character</span>
                        </div>


                        <!-- <div class="validasi" *ngIf="rstForm.controls.password.errors && rstForm.controls.password.dirty">
                            <p>Password minimal 7 character</p>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-style-text-90" placeholder="Ulangi Password" formControlName="password_repeat" required [ngClass]="{
                            'has-danger': rstForm.controls.password_repeat.invalid && (rstForm.controls.password_repeat.dirty && rstForm.controls.password_repeat.touched),
                            'has-success': rstForm.controls.password_repeat.valid && (rstForm.controls.password_repeat.dirty && rstForm.controls.password_repeat.touched)
                            }">

                        <div *ngIf="rstForm.controls.password_repeat.dirty && rstForm.errors && rstForm.errors.mismatch" class="alert alert-danger toll tooltip testing">
                            <span class="tooltiptext">Password tidak sama</span>
                        </div>
<!-- 
                        <div class="validasi" *ngIf="rstForm.controls.password_repeat.dirty && rstForm.errors && rstForm.errors.mismatch">
                            <p>Password tidak sama</p>
                        </div> -->
                    </div>
                    <div class="border-btn">
                        <div class="component-center">
                            <button type="submit" [disabled]="fogotFormGroup.invalid || status !== 1" class="btn btn--orange btn btn-size-55 text-btn component-center">PROSES</button>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="msg !== undefined" [ngClass]="{'alert-error':!success}">
                <p>{{msg}}</p>
            </div>
        </div>
    </div>
</div>