
<div class="ui grid container">
  <div class="four wide column">
    <div class="ui breadcrumb">
        <div class="gap-top">
    <a class="section" (click)="home()">Home</a>
    <div class="divider"> / </div>
    <a routerLink="/category/{{ProductList.category2Id}}" class="section">{{ProductList.category2Name}}</a>
    <!-- <a class="section"></a> -->
    <div class="divider"> / </div>
    <div class="active section">{{ProductList.category3Name}}</div>
        </div>
  </div>
</div>
</div>
<div class="wrapper">
    <div align="right">
        <img [imageZoom]="theImage" [src]="theImage" [style.width.px]="320" [style.height.px]="320" [lensWidth]="500" [lensHeight]="500">
    </div>
    <div class="thumbnail-container">
        <div class="thumbnail">
        <img [src]="image" *ngFor="let image of ProductImage" (click)="setimage(image)">
        </div>
    </div>
    <div style="border-right:1px solid #f1f1f1;">
    <h2 class="kekiridikit">{{ProductList.name}}</h2>
    <div class="gap-between-elements"></div>
    <sui-rating class="star" [ngModel]="3" [maximum]="5"></sui-rating>
    <span class="lcl">(64)</span><i class="write icon"></i>Tulis ulasan
    <div class="gap-between-elements"></div>
    <span>dijual oleh</span> : <span>belisada.co.id</span>
    <div class="gap-between-elements"></div>
    <!-- <table border = "1" *ngIf="ProductList.specialPrice !== 0; else login2">
        <tr>
            <td>Harga :</td>
            <td class="gets">Rp. {{ProductList.specialPrice | number}}
                <span class="borderni">{{popx | number:percent}}% Off </span>Hemat: {{kamp | number:'3.2-5'}}</td>
        </tr>
    </table>
    <ng-template #login2>
           <table border="1">

           </table>
            </ng-template> -->
            <div *ngIf="ProductList.specialPrice !== 0; else login2">
                <span class="pls">Harga:</span><span class="gets">Rp. {{ProductList.specialPrice | number}}</span>  <span class="borderni">{{popx | number:percent}}% Off</span>
                <span>Hemat: {{kamp | number:'3.2-5'}}</span>
            </div>
            <ng-template #login2>
                <span class="pls">Harga:</span><span class="gets">Rp. {{ProductList.pricelist | number}}</span>
            </ng-template>
    <!-- <span class="pls">Harga:</span><span class="gets">Rp. {{ProductList.specialPrice | number}}</span>  <span class="borderni">{{popx | number:percent}}% Off</span>
    <span>Hemat: {{kamp | number:'3.2-5'}}</span> -->
    <div class="gap-between-elements"></div>
   <div *ngIf="ProductList.specialPrice !== 0; else login1">
    <span class="pls1">Harga Awal :</span><s><span>Rp</span>{{ProductList.pricelist | number}}</s>
    </div>
    <ng-template #login1>
    </ng-template>
    <div class="gap-between-elements"></div>
    <span class="pls2"> Stok: </span> <span class="stok">Tersedia</span>
    <!-- <div class="gap-between-elements"></div> -->
    <table border="0">
        <tr>
            <td class="xo"></td>
            <td>Belanja online murah, gratis pengiriman area Jakarta*
                Pilih barang dengan layanan Untuk pengiriman Pasti 2 hari
                <img src="https://myacico.co.id/images/general/asap.png" class="ui middle aligned tiny image">

            </td>
            <!-- <td></td> -->
        </tr>
    </table>
    <div class="gap-between-elements"></div>
    <table>
        <tr>
            <td class="xo">Warna:</td>
            <td><div class="warna"></div><div class="warna3"></div><div class="warna4"></div></td>
        </tr>
    </table>
    <div class="gap-between-elements"></div>
    <table *ngIf="ProductList.productId === 1059972; else login4">
        <tr>
            <td class="xo">Kapasitas :</td>
            <td class="borderni2">128GB</td>
            <td class="borderni2">256GB</td>
        </tr>
        <ng-template #login4>
            </ng-template>
    </table>

    <div class="gap-between-elements"></div>

        <!-- <tr>
            <td>Highlit</td>
            <td [innerHTML]="ProductList.highlight"></td>
        </tr> -->

    <div class="ui grid">
            <div class="three wide column">Highlight</div>
            <div class="four wide column"><p [innerHTML]="ProductList.highlight | sanitizeHtml"></p></div>
          </div>
          <div class="gap-between-elements3"></div>
          <table border=0>
              <tr>
                  <td class="xo"></td>
                  <td class="cio">Butuh Bantuan?</td>
              </tr>
              <tr>
                    <td class="xo"></td>
                    <td><i class="mail icon"></i> Hubungi Kami
                    </td>
              </tr>
              <tr>
                  <td class="xo"></td>
                  <td> <i class="comment outline icon mail"></i>
                    Live Chat
                </td>
              </tr>
              <tr>
                  <td class="xo"></td>
                  <td><i class="volume control phone icon mail"></i>
                    Layanan Pelanggan
                </td>
              </tr>
          </table>




    </div>

    <div>
            <button type="submit" style="border: 0; background: transparent" class="poi" (click)="addProductToCart(ProductList.productId, quantity)">
                    <img src="/assets/img/test3.jpg" width="300px" height="50" alt="submit" />
                </button>

            <!-- <button class="ui youtube button gap-between-elements btnColor"  style="margin-left:40px; background:#F7982D">
                    <i class="shop icon"></i>
                    <strong>Beli Sekarang</strong>
                  </button> -->
          <div class="gap-between-elements"></div>
          <div class="content favorit gap-between-elements">
                <button type="submit" style="border: 0; background: transparent" class="poi">
                        <img src="/assets/img/zzzzz.jpg" width="200px" height="auto" alt="submit" />
                    </button>
           </div>
           <div class="gap-between-elements4"></div>
           <span><strong>Kebijakan</strong></span>
           <div class="gap-between-elements"></div>
           <span><strong>Pengembalian : </strong></span> <span>jika barang yang dikirim mengalami kerusakan atau tidak sesuai deskripsi, Anda dapat mengembalikan barang tersebut kepada kami dalam jangka waktu 7 hari</span>
           <div class="gap-between-elements"></div>
           <strong>Pembayaraan</strong>
                <img src="https://dev.myacico.co.id/images/general/ico_bank_03.png" width="35" class="ui middle aligned mini image">
                <img src="https://dev.myacico.co.id/images/general/p-visa-small.jpg" width="35" class="ui middle aligned mini image">
                <img src="https://dev.myacico.co.id/images/general/ico_bank_02.png" width="35" class="ui middle aligned mini image">
                <img src="https://dev.myacico.co.id/images/general/ico_bank_04.png" width="35" class="ui middle aligned mini image">
            <div class="gap-between-elements"></div>
            <strong>Garansi : </strong><span>1 Tahun Garansi</span>
            <div class="gap-between-elements"></div>
            <strong>Jumlah : </strong>
            <sui-select placeholder="Jumlah" [(ngModel)]="quantity">
                <sui-select-option value="1"></sui-select-option>
                <sui-select-option value="2"></sui-select-option>
                <sui-select-option value="3"></sui-select-option>
                <sui-select-option value="4"></sui-select-option>
            </sui-select>
            <div class="gap-between-elements"></div>
            <span class="pz">Jasa Pengiriman</span>
            <div class="gap-between-elements"></div>
            <table border=0>
                <tr>
                    <td><img src="https://dev.myacico.co.id/images/general/s-myacicocourier.jpg"></td>
                    <td>Gratis pengiriman* untuk wilayah jakarta dan jaminan pengiriman dalam 2 hari</td>
                </tr>
                <tr>
                    <td>
                      <img src="https://dev.myacico.co.id/images/general/s-ninjaxpress.jpg">
                    </td>
                    <td>Jaminan pengiriman dalam 3 hari</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="https://dev.myacico.co.id/images/general/s-jne.jpg">
                    </td>
                    <td>Jaminan pengiriman dalam 2-5 hari</td>
                  </tr>


            </table>

    </div>
  </div>
  <div class="gap-between-elements"></div>
  <div class="wrapper3">
    <div>
        <strong>{{ otherStore }} Penawaran Lainnya </strong>
        <hr>
    </div>
      <div class="wraper4" *ngFor="let list of storeList">
          <div>
             <strong>Harga Produk</strong>
              <div class="gap-between-elements"></div>
                  <span class="gets">Rp. 123</span>

          </div>
          <div>
            <strong>Lokasi Penjual</strong>
              <div class="gap-between-elements"></div>
              <span>Jakarta Pusat</span>
          </div>
          <div>
              <strong>Layanan Produk</strong>
              <div class="gap-between-elements"></div>
              <span>Garansi 1 Tahun</span>
          </div>
          <div>
              <strong>Rating Penjual</strong>
              <div class="gap-between-elements"></div>
              <sui-rating class="star" [ngModel]="5" [maximum]="5"></sui-rating>

          </div>
          <div>
              <strong>Dijual Oleh</strong>
              <div class="gap-between-elements"></div>
              <span class="xx">Pondok Kacang KPP</span>

          </div>
          <div>

          </div>

      </div>
  </div>
  <sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1">Deskripsi</a>
        <a class="item" suiTabHeader="2">Spesifikasi</a>
        <a class="item" suiTabHeader="3">Ulasan</a>
        <a class="item" suiTabHeader="4">Pertanyaan</a>
    </div>
    <div class="ui bottom attached segment" suiTabContent="1">
        <p [innerHTML]="ProductList.description | sanitizeHtml"></p>
    </div>
    <div class="ui bottom attached segment" suiTabContent="2">Spesifikasi Masih Belum Tersedia</div>
    <div class="ui bottom attached segment" suiTabContent="3">Belum ada Ulasan Untuk {{ProductList.name}}</div>
    <div class="ui bottom attached segment" suiTabContent="4">Belum ada Pertanyaan</div>
</sui-tabset>

