
<div class="ui grid container">
  <div class="six wide column">
    <div class="ui breadcrumb kamb">
        <div class="gap-top">
    <a class="section" (click)="home()">Home</a>
    <div class="divider"> / </div>
    <a routerLink="/category/{{ProductList.category2Id}}/{{ProductList.category2Name}}" class="section">{{ProductList.category2Name}}</a>
    <!-- <a class="section"></a> -->
    <div class="divider"> / </div>
    <div class="active section">{{ProductList.category3Name}}</div>
        </div>
  </div>
</div>
</div>
<div class="wrapper">

    <div align="right" class="okeNih">
        <div class="image-container">
            <!-- <img [imageZoom]="theImage" [src]="theImage" class="ui image detail-img" [style.width.px]="270" [style.height.px]="270" [lensWidth]="600" [lensHeight]="600"> -->
            <img [imageZoom]="theImage" [src]="theImage" class="detail-img" [lensWidth]="600" [lensHeight]="600">
        </div>

        <div class="thumbnail-container">
            <div class="thumbnail">
                <img  class="iniNone" [src]="image"  *ngFor="let image of ProductImage" (click)="setimage(image)">
            </div>
        </div>
    </div>

    <div style="border-right:1px solid #f1f1f1;">
    <h2 class="kekiridikit">{{ProductList.name}}</h2>
    <div class="gap-between-elements"></div>
    <sui-rating class="star gedein" [ngModel]="ProductList.rate" [maximum]="5" [isReadonly]="true"></sui-rating>
    <!-- <sui-rating [ngModel]="ProductList.rate" [maximum]="5" [isReadonly]="true"></sui-rating> -->
    <span class="lcl">({{ProductList.allRate}})</span><i class="write icon"></i><span translate>goods.detail.write</span>
    <div class="gap-between-elements"></div>
    <span translate>goods.detail.titlefive</span> : <span><b>{{storeName}}</b></span>
    <div class="gap-between-elements"></div>
    <!-- <table border = "1" *ngIf="ProductList.specialPrice !== 0; else login2">
        <tr>
            <td>Harga :</td>
            <td class="gets">Rp. {{ProductList.specialPrice | number}}
                <span class="borderni">{{popx | number:percent}}% Off </span>Hemat: {{kamp | number:'3.2-5'}}</td>
        </tr>
    </table>
    <ng-template #login2>
           <table border="1">

           </table>
            </ng-template> -->

    <table width="100%;">
        <tr *ngIf="ProductList.specialPrice !== 0" class="gap-between-elements">
            <td class="coll-1" translate>goods.detail.titleone</td>
            <!-- <td>:</td> -->
            <td>
                <span class="gets">Rp. {{ ProductList.specialPrice | number }}</span>
                <span class="borderni">{{ popx | number:percent }}% Off</span>
                <span>Hemat: {{ kamp | number:'3.2-5' }}</span>
            </td>
        </tr>
        <tr *ngIf="ProductList.specialPrice === 0" class="gap-between-elements">
            <td class="coll-1" translate>goods.detail.titleone</td>
            <!-- <td>:</td> -->
            <td>
                <span class="gets">Rp. {{ ProductList.pricelist | number }}</span>
            </td>
        </tr>
        <tr *ngIf="ProductList.specialPrice !== 0" class="gap-between-elements">
            <td class="coll-1">Harga Awal</td>
            <!-- <td>:</td> -->
            <td><s>Rp {{ ProductList.pricelist | number }}</s></td>
        </tr>
        <tr class="gap-between-elements">
            <td class="coll-1">Stok</td>
            <!-- <td>:</td> -->
            <td><span class="stok">{{ usedStock }}</span></td>
        </tr>
        <tr class="gap-between-elements">
            <td class="xo coll-1"></td>
            <!-- <td></td> -->
            <td *ngIf="asap && (ProductList.qtyOnHand > 0)">Belanja online murah, gratis pengiriman area Jakarta*
                Pilih barang dengan layanan Untuk pengiriman Pasti 2 hari
                <img src="https://myacico.co.id/images/general/asap.png" class="ui middle aligned tiny image" (click)="asap3()">

            </td>
        </tr>
        <tr class="gap-between-elements">
            <td class="coll-1">Kondisi Barang</td>
            <!-- <td>:</td> -->
            <td><span class="stok">{{ ProductList.condition }}</span></td>
        </tr>
        <tr class="gap-between-elements">
            <td class="coll-1" translate>goods.detail.color</td>
            <!-- <td>:</td> -->
            <td></td>
        </tr>
        <tr class="gap-between-elements">
            <td class="coll-1" translate>Highlight</td>
            <!-- <td>:</td> -->
            <td><p [innerHTML]="ProductList.highlight | sanitizeHtml"></p></td>
        </tr>
    </table>

          <div class="gap-between-elements3"></div>
          <table border=0>
              <tr>
                  <td class="xo"></td>
                  <td class="cio" translate>goods.detail.nhelp</td>
              </tr>
              <tr>
                    <td class="xo"></td>
                    <td>
                        <a routerLink="/contact-us" translate>
                            <i class="mail icon"></i> goods.detail.contact
                        </a>
                    </td>
              </tr>
              <tr>
                    <td class="xo"></td>
                    <td>
                        <a (click)="open_chat()">
                            <i class="comment outline icon mail"></i> Live Chat
                        </a>
                    </td>
              </tr>
              <tr>
                    <td class="xo"></td>
                    <td>
                        <a routerLink="/Customer-Care" translate>
                            <i class="volume control phone icon mail"></i> goods.detail.callcenter
                        </a>
                    </td>
              </tr>
          </table>




    </div>

    <div>
            <div *ngIf="ProductList.stock == 0; else login">
                <button type="submit" class="poi" [ngStyle]="{ cursor: ProductList.stock <= 0 ? 'no-drop' : 'pointer' }" style="margin-bottom: -8px;" (click)="addProductToCart(ProductList.productId, quantity, ProductList.mBpartnerStoreId)" [disabled]="ProductList.stock <= 0">
                    <img [ngClass]="{'greyscale' : ProductList.stock <= 0}" src="/assets/img/prodak_pagebelisada-04.png" width="300px" height="50" alt="submit" />
                </button>
            </div>
            <ng-template #login>
                    <button type="submit" class="poi" [ngStyle]="{ cursor: ProductList.stock <= 0 ? 'no-drop' : 'pointer' }" style="margin-bottom: -8px;" (click)="addProductToCart(ProductList.productId, quantity, ProductList.mBpartnerStoreId)" [disabled]="ProductList.stock <= 0">
                            <img [ngClass]="{'greyscale' : ProductList.stock <= 0}" src="/assets/img/test3.jpg" width="300px" height="50" alt="submit" />
                        </button>
            </ng-template>

          <div class="content favorit gap-between-elements">
                <button type="submit" style="border: 0; background: transparent;" class="poi" (click)="ininih(productId)" style="cursor: pointer;">
                        <img src="/assets/img/zzzzz.jpg" style="margin-left: 17px; margin-bottom: -15px;" width="200px" height="auto" alt="submit" />
                    </button>
           </div>

            <div class="gap-between-elements"></div>
            <strong translate>goods.detail.quantiti </strong>
            <sui-select class="selection" name="province" #jum [isSearchable]="true" [options]="arrStock" [optionTemplate]="optionTemplate" placeholder="Jumlah" [(ngModel)]="quantity">
                <sui-select-option [value]="q" *ngFor="let q of jum.filteredOptions"></sui-select-option>
            </sui-select>
            <div class="gap-between-elements"></div>
            <strong>Garansi : </strong><span>{{garansi}}</span>
           <div class="gap-between-elements"></div>
           <span><strong translate>goods.detail.return</strong></span>
           <div class="gap-between-elements"></div>
           <span><strong translate>goods.detail.title</strong></span> <span translate>goods.detail.returndet</span>
           <div class="gap-between-elements"></div>
           <strong translate>goods.detail.paymeth</strong>
                <img src="https://dev.myacico.co.id/images/general/ico_bank_03.png" width="35" class="ui middle aligned mini image">
                <img src="https://dev.myacico.co.id/images/general/p-visa-small.jpg" width="35" class="ui middle aligned mini image">
                <img src="https://dev.myacico.co.id/images/general/ico_bank_02.png" width="35" class="ui middle aligned mini image">
                <img src="https://dev.myacico.co.id/images/general/ico_bank_04.png" width="35" class="ui middle aligned mini image">
            <div class="gap-between-elements"></div>
            <!-- <strong>Garansi : </strong><span>{{garansi}}</span>
            <div class="gap-between-elements"></div>
            <strong>Jumlah : </strong>
            <sui-select class="selection" placeholder="Jumlah" [(ngModel)]="quantity">
                <sui-select-option [value]="q" *ngFor="let q of arrStock"></sui-select-option>
            </sui-select> -->
            <div class="gap-between-elements"></div>
            <span class="pz" translate>goods.detail.titlecourier</span>
            <div class="gap-between-elements"></div>
            <table border=0 style="margin-top: -13px">
                <!-- <tr>
                    <td><img src="https://dev.myacico.co.id/images/general/s-myacicocourier.jpg"></td>
                    <td>Gratis pengiriman* untuk wilayah jakarta dan jaminan pengiriman dalam 2 hari</td>
                </tr> -->
                <tr>
                    <td>
                      <img src="https://dev.myacico.co.id/images/general/s-ninjaxpress.jpg">
                    </td>
                    <td translate>goods.detail.jnecur</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="https://dev.myacico.co.id/images/general/s-jne.jpg">
                    </td>
                    <td translate>goods.detail.ninjacur</td>
                  </tr>


            </table>

    </div>
  </div>
  <div class="gap-between-elements"></div>
  <div class="wrapper3">
    <div>
        <strong *ngIf="ProductList.isOffers === 'Y'">{{ otherStore }} Penawaran Lainnya</strong>
        <strong *ngIf="ProductList.isOffers === 'N'">Tidak ada Penawaran Lainnya</strong>
        <hr>
    </div>
        <div *ngIf="ProductList.isOffers === 'Y'">
                <table class="ui ten wide column  table">
                        <thead>
                            <tr>
                                <!-- <th>Produk</th> -->
                                <th>Informasi Penjual</th>
                                <th>Harga + Pengiriman</th>
                                <th>Condition</th>
                                <!-- <th>Delivery</th> -->

                                <th>Opsi Pembelian</th>
                            </tr>
                        </thead>
                    <tbody *ngFor="let product of storeList ; let i = index">
                            <tr>
                                <td *ngIf="product.storeName === ''">
                                        Belisada
                                    </td>
                                <td *ngIf="product.storeName !== ''">
                                        {{product.storeName}}
                                    </td>
                                <td>
                                    <span class="price">Rp. {{product.pricelist | number}}</span>
                                    <img *ngIf="product.isAsapShipping === 'Y'" class="asap-logo" src="assets/img/asap_big.png" alt=""><br>
                                    <span *ngIf="product.isAsapShipping === 'Y'">& GRATIS Pengiriman</span>
                                </td>
                                <td>{{ product.condition }}</td>
                                <!-- <td></td> -->


                                <td>
                                    <button *ngIf="product.stock <= 0" type="submit" class="poi" [ngStyle]="{ cursor: product.stock <= 0 ? 'no-drop' : 'pointer' }" style="margin-bottom: -8px;" (click)="addProductToCart(product.productId, 1, product.mBpartnerStoreId)" [disabled]="product.stock <= 0">
                                        <img [ngClass]="{'greyscale' : product.stock <= 0}" src="/assets/img/prodak_pagebelisada-04.png" width="300px" height="50" alt="submit" />
                                    </button>

                                    <button *ngIf="product.stock >= 0" type="submit" class="poi" [ngStyle]="{ cursor: product.stock <= 0 ? 'no-drop' : 'pointer' }" style="margin-bottom: -8px;" (click)="addProductToCart(product.productId, 1, product.mBpartnerStoreId)" [disabled]="product.stock <= 0">
                                        <img [ngClass]="{'greyscale' : product.stock <= 0}" src="/assets/img/test3.jpg" width="300px" height="50" alt="submit" />
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>

  <sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1">Deskripsi</a>
        <a class="item" suiTabHeader="2">Spesifikasi</a>
        <a class="item" suiTabHeader="3">Ulasan</a>
        <a class="item" suiTabHeader="4">Pertanyaan</a>
    </div>
    <div class="ui bottom attached segment" suiTabContent="1">
        <p style=" max-width: 1000px; overflow:hidden;" [innerHTML]="ProductList.description | sanitizeHtml"></p>
    </div>
    <div class="ui bottom attached segment" suiTabContent="2">
        <span *ngIf="specs === 0">Spesifikasi Masih Belum Tersedia</span>
        <li *ngFor="let item of ProductList.specification">{{item.attribute}} : {{item.value}}</li>
    </div>
    <div class="ui bottom attached segment" suiTabContent="3">
            <div class="wrapperyu">
                    <div class="jamu" *ngFor="let itex of uli">
                        <div class="kkalo">
                            <div class="ui labeled button lpp" tabindex="0">
                                <div class="ui red button lpp">
                                  <i class="heart icon"></i>
                                  {{itex.name}}
                                </div>
                                <div class="ui basic red left pointing label">
                                 Pembeli
                                </div>

                              </div><br/>
                              <div>
                                  {{itex.title}}
                              </div>
                              <p>Tanggal Pembelian : {{itex.created}}</p>
                              <sui-rating class="star" [ngModel]="itex.star" [maximum]="5" [isReadonly]="true"></sui-rating>
                        </div>
                    </div>
                  </div>
    </div>
    <div class="ui bottom attached segment" suiTabContent="4">Belum ada Pertanyaan</div>
</sui-tabset>

