.gap-top{
    margin-top: 20px;
}
.gap-top1{
    margin-top: 32px;
}
.price{
    color: red;
    font-size: 16px;
}
.stok{
    color: green;
    font: 20;
}
.kekiridikit{
    width: 550px;
}
.jualNich{
    width: 300px;
    color : red;
}
.warna{

    width: 22px;
    background:black;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.warna3{

    width: 22px;
    background:white;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.warna4{

    width: 22px;
    background:red;
    height: 23px;
    float: left;
    margin-right: 3px;
}
.xo {
    width: 90px;
}
.pls{
    margin-right: 55px;
}
.pls1 {
    margin-right: 20px;
}
.pls2 {
    margin-right: 62px;
}
.borderni{
    border: 1px solid red;
    width: 60px;
    color: black;
}
.gap-between-elements3 {
    margin-bottom: 5em!important;
}
.gap-between-elements4 {
    margin-bottom: 3em!important;
}
.pz {
    margin-left: 100px;
}
.cio {
    border-bottom: 1px solid;
}
.borderni2{
    border: 1px solid black;
    width: 49px;
    color: black;
}
.wrapper{
    display:grid;
    grid-template-columns: 20% 43% 26%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wrapper3{
    display:grid;
    grid-template-columns: 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .wraper4{
    display:grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
    grid-gap:1em;
  }
  .poi {
      cursor: pointer;

  }
  .xx {
      color:#18B9D0;
      font-weight: bold;
  }
  .gets {
      color:#EF3136;
      font-weight: bold;
      font-size: 26px;
  }
  .lcl {
      padding-right: 19px;
  }
  .lp{
      color : red;
      font-size: 24px;
  }

  .wrapper > div{
    // background:#eee;
    padding:1em;
  }
  .wraper4 > div{
    // background:#eee;
    padding:1em;
  }
  .wraper4 > div:nth-child(odd){
    // background:#fff;
  }
  .wrapper > div:nth-child(odd){
    // background:#fff;
  }
  .wrapper3 > div{
    // background:#eee;
    padding:1em;
  }
  .wrapper3 > div:nth-child(odd){
    // background:#fff;
  }
.item{
    color: black;
}
h1{
    min-height: 200px;
    background-color: #ccc;
    text-align: center;
    line-height: 200px;
  }
  .leftRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      left: 0;
  }

  .rightRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      right: 0;
  }

.border-kanan{
    // border: 1px solid !important;
    width: 25px;
    height: 50px;
    background: red;
}
.bumbu{
    color:#81D7F7;
    font-weight: bold;
    font-size: 15px;
}
.favorit{
    color: black;
    margin-left:30px;
}
.favoritext{
    color: black;
}
.btnColor{
    margin-left:40px; background:#F7982D
}
.btnColor3{
     background:#F7982D;
    //  width: 154px;
}
.jasa{
    // color:red;
    font-size: 17px;
}
.mail{
    color: #c81423;
}
.mail1{
    // color: #c81423;
    padding-right: 30px;
}
.bawah{
    // color:red;
    border-bottom: 1px solid red;
    font-weight: bold;
}
.mu{
    width: 359px;
    color: black
}
.thumbnail-container{
    width: 300px;
    height: auto;
    position: absolute;
    margin-top: 320px;
    margin-left: 80px;
}
.thumbnail{


}
.thumbnail img{
    width: 70px;
    height: auto;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-left: 5px;
}
.mainImage {
    // width: 300px;
    // height: 300px;
    // text-align: right;
    // margin-left: 150px;
    // margin-top: 20px;
}

