<div *ngIf="isLoading==true">
    <div class="load-wrapp">
        <div class="load-4">
            <p>Loading...</p>
            <div class="ring-1"></div>
        </div>
    </div>
</div>

<div *ngIf="isEmpty==true">
    Saat ini belum ada pesanan.
</div>

<div class="os-body" *ngFor="let item of list">
        <div class="row row-atur">
                <div class="store-name col-4 left">
                    <a [routerLink]="['/'+item.storeUrl]">
                        {{ item.storeName }}
                    </a>  
                </div>
                <div class="col-4 center">
                    <a class="btn-invoice" target="_blank" [routerLink]="['/invoice/' + item.orderNumber]"><u>Lihat Invoice</u></a>
                </div>
                <div class="col-4 right">
                    <span class="order-status">{{ item.statusOrder }}</span><br>
                    <span *ngIf="item.statusOrderCode === '157' && item.statusOrderCode !== '180'" (click)="showDialogKonfirm = !showDialogKonfirm" (click)="alertConfirmation(item.orderNumber)" class="btn-konfirm">Konfirmasi Barang</span>
                </div>
        </div>
        <div class="row" [ngClass]="{'itemCartScroll': item.cartItems.length>=2}">
            <div class="itemCart" *ngFor="let itemListProduct of item.cartItems">
                <div class="img-item">
                    <a [routerLink]="['/product/product-detail/' + itemListProduct.productId + '/' + encodeUrl(itemListProduct.name)]">
                        <img src="{{itemListProduct.imageUrl}}" border="0">
                    </a>
                </div>
                <div> 
                    <div class ="name">
                        <a [routerLink]="['/product/product-detail/' + itemListProduct.productId + '/' + encodeUrl(itemListProduct.name)]">
                            {{itemListProduct.name}}
                        </a>
                    </div>
                    <div class="varian">
                        Varian<br>
                        <span *ngFor="let varian of itemListProduct.varians; let i = index">
                            {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                        </span><br><br>
                        x{{ itemListProduct.quantity }}
                    </div>
                </div>
                <div>
                    <span *ngIf="itemListProduct.specialPrice > 0" class="item-price">{{itemListProduct.specialPrice | currency:'Rp ':'symbol':'1.0'}}</span>
                    <span *ngIf="itemListProduct.specialPrice <= 0" class="item-price">{{itemListProduct.priceList | currency:'Rp ':'symbol':'1.0'}}</span>
                </div>
                <div>
                    <!-- <span class="warranty"  (click)="alertWarranty(item)">Cek Info Garansi</span> -->
                    <!-- <span class="warranty">Cek Info Garansi</span> -->
                    <span *ngIf="item.statusOrderCode === '180' && item.statusOrderCode !== '181'" (click)="alertReview(item.paymentNumber, itemListProduct)" class="btn-review">Nilai Produk</span>
                </div>
            </div>
                
        </div>
    <div class="row bottom" *ngIf="item.statusOrderCode === '180'">
            <!-- <div class="time col-4" *ngIf="item.countdown">
                Batas Waktu Respon:
                <ng-container *ngIf="item.countdown.status === 1; else expired">
                    {{ item.countdown.days }}d - {{ item.countdown.hours }}h - {{ item.countdown.minutes }}m - {{ item.countdown.seconds }}s
                </ng-container>
                <ng-template #expired>
                    {{ item.countdown.message }}
                </ng-template>
            </div> -->
            <div class="limit-date col-4">
                Nilai Produk sebelum tanggal
                <span class="date">
                    {{ item.expiredConfirmationPaymentBuyerDate.split(' ')[0].split('-')[2] }}-{{ item.expiredConfirmationPaymentBuyerDate.split(' ')[0].split('-')[1] }}-{{ item.expiredConfirmationPaymentBuyerDate.split(' ')[0].split('-')[0] }}
                </span>
            </div>
            <div  class="col-4 left">
                Total Pesanan:
                <span class="tot">
                    Rp {{ item.subTotal - item.courierPrice - item.asuransi | number}}
                </span>
            </div>
            <div class="col-4 right">
                <span class="product-qty">
                    <!-- Lihat {{ item.cartItems.length }} produk lainnya  -->
                </span>
                <span class="product-detail">
                        <span (click)="openOS(item)" class="btn-detail">Lihat Detail</span>
                </span>
            </div>
    </div>
    <div class="row bottom" *ngIf="item.statusOrderCode !== '180'">
            <div  class="col-6 left">
                Total Pesanan:
                <span class="tot">
                    Rp {{ item.subTotal - item.courierPrice - item.asuransi | number}}
                </span>
            </div>
            <div class="col-6 right">
                <span class="product-qty">
                    <!-- Lihat {{ item.cartItems.length }} produk lainnya  -->
                </span>
                <span class="product-detail">
                        <span (click)="openOS(item)" class="btn-detail">Lihat Detail</span>
                </span>
            </div>
    </div>
</div> 
  <!-- <div *ngIf="openDetail==true && transactionId==item.transactionId" class="os-body">

    <table border="0" width="100%" *ngFor="let itemCart of item.transaction">
      <tr *ngFor="let itemList of itemCart.cart">
        <td valign="top" width="20%">
            <span class="order-id">ORDER ID: {{itemList.orderNumber}}</span>
            <table border="0" width="100%">
                <tr *ngFor="let itemListProduct of itemList.cartItems">
                <td valign="top" width="40%">
                    <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
                </td>
                <td valign="top" width="60%">
                    <div class="item-colom">{{itemListProduct.name}} x{{ itemListProduct.quantity }} <br>Produk ID: {{itemListProduct.productId}} <br>
                        Varian:<br>
                        <span *ngFor="let varian of itemListProduct.varians; let i = index">
                        {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                        </span>
                    </div>
                    <div class="item-colom">Rp.{{itemListProduct.subtotal | number}}</div>

                </td>
                </tr>
            </table>
            
            </td>
            <td valign="top" width="35%">
            <div class="item-colom-border">
                <div class="row">
                <div class="col-6">
                    Nama Penerima: <br><label>{{itemList.namaPenerima}}</label>
                </div>
                <div class="col-6">
                    No Handphone: <br><label>{{itemList.phonePenerima}}</label>
                </div>
                </div>

                Alamat: {{itemList.alamatSebagai}}<br><label>{{ itemList.alamatPenerima }}</label>
            </div>
            </td>
            <td valign="top" width="22%">
            <div class="item-colom">
                <div class="row">
                <div class="col-12">
                    No Resi: <label>{{itemList.noResi}} ({{itemList.courierName}} {{itemList.courierService}})</label>
                </div>
                <div class="col-12">
                    Status: <label>{{itemList.statusOrder}}</label>
                </div>
                <div class="col-12">
                    Total Berat: <label>{{itemList.totalWeight/1000}}kg</label>
                </div>
                <div class="col-12">
                    Biaya Pengiriman: <label>Rp.{{itemList.courierPrice | number}}</label>
                </div>
                </div>
            </div>
            </td>
            <td width="33%">
            INI KOMEN {{itemListProduct.itemCartId}} - {{itemList.orderNumber}} 
            <span (click)="showDialogKonfirm = !showDialogKonfirm" (click)="alertConfirmation(itemList.orderNumber)" class="btn-konfirm">Konfirmasi Barang</span> KOMEN SAMPE SINI
            <span *ngIf="itemList.statusOrderCode === '157' && itemList.statusOrderCode !== '181'" (click)="showDialogKonfirm = !showDialogKonfirm" (click)="alertConfirmation(itemList.orderNumber)" class="btn-konfirm">Konfirmasi Barang</span>
            <span *ngIf="itemList.statusOrderCode === '181'" (click)="showDialogReview = !showDialogReview" (click)="alertReview(itemList.orderNumber)" class="btn-review">Nilai Produk</span> 
            <a class="btn-invoice" target="_blank" [routerLink]="['/invoice/' + itemList.orderNumber]"><u>Lihat Invoice</u></a>
            </td>
        </tr>
        </table>
    </div> -->

<div class="paging" *ngIf="proddetail.totalElements != 0">
	<ul>
		<li>
			<a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
		</li>
		<li *ngFor="let p of pages">
			<a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
		</li>
		<li>
			<a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
		</li>
	</ul>
</div>


<app-models [(visible)]="showDialog" class="frameDialog">
    <div class="modal-body">

        <div *ngIf="isForm==true">

        <div class="title-modal">Upload Bukti Transfer Anda</div>

        <div class="image">
            <img src="{{imgBuktiTransfer}}" alt="Profile Picture" class="img-avatar" (load)="setCanvas($event,'imgBuktiTransfer')" #avaImg />
        </div>

        <div class="upload-btn-wrapper" *ngIf="isPilih == true">
            <div class="btn-konfirm">Pilih Bukti Transfer</div>
            <input type="file" name="myfile" (change)="setUrl($event, avaImg)"/>
        </div>
        <div class="btn-upload" *ngIf="isSent == true" (click)="uploadBuktiTransfer()">Klik disini untuk unggah bukti transfer</div>

        </div>
        <div *ngIf="regSuccess==true" class="isSuccess">
            <div class="title-modal">Upload Bukti Transfer Berhasil</div>
            <div class="text-success">berhasil.</div>
        </div>
    </div>
</app-models>

<app-models [(visible)]="showDialogRek" class="frameDialog" *ngFor="let item of list">
    <div class="row modal-body">
        <div class="col list-metode" *ngFor="let item of listPayment">
        <div>
            <div class="img-pay"><img src="{{ item.imageUrl }}" class="img-icon"></div>
            {{ item.accountNumber }}<br>A.N.<br>{{ item.accountName }}
        </div>
        </div>
    </div>
</app-models>

<app-models [(visible)]="showDialogDetail" maxwidth="600" class="frameDialog">
    <div class="modal-body">
        <div class="detail-body" >
            <div class="row row-atur">
                <div class="store-name col-8 left">
                    <a [routerLink]="['/'+transactionDetail.storeUrl]" (click)="backToOrderDetail()">
                        {{ transactionDetail.storeName }}
                    </a>
                </div>
                <div class="total-qty col-4 right">Total {{ transactionDetail.totalQty }} Item</div>
            </div>
            <div class="row row-atur" >
                <table width="100%" *ngFor="let cartItem of transactionDetail.cartItems">
                    <tr>
                        <td width="25%">
                            <div class="img-item">
                                <a [routerLink]="['/product/product-detail/' + cartItem.productId + '/' + encodeUrl(cartItem.name)]">
                                    <img src="{{cartItem.imageUrl}}" (click)="backToOrderDetail()">
                                </a>
                            </div>
                        </td>
                        <td width="40%">
                            <div class="item-colom"> 
                                <div class ="name">
                                    <a [routerLink]="['/product/product-detail/' + cartItem.productId + '/' + encodeUrl(cartItem.name)]">
                                        {{cartItem.name}}
                                    </a>
                                </div>
                                <div class="varian">
                                    Varian<br>
                                    <span *ngFor="let varian of cartItem.varians; let i = index">
                                        {{varian.varians[0].value}} {{ (i === cartItem.varians.length - 1) ? '' : ' - ' }}
                                    </span><br><br>
                                    x{{ cartItem.quantity }}
                                </div>
                            </div>
                        </td>
                        <td class="center" width="35%">
                            <span *ngIf="cartItem.specialPrice > 0" class="item-price">{{cartItem.specialPrice | currency:'Rp ':'symbol':'1.0'}}</span>
                            <span *ngIf="cartItem.specialPrice <= 0" class="item-price">{{cartItem.priceList | currency:'Rp ':'symbol':'1.0'}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="detail-total" width="100%">
            <tr>
            <td>
                Subtotal produk: &nbsp;
            </td>
            <td >
                {{ (transactionDetail.subTotal - transactionDetail.courierPrice - transactionDetail.asuransi)  | currency:'Rp ':'symbol':'1.0'}}
            </td>
            </tr>
            <tr>
                <td>
                    Asuransi: &nbsp; <b><span *ngIf="transactionDetail.useAsuransi === false">TIDAK</span> <span *ngIf="transactionDetail.useAsuransi === true">YA</span></b>
                </td>
                <td>
                    <span *ngIf="transactionDetail.useAsuransi === false">0</span> <span *ngIf="transactionDetail.useAsuransi === true">{{ transactionDetail.asuransi | currency:'Rp ':'symbol':'1.0' }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Biaya Pengiriman: &nbsp; <b>{{ transactionDetail.courierName }} - {{ transactionDetail.courierService }}</b>
                </td>
                <td>
                    {{ transactionDetail.courierPrice | currency:'Rp ':'symbol':'1.0' }}
                </td>
            </tr>
            <tr class="bold">
                <td>
                    Total Pesanan &nbsp; 
                </td>
                <td class="total">
                    <b>{{ transactionDetail.subTotal | currency:'Rp ':'symbol':'1.0'}}</b>
                </td>
            </tr>
        </table>
        <div class="row delivery-detail">
            <div class="fluid">
                <div class="pull-left">Penerima</div>
                <div class="pull-right">{{ transactionDetail.courierName }} - {{ transactionDetail.courierService }} &nbsp; | &nbsp; Resi: -{{ transactionDetail.noResi }}-</div>
            </div>
            <div>
                {{ transactionDetail.namaPenerima }},&nbsp;{{ transactionDetail.phonePenerima }}
            </div>
            <div class="address">
                {{ transactionDetail.alamatPenerima}}
            </div>
        </div>

        <div class="delivery-tolak" *ngIf="transactionDetail.reasonOrderRejected">
            Keterangan Tolak: {{ transactionDetail.reasonOrderRejected}}
        </div>
        <button class="btn-kembali" (click)="backToOrderDetail()">Kembali</button>
    </div>
</app-models>

<app-models [(visible)]="showDialogKonfirm" maxwidth="600" class="frameDialog">
    <div class="model-head">KONFIRMASI PENERIMAAN BARANG</div>
    <div class="modal-body">
        <b>Apakah anda sudah menerima pesanan anda?</b><br>
        - Klik Selesai untuk menyelesaikan transaksi anda dan Dana akan diteruskan kepada Seller<br>
        - Klik Komplain jika barang yang anda terima tidak sesuai (Kurang/ Rusak/ Lain-lain)
    </div>
    <div class="modal-footer">

        <span class="btn-komplain-confirm" (click)="complaint(orderNumber)">Komplain</span>

        <span class="btn-selesai-confirm" (click)="receiptConfirmation(orderNumber)">Selesai</span>

    </div>
</app-models>

<app-models [(visible)]="showDialogReview" class="frameDialog">
    <div class="model-head">Nilai Produk Ini</div>
    <table border="0" width="100%" >
        <tr>
            <td valign="top" width="20%">
                <div class="img-item"><img src="{{product.imageUrl}}" border="0"></div>
            </td>
            <td valign="top" width="30%">
                <div class="item-colom detail">
                    <div class="name">{{product.name}} </div>
                    <div class="varian">
                        Varian<br>
                        <span *ngFor="let varian of product.varians; let i = index">
                            {{varian.varians[0].value}} {{ (i === product.varians.length - 1) ? '' : ' - ' }}
                        </span>
                    </div>
                </div>
            </td>
            <td valign="top" width="50%">
                <div class="item-colom">
                    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(product.productId)">
                        <div class="rating">
                            <rating-input formControlName="star"></rating-input>
                        </div><br>
                        <textarea formControlName="message" class="review" cols="40" rows="6" placeholder="Beritahu orang lain tentang produk ini"></textarea><br>
                        <div class="button">
                            <span class="btn-back" (click)="backToOrderReview()">Nanti Saja</span>
                            <button class="btn-submit-review" type="submit">OK</button>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</app-models>

<!-- <app-models [(visible)]="showDialogWarranty" class="frameDialog">
    <div class="model-head"></div>
    <table border="0" width="100%" >
        <tr>
            <td valign="top" width="20%">
                <div class="img-item"><img src="{{product.imageUrl}}" border="0"></div>
            </td>
            <td valign="top" width="30%">
                <div class="item-colom detail" *ngFor="let cartItem of transactionDetail.cartItems">
                    <div class="name">{{cartItem.name}} </div>
                    <div class="varian">
                        <span *ngFor="let varian of product.varians; let i = index">
                            Color - Memory / Internal Storage: <br> {{varian.varians[0].value}} {{ (i === product.varians.length - 1) ? '' : ' - ' }}
                        </span>
                        <span>
                            Dijual Oleh: {{ transactionDetail.storeName }} 
                        </span>
                        <span>
                            Jumlah: {{ transactionDetail.storeName }} &nbsp; unit
                        </span>
                    </div>
                </div>
            </td>
            <td valign="top" width="50%">
                <div class="item-colom">
                    <div class="nfo-garansi">Info Garansi</div>
                    <table class="rating" border="1">
                        <tr>
                            <th></th>
                            <th>IMEI/SN</th>
                            <th>Tipe Garansi</th>
                            <th>Lama Garansi</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{cartItem.sn}}</td>
                            <td>{{cartItem.guaranteeType}}</td>
                            <td>{{cartItem.guaranteeTime}}</td>
                        </tr>
                        <tr>
                            <td &#x2610;></td>
                            <td>189716361</td>
                            <td>Distributor</td>
                            <td>1 Tahun</td>
                        </tr>
                        <tr>
                            <td &#x2610;></td>
                            <td>189716361</td>
                            <td>Distributor</td>
                            <td>1 Tahun</td>
                        </tr>
                        <tr>
                            <td &#x2610;></td>
                            <td>189716361</td>
                            <td>Distributor</td>
                            <td>1 Tahun</td>
                        </tr>
                        <tr>
                            <td &#x2610;></td>
                            <td>189716361</td>
                            <td>Distributor</td>
                            <td>1 Tahun</td>
                        </tr>
                    </table><br>
                    <div class="button">
                        <span class="btn-back" (click)="backToOrder()">Tutup</span>
                        <button class="btn-submit-review" type="submit">Extend Warranty</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</app-models> -->