<div class="heading-top">
    <div class="heading-top-left style1">
        <div class="heading-top-left style2">
            <div class="heading-top-left style3">
                <span class="page-title">Step Shopping at belisada.co.id</span>
            </div>
        </div>
    </div>

    <div class="small-shape"></div>

    <div class="bar-header">
        <img class="icon-heading" src="/assets/img/cara-berbelanja/cara-berbelanja2.png" alt="">
    </div>
</div>


<div class="content-wrapper">
    <div class="content-img">
        <img class="ui image" src="/assets/img/cara-berbelanja/cara-berbelanja-cap1-min.png" />
    </div>

    <div class="content-ol">
        <span class="circled-number">1</span>
    </div>

    <div class="content-desc">
        <h3>Pilih barang yang anda inginkan</h3>
        <div class="gap-between-elements"></div>
        <span>
            Setelah anda masuk ke halaman www.belisada.co.id anda dapat memilih barang yang anda inginkan
            dengan memilih kategori yang tersedia atau langsung mengetikkan nama barang yang anda inginkan di kolom pencarian
        </span>
    </div>


    <div class="content-img">
        <img class="ui image" src="/assets/img/cara-berbelanja/cara-berbelanja-cap2-min.png" />
    </div>

    <div class="content-ol">
        <span class="circled-number">2</span>
    </div>

    <div class="content-desc">
        <h3>Masukkan ke keranjang belanja</h3>
        <div class="gap-between-elements"></div>
        <span>
            Setelah anda mendapatkan barang yang anda cari, anda dapat
            memasukan ke dalam keranjang belanja dengan cara mengklik
            tombol tambah ke keranjang/add to cart. Kemudian anda bisa
            melakukan pencarian barang atau langsung beralih pada menu
            berikutnya.
        </span>
    </div>



    <div class="content-img">
        <img class="ui image" src="/assets/img/cara-berbelanja/cara-berbelanja-cap3-min.png" />
    </div>

    <div class="content-ol">
        <span class="circled-number">3</span>
    </div>

    <div class="content-desc">
        <h3>Periksa Barang di cart dan Tujuan Pengiriman Barang</h3>
        <div class="gap-between-elements"></div>
        <span>
            Sebelum anda beralih pada menu pembayaran, lihat kembali
            barang yang sudah anda masukkan ke keranjang beserta alamat
            yang telah anda masukkan dan ekspedisi pengiriman (ASAP,
            Ninja Express, JNE). Pastikan data tersebut valid agar barang yang
            anda pesan sampai tepat di tujuan.
        </span>
    </div>



    <div class="content-img">
        <img class="ui image" src="/assets/img/cara-berbelanja/cara-berbelanja-cap4-min.png" />
    </div>

    <div class="content-ol">
        <span class="circled-number">4</span>
    </div>

    <div class="content-desc">
        <h3>Pembayaran dengan Berbagai Metode</h3>
        <div class="gap-between-elements"></div>
        <span>
            Setelah proses pemeriksaan selesai, anda dapat melakukan
            pemabayaran dengan berbagai metode pembayaran yang
            tersedia. Belisada menyediakan 3 jenis pembayaran yaitu Transfer
            Manual, Transfer Online dan Kartu Kredit.
        </span>
    </div>


    <div class="content-img">
        <img class="ui image" src="/assets/img/cara-berbelanja/cara-berbelanja-cap5-min.png" />
    </div>

    <div class="content-ol">
        <span class="circled-number">5</span>
    </div>

    <div class="content-desc">
        <h3>Barang diantarkan ke tujuan</h3>
        <div class="gap-between-elements"></div>
        <span>
            Setelah semua proses telah anda lakukan, tim kami akan segera
            memproses pesanan anda dan mengirimkannya ke tempat anda
            dengan estimasi pengiriman 2 hari untuk area Jakarta, atau 3-5
            hari untuk pengiriman di Bodetabek, dan 3-14 hari untuk
            pengiriman di luar Jabodetabek.
        </span>
    </div>
</div>

<div class="need-help-wrapper">
    <div class="need-help-title-wrapper">
        <p class="need-help-title">Butuh bantuan lain? Hubungi Customer Care kami</p>
    </div>

    <div></div>
    <div class="footer-item-container">
        <div><img class="ui image icon-footer" src="/assets/img/icons/phone-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Kami siap membantu Anda</span>
            <a href="tel:+62213453533">021 - 34 535 33</a>
        </div>
    </div>
    <div class="footer-item-container">
        <div><img class="ui image icon-footer" src="/assets/img/icons/envelope-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Kami akan membalas email Anda sesegera mungkin</span>
            <a href="mailto:cs@belisada.co.id">cs@belisada.co.id</a>
        </div>
    </div>
    <div class="footer-item-container remove-border-right">
        <div><img class="ui image icon-footer" src="/assets/img/icons/chatting-min.png" alt="Icon phone"></div>
        <div>
            <span class="footer-item-caption">Chat langsung dengan Customer Care kami</span>
            <a href="">Live Chat</a>
        </div>
    </div>
    <div></div>
</div>
