<img src="/assets/img/cara_berbelanja_belisada-011.png" border="0" />

<div class="wrapper">
    <div>
     <div class="numberCircle">
        1
     </div>
    </div>
    <div>
        <h3>Pilih Barang Yang Anda Inginkan</h3>
        <div class="gap-between-elements"></div>
        <span>Setelah anda masuk ke halaman www.belisada.co.id anda dapat
            memilih barang yang anda inginkan dengan memilih kategori yang tersedia
            atau langsung mengetikan nama barang yang anda inginkan di kolom pencarian
        </span>
    </div>
    <div>
            <img src="/assets/img/kampret.jpg" border="0" style="margin-top:-83px;" />
    </div>
</div>
<div class="wrapper">
        <div>
         <div class="numberCircle">
            2
         </div>
        </div>
        <div>
            <h3>Masukan Ke Keranjang</h3>
            <div class="gap-between-elements"></div>
            <span>Setelah anda mendapatkan barang yang anda cari, anda dapat memasukan kedalam keranjang
                belanja dengan cara mengeklik tombol tambah ke keranjang / add to chart. kemudian
                anda bisa melakukan pencarian barang atau langsung beralih pada menu berikutnya
            </span>
        </div>
        <div>
                <img src="/assets/img/26942777_10210782047003908_376755819_n.jpg" border="0" style="margin-top:-50px; margin-left:25px;" />
        </div>
</div>
<div class="wrapper">
        <div>
         <div class="numberCircle">
            3
         </div>
        </div>
        <div>
            <h3>Periksa Barang di cart dan Tujuan Pengiriman Barang</h3>
            <div class="gap-between-elements"></div>
            <span>Sebelum anda beralih pada menu pembayaran, lihat kembali
                barang yang sudah anda masukan ke keranjang beserta alamat yang telah
                anda masukan dan ekspedisi pengiriman (ASAP, Ninja Express, JNE).
                Pastikan data tersebut valid agar barang yang anda pesan sampai tujuan
            </span>
        </div>
        <div>
                <img src="/assets/img/xxx.jpg" border="0" style="margin-top:-50px; margin-left:25px;" />
        </div>
</div>
